﻿<div class="dualmultiselect">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>
                {{options.title}}
            </h4>
            <h4>
                <select class="form-control" ng-model="searchTerm"><option ng-selected="true" value="">Todas as Tabelas</option><option value="{{g.Table}}" ng-repeat="g in options.groups"><b>{{g.TableAlias | uppercase}}</b></option></select>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div style="height: 300px;" class="pool">
                <ul>
                    <li ng-repeat="item in options.items | filter: searchTerm:true">
                        <a href="" ng-click="transfer(options.items, options.selectedItems, options.items.indexOf(item))">{{item.FieldAlias}}<span id="setas" style="float: right;">&#10153;</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div style="height: 300px;" class="pool">
                <ul dnd-list="options.selectedItems">
                    <li dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="options.selectedItems.splice($index, 1)" ng-repeat="item in options.selectedItems">
                        <a href="#">
                            <span ng-click="transfer(options.selectedItems, options.items, options.selectedItems.indexOf(item))" style="font-size: 14px; float: right;" id="seta">&#215;</span> {{item.FieldAlias}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>