﻿@using QX3.Portal.WebSite.Helper
<div class="filtro-padrao">
    <div class="topo" id="ProjectedFilter">
        Filtrar por
    </div>
    <div class="conteudo" id="ProjectedFilterContent" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>
                Assessor</label>
            @Html.TextBox("txtAssessors")
        </div>
        <div class="linha-frm">
            <label>
                Cliente</label>
            @Html.TextBox("txtClient")
        </div>
        <div class="linha-frm">
            <label>
                Situação</label>
            <select id="ddlType" name="ddlType">
                <option value="T" selected="selected">Todos</option>
                <option value="P">Positivos</option>
                <option value="N">Negativos</option>
            </select>
        </div>
         <div class="linha-frm">
            <label>
               Data de Pregão</label>
                @Html.TextBox("txtTradingDate", "", new { @id = "txtTradingDate", @maxlength = "10" })
        </div>
        <span class="quebrar"></span>
         <div class="linha-frm">
            <label>Data de Liquidação</label>
                @Html.TextBox("txtSettleDate", "", new { @id = "txtSettleDate", @maxlength = "10" })
        </div>
        <div class="linha-btn">
            <a class="btn-padrao" id="btnSearch" href=""><span>listar Saldos</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
