﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@using QX3.Portal.WebSite.Models

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Financial/RedemptionRequestEffect.js?new=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>

@using (Html.BeginForm("ConfirmRedemptionRequestEffect", "Financial", FormMethod.Post, new { @id = "frmRedemptionRequestEffect" }))
{   
    @Html.Hidden("hdfIds","")
    var total = string.Empty;
    var lstToValidate = (List<RedemptionRequestListItem>)ViewBag.RequestToValidate;
    if (lstToValidate != null && lstToValidate.Count > 0)
    {
       total = lstToValidate.Count.ToString();
       foreach (RedemptionRequestListItem item in lstToValidate)
       {
            <div class="conteudo confirmar-resgate" id="divConfirm-@item.Index" style="display:@(item.Index.Equals(1) ? "block" : "none");">
            <div class="alerta">O resgate irá gerar dívida no saldo projetado do cliente <br />@item.ClientCode - @item.ClientName.</div>
            <table cellpadding="0" cellspacing="0" class="classificar">
                <tbody>
                    <tr>
                        <td>Valor a Resgatar</td>
                        <td>@item.Amount</td>
                    </tr>
                    <tr>
                        <td>Saldo D0</td>
                        <td>@item.Balance.Available</td>
                    </tr>
                    <tr>
                        <td>Saldo Projetado</td>
                        <td>@item.Balance.Intended.Split('#')[0]</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Saldo após Resgate</td>
                        <td class="negativo">@item.Balance.Intended.Split('#')[1]</td>
                    </tr>
                </tfoot>
            </table>
        
        <div class="linha-btn">
            <a href="javascript:void(0);" class="btn-padrao" onclick="Next(@item.Index);"><span>Sim, resgatar mesmo assim</span></a>
            <a href="javascript:void(0);" class="btn-secundario" onclick="Cancel(@item.Index,@item.Id);"><span>Não resgatar</span></a>
        </div>

        </div>
        }
    } 
    else 
    {
        <div class="conteudo confirmar-resgate">
            <div class="alerta">Confirma a efetuação do resgate?</div>
            <div class="linha-btn">
                <a href="javascript:void(0);" class="btn-padrao" onclick="Next(-1);"><span>Sim, resgatar</span></a>
                <a href="javascript:void(0);" class="btn-secundario" onclick="Cancel(-1);"><span>Não resgatar</span></a>
            </div>
        </div>
    }
    @Html.Hidden("hdfTotal", total)
    
}