﻿@{
	Layout = null;
}
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Financial/RedemptionRequestHistory.js")" type="text/javascript"></script>
	<h2>Histórico</h2>
    
<div id="historyArea" class="conteudo historico">

@Html.Hidden("hdfCorrectionID", Request["correctionID"] ?? "0")
	<div style="display:none;" id="breadcrumb" class="trilha-popup"></div>
    <span class="quebrar"></span>
	<h3>Listar histórico por:</h3>
    <span class="quebrar"></span>
	<div class="linha-frm">
		@Html.Label("Período")
		@Html.TextBox("txtStartDate", DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy"), new { @id = "txtStartDate", @maxlength = "10" })
	</div>
	<span class="rotulo-intervalo-frm">até</span>
	<div class="linha-frm data-fim">
		@Html.TextBox("txtEndDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @id = "txtEndDate", @maxlength = "10" })
	</div>
    <span class="quebrar"></span>
	<div class="linha-frm responsavel">
		@Html.Label("Responsável")
		@Html.TextBox("txtResponsible", "", new { @id = "txtResponsible", @maxlength = "150" })
		@Html.Hidden("hdfResponsible", "0")
	</div>
	<div class="linha-frm">
		<label>Ação</label>
		@Html.DropDownList("ddlRedemptionRequestActions", (List<SelectListItem>)ViewBag.ActionsList, new { @style = "width:200px;" })
	</div>
    <span class="quebrar"></span>
	<div class="linha-btn">
		<a id="btnSearchHistory" class="btn-padrao" href="javascript:;"><span>listar histórico</span></a>
	</div>
	<span class="quebrar"></span>
	<div id="emptyArea" class="sem-resultado" style="display: none;">
	</div>
    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloaderbranco.gif" alt="carregando consulta" />
    </div>
	<div class="area-resultado modal" id="tableArea" style="display: none;">
	    <div class="ferramentas acoes assessores">
		    <div>
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="#">Excel</a> <a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="#">PDF</a>
            </div>
	    </div>
	    <table id="historyList" cellpadding="0" cellspacing="0" width="600" class="classificar">
		    <thead>
			    <tr>
				    <th width="115px">
					    <span>Data e Hora</span>
				    </th>
				    <th>
					    <span>Responsável</span>
				    </th>
				    <th>
					    <span>Ação</span>
				    </th>
			    </tr>
		    </thead>
		    <tbody>
		    </tbody>
	    </table>
        <span class="quebrar"></span>
    </div>
<span class="quebrar"></span>

</div>
