﻿@{
    ViewBag.Title = "Solicitação de Resgate";
   
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/dataTables/dataTables.BrDate.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.maxlength.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Financial/RedemptionRequest.js")" type="text/javascript"></script>
@{ var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
@using (Html.BeginForm())
{
    QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();
    
    <div id="divRedemptionRequestFeedback" class="sucesso-flutuante" style='display:none;'>
        <span></span><a href="#" class="lnk-fechar" onclick="$('#divRedemptionRequestFeedback').slideToggle();" id="closeFeedback">fechar</a>
    </div>
    
    <div class="ferramentas acoes assessores">
        @if (acHelper.HasFuncionalityPermission("Financial.RedemptionRequest", "btnRequest"))
        { <a class="btn-padrao" href="javascript:void(0);" onclick="OpenRequest(0);return false;"><span>Solicitar</span></a> }
        @if (acHelper.HasFuncionalityPermission("Financial.RedemptionRequest", "btnEffective"))
        { <a class="btn-secundario" href="javascript:void(0);" onclick="OpenEffect();return false;"><span>Efetuar</span></a> }
        @*<a class="btn-secundario" href="javascript:void(0);" id="btnApprove" ><span>Aprovar</span></a>*@
        <div>Exportar: <a id="lnkRedemptionRequestExcel" class="ico-xls" href="javascript:;">Excel</a>
        <a id="lnkRedemptionRequestPdf" class="ico-pdf" href="javascript:;">PDF</a>
            @if (acHelper.HasFuncionalityPermission("Financial.RedemptionRequest", "btnLog"))
             { <a class="ico-hist" href="javascript:void(0);" onclick="ViewHistory();return false;">Ver histórico</a> }
        </div>
    </div>
    @Html.Partial("RedemptionRequestFilter")
    <div id="feedbackError" class="erro" style='display:none;'>
    </div>
    
    <div id="emptyArea" class="sem-resultado" style="display: none;">
    </div>

    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>

    <div class="area-resultado" id="tableArea" style="display: none;">
            <table cellspacing="0" width="100%" cellpadding="0" border="0" class="classificar" id="redemptionRequestList">
                <thead>
    	        <tr class="primario">
        	        <th rowspan="2" width="20px"><input type="checkbox" value="true" name="chkAll" id="chkAll" /></th>
        	        <th rowspan="2"><span>Solicitado em</span></th>
        	        <th rowspan="2" width="60px"><div style="width:60px;"><span>Código</span></div></th>
        	        <th rowspan="2" width="100px"><span>Cliente</span></th>
        	        <th colspan="3" class="agrupado" width="400px">Destino</th>
        	        <th rowspan="2"><span>Valor</span></th>
        	        <th rowspan="2"><span>Status</span></th>
        	        <th rowspan="2" width="69px"><div style="width:69px;">&nbsp;</div></th>
       	        </tr>
    	        <tr class="secundario">
        	        <th>Banco</th>
        	        <th>Agência</th>
        	        <th class="zerado">Conta</th>
       	        </tr>
            </thead>
                <tbody>
                </tbody>
            </table>
        
    </div>
}

<!-- MODAL DE SITUAÇÃO -->
<div class="modal-situacao" style="display: none;">
    <a onclick="Modal.Close();" class="closeLink" href="javascript:void(0);"><span>Fechar</span>
    </a>
    @using (Html.BeginForm("RedemptionRequestChangeStatus", "Financial", FormMethod.Post, new { @Id = "frmRedemptionRequestChangeStatus" }))
    {
        @Html.Hidden("hdCurrentStatus", "0")
		@Html.Hidden("hdId", "0")
		@Html.Hidden("hdClientCode", "0")
        <div class="linha-frm">
                <label>Alterar Status</label>
                <div class="erro" id="feedbackStatus" style="display: none;">Status inválido.</div>
                @Html.DropDownList("ddlStatusChange", (SelectList)ViewBag.Status, "--Selecione--", new { id = "ddlStatusChange" })
            </div>
            <div class="linha-frm">
                <label id="lbDisapproveNote" for="taDisapproveNote">Nota de reprovação</label>
			    @Html.TextArea("taDisapproveNote", new { style = "display: none; width: 187px" })
            </div>
        <div class="linha-btn">
            <a type="button" class="btn-padrao" href="javascript:void(0);" name="btnSettle" id="btnSettle" title="alterar status"
                onclick="ValidateSettle()"><span>Alterar Situação</span></a>
        </div>
	}
</div>

@if (ViewBag.Pending != null && ViewBag.Pending > 0)
{
    <div id="pendingTag" class="aviso" style="display: none;">
        <span><strong>@ViewBag.Pending</strong> Pendente@(ViewBag.Pending > 1 ? "s" : "")</span></div>
}