﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model RedemptionRequestItem
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Financial/RedemptionRequestEdit.js?new=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
@using (Html.BeginForm("RedemptionRequestEdit", "Financial", FormMethod.Post, new { @id = "frmRedemptionRequestEdit" }))
{
    string title = Model.Client == null ? "Solicitar Resgate" : "Editar Resgate";
    string btnName = Model.Client == null ? "solicitar resgate" : "editar resgate";
    
    <h2>@title</h2>
    <div class="conteudo solicitar-resgate" id="divRedemptionRequestEdit">
        <div id="feedbackRequestError" class="erro" style="display: none;">
        </div>
        <span class="quebrar"></span>
        @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })
        
        <table class="tabela-zerada" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td width="350px" height="282px">
                    <div class="frm-solicitar-resgate">
                    <span class="quebrar"></span>
                    <div class="linha-frm campo-condigo-cliente">
                        <label>Código do Cliente</label>
                        @Html.TextBox("txtClientName", Model.Client != null ? Model.Client.Value : "", new { @maxlength = 30 })
                        @Html.Hidden("hdfClientCode", Model.Client != null ? Model.Client.Value : "0")
                        @Html.Hidden("hdfRequestId", Model.ID)
                    </div>
                    @{ string titleClientName = Model.Client != null ? Model.Client.Description : "";}
                    <span id="lblClientName" class="apoio" title='@titleClientName'>@(Model.Client != null ? Model.Client.Description : "")</span>
                    <span class="quebrar"></span>
                    <div class="linha-frm conta">
                        <label>Conta</label>
                        <select id="ddlBankAccounts" name="ddlBankAccounts">
                            <option value=""></option>
                        </select>
                        @Html.Hidden("hdfBankAccountNumber", Model.Client != null ? Model.BankAccount.AccountNumber : "")
                    </div>
                    <span class="quebrar"></span>
                    <div class="linha-frm">
                        <label id="lblAmount">Valor</label>
                        @Html.TextBox("txtAmount", Model.Client != null ? Model.RedemptionValue.ToString("N2") : "", new { @maxlength = 30, @disabled = "disabled" })
                    </div>
                    <div class="linha-frm total">
                        <input type="checkbox" id="chkTotalD0" />
                        <label id="lblTotalD0">Total D0</label>
                    </div>
                    <span class="quebrar"></span>
                    </div>
                </td>
                <td width="400px" height="282px">
                    <div class="tabela-solicitar-resgate" id="divBalanceContent">
                    <table cellpadding="0" cellspacing="0" class="classificar" width="100%">
                        <thead>
                            <tr>
                                <th class="zerada" width="80px">
                                </th>
                                <th width="79px" class="esquerda">
                                    D0
                                </th>
                                <th width="79px" class="esquerda">
                                    D1
                                </th>
                                <th width="79px" class="esquerda">
                                    D2
                                </th>
                                <th width="79px" class="esquerda">
                                    D3
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="zerada" width="80px">
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceD0"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceD1"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceD2"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceD3"></span>
                                </td>
                            </tr>
                            <tr class="even">
                                <td width="90px">
                                    <div style="width:90px;">Após Resgate ></div>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionD0"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionD1"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionD2"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionD3"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" class="classificar" width="100%">
                        <thead>
                            <tr>
                                <th class="zerada" width="80px">
                                </th>
                                <th width="176px" class="esquerda">
                                    Projetado (D1+D2+D3)
                                </th>
                                <th width="176px" class="esquerda">
                                    Total (Projetado +D0)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="zerada" width="80px">
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceProjetado"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblBalanceTotal"></span>
                                </td>
                            </tr>
                            <tr class="even">
                                <td width="90px">
                                    <div style="width:90px;">Após Resgate ></div>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionProjetado"></span>
                                </td>
                                <td class="direita">
                                    <span id="lblRedemptionTotal"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.Hidden("hdfBalanceD0", "")
                    </div>
                </td>
            <tr>
            </tbody>
        </table>

        <div class="linha-btn" style="float: left; margin: 10px 0 0 0;" id="divSave">
            <a href="javascript:;" class="btn-padrao" id="lnkSave"><span>@btnName</span></a>
        </div>
        @Html.Hidden("hdfSave", "false")
    </div>

}
