﻿<table bgcolor="#cccccc" width="100%" border="0" cellpadding="50" cellspacing="0">
    <tr>
        <td style="margin:0px;">
            <center>
                <table bgcolor="#838384" width="598" border="0" cellpadding="1" cellspacing="0">
                    <tr>
                        <td style="margin:0px;">
                            <table width="598" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="431" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/images/email_01.gif" width="431" height="109" alt="vcnet" title="vcnet">
                                    </td>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="167" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/images/email_02.gif" width="167" height="109" alt="Votorantim Corretora" title="Votorantim Corretora">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="2" width="544" valign="top">
                                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        	<tr>
                                            	<td style="margin:0px; padding:0px;" valign="top"><font color="#595959" face="Arial" size="2">Prezado Cliente,<br><br>
                                                    Segue anexo o Termo de Ci&ecirc;ncia e Ades&atilde;o ao Fundo de Investimento #(strFundName)#, que o(a) Sr(a). solicitou aplicar seus recursos.<br>
                                                    A aplica&ccedil;&atilde;o solicitada s&oacute; poder&aacute; ser efetuada mediante o envio deste documento preenchido e assinado.<br>
                                                    Este documento dever&aacute; ser enviado para o endere&ccedil;o abaixo:<br>
                                                    <br>
                                                    <br>
                                                         
                                                    <b>Votorantim Corretora – Back Office Processamento de Clubes e Fundos de Investimento</b><br><br>
                                                        
                                                    <i>Av. Na&ccedil;&otilde;es Unidas, n&ordm; 14.171 – Torre A, 14&ordm; andar<br>
                                                    Vila Gertrudes, S&atilde;o Paulo –SP<br>
                                                    CEP 04794-000</i>
													<br><br>
													Atenciosamente,
													<br>
													<strong>Votorantim Corretora</strong>
													<br><br>
													Importante: esta é uma mensagem automática e não deve ser respondida.</font></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="4" width="598" height="27">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/mages/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="404" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/images/spacer.gif" width="404" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="140" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/images/spacer.gif" width="140" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/content/images/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>