﻿<table bgcolor="#cccccc" width="100%" border="0" cellpadding="50" cellspacing="0">
    <tr>
        <td style="margin:0px;">
            <center>
                <table bgcolor="#838384" width="598" border="0" cellpadding="1" cellspacing="0">
                    <tr>
                        <td style="margin:0px;">
                            <table width="598" border="0" cellpadding="0" cellspacing="0">
                                <!--<tr>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="431" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/email_01.gif" width="431" height="109" alt="portal" title="portal">
                                    </td>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="167" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/email_02.gif" width="167" height="109" alt="Portal Corretora" title="Portal Corretora">
                                    </td>
                                </tr>-->
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="2" width="544" valign="top">
                                    	
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        	<tr>
                                            	<td style="margin:0px; padding:0px;" height="21px" valign="top">
													Olá <strong>#(strUsuario)#</strong>,
													<br><br>
													Bem-vindo ao Portal.
													<br>
													Use o link abaixo, que permanecerá disponível por #(strHorasDisponivel)# horas, para definir sua senha.
													<br>
													<br>
                                                    <a style="width:154px; height:25px; border:0; margin:0px; padding:0px" href="#(strLink)#"><img style="border:0; margin:0px; padding:0px;  display:block;" width="154px" height="25px" src="#(strUrlSite)#/img/email/btn-redefinir-senha.gif" alt="Redefinir Senha" title="Redefinir Senha" /></a>
													<br><br>
													O link não está funcionando? Copie e cole este link no seu navegador:
													<br>
													<a href="#(strLink)#">#(strLink)#</a>
													<br><br>
													Atenciosamente,
													<br>
													<strong>Portal BrPartners</strong>
													<br><br>
													Importante: esta é uma mensagem automática e não deve ser respondida.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="4" width="598" height="27">&nbsp;</td>
                                </tr>
                                <!--<tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="404" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/spacer.gif" width="404" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="140" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/spacer.gif" width="140" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/img/email/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                </tr>-->
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>