﻿<table bgcolor="#cccccc" width="100%" border="0" cellpadding="50" cellspacing="0">
    <tr>
        <td style="margin:0px;">
            <center>
                <table bgcolor="#838384" width="598" border="0" cellpadding="1" cellspacing="0">
                    <tr>
                        <td style="margin:0px;">
                            <table width="598" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="431" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/email_01.gif" width="431" height="109" alt="portalnet" title="portalnet">
                                    </td>
                                    <td style="margin:0px; padding:0px;" colspan="2" width="167" height="88">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/email_02.gif" width="167" height="109" alt="`Portal Corretora" title="Portal Corretora">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="2" width="544" valign="top">
                                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        	<tr>
                                            	<td style="margin:0px; padding:0px;" valign="top">
                                                	<font color="#595959" face="Arial" size="2"><font color="#595959" face="Arial" size="2">teste de envio</font></font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" colspan="4" width="598" height="27">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="404" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/spacer.gif" width="404" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="140" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/spacer.gif" width="140" height="1" alt="">
                                    </td>
                                    <td style="margin:0px; padding:0px;" bgcolor="#ffffff" width="27" height="1">
                                        <img style="margin:0px; padding:0px; display:block; border:0;" src="#(strUrlSite)#/images/spacer.gif" width="27" height="1" alt="">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>