﻿@{
    var userDisplay = ViewBag.Profile == "Pre-Cadastro" ? "none" : "";
    var displayform = ViewBag.StatusForm;
}

<link href="@Url.Content("~/css/clientOnline.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Account/FinancialInformation.js")" type="text/javascript"></script>

@model ClientOnlineFinancial

@using (Html.BeginForm("FinancialInformation", "Account", FormMethod.Post))
{
    <div class="form-style-6 form-style-center">

        <div id="corpoContent">

            <div>
                <h2></h2>
            </div>
            <div class="hr-section">
                <h4 class="section-text" style="margin-left:7px;">DADOS FINANCEIROS</h4>
            </div>
            <br />

            <div class="div-clear">
                <div class="linha-frm" id="rendaMensal">
                    <label>Renda Mensal Própria*</label>
                    @Html.TextBoxFor(x => x.MonthlyProfit, null, new { @maxlength = 100, style = "width: 339px;", @class = "required" })
                </div>
                <div class="linha-frm" id="rendaMensalFamilia">
                    <label>Renda Mensal Familiar*</label>
                    @Html.TextBoxFor(x => x.FamilyMonthlyProfit, null, new { @maxlength = 100, style = "width: 339px;", @class = "required" })
                </div>
                <div class="linha-frm">
                    <label>Outras Rendas</label>
                    @Html.TextBoxFor(x => x.AnotherProfit, null, new { @maxlength = 100, style = "width: 339px;" })
                </div>
            </div>

            <div class="div-clear">
                <div class="linha-frm">
                    <label>Produtos</label>
                    @Html.DropDownList("Product", new SelectList(ViewBag.Products, "Value", "Text"), new { style = "width: 352px;", @class = "required" })
                </div>
            </div>

            <div class="div-clear">
                <div>
                    <span>
                        <input type="button" class="btn-add" value="Adicionar" onclick="adicionaProduto()" />
                        <input type="button" class="btn-add" value="Remover" onclick="removeProduto()" />
                    </span>
                </div>
            </div>

            <div class="div-clear">
                <div class="linha-frm">
                    @Html.ListBox("lstProducts", new SelectList(ViewBag.ClientProducts, "Value", "Text"), new { size = 5, style = "width: 352px; height: 75px; overflow-y:auto;" })
                </div>
            </div>

            <div>
                <h2></h2>
            </div>
            <div class="hr-section">
                <h4 class="section-text" style="margin-left:7px;">INFORMAÇÕES PATRIMONIAIS</h4>
            </div>
            <br />

            <div class="div-clear" id="div-patrimonialInfo">
                <div class="div-error" style="display: none;" id="div-error">
                    <span class="label-error">Preencha pelo menos um dos campos abaixo.</span>
                </div>
                <div class="linha-frm" id="imovel">
                    <label>Imóveis Total-R$</label>
                    @Html.TextBoxFor(x => x.HousePatrimony, null, new { @maxlength = 100, style = "width: 339px;" })
                </div>
                <div class="linha-frm" id="veiculo">
                    <label>Veículos Total-R$</label>
                    @Html.TextBoxFor(x => x.CarPatrimony, null, new { @maxlength = 100, style = "width: 340px;" })
                </div>
                <div class="linha-frm" id="aplicacao">
                    <label>Aplicações Financeiras</label>
                    @Html.TextBoxFor(x => x.ApplicationPatrimony, null, new { @maxlength = 100, style = "width: 340px;" })
                </div>
            </div>

            <div>
                <h2></h2>
            </div>
            <div class="hr-section">
                <h4 class="section-text" style="margin-left:7px;">CONCENTRAÇÃO E ORIGEM PATRIMONIAL</h4>
            </div>
            <br />

            <div class="div-clear">
                @Html.CheckBoxFor(m => m.ApplicationOrigin)
                <span>Aplicações financeiras, investimentos em títulos e valores mobiliários.</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Indemnity)
                <span>Indenização por ação judicial</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Award)
                <span>Prêmios de loterias, sorteios, título de capitalização</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Termination)
                <span>Rescisão de contrato de trabalho, FGTS</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Salary)
                <span>Salário, bônus, participações em lucros, dividendos e resultados</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Sell)
                <span>Venda de empresa, participação acionária, dissolução de sociedade</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Jewels)
                <span>Jóias, pedras preciosas, obras de arte</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Rental)
                <span>Aluguéis</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Donation)
                <span>Doações</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Heritage)
                <span>Herança</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Car)
                <span>Automóveis</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Insurance)
                <span>Indenização de seguros</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.ProductAgricultural)
                <span>Produção agrícola</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.House)
                <span>Imóveis</span>
            </div>
            <div class="div-clear">
                @Html.CheckBoxFor(m => m.Another)
                <span>Outro</span>
            </div>

            <div class="div-clear" style="margin-top:19px;">
                <div class="linha-frm">
                    <label>Outro</label>
                    @Html.TextBoxFor(m => m.AnotherDescription, null, new { @maxlength = 150, style = "width: 339px;" })
                </div>
            </div>

            <div>
                <h2></h2>
            </div>
            <div class="hr-section">
                <h4 class="section-text" style="margin-left:7px;">INFORMAÇÕES FISCAIS</h4>
            </div>
            <br />

            <div class="div-clear">
                <div class="linha-frm" id="natureza">
                    <label>Natureza Fiscal*</label>
                    @Html.DropDownListFor(m => m.IdFiscalNature, new SelectList(ViewBag.FiscalNature, "Value", "Text"), new { style = "width: 352px;", @class = "required" })
                </div>
            </div>

            <div>
                <h2></h2>
            </div>
            <div class="hr-section">
                <h4 class="section-text" style="margin-left:7px;">DADOS BANCÁRIOS</h4>
            </div>
            <br />

            <div class="div-clear">
                <div style="display:@userDisplay">
                    <div class="linha-frm">
                        <label>Finalidade</label>
                        @Html.DropDownList("FinalidadeConta", new SelectList(ViewBag.AccountFinality, "Value", "Text"), new { style = "width: 352px;", @class = "account" })
                    </div>
                    <div class="linha-frm">
                        <label>Utilização</label>
                        @Html.DropDownList("UtilizacaoConta", new SelectList(ViewBag.AccountUtility, "Value", "Text"), new { style = "width: 352px;", @class = "account" })
                    </div>
                    <div class="linha-frm">
                        <label>Tipo</label>
                        @Html.DropDownList("Tipo", new SelectList(ViewBag.Accounttype, "Value", "Text"), new { style = "width: 351px;", @class = "account" })
                    </div>
                </div>

                <div class="linha-frm">
                    <label>Conta*</label>
                    @Html.DropDownList("Conta", new SelectList(ViewBag.AccountTypeBank, "Value", "Text"), new { style = "width: 352px;", @class = "account accountRequired" })
                </div>
                <div class="linha-frm">
                    <label>Banco*</label>
                    @Html.DropDownList("Banco", new SelectList(ViewBag.Bank, "Value", "Text"), new { style = "width: 351px;", @class = "account accountRequired" })
                </div>
                <div class="linha-frm">
                    <label>Agencia*</label>
                    @Html.TextBox("Agencia", null, new { @maxlength = 20, style = "width: 339px;", @class = "account accountRequired" })
                </div>
                <div class="linha-frm">
                    <label>Número da Conta*</label>
                    @Html.TextBox("NumeroConta", null, new { @maxlength = 20, style = "width: 339px;", @class = "account accountRequired" })
                </div>
            </div>

            <div class="div-clear">
                <div class="linha-frm">
                    <input type="button" class="btn-add" value="Adicionar dados bancários" onclick="addNewAccount('@userDisplay')" />
                </div>
            </div>

            <div class="div-clear">
                <div class="linha-frm">
                    <table id="accountTable" style="width:1088px;">
                        <thead>
                            <tr>
                                <th style="display:@userDisplay">Finalidade</th>
                                <th style="display:@userDisplay">Utilização</th>
                                <th style="display:@userDisplay">Tipo</th>
                                <th>Conta</th>
                                <th>Banco</th>
                                <th>Agencia</th>
                                <th>Número da conta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var name in Model.Accounts)
                            {
                                <tr style="background: none;">
                                    <td id="@name.IdFinality" class="table-td" style="display:@userDisplay">@name.DescriptionFinality</td>
                                    <td id="@name.IdUtility" class="table-td" style="display:@userDisplay">@name.DescriptionUtility</td>
                                    <td id="@name.IdAccountType" class="table-td" style="display:@userDisplay">@name.DescriptionAccountType</td>
                                    <td id="@name.IdAccountTypeBank" class="table-td">@name.DescriptionAccountTypeBank</td>
                                    <td id="@name.IdBank" class="table-td">@name.DescriptionBank</td>
                                    <td class="table-td">@name.Agency</td>
                                    <td class="table-td">@name.NumberAccount</td>
                                    <td class="table-td" style="width: 60px;">
                                        <a class="ico-excluir" style="margin-left:20px;" onclick="removeParent(event)"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>                       
                    </table>
                </div>
            </div>
        </div>

        @Html.Hidden("HdnAccount", null)

        <div class="div-clear">
            <div class="linha-frm">
                <input type="button" class="button-secondary" value="PRÓXIMO" style="cursor:pointer; width: 120px; margin-left:469px;" onclick="Create()" />
                <input type="submit" id="BtnCreate" style="display:none" />
            </div>
        </div>
    </div>
    <script>
        function Create() {
            var errorFill = validateFill();
            var errorPatrimonial = validatePatrimonialInformation();

            if (errorFill == 0 && errorPatrimonial == 0) {
                getValueTable();
                $("#lstProducts option").attr("selected", "selected");
                document.getElementById("BtnCreate").click();
            }
        }

        window.onload = function () {
            hiddenElementTable();

            if ("@displayform" == "False") {
                $('#corpoContent').find("input, button, submit, textarea, select").attr("disabled", "disabled");
            }
        }
    </script>
}