﻿@{
	Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Account/FindAccount.js")" type="text/javascript"></script>

<div id="filterArea" class="caixa-acesso">
	@using (Html.BeginForm())
 {
        bool hasError = TempData["Error"] != null;
        
        if (hasError)
        {
            string error = TempData["Error"].ToString() == "" ? "none;" : "block;";
            string errorMessage = TempData["Error"].ToString();
        
        <div id="feedbackRequestError" class="erro" style="display: @error">
			<ul>
				<li>
                        @errorMessage
				</li>
			</ul>
		</div>
		}

		<p>Insira seu e-mail que enviaremos um link para redefinir sua senha</p>
		<div class="linha-frm">
			<label for="txtEmail">
				E-mail</label>
			@Html.TextBox("txtEmail")
		</div>
		<div class="linha-btn">
            <a id="btnRequest" class="btn-padrao" href="javascript:;">
                <span>Enviar e-mail</span></a>
		</div>
 }
</div>