﻿<link href="@Url.Content("~/css/clientOnline.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Account/FinishRegistration.js")" type="text/javascript"></script>

<div class="form-style-6 form-style-center">
    <h2 class="element-center">CADASTRO</h2>
</div>
@Html.Partial("ModalConfirmationFinish")
<div style="margin-top:20px;">
    <input type="button" class="button-secondary btn-element" value="APROVAR" style="margin-left:580px;" onclick="approveCliente()" />
    <input type="button" class="button-secondary btn-element" value="REPROVAR" style="margin-left:50px;" onclick="disapproveClient()" />
</div>

