﻿@{
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<div id="filterArea" class="caixa-acesso link-expirou">
    <h2>O link é inválido ou expirou.</h2>
    <div class="linha-btn">
        <a id="btnRequest" class="btn-padrao" href="/Account/Login"><span>Voltar</span></a>
    </div>
</div>
