﻿@{
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
	var feedbackDisplay = TempData["SuccessMessage"] != null ? "block" : "none";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")"></script>

<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
    <span>@(TempData["SuccessMessage"] ?? "")</span><a href="javascript:;" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
        id="closeFeedback">fechar</a>
</div>

<div id="filterArea" class="caixa-acesso">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmLogin" }))
    {
        <h2>Login</h2>
        @*@Html.ValidationSummary()*@

		if (ViewBag.ErrorClass != null) {
			<div data-valmsg-summary="true" class="validation-summary-errors @ViewBag.ErrorClass">
				<ul>
					<li>@ViewBag.ErrorMsg</li>
				</ul>
			</div>
		}

        <div class="linha-frm">
            <label for="txtLogin">Login</label>
            @Html.TextBox("txtLogin", "", new { @id = "txtLogin", @autocomplete = "off" })
            @*@Html.ValidationMessage("txtLogin", new { @style = "display:none;" })*@
        </div>
        <div class="linha-frm">
            <label for="txtPassword">Senha</label>
            @Html.Password("txtPassword", "", new { @id = "txtPassword", @autocomplete = "off" })
            @*@Html.ValidationMessage("txtPassword", new { @style = "display:none;" })*@
        </div>
        <div class="linha-btn">
            <a id="doLogin" class="btn-padrao" href="javascript:void(0);" onclick="document.forms[0].submit();"><span>
                Entrar</span></a>
            @*Colocamos o botão escondido apenas para dar submit no enter. Os botões do istema precisam ser links para manter o estilo :P*@
            <input style="display:none" type="submit" value="Entrar" />

			@Html.ActionLink("esqueceu sua senha?", "FindAccount", null, new { @class = "lnk-lembrar-senha" })
        </div>
        @Html.Hidden("StackTrace", TempData["StackTrace"])
    }
</div>

<script>

    $("#txtLogin").focus();

</script>
