﻿@{
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Account/RedefinePassword.js")" type="text/javascript"></script>

<div id="filterArea" class="caixa-acesso">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "frmRedefinePassword" }))
    {
        bool hasError = TempData["Error"] != null;

        if (hasError)
        {
            string error = TempData["Error"].ToString() == "" ? "none;" : "block;";
            string errorMessage = TempData["Error"].ToString();
        
        <div id="feedbackRequestError" class="erro" style="display: @error">
                <ul>
                    <li>
                        @errorMessage
                    </li>
                </ul>
        </div>
        }
        else
        { 
            <div id="feedbackRequestError" class="erro" style="display: none;">
        </div>
        }
        <h2>Redefinir sua Senha</h2>
        @Html.ValidationSummary()
        <div class="linha-frm">
            <label for="txtLogin">
                Digite a nova senha</label>
            @Html.Password("txtPassword", "", new { @id = "txtPassword" })
            @Html.ValidationMessage("txtPassword", new { @style = "display:none;" })
        </div>
        <div class="linha-frm">
            <label for="txtPassword">
                Digite novamente a nova senha</label>
            @Html.Password("txtConfirmPassword", "", new { @id = "txtConfirmPassword" })
            @Html.ValidationMessage("txtConfirmPassword", new { @style = "display:none;" })
        </div>
        <div class="linha-btn">
            <a id="btnRequest" class="btn-padrao" href="javascript:;">
                <span>Redefinir Senha</span></a>
        </div>
    }
</div>
