﻿@{
    Layout = null;
    var feedbackDisplay = TempData["EmailMessage"] != null ? "block" : "none";
    var feedbackDisplayL = TempData["LoginMessage"] != null ? "block" : "none";
}
@model ACUser

<link href="@Url.Content("~/css/register.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/clientOnline.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/AccessControl/EditUser.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Geral.js")" type="text/javascript"></script>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-style-6" }))
{
    var user = Model;

    <div class="body-flex">
        <div class="imagem-container">
            <img class="imagem" src="~/img/brPartnersRegistrer.PNG" />
        </div>
        <div class="form" style="padding-left: 5px;">
            <div>
                <h2 align="center" style="color:#003768">Cadastro Online</h2>
            </div>

            <div style="display:@feedbackDisplay; color: red">
                @(TempData["EmailMessage"] ?? "")
            </div>
            <div style="display:@feedbackDisplayL; color: red">
                @(TempData["LoginMessage"] ?? "")
            </div>

            <div id="erroTeste" style="color:red">
            </div>
            <div>
                @Html.TextBox("txtNome", null, new { @maxlength = 150, @placeholder = "Nome", @class = "margin-input required" })
            </div>
            <div>
                @Html.TextBox("txtCpf", null, new { @maxlength = 20, onkeypress = "return onlyNumber(event);", @placeholder = "CPF", @class = "margin-input required" })
            </div>
            <div>
                @Html.TextBox("txtEmail", null, new { @maxlength = 150, @placeholder = "E-mail", @class = "margin-input required" })
            </div>
            <div>
                @Html.TextBox("txtTelefone", null, new { onkeypress = "return onlyNumber(event);", @placeholder = "Telefone", @class = "margin-input required" })
            </div>
            <div>
                @Html.TextBox("textLogin", null, new { @maxlength = 20, @placeholder = "Login", @class = "margin-input required" })
            </div>
            <div>
                <input type="password" class="margin-input required" name="txtSenha" id="txtSenha" placeholder="Senha" />
            </div>
            <div>
                <input type="password" class="margin-input required" name="txtSenhaConfirmacao" id="txtSenhaConfirmacao" placeholder="Confirmar Senha" />
            </div>
            <div>
                <input type="submit" id="btnSave" style="display: none;" />
                <input type="button" class="button-secondary" value="ENVIAR" style="display:block; margin:0 auto;" onclick="Create()" />
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function Create() {

            $('#erroTeste').empty();

            var inputs = document.querySelectorAll('.required');
            var error = 0;

            inputs.forEach(function (input) {
                if (input.type == 'text' || input.type == 'date' || input.type == "password") {
                    var value = input.value;

                    if (value == "") {
                        if (!input.classList.contains('error'))
                            input.classList.add('error')

                        error = 1;
                    } else if (input.classList.contains('error')) {
                        input.classList.remove("error");
                    }
                }
            });

            if (error == 1) {
                $('#erroTeste').append('<span>Por favor, preencha os campos abaixo</span>');
                error = 1
            }
            else {
                let cpf = document.getElementById('txtCpf');
                let senha = document.getElementById('txtSenha');
                let senhaConfirmada = document.getElementById('txtSenhaConfirmacao');

                if (senha.value != senhaConfirmada.value) {

                    $('#erroTeste').append('<span>As senhas não conferem</span>');

                    if (senha.className != 'error') {
                        senha.className += 'error';
                    }

                    if (senhaConfirmada.className != 'error') {
                        senhaConfirmada.className += 'error';
                    }

                    error = 1;
                }

                if (error == 0) {
                    if (!validateCPF(cpf.value)) {
                        $('#erroTeste').append('<span>CPF inválido</span>');

                        if (cpf.className != 'error') {
                            cpf.className += 'error';
                        }

                        error = 1;

                    } else {
                        cpf.classList.remove("error");
                    }
                }
            }

            if (error == 0)
                document.getElementById("btnSave").click();
        }

    </script>
}