﻿@using QX3.Portal.WebSite.Helper
@using System.Configuration;
@{
    string title = ConfigurationManager.AppSettings["Portal.Title"] ?? "Portal BrPartners";
}

<!DOCTYPE HTML>
<html ng-app="brp">
<head>
    <!-- Tags Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="pt-br" />
    <!-- Links -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/HumanResources/Scripts/vendor/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/HumanResources/Scripts/vendor/angular-toastr.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/HumanResources/Scripts/vendor/dualmultiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/HumanResources/Scripts/styles.css")" rel="stylesheet" type="text/css" />

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/Ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/Ie8.css" /><![endif]-->
    <title>@title</title>

    <style>
        .ng-cloak, [ng-cloak] {
            display: none;
        }
    </style>

    <!-- Scripts -->
    <script src="@Url.Content("~/HumanResources/Scripts/vendor/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var recursosHumanosMenu = $("#26");
            recursosHumanosMenu.click();
        });

        function OpenSubMenu(currentNode) {
            var link = $(currentNode, context);
            var context = $("#menu-principal");
            var classNameSearch = ".clicavel";
            if (link.attr("class").indexOf("No0") >= 0)
                classNameSearch += ",.clicavelNo0";
            $(classNameSearch, context).each(function () {
                if (link[0].id != this.id) {
                    var ul = $(this).next();
                    if (ul.length > 0)
                        ul.hide();
                }
            });

            var ul = $(currentNode, context).next();


            if (ul.length > 0) {
                if (ul.css("display") == "none")
                    ul.show();
                else
                    ul.hide();
            }
            return false;
        }

    </script>
</head>
<body>
    @{if (SessionHelper.CheckUserSession())
        {
            AccessControlHelper acHelper = new AccessControlHelper();
            <div id="pagina">
                <div class="main-bg" style="width:100%; height: 100%; position: fixed; z-index:1000000000000" ng-show="showed" data-loading>
                    <div class="loading-spiner">
                        <img src="/../img/ajax-loader.gif" />
                    </div>
                </div>
                <!-- Topo da pagina -->
                <div id="topo">
                    <div class="limite">
                        <h2><img src="/../img/logo-brpartners.png" alt="BrPartners" /></h2>
                        <div id="boas-vindas">
                            <span style="font-weight:bold;">Olá, @(QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.Name + " " + ((QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.CdBolsa > 0) ? string.Format(" - Código Cliente: {0}", SessionHelper.CurrentUser.CdBolsa) : "")) <br /> @(SessionHelper.CurrentUser.InvestorTypeDesc)</span>
                            <br />
                            <span style="font-weight:bold">@DateTime.Now.ToString("dd 'de' MMMM 'de' yyyy, HH:mm")</span>
                        </div>
                        <ul id="menu-apoio">
                            <li>@Html.ActionLink("Sair", "Logout", "Account")</li>
                        </ul>
                        <div style="position:absolute;  text-align:right;right:10px;margin-top:40px; font-size:10px;">
                            @Html.Raw(QX3.Portal.WebSite.Models.CommonHelper.GetPortalVersion())
                        </div>
                    </div>
                </div>
                <div id="menu-principal">
                    <div class="caixa">
                        @Html.NewPortalMenu()
                        <span id="etiqueta-menu">menu</span>
                    </div>
                </div>
                <div id="corpo">
                    <div class="limite">
                        <!-- Trilha da pagina -->
                        <div id="trilha">
                            @Html.PortalBreadcrumbs()
                        </div>
                        <!-- Conteudo da pagina -->
                        <div id="conteudox" class="container-fluid" ng-cloak>
                            @RenderBody()
                            <span class="quebrar"></span>
                        </div>
                    </div>
                </div>
                <!-- Rodape da pagina -->
                <span id="espaco"></span>
                <div id="rodape">
                    <div class="limite">

                    </div>
                </div>
            </div>
        }
    }
    <script src="@Url.Content("~/HumanResources/Scripts/vendor/es6-promise.min.js")"></script>
    <script>
        window.Promise = window.Promise || window.ES6Promise;
    </script>
    @Scripts.Render("~/bundles/vendor")
    <script src="@Url.Content("~/HumanResources/Scripts/vendor/dualmultiselect.js")"></script>
    @Scripts.Render("~/bundles/all")
</body>
</html>
