﻿<form id="salaryCreate" name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Linha de Salário</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Descrição</label>
                    <input name="Description" maxlength="100" ng-model="$ctrl.data.Description" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" id="categorySalaries" name="categorySalaries" ng-model="$ctrl.data.Category"
                            ng-required="$ctrl.isRequired()"
                            ng-options="item.Id as item.Value for item in $ctrl.categorySalaries">
                        <option value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Periodo Salarial</label>
                    <select class="form-control" id="periodSalaries" name="periodSalaries" ng-model="$ctrl.data.SalaryPeriod"
                            ng-required="$ctrl.isRequired()"
                            ng-options="item.Id as item.Value for item in $ctrl.periodSalaries">
                        <option value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Carga Horária</label>
                    <input name="Workload" maxlength="100" ng-model="$ctrl.data.WorkLoad" type="text" class="form-control"
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Salário</label>
                    <input name="Salary" ng-model="$ctrl.data.Salary" type="text" class="form-control" placeholder="00,00" ui-money-mask="2" maxlength="16"
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Hora Extra Contratual</label>
                    <input name="ExtraHours" ng-model="$ctrl.data.ExtraHour" type="text" class="form-control" placeholder="00,00" ui-money-mask="2" maxlength="16"
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Gratificação de função</label>
                    <input name="Gratification" ng-model="$ctrl.data.Gratification" type="text" class="form-control" placeholder="00,00" ui-money-mask="2" maxlength="16"
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Triênio</label>
                    <input name="Triennium" ng-model="$ctrl.data.Triennium" type="text" class="form-control" placeholder="00,00" ui-money-mask="2" maxlength="16"
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Data Inicial</label>
                    <input name="StarDate" ng-model="$ctrl.data.StartDate" mindate type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask
                           ng-required="$ctrl.isRequired()">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message mindate>Data inválida</md-message>
                        <md-message date>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Data Final</label>
                    <input name="EndDate" ng-model="$ctrl.data.EndDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask
                           ng-required="$ctrl.isRequired()" mindate="$ctrl.data.StartDate">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message mindate>Data inválida</md-message>
                        <md-message date>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>