﻿@using QX3.Portal.Contracts.DataContracts.SuitabilityAdmin;
@using System.Web.WebPages;

@{

}


<h2>Gestão de Formulários</h2>


<input type="hidden" id="idFormulario" data-bind="value: idFormulario" value="@ViewBag.id" />



<div id="esconderijo" style="display:none;position:relative;">

    <div class="sucesso" id="msg_sucesso" style="display:none;position:fixed;width:50%;left:50%;margin-left:-25%;top:165px;">O formulário foi salvo com sucesso!</div>


    <div data-bind="if: modoVisualizacao() == 'carregando'" style="text-align:center">
        <img src="@Url.Content("~/Img/ajax-loader.gif")" alt="Carregando..." />
        <h3 data-bind="text: $root.textoCarregando()"></h3>
    </div>


    <div data-bind="if: modoVisualizacao() == 'copia'">
        <p>
            <strong>Aviso!</strong> Este formulário já foi respondido por 35 investidores! Alterar sua estrutura pode alterar o significado das
            respostas destes investidores! Os perfis destes investidores não será alterado.
        </p>

        <form>
            <div>
                <label>
                    <input type="radio" name="aviso" data-bind="checked: acaoAviso" value="E" />
                    Continuar editando o formulário
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="aviso" data-bind="checked: acaoAviso" value="C" />
                    Duplicar o formulário

                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="aviso" data-bind="checked: acaoAviso" value="V" />
                    Voltar para a listagem
                </label>
            </div>
            <div class="linha-frm linha-frm-submit">
                <span class="btn-submit">
                    <input type="button" class="btn-input-submit" data-bind="click: avancarFormulario" value="Avançar" />
                </span>
            </div>
        </form>
    </div>
    <div data-bind="if: modoVisualizacao() == 'edicao'" style="margin-bottom:4em;">

        <form data-bind="with: formulario().Formulario">


            <ul class="erro" id="erros-globais" data-bind="foreach: $root.globalValidationSummary, visible: $root.globalValidationSummary().length">
                <li style="margin-left:60px; list-style:circle!important;" data-bind="text: $data"></li>
            </ul>


            <div class="linha-frm">
                <label>Nome do formulário</label>
                <input type="text" class="freeform" size="50" maxlength="50"
                       data-bind="value: Descricao, css: {erros: $root.nomeFormularioOk()==false}" />
            </div>

            <div class="linha-frm">
                <label>Tipo de Pessoa</label>
                <select name="pessoa" data-bind="value: Tipo">
                    <option value="">Todas</option>
                    <option value="F">Pessoa Física</option>
                    <option value="J">Pessoa Jurídica</option>
                </select>
            </div>
            <div class="linha-frm">
                <label>Situação</label>
                <select name="situacao" data-bind="value: Status">
                    <option value="D">Em Desenvolvimento</option>
                    <option value="P">Em Produção</option>
                    <option value="I">Inativo</option>
                </select>
            </div>

            <div style="clear:left">
                <h3>Perguntas</h3>
                <p>
                    <a href="#" data-bind="click: $root.incluirQuestao">Nova Pergunta</a>
                </p>
                <table cellspacing="0" width="100%">
                    <tbody data-bind="foreach: $root.formulario().Questoes">
                        <tr>
                            <td>
                                <input type="checkbox" name="ativa" data-bind="checked:QuestaoAtiva, enable: $root.podeDesabilitarQuestao($data), attr: {title: $root.obterExplicacaoCheckbox($data)}" />
</td>
                            <td align="center" data-bind="text: Ordem() + (NumeroSubQuestao() != null ? '.' + NumeroSubQuestao() : '')"></td>
                            <td data-bind="text: Enunciado"></td>
                            <td data-bind="foreach: $root.buscarQuestoesDependentes($data)">
                                <abbr data-bind="attr{ title: Enunciado}, text: $root.formatarSubquestao($data)"></abbr>
                            </td>
                            <td align="center" data-bind="text: Peso"></td>
                            <td align="center" data-bind="text: $root.calcularPontuacaoQuestao($data)"></td>
                            <td width="16">
                                <a href="#" data-bind="visible: !($index() == 1 && Oculta()) && $index() > 0, click: $root.subirQuestao" title="Mover para cima" class="ico-subir"></a>
                            </td>
                            <td width="16">
                                <a href="#" title="Mover para baixo" data-bind="visible: $root.formulario().Questoes().length -1 != $index(), click: $root.descerQuestao" class="ico-descer"></a>
                            </td>
                            <td width="16">
                                <a href="#" title="Editar" class="ico-editar" data-bind="click: $root.editarQuestao"></a>
                            </td>
                            <td width="16">
                                <a href="#" title="Excluir" data-bind="click: $root.excluirQuestao" class="ico-excluir"></a>
                            </td>
                        </tr>


                    </tbody>
                    <thead>
                        <tr>
                            <th width="50">&nbsp;</th>
                            <th width="50">Questão</th>
                            <th>Enunciado</th>
                            <th width="100">Abre a questão</th>
                            <th width="40">Peso</th>
                            <th width="40">Pts. Max.</th>
                            <th width="64" colspan="4">Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>


            <div style="clear:left;margin-top:2em;">
                <h3>Critérios de Pontuação</h3>

                <p>
                    <ul>
                        <li><strong>Total de Questões:</strong> <span data-bind="text: $root.totalQuestoes()"></span></li>
                        <li><strong>Pontuação Minima:</strong> <span data-bind="text: $root.pontuacaoMinima()"></span></li>
                        <li><strong>Pontuação Máxima:</strong> <span data-bind="text: $root.pontuacaoMaxima()"></span></li>
                    </ul>
                </p>


                <table cellspacing="0" class="pontuacoes">
                    <thead>
                        <tr>
                            <th>Perfil</th>
                            <th>
                                Minimo
                            </th>
                            <th>Máximo</th>
                            <th width="200">Distribuição</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.formulario().Perfis">
                        <tr>
                            <td width="100" data-bind="text:Nome"></td>
                            <td width="100"><span style="text-align:right" data-bind="text: $root.formulario().Pontuacao()[$index()].Minimo"></span></td>
                            <td><input style="text-align:right" class="freeform" type="text" data-bind="css: {erros: $root.pontuacoesOk()[$index()]==false}, disable: $index() == $root.formulario().Perfis().length-1, textInput: $root.formulario().Pontuacao()[$index()].Maximo" /></td>

                            <td>
                                <div style="border: 1px solid #303030;position:relative">
                                    <div style="display:inline-block;height:10px;background-color:#808080;" data-bind="style: { 'margin-left': $root.margemBarra($index()) + '%', width: $root.tamanhoBarra($index()) + '%'}">&nbsp;</div>
                                    <div style="position:absolute;top:0px; width:1px;height:10px;border-left:1px solid red;" data-bind="style: {left: $root.posicaoTraco()+'%'}">&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


            <div style="clear:left">
                <div class="linha-frm linha-frm-submit">
                    <span class="btn-submit">
                        <input type="button" class="btn-input-submit" data-bind="click: $root.salvar" value="Salvar" />
                    </span>
                </div>
                <div class="linha-frm linha-frm-submit">
                    <span class="btn-submit">
                        <input type="button" class="btn-input-submit" data-bind="click: $root.testar" value="Testar formulário" />
                    </span>
                </div>

                <div class="linha-frm linha-frm-submit">
                    <span class="btn-submit">
                        <input type="button" class="btn-input-submit" data-bind="click: $root.cancelar" value="Voltar para listagem" />
                    </span>
                </div>

            </div>
        </form>


        <form data-bind="with: questaoCorrente">

            <div id="qx-blackout" style="width: 100%; height: 100%; top: 0px; left: 0px; position: fixed; z-index: 201; display: block;">
                <div class="qx-blackout-conteiner" style="display: block; opacity: 1;">
                    <div id="qxModal" class="qx-modal popUp MessageBox modalRolagem" style=" display:none;position: absolute; top:15%; left:50%;margin-left: -25%;  height: auto; width: auto;">


                        <div class="qx-modal-topo">
                            <h2>Editar Questão</h2>
                            <div class="qx-modal-opcoes">
                                <a class="qx-modal-icon qx-modal-btn-fechar" title="Fechar" data-bind="click: $root.fecharModalEdicao" href="#">Fechar</a>
                            </div>
                        </div>

                        <div class="qx-modal-conteudo content qx-modal-carregando" style="height: auto; overflow: hidden;">



                            <div style="margin-left:20px;margin-right:20px">



                                <ul class="erro" data-bind="foreach: $root.validationSummary, visible: $root.validationSummary().length">
                                    <li style="margin-left:60px; list-style:circle!important;" data-bind="text: $data"></li>
                                </ul>

                                <div class="linha-frm">
                                    <label>Enunciado</label>
                                    <textarea style="width:936px" rows="10" required="required" class="freeform"
                                              data-bind="value:Enunciado, css: {erros: $root.enunciadoOk()==false}"></textarea>
                                </div>

                                <div class="linha-frm" style="clear:left;">
                                    <label>Peso</label>
                                    <input type="text" class="freeform" size="2" maxlength="2"
                                           data-bind="textInput:Peso, css: {erros: $root.pesoOk()==false}" />
                                </div>

                                <div class="linha-frm">
                                    <label>Tipo de Questão</label>
                                    <select data-bind="value: Tipo, css: {erros: $root.tipoQuestaoOk()==false}">
                                        <option value="R">Simples</option>
                                        <option value="C">Múltipla</option>
                                        <option value="D">Distribuição</option>
                                        <option value="M">Matriz</option>
                                    </select>
                                </div>
                                <div class="linha-frm" data-bind="visible: Tipo() == 'D'">
                                    <label>Percentual Minimo</label>
                                    <input type="text" class="freeform" size="3" maxlength="3"
                                           data-bind="value: PercentualMinimo, css: {erros: $root.percentualMinimoOk()==false}" />
                                </div>


                                <div class="linha-frm" data-bind="visible: Tipo() == 'D' || Tipo() == 'M'">
                                    <label>Legenda</label>
                                    <input type="text" class="freeform" size="50" maxlength="100" data-bind="value: DescricaoPercentual" />
                                </div>



                                <div class="linha-frm" style="clear:left">

                                    <label>
                                        <input type="checkbox" data-bind="checked: Oculta, disable: Ordem() == 1" style="display:inline" />
                                        Esta questão é oculta
                                    </label>


                                </div>


                                <div style="clear:left" data-bind="visible: Tipo() == 'M'">
                                    <h3>Colunas da Matriz</h3>

                                    <p>
                                        <a href="#" data-bind="click: $root.adicionarColuna">Adicionar Coluna</a>
                                    </p>

                                    <table cellspacing="0">
                                        <tbody data-bind="template: {foreach: Colunas}">
                                            <tr>
                                                <td>
                                                    <input tabindex="-1" name="coluna-ativa" data-bind="checked: Ativa" type="checkbox" />
                                                </td>
                                                <td width="20" align="center" data-bind="text: $index()+1"></td>
                                                <td>
                                                    <input style="width:180px;" type="text" data-bind="value: Descricao" />
                                                </td>


                                                <td width="16">
                                                    <a href="#" tabindex="-1" data-bind="visible: $index() > 0, click: $root.subirColuna" title="Mover para cima" class="ico-subir"></a>
                                                </td>
                                                <td width="16">
                                                    <a href="#" tabindex="-1" title="Mover para baixo" data-bind="visible: $parent.Colunas().length -1 != $index(), click: $root.descerColuna" class="ico-descer"></a>
                                                <td width="16">
                                                    <a href="#" tabindex="-1" title="Excluir" data-bind="click: $root.excluirColuna" class="ico-excluir"></a>
                                                </td>

                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th width="20">&nbsp;</th>
                                                <th width="20">&nbsp;</th>
                                                <th width="200">Texto</th>
                                                <th width="48" colspan="3">Ações</th>
                                            </tr>
                                        </thead>
                                        <tfoot data-bind="if: Colunas().length==0">
                                            <tr>
                                                <td colspan="4">Nenhuma coluna cadastrada.</td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div style="clear:left">
                                    <h3>Respostas</h3>
                                    <p>
                                        <a href="#" data-bind="click: $root.adicionarAlternativa">Adicionar Resposta</a>
                                    </p>
                                </div>
                                <div>
                                    <table cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="20">&nbsp;</th>
                                                <th width="20">&nbsp;</th>
                                                <th width="400">Texto</th>
                                                <th width="70">Pontos</th>
                                                <th width="250">Abre a questão</th>
                                                <th width="82">Ações</th>
                                            </tr>
                                        </thead>
                                        <tfoot data-bind="if: Alternativas().length==0">
                                            <tr>
                                                <td colspan="6">Nenhuma resposta cadastrada.</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div id="container-respostas" style="overflow-y:auto;max-height:156px;">
                                    <table cellspacing="0" id="respostas">
                                        <tbody data-bind="foreach: {data: Alternativas, afterAdd: $root.linhaAdicionada}">
                                            <tr>
                                                <td width="20"><input tabindex="-1" data-bind="checked:Ativa" type="checkbox" /></td>
                                                <td width="20" align="center" data-bind="text: $root.letra($index())"></td>
                                                <td width="400">
                                                    <input maxlength="255" style="width:380px;" type="text" data-bind="value: Texto" />
                                                </td>
                                                <td width="70" align="center">
                                                    <input class="pontos" style="width: 50px;" type="text" data-bind="value: Pontos" />
                                                </td>

                                                <td width="250">
                                                    <!-- ko if: $root.questoesSelecionaveis().length != 0-->
                                                    <select tabindex="-1" class="proxima-questao"
                                                            data-bind="options: $root.questoesSelecionaveis, optionsText: $root.formatarQuestaoCombo, optionsCaption: '-- Selecione --', optionsValue: 'UID', value: UIDProximaQuestao"></select>
                                                    <!-- /ko-->
                                                </td>

                                                <td width="16">
                                                    <a href="#" tabindex="-1" data-bind="visible: $index() > 0, click: $root.subirAlternativa" title="Mover para cima" class="ico-subir"></a>
                                                </td>
                                                <td width="16">
                                                    <a href="#" tabindex="-1" title="Mover para baixo" data-bind="visible: $parent.Alternativas().length -1 != $index(), click: $root.descerAlternativa" class="ico-descer"></a>
                                                <td width="16">
                                                    <a href="#" tabindex="-1" title="Excluir" data-bind="click: $root.excluirAlternativa" class="ico-excluir"></a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                                <p class="submit-area">
                                    <div class="linha-frm linha-frm-submit">
                                        <span class="btn-submit">
                                            <input type="button" class="btn-input-submit" data-bind="click: $root.concluirEdicaoQuestao" value="OK" />
                                        </span>
                                    </div>

                                    <div class="linha-frm linha-frm-submit">
                                        <span class="btn-submit">
                                            <input type="button" class="btn-input-submit" data-bind="click: $root.fecharModalEdicao" value="Cancelar" />
                                        </span>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="@Url.Content("~/Scripts/knockoutjs/knockout-3.2.0.debug.js")?v=@DateTime.Today.ToFileTime()"></script>
<script src="@Url.Content("~/Scripts/knockoutjs/knockout.mapping-latest.js")?v=@DateTime.Today.ToFileTime()"></script>
<script src="@Url.Content("~/Scripts/Views/SuitabilityAdmin/Edit.js")?v=@DateTime.Today.ToFileTime()"></script>