﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Vencimento Contrato</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group has-feedback">
                    <label>Descrição</label>
                    <input name="description" ng-model="$ctrl.data.Description" type="text" class="form-control" aria-label="descrição" required maxlength="100">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group has-feedback">
                    <label>Data Inicial</label>
                    <input name="startdate" ng-model="$ctrl.data.StartDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask aria-label="Data inicial" mindate required maxlength="100" />
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group has-feedback">
                    <label>Data Final</label>
                    <input name="enddate" ng-model="$ctrl.data.EndDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask aria-label="Data final"
                            mindate="$ctrl.data.StartDate" required />
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group  has-feedback">
                    <label>Aprovado</label>
                    <input name="approved" ng-model="$ctrl.data.Approved" aria-label="aprovado" type="checkbox" class="checkbox">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>