﻿<div ng-controller="NotificationIndexCtrl as $ctrl">

    <h2 class="page-header">Notificações</h2>

    <div class="row">
        <div class="col-xs-12 btn-toolbar" role="toolbar">
            <button notification-index-create  refresh-callback="$ctrl.refresh" type="button" class="btn btn-sm btn-primary">Cadastrar Notificação</button>
        </div>
    </div>
    <div class="table-container" st-pipe="$ctrl.loadData" st-table="$ctrl.data">
        <table st-refresh="$ctrl.refresh" class="table table-consolidate table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="Name" st-sort-default="true">Nome</th>
                    <th>Frequência</th>
                    <th st-sort="Active">Status</th>
                    <th width="75" class="actions" style="text-align:left">Ações</th>
                </tr>
                <tr class="search">
                    <th>
                        <input st-search="Name" ng-model="filterWord" class="input-sm form-control" type="search" />
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="$ctrl.isLoading">
                <tr>
                    <td colspan="5" class="text-center">Carregando...</td>
                </tr>
            </tbody>
            <tbody ng-show="!$ctrl.isLoading">
                <tr ng-repeat="item in $ctrl.data | filter:filterWord">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Frequency}}</td>
                    <td>{{ item.Active | activeUnactive}}</td>
                    <td class="actions">
                        <a ng-click="$ctrl.notify(item.Id)" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                        <a notification-index-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        <a confirm="Tem certeza que deseja excluir este item?" ng-click="$ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
    </div>
</div>
