﻿
.table-container table {
    width: 100%;
}

.form-group input[type='text'], .form-group input[type='password'], .form-group textarea {
    background: white;
    color: #555;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
}

.table-container table tr th, .table-container table tr td {
    font-size: 13px;
}

.btn-toolbar {
    margin-bottom: 10px;
}

.table-container table th {
    padding-right: 30px !important;
    position: relative;
}

.table-container table tr.search th {
    padding-right: 10px !important;
}

.st-sort-ascent, .st-sort-descent, [st-sort] {
    cursor: pointer;
}

    .st-sort-ascent:after {
        content: '\25B2';
        position: absolute;
        margin-left: 5px;
        float: right;
    }

    .st-sort-descent:after {
        content: '\25BC';
        position: absolute;
        margin-left: 5px;
        float: right;
    }

.table-container table .actions {
    text-align: right;
    padding-right: 10px !important;
}

.modal-footer .btn-warning {
    float: left;
}

.form-group.has-feedback .form-control-feedback {
    color: red;
    display: none;
}

.form-group.has-feedback.has-error .form-control-feedback {
    display: block;
}

.form-group.has-error .form-control {
    border-color: red;
}

.form-group.required label:after {
    color: red;
    font-weight: bold;
    content: " *"
}

.md-messages div {
    margin-top: 3px;
    padding-left: 5px;
    font-size: 14px;
    color: red;
}

.employee-create .nav-tabs {
    border-bottom: none;
    border-right: 1px solid #ddd;
}

.employee-create .nav-tabs {
    width: 150px;
    float: left;
}

    .employee-create .nav-tabs > li {
        margin-bottom: 0;
        margin-right: -4px;
    }

        .employee-create .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 0 0 4px;
            cursor: poiner;
        }

        .employee-create .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-right-color: transparent;
        }

        .employee-create .nav-tabs > li.active > a {
            font-weight: bold;
            background: #efefef;
        }

.employee-create .tab-content {
    min-height: 500px;
    background: #efefef;
    margin-left: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 0 10px;
    width: calc(100% - 150px);
    float: left;
}

    .employee-create .tab-content h2 {
        border-bottom: 2px solid #888;
        margin: 5px 14px 20px;
        padding: 6px 0;
        font-size: 18px;
    }

#salvar {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 150px;
}

.pTop {
    padding-top: 10px;
}

.glyphicon {
    font-size: 16px;
}

.main-bg {
    background-color:rgba(255,255,255,0.9);
}

.loading-spiner img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

div.typeahead-limit ul {
    max-height: 200px;
    overflow-x: auto;
}