﻿@using QX3.Portal.WebSite.Helper
@using System.Configuration;
@{
    string title = ConfigurationManager.AppSettings["Portal.Title"] ?? "Portal BrPartners";
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Tags Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="pt-br" />
    <!-- Links -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/Ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/Ie8.css" /><![endif]-->
    <title>@title</title>
    <!-- Scripts -->
    <script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/qxModal/jQuery.qxModal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/maskedInput/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/jquery.fn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery/dataTables/extras/sortOptions.js")" type="text/javascript"></script>

    <script type="text/javascript">

        function OpenSubMenu(currentNode) {
            var link = $(currentNode, context);
            var context = $("#menu-principal");
            var classNameSearch = ".clicavel";

            if (link.attr("class").indexOf("No0") >= 0)
                classNameSearch += ",.clicavelNo0";

            $(classNameSearch, context).each(function () {
                if (link[0].id != this.id) {
                    var ul = $(this).next();
                    if (ul.length > 0)
                        ul.hide();
                }
            });


            var ul = $(currentNode, context).next();
            if (ul.length > 0) {
                if (ul.css("display") == "none")
                    ul.show();
                else
                    ul.hide();
            }
            return false;
        }

    </script>
</head>
<body>
    @*<form id="__AjaxAntiForgeryForm" action="#" method="post" style="display:none">@Html.AntiForgeryToken("ajaxSalt")</form>*@
    @{if (QX3.Portal.WebSite.Helper.SessionHelper.CheckUserSession())
    {
        AccessControlHelper acHelper = new AccessControlHelper();
        <div id="pagina">
            <!-- Topo da pagina -->
            <div id="topo">
                <div class="limite">

                    <h2><img src="/../img/logo-brpartners.png" alt="BrPartners" /></h2>
                    <div id="boas-vindas">
                        <span style="font-weight:bold;">Olá, @(QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.Name + " " + ((QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.CdBolsa > 0) ? string.Format(" - Código Cliente: {0}", SessionHelper.CurrentUser.CdBolsa) : "")) <br /> @(SessionHelper.CurrentUser.InvestorTypeDesc)</span>
                        <br />
                        <span style="font-weight:bold">@DateTime.Now.ToString("dd 'de' MMMM 'de' yyyy, HH:mm")</span>
                    </div>
                    <ul id="menu-apoio">
                        @*<li><a href="#">Avisos</a></li>
                            @if (acHelper.HasPagePermission("Administrativo"))
                                {
                                <li><a href="#">Administrativo</a></li>
                                }
                            <li><a href="#">Meus Dados</a></li>*@
                        <li>@Html.ActionLink("Sair", "Logout", "Account")</li>
                    </ul>
                    <div style="position:absolute;  text-align:right;right:10px;margin-top:45px; font-size:10px;">

                        @Html.Raw(QX3.Portal.WebSite.Models.CommonHelper.GetPortalVersion())

                    </div>
                </div>
            </div>
            <div id="menu-principal">
                <div class="caixa">
                    @Html.NewPortalMenu()
                    <span id="etiqueta-menu">menu</span>
                </div>

            </div>
            <div id="corpo">
                <div class="limite">
                    <!-- Trilha da pagina -->
                    <div id="trilha">
                        @Html.PortalBreadcrumbs()
                    </div>
                    <!-- Conteudo da pagina -->
                    <div id="conteudo">
                        @RenderBody()
                        <span class="quebrar"></span>
                    </div>
                </div>
            </div>
            <!-- Rodape da pagina -->
            <span id="espaco"></span>
            <div id="rodape">
                <div class="limite">
                    @*<a class="logo-rodape" href="#">Portal Corretora</a>*@
                </div>
            </div>
        </div>
    }
    }
    @*<div id="modal-NonResidentTraders" style="width: 100%; display: none">
        </div>*@
</body>
</html>
