﻿@model QX3.Portal.WebSite.Models.Error
@{ string message = (Model.Message.IndexOf("<label") >= 0) ? string.Format("<label class='error'>{0}</label>", Model.Message) : Model.Message;}
<div id="feedbackError" class="erro" style='display:@Model.DisplayMode;'>
	@if (!Model.IsList)
 {
		<span></span>
		@message
 }
 else
 {
		<ul>@message</ul>
 }
</div>
