﻿<script src="@Url.Content("~/Scripts/Views/AccessControl/AssociateUsersToProfile.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.sortElements.js")" type="text/javascript"></script>
<h2>Associar Usuários a um Perfil</h2>
<div class="conteudo">
@using (Html.BeginForm("AssociateUserToProfile", "AccessControl", FormMethod.Post, new { @id = "frmAssociateUserToProfile" }))
{
    var users = Model;
    var i = 0;
    
    
    @Html.Partial("feedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })
	
        <div class="linha-frm acessores" id="txtProfileNameBox">

            <label>Perfil de acesso</label>
            @*<select>
                <option>item 1</option>
                <option>item 2</option>
                <option>item 3</option>
            </select>*@
            @Html.TextBox("txtProfileName", "", new { @maxlength = 30 })
            @Html.Hidden("hdfProfile", "")
        </div>
        <span class="quebrar"></span>
        <div class="usuarios" id="UserBox">
            <span>Usuários a serem adicionados</span>
            <span class="ico-incluir">Incluir outro usuário</span>
            <div class="popup-incluir" id="incluirNovoUsuario" style="display:none">
                <div class="linha-frm">
                     @Html.TextBox("txtUserName", "", new { @maxlength = 30 })
                     @Html.Hidden("hdfUser", "")
                </div>
                <div class="linha-btn">
                    <a href="javascript:void(0);" id="incluirUsuario" class="btn-padrao"><span>incluir</span></a>
                </div>
            </div>
            <ul class="lista-usuarios" id="lista-usuarios">
                @foreach (var user in users)
                {
                    <li id="usuario@(user.ID)" >
                        <span onclick="DeleteUserFromList(@(user.ID));return false;" class="ico-excluir">excluir</span>
                        <input type="hidden" name="userID" id="userID@(user.ID)" value='@(user.ID)' />
                        @user.Name
                    </li>
                    i++;
                }
                 
            </ul>
            <span class="quebrar"></span>
        </div>
        <div class="linha-btn">
            <a href="javascript:void(0);" id="btnAssociarUsuario" class="btn-padrao"><span>Associar Usuários</span></a>
        </div>
        <span class="quebrar"></span>
}
</div>
<span class="quebrar"></span>