﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model FuncionalityClient
           
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/AccessControl/ClientsRegisterRequestEdit.js")" type="text/javascript"></script>

@using (Html.BeginForm("ClientsRegisterRequestEdit", "AccessControl", FormMethod.Post, new { @id = "frmClientsRegisterRequestEdit" }))
{
    string title = Model.ClientName == null ? "Adicionar Cliente" : "Atualizar Cliente";
    string btnName = Model.ClientName == null ? "adicionar cliente" : "atualizar cliente";
    string disabled = Model.ClientName == null ? "" : "disabled='disabled'";
<h2>@title</h2>
<div class="conteudo adicionar-editar-cliente" id="divClientsRegisterRequestEdit">
    <input type="hidden" name="hdnIsUpdate" id="hdnIsUpdate" value="@(Model.ClientName == null ? "" : "1")" />
    <input type="hidden" name="hdnClientName" id="hdnClientName" value="@(Model.ClientName == null ? "" : Model.ClientName)" />
    <div id="feedbackRequestError" class="erro" style="display: none;"></div>
		<div class="linha-frm campo-condigo-cliente">
			<label>Código do Cliente</label>
			<input id="txtClientCode" type="text" value="@(Model.ClientName == null ? "" : Model.ClientCode.ToString())" name="txtClientCode" @disabled />
		</div>
		<span class="apoio"><label id="lblClientName">@(Model.ClientName == null ? "" : Model.ClientName)</label></span>
	<span class="quebrar"></span>
	<table class="classificar" cellpadding="0" cellspacing="0" id="tblGrid">
		<thead>
			<tr class="primario">
				<th rowspan="2" scope="col">Funcionalidade</th>
				<th rowspan="2" colspan="2" scope="col">Email</th>
                <th rowspan="2" colspan="2" scope="col">Cópia para</th>
				<th colspan="2" scope="colgroup">Formato</th>
			</tr>
			<tr class="secundario">
				<th scope="col">HTML</th>
				<th scope="col">PDF</th>
			</tr>
		</thead>
		<tbody>
            @foreach (Funcionality item in Model.Funcionalities)
            {
			    <tr id="trLine-@item.FuncId">
				    <td valign="top"><span class="nome-cliente">@item.FuncionalityName</span></td>
				    <td valign="top">
                    <div style="height:27px;">
                        <input type="hidden" name="hdnFormat" id="hdnFormat-@item.FuncId" value="@item.SendFormat" />
                        <input type="hidden" name="hdnFuncionality" value="@item.FuncId" />
					    <input type="text" id="txtEmail-@item.FuncId" name="txtEmail-@item.FuncId" value="" />
                        @{var currentEmails = string.Empty;}
                        </div>
					    <table class="email-cadastro-cliente" cellpadding="0" cellspacing="0" width="228px"  style="display:none;" id="tblEmail-@item.FuncId">
						    <tbody>
                                @if (item.Emails != null && item.Emails.Count > 0)
                                {
                                    for (int i = 0; i < item.Emails.Count; i++)
                                    {
                                        <tr class='@(i % 2 == 0 ? "even" : "odd")'>
								            <td><span>@item.Emails[i].Email</span><a href="javascript:void(0);" class="ico-excluir" id='lnkRemove-@item.FuncId-@i'>excluir</a></td>
							            </tr>
                                        currentEmails = currentEmails + ";" + item.Emails[i].Email;
                                    }
                                }
						    </tbody>
					    </table>
                        <input type="hidden" id="hdnEmail-@item.FuncId" name="hdnEmail" value="@currentEmails"  />
				    </td>
                    <td valign="top" class="zerada">
					    <a href="javascript:void(0);" class="btn-padrao" id="btnAddEmail-@item.FuncId"><span>Adicionar</span></a>
				    </td>
                    <td valign="top">
                        <div style="height:27px;">
					    <input type="text" id="txtCopy-@item.FuncId" name="txtCopy-@item.FuncId"  value="" />
                        @{var currentCopies = string.Empty;}
                        </div>
					    <table class="email-cadastro-cliente" cellpadding="0" cellspacing="0" width="228px" style="display:none;" id="tblCopy-@item.FuncId">
						    <tbody>
                                @if (item.CopyTo != null && item.CopyTo.Count > 0)
                                {
                                    for (int i = 0; i < item.CopyTo.Count; i++)
                                    {
                                        <tr class='@(i % 2 == 0 ? "even" : "odd")'>
								            <td><span>@item.CopyTo[i].Email</span><a href="javascript:void(0);" class="ico-excluir" id='lnkRemoveCopy-@item.FuncId-@i'>excluir</a></td>
							            </tr>
                                        currentCopies = currentCopies + ";" + item.CopyTo[i].Email;
                                    }
                                }
						    </tbody>
					    </table>
                        <input type="hidden" id="hdnCopy-@item.FuncId" name="hdnCopy" value="@currentCopies" />
				    </td>
                    <td valign="top" class="zerada">
					    <a href="javascript:void(0);" class="btn-padrao" id="btnAddCopy-@item.FuncId"><span>Adicionar</span></a>
				    </td>
				    <td valign="middle" class="centralizado"><input type="radio" name="rdbFormat-@item.FuncId" id="rdbFormat-@item.FuncId" value="H" /></td>
				    <td valign="middle" class="centralizado"><input type="radio" name="rdbFormat-@item.FuncId" id="rdbFormat-@item.FuncId" value="P" /></td>
			    </tr>
            }
		</tbody>
	</table>
	<div class="linha-btn">
		<a href="javascript:void(0);" class="btn-padrao" id="btnRequest"><span>@btnName</span></a>
	</div>
    
</div>
}
