﻿@{
    ViewBag.Title = "ClientsDetails";
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model FuncionalityClient
           
<h2>Visualizar Cliente</h2>
<div class="conteudo adicionar-editar-cliente">
    @if (Model == null)
    {
        <div class="erro">Cliente não encontrado</div>
    }
    else
    {
	    <div class="codigo-cliente">
		    @Model.ClientCode
	    </div>
	    <div class="nome-cliente">
		    @Model.ClientName
	    </div>
	    <span class="quebrar"></span>
        if (Model.Funcionalities != null)
        {
	    <table class="classificar visualizar-cliente" cellpadding="0" cellspacing="0">
		    <thead>
			    <tr class="primario">
				    <th rowspan="2" scope="col" width="218px">Funcionalidade</th>
				    <th rowspan="2" scope="col" width="319px">Email</th>
                    <th rowspan="2" scope="col" width="319px">Cópia Para</th>
				    <th colspan="2" scope="colgroup">Formato</th>
			    </tr>
			    <tr class="secundario">
				    <th scope="col">HTML</th>
				    <th scope="col">PDF</th>
			    </tr>
		    </thead>
        
		    <tbody>
                @{
                    int counter = 0;    
                }
                @foreach (var f in Model.Funcionalities)
                {
			    <tr class='@((counter % 2 == 0) ? "odd" : "even")'>
				    <td valign="middle">@f.FuncionalityName</td>
				    <td valign="middle">
                        @foreach (var e in f.Emails)
                        { 
					        <span class="email-cliente">@e.Email</span>
                        }
				    </td>
                    <td valign="middle">
                        @foreach (var e in f.CopyTo)
                        { 
					        <span class="email-cliente">@e.Email</span>
                        }
				    </td>
				    <td valign="middle" class="centralizado">@if (f.SendFormat == "H")
                                                 { <span class="ico-check" style="margin-left:7px;">check</span> }</td>
				    <td valign="middle" class="centralizado">@if (f.SendFormat == "P")
                                                 { <span class="ico-check">check</span> }</td>
			    </tr>
                    counter++;
                }
		    </tbody>
	    </table>
        }
    }
</div>
