﻿@{
    Layout = null;
}
@using QX3.Portal.WebSite.Models;
@using QX3.Portal.Contracts.DataContracts;
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Views/AccessControl/ConfirmClientRegisterDelete.js")'></script>

<h2>Deseja realmente excluir o cliente @Model.ClientName ?</h2>
@model QX3.Portal.Contracts.DataContracts.FuncionalityClient
@using (Html.BeginForm("ClientRegisterDelete", "AccessControl", FormMethod.Post, new { @id = "frmClientRegisterDelete", @name = "frmClientRegisterDelete" }))
{
<div class="conteudo cancelar-solicitacao-transferencia-custodia">
    <div class="legenda">@Model.ClientName</div>
    @Html.Hidden("hdfClientCode", @Model.ClientCode)
	@Html.Hidden("hdfClientName", @Model.ClientName)
    <div class="linha-btn">
        <a href="javascript:;" class="btn-padrao" id="btnDelete"><span>Sim, excluir cliente</span></a>
        <a href="javascript:;" onclick="Modal.Close();" class="btn-secundario"><span>Não excluir</span></a>
    </div>
</div>
}