﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model ACProfile
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/treeView/jquery.treeview.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/AccessControl/EditProfile.js")" type="text/javascript"></script>

@using (Html.BeginForm("EditProfile", "AccessControl", FormMethod.Post, new { @id = "frmEditProfile" }))
{
    var profile = Model;
    string title = profile.ID == 0 ? "Criar um perfil" : "Editar um perfil";
    string btnName = profile.ID == 0 ? "criar perfil" : "editar perfil";
    string lstUsers = string.Empty;
    string lstElements = string.Empty;
    <h2>@title</h2>
    <div class="conteudo criar-perfil">    
	@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })
    <div class="arvore funcionalidades">
        <div class="linha-frm">
            <label>Nome do Perfil</label>
            @Html.TextBox("txtProfileName", profile.Name, new { @maxlength = 30 })
            @Html.Hidden("hdfProfileID", profile.ID)
        </div>
        @*@Html.FuncionalitiesTreeView("treeFuncionalities", (List<ACElement>)ViewData["Elements"], "nenhuma funcionalidade encontrada", true)*@
        @Html.FuncionalitiesTreeView("funcionalities", Model.Permissions, "nenhuma funcionalidade encontrada", false)
        @Html.Hidden("hdfProfileElements", ViewData["ProfileElements"] != null ? ViewData["ProfileElements"].ToString() : "")
    </div>

    <div class="caixa pequena">
        <div class="linha-frm" id="incluirNovoUsuario">
            <label>Usuário(s)</label>
                @Html.TextBox("txtUserName", "", new { @maxlength = 150 })
			    @Html.Hidden("hdfSelectedUser", "")
        </div>
        <div class="linha-btn">
            <a href="javascript:void(0);" id="lnkAddUser" class="btn-padrao"><span>incluir</span></a>
        </div>
        <small>Usuários terão acesso às funcionalidades e páginas marcadas ao lado</small>
        <span class="quebrar"></span>
        <ul  id="listaUsuarios" class="lista-usuarios">
            @if (profile.ID > 0 && profile.Users != null && profile.Users.Count > 0)
            {
                foreach (var user in profile.Users)
                {
                    <li id="usuario@(user.ID)" >
                        <span onclick="DeleteUserFromList(@(user.ID));return false;" class="ico-excluir"></span>
                        <input type="hidden" name="userID" id="userID@(user.ID)" value='@(user.ID)' />
                        @user.Name
                    </li>
                }
            }
        </ul>
        @Html.Hidden("hdfUsers", lstUsers)
        <span class="quebrar"></span>
    </div>
    <div class="linha-btn" style="float: left; margin: 10px 0 0 0;">
        <a href="javascript:void(0);" class="btn-padrao" id="lnkSaveProfile"><span>@btnName</span></a>
    </div>
    <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>

}
