﻿@using QX3.Portal.Contracts.DataContracts
@{
    Layout = null;
}
@model ACUser
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/AccessControl/EditUser.js")" type="text/javascript"></script>
@using (Html.BeginForm("EditUser", "AccessControl", FormMethod.Post, new { @id = "frmEditUser" }))
{

    var user = Model;
    string title = user.ID == 0 ? "Criar um Usuário" : "Editar um Usuário";
    string btnName = user.ID == 0 ? "criar usuário" : "editar usuário";
    bool keyType = user.ID > 0 ? (user.Type == "I" ? true : false) : true;
    string assessorID = user.AssessorID < 0 || user.ID == 0 ? "" : user.AssessorID.ToString();
    string userType = user.Type == null ? "I" : user.Type;
    bool sendSuitability = user.SendSuitabilityEmail;

    <h2>@title</h2>
    <div class="conteudo criar-usuario">
        <div id="emptyArea" class="sem-resultado usuario" style="display:none;">
            Email não cadastrado no AD. Um novo usuário será criado.
            <br />
            Por favor, preencha um login.
        </div>
        <div id="feedbackError" class="erro" style="display: none;">
        </div>
        <div id="Step1">
            <div class="linha-frm">
                <label>
                    Nome
                </label>
                @Html.TextBox("txtUserName", user.Name, new { @maxlength = 60 })
                @Html.Hidden("hdfUserID", user.ID)
            </div>
            <div class="linha-frm">
                <label>
                    E-mail
                </label>
                @Html.TextBox("txtUserEmail", user.Email, new { @maxlength = 80 })
                @Html.Hidden("hdfUserEmail", user.Email)
            </div>
            <div id="Step2">
                <div class="linha-frm">
                    <label>
                        Login
                    </label>
                    @Html.TextBox("txtLogin", user.ID == 0 ? "" : user.Login, new { @maxlength = 20 })
                    @Html.Hidden("hdfLogin", Model.Login)
                </div>
            </div>

            @Html.Hidden("hasADInfo", "false")
            <div style="clear: both; float: left; width: 100%;">
                <div class="linha-frm">
                    <label>
                        Código de Assessor <i>(opcional)</i>
                    </label>
                    <input type="text" id="txtAssessorID" value='@assessorID' onkeyup="SetNumber(this);" maxlength="5" />
                </div>
                <div class="linha-frm perfil-acesso">
                    <label>
                        Perfil de Acesso
                    </label>
                    @Html.DropDownList("ddlProfile", (List<SelectListItem>)ViewBag.EditUserList, new { @style = "width:154px;" })
                </div>
                <div class="linha-frm perfil-acesso" id="divInvestorType" style="margin-left: 92px;">
                    <label for="ddlInvestorKind">
                        Tipo de Investidor
                    </label>
                    @Html.DropDownList("ddlInvestorKind", (List<SelectListItem>)ViewBag.InvestorKindList)
                </div>
            </div>

            @if (user.ID > 0)
            {
                <span class="quebrar"></span>

                <div class="linha-frm">
                    <label>
                        Bloqueado
                    </label>
                    @Html.CheckBox("blocked", user.Blocked)
                </div>
            }
            <span class="quebrar"></span>

            <div class="linha-frm" id="divSendSuitability">
                <label>
                    Enviar e-mail do Suitability?
                </label>
                <div class="radio">
                    @Html.RadioButton("rdbSendSuitability", "Sim", sendSuitability, new { @class = "rdbSendSuitability" })
                    <label>
                        Sim
                    </label>
                </div>
                <div class="radio">
                    @Html.RadioButton("rdbSendSuitability", "Não", !sendSuitability, new { @class = "rdbSendSuitability" })
                    <label>
                        Não
                    </label>
                </div>
            </div>

            <span class="quebrar"></span>

            <div class="linha-frm">
                    <label>
                        Tipo
                    </label>
                    <div class="radio">
                        @Html.RadioButton("rdbType", "I", keyType, new { @class = "rdbType" })
                        <label>
                            Interno
                        </label>
                    </div>
                    <div class="radio">
                        @Html.RadioButton("rdbType", "E", !keyType, new { @class = "rdbType" })
                        <label>
                            Externo
                        </label>
                    </div>
                </div>

                @*<div class="linha-frm" id="tipo2" @((userType == "E" || userType == "C") ? "style=display:block" : "style=display:none") >
            <label>
                Tipo 2</label>
            <div class="radio">
                @Html.RadioButton("rdbType2", "C", ((userType == "E" || userType == "C") ? true : false), new { @class = "rdbType2" })
                <label>
                    Cliente</label>
            </div>*@
                @*<div class="radio">
                @Html.RadioButton("rdbType2", "P", !keyType, new { @class = "rdbType2" })
                <label>
                    Participante</label>
            </div>*@
                @*</div>*@

                <div class="linha-frm" id="cdBoldaTipo2" @((userType == "E") ? "style=display:block" : "style=display:none")>

                    <span>
                        CPF / CNPJ
                    </span>
                    <span>
                        @Html.TextBox("tbCPFCNPJ", user.CpfCnpj, new { maxlength = 18, @style = "width:100px;display:inline;" })
                    </span>
                    <span>
                        &nbsp;&nbsp;Código Institucional
                    </span>
                    <span>
                        @Html.TextBox("tbCdBolsa", user.CdCliente, new { maxlength = 10, @style = "width:70px;display:inline;" })
                    </span>
                </div>
            </div>
        <div class="linha-btn">
            <a href="javascript:void(0);" class="btn-padrao" id="lnkSave"><span>@btnName</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>

}
