﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model ACGroupOfAssessors
<script src="@Url.Content("~/Scripts/jQuery/fixedHeaderTable/jquery.fixedheadertable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/AccessControl/EditAssessorGroup.js")" type="text/javascript"></script>
@using (Html.BeginForm("EditGroupOfAssessors", "AccessControl", FormMethod.Post, new { @id = "frmAssessors" }))
{
    var group = Model;
    string title = group.ID == 0 ? "Criar um Grupo de Assessores" : "Editar um Grupo de Assessores";
    string groupUsers = string.Empty;
    string btnName = group.ID == 0 ? "criar grupo" : "editar grupo";
    
    @Html.Hidden("hdfFilters", (String)ViewBag.Filters);
                                                    
    <h2>@title</h2>
    <div class="conteudo">
        @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })
        <div class="linha-frm">
            <label>
                Nome do grupo de Assessores</label>
            @Html.TextBox("txtGroupName", group.Name, new { @maxlength = 30 })
            @Html.Hidden("hdfGroupID", group.ID)
        </div>
        <div class="caixa">
            <div class="divisoria">
                <div class="linha-frm" id="incluirNovoUsuario">
                    <label>
                        Usuário(s)</label>
                    @Html.TextBox("txtUserName", "", new { @maxlength = 150 })
                    @Html.Hidden("hdfSelectedUser", "")
                </div>
                <div class="linha-btn">
                    <a href="javascript:void(0);" id="lnkAddUser" class="btn-padrao"><span>incluir</span></a>
                </div>
                <small>Usuários terão acesso aos clientes dos assessores selecionados</small>
            </div>
            <div class="divisoria">
                <ul class="lista-usuarios" id="listaUsuarios">
                    @if (group.ID > 0 && group.Users != null && group.Users.Count > 0)
                    {
                        foreach (var user in group.Users)
                        {
                        <li id="usuario@(user.ID)" ><span onclick="DeleteUserFromList(@(user.ID));return false;" class="ico-excluir">
                        </span>
                            <input type="hidden" name="userID" id="userID@(user.ID)" value='@(user.ID)' />
                            @user.Name
                        </li>
                        }
                    }
                </ul>
            </div>
            <span class="quebrar"></span>
        </div>
        <div class="caixa">
            <div class="divisoria">
                <div class="linha-frm">
                    <label>
                        Assessor(es)</label>
                    @Html.TextBox("txtAssessors", group.Assessors, new { @maxlength = 100 })
                </div>
                <small>Os dados dos clientes dos assessores ficaram acessíveis para os usuários do grupo</small>
            </div>
            <div class="divisoria">
            </div>
            <span class="quebrar"></span>
        </div>
        <div class="caixa">
            <div class="divisoria">
                <div class="linha-frm">
                    <label>
                        Incluir Cliente(s)</label>
                    @Html.TextBox("txtInsertClient", null, new { @maxlength = 7 })
                </div>
                <div class="linha-btn">
                    <a class="btn-padrao" id="lnkAddClientInclude" href="javascript:;"><span>incluir</span></a>
                </div>
                <small>Os dados dos clientes ficaram acessíveis para os usuários do grupo.</small>
            </div>
            <div class="divisoria">
                <ul class="lista-usuarios" id="listaClientesInclusao">
                    @if (group.ID > 0 && group.ClientsIncluded != null && group.ClientsIncluded.Count > 0)
                    {
                        foreach (var client in group.ClientsIncluded)
                        {
                        <li id="cliente@(client.ClientCode)" ><span onclick="DeleteClientFromList(@(client.ClientCode), 'I');return false;" class="ico-excluir">
                        </span>
                            <input type="hidden" name="clientIncludeID" id="clientIncludeID@(client.ClientCode)" value='@(client.ClientCode)' />
                            @client.ClientName
                        </li>
                        }
                    }
                </ul>
            </div>
            <span class="quebrar"></span>
        </div>

        <div class="caixa">
            <div class="divisoria">
                <div class="linha-frm">
                    <label>
                        Excluir Cliente(s)</label>
                    @Html.TextBox("txtExcludeClient", null, new { @maxlength = 7 })
                </div>
                <div class="linha-btn">
                    <a class="btn-padrao" id="lnkAddClientExclude" href="javascript:;"><span>incluir</span></a>
                </div>
                <small>Os dados dos clientes ficaram inacessíveis para os usuários do grupo.</small>
            </div>
            <div class="divisoria">
                <ul class="lista-usuarios" id="listaClientesExclusao">
                    @if (group.ID > 0 && group.ClientsExcluded != null && group.ClientsExcluded.Count > 0)
                    {
                        foreach (var client in group.ClientsExcluded)
                        {
                        <li id="cliente@(client.ClientCode)" ><span onclick="DeleteClientFromList(@(client.ClientCode), 'E');return false;" class="ico-excluir">
                        </span>
                            <input type="hidden" name="clientExcludeID" id="clientExcludeID@(client.ClientCode)" value='@(client.ClientCode)' />
                            @client.ClientName
                        </li>
                        }
                    }
                </ul>
            </div>
            <span class="quebrar"></span>
        </div>

        <div class="linha-btn">
            <a href="javascript:void(0);" class="btn-padrao" id="lnkSaveGroup"><span>@btnName</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>
}