﻿@{
	Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model ACGroupOfAssessors
@if (Model != null)
{
    <h2>@Model.Name <a class="ico-editar" onclick="EditGroup(@Model.ID);return false;" title="editar grupo" href="javascript:void(0);">alterar este grupo</a></h2>
<div class="conteudo grupo-acessores-detalhes">
	<div class="caixa">
		<h5>Usuário (s)</h5>
		<small>Usuários terão acesso aos clientes dos assessores indicados</small> <span
			class="quebrar"></span>
		@if (Model.Users != null && Model.Users.Count > 0)
        {
			    <ul class="lista-usuarios">
				    @foreach (ACUser user in Model.Users)
        {
					    <li>@user.Name</li>
        }
			    </ul>
        }
        else
        {
			    <span>Nenhum usuário cadastrado para este grupo.</span>
        }
		<span class="quebrar"></span>
	</div>

	<div class="caixa" >
		<h5>Assessor (es)</h5>
		<small>Os dados dos clientes dos assessores ficaram acessíveis para os usuários do grupo</small>
		<span class="quebrar"></span>
        <div class="assessores">@Model.Assessors</div> 
        <span class="quebrar"></span>
	</div>

    <div class="caixa">
        <div class="divisoria">
            <div class="linha-frm">
                <label>Cliente (es) incluídos</label>
            </div>
            <small>Os dados dos clientes ficaram acessíveis para os usuários do grupo.</small>
        </div>
        <div class="divisoria">
            <ul class="lista-usuarios" id="listaClientesInclusao">
                @if (Model.ID > 0 && Model.ClientsIncluded != null && Model.ClientsIncluded.Count > 0)
                {
                    foreach (var client in Model.ClientsIncluded)
                    {
                    <li>
                        @client.ClientName
                    </li>
                    }
                }
            </ul>
        </div>
        <span class="quebrar"></span>
    </div>

    <div class="caixa">
        <div class="divisoria">
            <div class="linha-frm">
                <label>Cliente (es) excluídos</label>
            </div>
            <small>Os dados dos clientes ficaram inacessíveis para os usuários do grupo.</small>
        </div>
        <div class="divisoria">
            <ul class="lista-usuarios" id="listaClientesExclusao">
                @if (Model.ID > 0 && Model.ClientsExcluded != null && Model.ClientsExcluded.Count > 0)
                {
                    foreach (var client in Model.ClientsExcluded)
                    {
                    <li>
                        @client.ClientName
                    </li>
                    }
                }
            </ul>
        </div>
        <span class="quebrar"></span>
    </div>

</div>
    <span class="quebrar"></span>
}
else
{
	<span>@TempData["ErrorMessage"]</span>
}
<script type="text/javascript">


	function EditGroup(id) {
		commonHelper.OpenModal("/AccessControl/EditGroupOfAssessors/?id=" + id, 664, ".content", "");
		$("#MsgBox").center();
	}

</script>
