﻿@{
    ViewBag.Title = "Imports";
    
}
<div style="float:left;width:350px">
<form action="/AccessControl/UsersImports" method="post">
    
        <p>
            @Html.TextArea("cdClientes", "")
        </p>
        <div style="padding-left: 190px">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Importar Sinacor">
            </span>
        </div>
   
</form>
 </div>
@{if (TempData["Msgs"] != null)
  {
    <div style="border: 1px solid #c0c0c0; padding:20px;float:left;width:500px; min-height:150px; margin-top:10px">
        <h2>Resultado da importação</h2>
        <ul>

            @foreach (string s in (List<string>)TempData["Msgs"])
            {
                <li>@s </li>

            }


            @if (((List<string>)TempData["Msgs"]).Count() == 0)
            {
                <li>Nenhum cliente importado!</li>

            }
        </ul>
    </div>

  }
  
}