﻿@{
    ViewBag.Title = "Application";
}

@using QX3.Portal.Contracts.DataContracts
<div class="ferramentas acoes assessores">
    <div><a class="ico-hist" href="javascript:;">Ver histórico</a></div>
</div>

@{ Html.RenderPartial("FundsClientBox"); }

@{ FundClient client = (FundClient)ViewBag.Client; }

@if (client != null)
{ 
<script src='@Url.Content("~/Scripts/Views/Funds/Application.js")' 

type="text/javascript"></script>
<span class="quebrar"></span>
<div id="conteudo-aplicacao">
    @{ string displayErrorMode = TempData["errorApplication"] != null ? "block" : "none";}
    <div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["errorApplication"]
    </div>
    @{ TempData["errorApplication"] = null; }
    <div class="bloco-frm">
        <h2>Faça uma aplicação</h2>

        <div class="linha-frm">
            <label>Escolha um fundo</label>
            @Html.DropDownList("ddlFunds", "Escolha um fundo")
        </div>
        <span class="quebrar"></span>
        <div class="erro" id="lblApplication" style="display:none;">O cliente não tem saldo suficiente para aplicar nesse fundo. A aplicação mínima é de R$ 2.000,00</div>
        <span class="quebrar"></span>

        <div id="divApplicationPanel" style="display:none">
            <div class="linha-frm">
                <label>Valor da Aplicação</label>
                @Html.TextBox("txtApplicationValue")
            </div>
            <span class="apoio" id="txtAdditionalInfo"></span>
            <span class="quebrar"></span>
            <div class="linha-btn">
                <a href="javascript:;" class="btn-padrao" id="btnApplication"><span>Fazer Aplicação</span></a>
            </div>
        </div>

        <div class="caixa-termo-aceite" id="divTermoAceite" style="display:none">
            <div class="termo-aceite">
                <div class="erro">
                   Não é possivel realizar a aplicação para este fundo. Envie para o cliente o termo de adesão para assinatura.
                </div>
                <span class="quebrar"></span>
                <small>Enviar o termo de adesão para que o cliente faça um download e envie uma cópia assinada pelos correios ou para o email abaixo:</small>

                <p><a href="mailto:distribuicao-cf@votorantimcorretora.com.br">distribuicao-cf@votorantimcorretora.com.br</a></p>

                <div class="endereco">
                    <strong>A/C: Back Office Processamento Fundos e Clubes</strong>
                    Av. Das Nações Unidas, 14.171 – Torre A 14º Andar CEP: 04794-000
                </div>
                <span class="quebrar"></span>
                <div class="link-termo-adesao" style="display:none">
                </div>
            </div>

            <span class="quebrar"></span>
        </div>
    
    </div>

    <div class="bloco-informacoes" id="divTimeLimit" style="display:none">
        <h2>Informações sobre o Fundo</h2>
        <p id="spnTimeLimit"></p>
        <h3>Mais informações sobre esse fundo, clique <a href='javascript:;' id="lnkDetails">aqui</a></h3>
        <span class="quebrar"></span>
@*        <ul class="lnks-pdf" id="ulDocuments">
        </ul>*@
    </div>

    <span class="quebrar"></span>
</div>
}
else 
{
    if (TempData["fundGenericError"] != null)
    {

        string displayErrorMode = TempData["fundGenericError"] != null ? "block" : "none";
        <div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["fundGenericError"]
        </div>
        TempData["fundGenericError"] = null;

    }
    else
    {
        <div class="sem-resultado">Por favor, informe o cliente.</div>
    }
}