﻿@{
    ViewBag.Title = "Balance";
}
@using QX3.Portal.Services.SagazWebService


<script src="@Url.Content("~/Scripts/jQuery/TableScroll/jquery.tablescroll.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Funds/Balance.js")" type="text/javascript"></script>

<style type="text/css">
	.centralizar { text-align: center; }
	.caixa-filtro.secundario .bloco .saldo { text-align: right; }
</style>


<div class="ferramentas acoes assessores">
	<div>Exportar:
		<a class="ico-xls" href="javascript:void(0)" id="lnkExcel">Excel</a>
		<a class="ico-pdf" href="javascript:void(0)" id="lnkPdf">PDF</a>
	    <a class="ico-hist" href="javascript:void(0)">Ver histórico</a>
    </div>
</div>

@{ Html.RenderPartial("FundsClientBox"); }

@{
    var client = (QX3.Portal.Contracts.DataContracts.FundClient)ViewBag.Client;
    
}
<div id="divAlertaExportacao" class="erro" style="display: none">Selecione um fundo antes de exportar.</div>

@if (client == null)
{
    if (TempData["fundGenericError"] != null)
    {

        string displayErrorMode = TempData["fundGenericError"] != null ? "block" : "none";
        <div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["fundGenericError"]
        </div>
        TempData["fundGenericError"] = null;

    }
    else
    {
        <div class="sem-resultado" style="margin-top:0;">Por favor informe o cliente.</div>
    }
}
else
{
    if (TempData["errorBalance"] != null)
    { 
         <div class="erro">@TempData["errorBalance"].ToString()</div>
    }
    else
    {

        <h2>Verifique seu saldo</h2>

        <div class="listagens-saldo consulte-fundo">
            <h3>#Consulte um fundo</h3>

            <div class="linha-frm fundo">
                <label>Fundo</label>
                @Html.DropDownList("ddlFunds", "Escolha um fundo")
            </div>

            <span class="quebrar"></span>

            <div id="divBalanceList" style="display:none">
                <h3 id="lblFundName" class="nome-fundo"></h3>
    
                <table cellpadding="0" cellspacing="0" class="resultado">
                    <tr>
                        <td class="positivo odd"><strong>Saldo Bruto:</strong> <span id="lblGrossValue"></span></td>
                        <td class="positivo even"><strong>Saldo Líquido:</strong> <span id="lblNetValue"></span></td>
                        <td class="positivo odd"><strong>Saldo em:</strong> <span id="lblBalanceDate"></span></td>
                    </tr>
                </table>

                <span class="quebrar"></span>

                <table id="thetable" cellpadding="0" cellspacing="0" class="tblBalanceList classificar">
                    <thead>
                        <tr>
                            <th><span>No da Cautela</span></th>
                            <th><span>No de Cotas</span></th>
                            <th><span>Data da Aplicação</span></th>
                            <th><span>Data da Conversão</span></th>
                            <th><span>Valor da Aplicação</span></th>
                            <th><span>Valor corrigido</span></th>
                            <th><span>Previsão de IOF</span></th>
							<th><span>Previsão de IR</span></th>
                            <th><span>Valor do Resgate</span></th>
                            <th><span>Rendimento</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <span class="quebrar"></span>
            </div>
        </div>
        <span class="quebrar"></span>
        <div class="listagens-saldo">
            @{
        List<FundBalancePendingApplicationItem> list = (List<FundBalancePendingApplicationItem>)ViewBag.PendingMovements;
            }
            @if (list != null)
            {
            <h4>Movimentações Pendentes de Confirmação</h4>
            <table cellpadding="0" cellspacing="0" class="classificar">
                <thead>
                    <tr>
                        <th><span>Fundo</span></th>
                        <th><span>Valor da Aplicação</span></th>
                        <th><span>Tipo</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in list)
                    { 
                        <tr>
                            <td>@i.FundName</td>
                            <td class="direita">@i.Value.ToString("N2")</td>
                            <td>@i.Type</td>
                        </tr>
                    }
                </tbody>
            </table>
            <span class="quebrar"></span>
            }
            @{
            var chartInfo = (List<QX3.Portal.WebSite.Models.FundBalanceChartItemResponse>)ViewBag.ChartInfo;
             }
             @if (chartInfo != null)
             {  
            <div class="table-grafico">
                <h4>Distribuição dos Investimentos</h4>
                <table cellpadding="0" cellspacing="0" class="classificar">
                    <thead>
                        <tr>
                            <th><span>Fundo</span></th>
                            <th><span>Composição</span></th>
                            <th><span>% da Carteira</span></th>
                            <th><span>Investimento</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var i in chartInfo)
                    { 
                        <tr>
                            <td><span class="cor-grafico" style="background-color:@i.RGBColor"></span>@i.FundName</td>
                            <td>@i.Composition</td>
                            <td class="direita">@i.Percentage</td>
                            <td class="direita">@i.Value.ToString("N2")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="img-grafico">
                <img src="@Url.Action("BalanceChart")" />
            </div>
             }
        </div>
    }
}