﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.FundService
@using QX3.Portal.Services.SagazWebService
<h2>Confirme o resgate:</h2>
<div class="conteudo confirme-resgate">
   @{
        FundClient client = (FundClient)ViewBag.Client;
        FundDetails fund = (FundDetails)ViewBag.FundDetail;

        decimal investment = ViewBag.RedemptionValue;
        bool total = (bool)ViewBag.TotalRedemption;
    }
    @if (client != null && fund != null)
    {
        using (Html.BeginForm("DoRedemption", "Funds", FormMethod.Post, new { @id = "frmDoRedemption", @name = "frmDoRedemption" }))
        { 
            @Html.Hidden("txtFundCode", fund.Code)
            @Html.Hidden("txtValue", investment)
            @Html.Hidden("chkTotal", total)

            <div class="origem-destino">
                <div>
                    Fundo: 
                    <span>@fund.Name</span>
                </div>
                <div>
                    Valor do resgate:
                    <span class="valor">@investment.ToString("C2")</span>
                </div>
            </div>

            <blockquote>O valor será creditado na conta depósito do cliente. 
            @if (total) { 
                  @:Realizando o resgate total do fundo a validade do termo de adesão assinada por este cliente será finalizada. 
            }
            </blockquote>

            <div class="linha-btn">
                <a href="javascript:;" class="btn-padrao" id="btnConfirm"><span>Confirmar resgate</span></a>
                <a href="javascript:;" onclick="Modal.Close();" class="btn-secundario"><span>Cancelar</span></a>
            </div>
        }
    }

</div>

<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Funds/ConfirmRedemption.js")' ></script>