﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.FundService
@using QX3.Portal.Services.SagazWebService
<h2>Confirme a aplicação:</h2>
<div class="conteudo confirme-aplicacao">
   @{
        FundClient client = (FundClient)ViewBag.Client;
        FundDetails fund = (FundDetails)ViewBag.FundDetail;

        decimal investment = ViewBag.ApplicationValue;
    }
    @if (client != null && fund != null)
    {
        using (Html.BeginForm("DoApplication", "Funds", FormMethod.Post, new { @id="frmDoApplication", @name="frmDoApplication" }))
        { 
            @Html.Hidden("txtFundCode", fund.Code)
            @Html.Hidden("txtValue", investment)
            @Html.Hidden("txtUserHasAccepted", fund.UserHasAccepted)
            <div class="origem-destino">
                <div>
                    Fundo: 
                    <span>@fund.Name</span>
                </div>
                <div>
                    Valor da aplicação:
                    <span class="valor">@investment.ToString("C2")</span>
                </div>
            </div>

            <blockquote>O valor da aplicação será debitado do cliente e não estará disponível para outras aplicações.</blockquote>

            <div class="linha-btn">
                <a href="javascript:;" class="btn-padrao" id="btnConfirm"><span>Confirmar aplicação</span></a>
                <a href="javascript:;" onclick="Modal.Close();" class="btn-secundario"><span>Cancelar</span></a>
            </div>
        }
    }

</div>

<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Funds/ConfirmApplication.js")' ></script>