﻿@using QX3.Portal.Contracts.DataContracts
@{
    Layout = null;

    var client = (FundClient)ViewBag.Client;

    QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();
 }

<div id="divSuccessFeedback" class="sucesso-flutuante" style='display:none;'>
    <span>@(TempData["SuccessMessage"] ?? "")</span>
    <a href="javascript:void(0);" class="lnk-fechar" onclick="$('#divSuccessFeedback').slideToggle();" id="closeFeedback">fechar</a>
</div>

<div class="caixa-filtro secundario">
    <div class="bloco">
        <div class="linha-frm campo-condigo-cliente">
            <label>Código do cliente</label>
            @using(Html.BeginForm("FindClientInfo", "Funds", FormMethod.Post, new { @id="frmFindClient", @name="frmFindClient" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBox("txtClientCode", client == null ? null : client.ClientCode.ToString())
            }
        </div>
        <span class="apoio" id="txtClientName">@if (client != null) { @client.ClientName }</span>
    </div>
    @if (client != null && client.PositionBalance.HasValue)
    {
    <div class="bloco">
        <span class="data-saldo" id="txtDateBalance">
            @if (client != null)
            {
                if (client.DateBalance.HasValue)
                { @("Saldo em " + client.DateBalance.Value.ToShortDateString() + ":") }
            }
        </span>
        <span class="saldo" id="txtPositionBalance">
            @if (client != null)
            {
                if (client.PositionBalance.HasValue)
                { @(client.PositionBalance.Value.ToString("C2")) }
            }
        </span>
    </div>
    }
    @if (client != null && client.BlockedBalance.HasValue)
    {
        <div class="bloco">
            <span class="data-saldo">
                Bloqueado para aplicação:
            </span>
            <span class="saldo" id="txtBlockedBalance">
            @if (client != null)
            {
                if (client.BlockedBalance.HasValue)
                { @(client.BlockedBalance.Value.ToString("C2")) }
            }</span>
        </div>
    }
    @if (client != null && client.AvailableBalance.HasValue)
    {
        <div class="bloco">
            <span class="data-saldo">
                Disponível para aplicação:
            </span>
            <span class="saldo" id="txtAvailableBalance">
            @if (client != null)
            {
                if (client.AvailableBalance.HasValue)
                { 
                    @(client.AvailableBalance.Value.ToString("C2")) 
                }
            }</span>
        </div>
    }
    @if (client != null)
    {
    <div class="bloco">
        <ul class="acoes">
            @if (client != null)
            {
                if (VirtualPathUtility.ToAbsolute("~/Funds/Index") != Request.Url.AbsolutePath && acHelper.HasPagePermission("Funds.Index"))
                { <li>@Html.ActionLink("Fundos", "Index", "Funds", null, null)</li> }

                if (VirtualPathUtility.ToAbsolute("~/Funds/Application") != Request.Url.AbsolutePath && acHelper.HasPagePermission("Funds.Application"))
                { <li>@Html.ActionLink("Aplicação", "Application", "Funds", null, null)</li> }

                if (VirtualPathUtility.ToAbsolute("~/Funds/Balance") != Request.Url.AbsolutePath && acHelper.HasPagePermission("Funds.Balance"))
                { <li>@Html.ActionLink("Saldo", "Balance", "Funds", null, null)</li> }

                if (VirtualPathUtility.ToAbsolute("~/Funds/Statement") != Request.Url.AbsolutePath && acHelper.HasPagePermission("Funds.Statement"))
                { <li>@Html.ActionLink("Extrato", "Statement", "Funds", null, null)</li> }

                if (VirtualPathUtility.ToAbsolute("~/Funds/Redemption") != Request.Url.AbsolutePath && acHelper.HasPagePermission("Funds.Redemption"))
                { <li>@Html.ActionLink("Resgate", "Redemption", "Funds", null, null)</li> }
            }
        </ul>
    </div>
    }
<span class="quebrar"></span>
</div>
<span class="quebrar"></span>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/DateJS/date-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.format-1.2/jquery.format-1.2.js")" type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Views/Funds/FundsClientBox.js")' type="text/javascript"></script>
<span class="quebrar"></span>