﻿@{
    ViewBag.Title = "Index";
}
@using QX3.Portal.WebSite.Helper
@model List<QX3.Portal.Services.SagazWebService.Fund>

@{ Html.RenderPartial("FundsClientBox"); }

<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Funds/Index.js")'></script>

<h2>Fundos de investimento</h2>

<div class="descricao-fundo">
    <p>Fundos de investimento são recursos de um grupo de investidores administrados por especialistas, representando uma forma simples de investir no mercado financeiro. Investir em fundos significa ter acesso aos vários mercados, possibilidade de diversificar as aplicações e contar com um gerenciamento profissional.</p>

    <p>Invista nos fundos de investimentos distribuídos pela Votorantim Corretora – Seja Sagaz.</p>
</div>

@if (Model != null && Model.Count > 0)
{ 
<table class="classificar fundo" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="primario">
           <th scope="col" rowspan="2">Fundo</th> 
           <th scope="col" rowspan="2">Investimento inicial</th> 
           <th scope="col" rowspan="2">Aplicação</th> 
           <th scope="col" rowspan="2">Resgate</th> 
           <th scope="col" rowspan="2">Horário limite de movimentação</th> 
           <th scope="colgroup" colspan=5>Rentabilidade</th>
           <th scope="col" rowspan="2">&#160;</th>
        </tr>
        <tr class="secundario">
            <th scope="col">Dia</th>
            <th scope="col">Mês</th>
            <th scope="col">Ano</th>
            <th scope="col">12 Meses</th>
            <th scope="col" class="zerado">24 Meses</th>
        </tr>
    </thead>
    <tbody>
    @{ int counter = 0;}
    @foreach (var fd in Model)
    {
        <tr class='@((counter % 2 == 0) ? "odd" : "even")'>
            <td><a href="javascript:void(0)" class="btnFundDetails" rel="@fd.Code">@fd.Name</a></td>
            <td class="direita">@fd.InitialInvestment.ToString("C2")</td>
            <td>D+@fd.QuotaEntry.ToString()</td>
            <td>D+@fd.QuotaExit.ToString()</td>
            <td>@FundHelper.HourMinuteFormatter(fd.MovementStartTime) às @FundHelper.HourMinuteFormatter(fd.MovementEndTime)</td>
            <td class="direita">N/D</td>
            <td class="direita">N/D</td>
            <td class="direita">N/D</td>
            <td class="direita">N/D</td>
            <td class="direita">N/D</td>
            <td><a class="ico-aplicar-rendimento lnk-txt" href='@Url.Action("Application", new { @fundCode= fd.Code })' ><span>Aplicar</span></a></td>
        </tr>
        counter++;
    }
    </tbody>
</table>
}


<div class="descricao-fundo rodape">
    <p>Os Operadores e Agentes Autônomos de Investimento, ao receber ordem de aplicação de clientes da Votorantim Corretora, deve cientificar aos mesmos que: <strong>a.</strong> "Para a avaliação da performance de fundos de investimento, é aconselhável uma análise de, no mínimo, 12 meses" <strong>b.</strong> "Produto não garantido pela Instituição Administradora, pelo Gestor da carteira, por esta Corretora ou por qualquer mecanismo de seguro, ou ainda, pelo Fundo Garantidor de Crédito – FGC" <strong>c.</strong> "É recomendada a leitura cuidadosa do prospecto e do regulamento do fundo de investimento pelo investidor, antes de aplicar seus recursos" <strong>d.</strong> "Para obter informações detalhadas sobre o produto, fale com nossos operadores?"</p>

    <p>Os Operadores e Agentes Autônomos de Investimento, ao receber ordem de aplicação de clientes da Votorantim Corretora, deve cientificar aos mesmos que: <strong>a.</strong> "A rentabilidade acumulada nos últimos 12 meses se refere até o fechamento do mês anterior" <strong>b.</strong> "A rentabilidade apresentada não é líquida de impostos" <strong>c.</strong> "A rentabilidade obtida no passado não representa garantia de rentabilidade futura"</p>
</div>

