﻿@{
    Layout = null;
}
@model List<QX3.Portal.Services.SagazWebService.FundStatementItem>
@if (Model != null && Model.Count > 0)
{
    <div class="ferramentas acoes">
		<div>
            <a class="ico-xls" href="javascript:void(0)" id="lnkExcelS">Excel</a>
            <a class="ico-pdf" href="javascript:void(0)" id="lnkPdfS">PDF</a>
        </div>
	</div>
    <table class="classificar" id="thetable" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Data</th>
                <th>Lançamento</th>
                <th>Cota</th>
                <th>IOF</th>
                <th>IRRF</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @{
    DateTime currentDate = DateTime.MinValue;
    decimal sum = 0;
    int counter = 0;
            }
            @foreach (var s in Model)
            {
                if (currentDate == DateTime.MinValue)
                { 
                    <tr class="saldo">
                        <td>@s.ApplicationDate.AddDays(-1).ToString("dd/MM/yyyy")</td>
                        <td colspan="4">Saldo Anterior</td>
                        <td class="direita">R$ 0,00</td>
                    </tr>
                }

                if (currentDate != DateTime.MinValue && currentDate != s.ApplicationDate)
                { 
                    <tr class="saldo">
                        <td>@currentDate.ToShortDateString()</td>
                        <td colspan="4">Saldo</td>
                        <td class='direita @((sum < 0) ? "negativo" : "positivo")'>@sum.ToString("C2")</td>
                    </tr>
                }
                <tr class='@((counter % 2 == 0) ? "odd" : "even")'>
                    <td>@s.ApplicationDate.ToShortDateString()</td>
                    <td>@s.MovementType</td>
                    <td>D+0</td>
                    <td>@QX3.Portal.WebSite.Helper.FundHelper.TaxFormatter(s.IOF, s.OriginalValue)</td>
                    <td>@QX3.Portal.WebSite.Helper.FundHelper.TaxFormatter(s.IRRF, s.OriginalValue)</td>
                    <td class='direita'>@s.Value.ToString("C2")</td>
                </tr>
                
                if (s.MovementType.ToLower().IndexOf("resgate") >= 0)
                {
                    sum -= s.Value;
                }
                else
                {
                    sum += s.Value;
                }

                currentDate = s.ApplicationDate;

                if (s.CautionNumber == Model[Model.Count - 1].CautionNumber)
                { 
                    <tr class="saldo">
                        <td>@currentDate.ToShortDateString()</td>
                        <td colspan="4">Saldo</td>
                        <td class='direita @((sum < 0) ? "negativo" : "positivo")'>@sum.ToString("C2")</td>
                    </tr>
                }
                counter++;
            }
        </tbody>
    </table>
}
else
{ 
    <div class="sem-resultado" style="margin-top: 0px">O fundo selecionado não possui lançamentos no período informado.</div>
}
