﻿@{
	Layout = null;
}
@model QX3.Portal.Services.SagazWebService.FundDetails

<script src='@Url.Content("~/Scripts/Views/Funds/LoadFund.js")' type="text/javascript"></script>

<h2>@Model.Name</h2>
<div class="conteudo info-gerais-fundo">
	<a class="btn-padrao" href="/Funds/Application/?fundCode=@Model.Code"><span>Aplicar</span></a>
	<div class="ferramentas acoes">
		<div>Exportar:
	        <a id="lnkPdf" href="/Funds/FundDetailToFile/" class="ico-pdf">PDF</a>
	    </div>
	</div>

	<span class="quebrar"></span>
	<div id="abas-info-fundo">
		<ul>
			<li> <a href="#info-gerais">Informações Gerais</a></li>
			<li> <a href="#info-complementares">Informações Complementares</a></li>
		</ul>
		<div id="info-gerais">
			
			<div class="caixa-info-table">
				<h3>Objetivos</h3>
				<p>@Model.Goals</p>

				<h3>Público-alvo</h3>
				<p>@Model.TargetAudience</p>

				<table class="classificar" cellpadding="0" cellspacing="0">
					<tbody>
						<tr class="odd">
							<td>
								Aplicação inicial mínima
							</td>
							<td class="ultimo direita">@Model.InitialInvestment.ToString("C2")
							</td>
						</tr>
						<tr class="even">
							<td>
								Investimento adicional
							</td>
							<td class="ultimo direita">@Model.AdditionalInvestment.ToString("C2")
							</td>
						</tr>
						<tr class="odd">
							<td>
								Mínimo para permanência no fundo
							</td>
							<td class="ultimo direita">@Model.MinimunInvestment.ToString("C2")
							</td>
						</tr>
						<tr class="even">
							<td>
								Prazo médio da carteira
							</td>
							<td class="ultimo">@Model.InvestmentHorizon
							</td>
						</tr>
						<tr class="odd">
							<td>
								Taxa de administração
							</td>
							<td class="ultimo direita">@Model.AdministrationFee.ToString("N2")%
							</td>
						</tr>
						<tr class="even">
							<td>
								Taxa de performance
							</td>
							<td class="ultimo direita">@Model.PerfomanceFee.ToString("N2")%
							</td>
						</tr>
						<tr class="odd">
							<td>
								Taxa de entrada
							</td>
							<td class="ultimo direita">@Model.EntryFee.ToString("N2")%
							</td>
						</tr>
						<tr class="even">
							<td>
								Taxa de saída
							</td>
							<td class="ultimo direita">@Model.ExitFee.ToString("N2")%
							</td>
						</tr>
						<tr class="odd">
							<td>
								Cotização de entrada
							</td>
							<td class="ultimo direita">D+@Model.QuotaEntry
							</td>
						</tr>
						<tr class="even">
							<td>
								Cotização de saída
							</td>
							<td class="ultimo direita">D+@Model.QuotaExit
							</td>
						</tr>
						<tr class="odd">
							<td>
								Financeiro de entrada
							</td>
							<td class="ultimo direita">D+@Model.FinancialEntry
							</td>
						</tr>
						<tr class="even">
							<td>
								Financeiro de saída
							</td>
							<td class="ultimo direita">D+@Model.FinancialExit
							</td>
						</tr>
						<tr class="odd">
							<td>
								Carência
							</td>
							<td class="ultimo">@(String.IsNullOrEmpty(Model.PeriodOfGrace) ? "-" : Model.PeriodOfGrace)
							</td>
						</tr>
						<tr class="ultimo even">
							<td>
								Liquidez
							</td>
							<td class="ultimo">@Model.Liquidity
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			@if (Model.Documents != null && Model.Documents.Length > 0)
			{
				<div id="divTimeLimit" class="bloco-informacoes">
					<span class="titulo-info">Informações sobre o Fundo</span>

					<p>Para consultar a rentabilidade deste fundo, <a href="@Model.RentabilityLink" target="_blank">clique aqui</a>.</p>

					<p>Mais informações sobre esse fundo</p>

					<span class="quebrar"></span>
					<ul id="ulDocuments" class="lnks-pdf">
						@foreach (var doc in Model.Documents)
						{
							if (doc.Active)
							{		
								<li>
									<a href="@string.Format("/Funds/DownloadFundDocument/?id={0}&fileName={1}.pdf", doc.Id, doc.FileName)" class="ico-pdf lnk-txt">@doc.DocTypeName</a>
								</li>
							}
						}
					</ul>
				</div>
			}
		</div>

		<div id="info-complementares">
			<div class="caixa-info-table">
				<table class="classificar" cellpadding="0" cellspacing="0">
					<tbody>
						<tr class="odd">
							<td>
								Razão social
							</td>
							<td class="ultimo">@Model.Name
							</td>
						</tr>
						<tr class="even">
							<td>
								CNPJ
							</td>
							<td class="ultimo">@String.Format(@"{0:00\.000\.000\/0000\-00}", Convert.ToInt64(Model.CNPJ))
							</td>
						</tr>
						<tr class="odd">
							<td>
								Administrador
							</td>
							<td class="ultimo">@Model.Administration
							</td>
						</tr>
						<tr class="even">
							<td>
								Gestor
							</td>
							<td class="ultimo">@Model.Management
							</td>
						</tr>
						<tr class="odd">
							<td>
								Regime de cotas
							</td>
							<td class="ultimo">@Model.QuotaSystem
							</td>
						</tr>
						<tr class="even">
							<td>
								Benchmark
							</td>
							<td class="ultimo">@Model.Benchmark
							</td>
						</tr>
						<tr class="odd">
							<td>
								Código Anbima
							</td>
							<td class="ultimo">@Model.AnbimaCode
							</td>
						</tr>
						<tr class="even">
							<td>
								Classificação Anbima
							</td>
							<td class="ultimo">@Model.AnbimaClassification
							</td>
						</tr>
						<tr class="odd">
							<td>
								Classificação CVM
							</td>
							<td class="ultimo">@Model.CVMClassification
							</td>
						</tr>
						<tr class="even">
							<td>
								Fundo para investidores qualificados?
							</td>
							<td class="ultimo">@if (Model.QualifiedInvestor) { <text>Sim</text> } else { <text>Não</text> }
							</td>
						</tr>
						<tr class="odd">
							<td>
								Horário de movimentação
							</td>
							<td class="ultimo">@Model.MovementEndTime
							</td>
						</tr>
						<tr class="even">
							<td>
								Alavancagem
							</td>
							<td class="ultimo">@if (Model.Leverage) { <text>Sim</text> } else { <text>Não</text> }
							</td>
						</tr>
						<tr class="odd">
							<td>
								Permite ativos no exterior?
							</td>
							<td class="ultimo">@if (Model.AssetsAbroad) { <text>Sim</text> } else { <text>Não</text> }
							</td>
						</tr>
						<tr class="ultimo even">
							<td>
								Perda de patrimônio
							</td>
							<td class="ultimo">@(String.IsNullOrEmpty(Model.LossOfProperty) ? "-" : Model.LossOfProperty)
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>