﻿@{
    Layout = null;
}
@model List<QX3.Portal.Services.SagazWebService.FundStatementItem>
@if (Model != null && Model.Count > 0)
{	<div class="ferramentas acoes">
		<div>
            <a class="ico-xls" href="javascript:void(0)" id="lnkExcelA">Excel</a>
            <a class="ico-pdf" href="javascript:void(0)" id="lnkPdfA">PDF</a>
        </div>
	</div>
    <table class="classificar" id="thetable" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Data de Aplicação</th>
                <th>Data de Movimentação</th>
                <th>Lançamento</th>
                <th>Nº da Cautela</th>
                <th>Qtde de Cotas</th>
                <th>Valor Original</th>
                <th>Valor Bruto</th>
                <th>IOF</th>
                <th>IRRF</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 0;}
            @foreach (var s in Model)
			{ 
                <tr class='@((counter % 2 == 0) ? "odd" : "even")'>
                    <td class="centralizar">@s.ApplicationDate.ToShortDateString()</td>
                    <td class="centralizar">@s.MovementDate.ToShortDateString()</td>
                    <td>@s.MovementType</td>
                    <td>@s.CautionNumber</td>
                    <td class="direita">@s.QuantityOfQuota.ToString("N9")</td>
                    <td class="direita">@s.OriginalValue.ToString("C2")</td>
                    <td class="direita">@s.GrossValue.ToString("C2")</td>
                    <td>@QX3.Portal.WebSite.Helper.FundHelper.TaxFormatter(s.IOF, s.OriginalValue)</td>
                    <td>@QX3.Portal.WebSite.Helper.FundHelper.TaxFormatter(s.IRRF, s.OriginalValue)</td>
                    <td class="direita">@s.Value.ToString("C2")</td>
                </tr>
                counter++;
			}
        </tbody>
    </table>
}
else
{ 
    <div class="sem-resultado" style="margin-top: 0px">O fundo selecionado não possui lançamentos no período informado.</div>
}
