﻿@{
    ViewBag.Title = "Redemption";
}
@using QX3.Portal.Contracts.DataContracts

<div class="ferramentas acoes assessores">
    <div><a class="ico-hist" href="javascript:;">Ver histórico</a></div>
</div>

@{ Html.RenderPartial("FundsClientBox"); }

@{ FundClient client = (FundClient)ViewBag.Client; }

@if (client == null)
{ 
    if (TempData["fundGenericError"] != null)
    {

        string displayErrorMode = TempData["fundGenericError"] != null ? "block" : "none";
        <div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["fundGenericError"]
        </div>
        TempData["fundGenericError"] = null;

    }
    else
    {
        <div class="sem-resultado" style="margin-top:0;">Por favor informe o cliente.</div>
    }
}
else if (TempData["errorRedemption"] != null)
{
	<div class="erro">@TempData["errorRedemption"].ToString()</div>
}
else
{
    
    <script type="text/javascript" src='@Url.Content("~/Scripts/Views/Funds/Redemption.js")'></script>
    
    <div class="bloco-frm" id="conteudo-resgate">
	
	    <h2>#Faça um resgate</h2>

	    <div class="linha-frm fundo">
	        <label>Fundo</label>
	        @Html.DropDownList("ddlFunds", "Escolha um fundo para resgate")	        
	    </div>
	    <span class="quebrar"></span>
	    <div class="listagens-resgate">
            
            <div id="tblBalanceRedemption" style="display:none">

		        <h2>Informações para Resgate</h2>

		        <table class="classificar" id="" cellpadding="0" cellspacing="0" >
			        <thead>
				        <tr>
					        <th class="zerada"></th>
					        <th>Saldo Bruto</th>
					        <th>Saldo Bloqueado (Resgate)</th>
					        <th>Total</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
					        <td><span class="lblFundName"></span></td>
					        <td>R$ <span id="lblFundApplicationAmount"></span>@*99.999.999,99*@</td>
					        <td>R$ <span id="lblFundRecueAmount"></span>@*99.999.999,99*@</td>
					        <td>R$ <span id="lblFundApplicationAmountPartial"></span>@*99.999.999,99*@</td>
				        </tr>
			        </tbody>
		        </table>
            </div>

            @{ var data = (FinancialPositionDataItem)ViewBag.BalanceDeposit; }
            @if (data != null)
            {
		        <h2>Depósitos e Retiradas já programados</h2>

		        <table class="classificar" cellpadding="0" cellspacing="0">
			        <thead>
				        <tr>
					        <th class="zerada"></th>
					        <th>Saldo D+0 <br/>(10/10/2010)</th>
					        <th>D+1 <br/>(11/10/2010)</th>
					        <th>D+2 <br/>(12/10/2010)</th>
					        <th>D+3 <br/>(13/10/2010)</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
					        <td>Conta Depósito</td>
					        <td>@((data.CurrentAccountInitialBalance + data.SettledBalanceToDate).ToString("C2"))</td>
					        <td>@data.ProjBalanceD1.ToString("C2")</td>
					        <td>@data.ProjBalanceD2.ToString("C2")</td>
					        <td>@data.ProjBalanceD3.ToString("C2")</td>
				        </tr>
			        </tbody>
		        </table>
            }
            else
            {
                <span class="quebrar"></span>
                <div class="sem-resultado">Informações de saldo não disponível.</div>
                <span class="quebrar"></span>
            }

            <div id="pnlRedemption" style="display:none">

		        <h2>Valor do resgate do fundo:</h2>
		        <div class="linha-frm nome-fundo">
			        <label class="lblFundName">Nome do fundo lorem ipsum</label>
			        @Html.TextBox("txtRedemptionValue")
		        </div>
		        <div class="linha-frm regate-total">
			        <input type="checkbox" id="chkTotalValue" />
			        <label>Resgate Total (R$ <span id="lblTotalValue"></span>)</label>
		        </div>
		        <span class="quebrar"></span>
	            <div class="legenda-form">
	                Saldo mínimo para resgate deste fundo R$ <span class="lblMinValue"></span> <br/>
                    Obs: - O valor será creditado em sua conta depósito Sagaz. - Realizando o resgate total do fundo a validade do termo de adesão assinada por este cliente será finalizada. 
	            </div>
	            <div class="erro" id="divErrorFeedback" style="display:none">
	            
		        </div>
		        <div class="linha-btn">
			        <a class="btn-padrao" href="javascript:;" id="btnRedemption"><span>Fazer Resgate</span></a>
		        </div>

            </div>

	    </div>
    </div>
}
