﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.Services.SagazWebService
<style type="text/css">
	.centralizar { text-align: center; }
</style>

<div class="ferramentas acoes assessores">
    <div><a class="ico-hist" href="javascript:;">Ver histórico</a></div>
</div>

@{ 
	Html.RenderPartial("FundsClientBox");

	FundClient client = (FundClient)ViewBag.Client;
}
@if (client == null)
{ 
    if (TempData["fundGenericError"] != null)
    {

        string displayErrorMode = TempData["fundGenericError"] != null ? "block" : "none";
        <div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["fundGenericError"]
        </div>
        TempData["fundGenericError"] = null;

    }
    else
    {
    <div class="sem-resultado" style="margin-top:0;">Por favor informe o cliente.</div>
    }
}
else if (TempData["errorStatement"] != null)
{
	<div class="erro">@TempData["errorStatement"].ToString()</div>
}
else
{ 
	<script src='@Url.Content("~/Scripts/Views/Funds/Statement.js")' type="text/javascript"></script>
	<span class="quebrar"></span>
	<div class="conteudo-extrato">
		<h2># Veja seu Extrato</h2>
		<div class="linha-frm">
			<label>Períododo extrato</label>
			@Html.DropDownList("ddlPeriod")
		</div>

		<span class="quebrar"></span>

		<div class="linha-frm">
			<label>Fundos</label>
			@Html.DropDownList("ddlFunds", "Escolha um fundo")
		</div>

		<span class="quebrar"></span>

		<div id="divAlertaExportacao" class="erro" style="display: none">
			Selecione um período e fundo com lançamentos antes de exportar.
		</div>
		        
        <div id="statementArea" style="display:none">
            <h3>Demonstrativo de Movimentação em Fundos</h3>

		    <span class="quebrar"></span>

		    <div id="tabStatement">

			    <ul>
				    <li><a href="#SyntheticStatementArea">Sintético</a></li>
				    <li><a href="#AnalyticalStatementArea">Analítico</a></li>
			    </ul>

			    <div id="SyntheticStatementArea">
                
			    </div>

			    <div id="AnalyticalStatementArea">
				
			    </div>
		    </div>
        </div>

		<span class="quebrar"></span>
	</div>
}


