﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()" enctype="multipart/form-data">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.EmployeeId ? 'Editar ' : 'Cadastrar ' }}Anexos</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group has-feedback">
                    <label>Arquivo</label>
                    <input type="file" ng-show="!$ctrl.data.Id" name="fileContent" class="form-control" ngf-max-size="5MB" id="fileContent" ngf-select="$ctrl.onFileSelect($files[0])" ng-model="$ctrl.data.FileContent" required />
                    <input class="form-control" ng-show="$ctrl.data.Id" disabled value={{$ctrl.data.FileName}}/>
                    <md-messages>
                        <md-message maxSize>Arquivo muito grande</md-message>
                    </md-messages>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
                <div class="form-group has-feedback">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" name="description" id="description" ng-model="$ctrl.data.Description" class="form-control" maxlength="100" aria-label="descrição" required />
                        <md-messages>
                            <md-message required>Campo Obrigatório</md-message>
                        </md-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>