﻿<div ng-controller="RoleIndexCtrl as $ctrl">
    <h2 class="page-header">Cargo</h2>
    <div class="row">
        <div class="col-xs-12 btn-toolbar" role="toolbar">
            <button role-create type="button" refresh-callback="$ctrl.refresh" class="btn btn-sm btn-primary">Cadastrar Cargo</button>
        </div>
    </div>
    <div class="table-container" st-pipe="$ctrl.loadData" st-table="$ctrl.data">
        <table st-refresh="$ctrl.refresh" class="table table-consolidate table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="Name">Cargo</th>
                    <th st-sort="Active">Status</th>
                    <th width="50" class="actions">Ações</th>
                </tr>
                <tr class="search">
                    <th>
                        <input st-search="Name" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <select st-search="Active" class="input-sm form-control">
                            <option value="">Qualquer</option>
                            <option value="true">Ativos</option>
                            <option value="false">Inativos</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="$ctrl.isLoading">
                <tr>
                    <td colspan="3" class="text-center">Carregando...</td>
                </tr>
            </tbody>
            <tbody ng-show="!$ctrl.isLoading">
                <tr ng-repeat="item in $ctrl.data">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Active  | activeUnactive }}</td>
                    <td class="actions">
                        <a role-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
    </div>
</div>
