﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar ' : 'Cadastrar ' }}Empresa</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Código</label>
                    <input name="Code" ng-model="$ctrl.data.Code" type="text" class="form-control" ng-pattern="/^[0-9]*$/" maxlength="20" required>
                    
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message pattern>Código dever ser um número</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Razão Social</label>
                    <input name="Name" ng-model="$ctrl.data.Name" type="text" class="form-control" maxlength="100" required>
                    
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>CNPJ</label>
                    <input name="cnpj" ng-model="$ctrl.data.Cnpj" type="text" class="form-control" placeholder="00.000.000/0000-00" required ui-br-cnpj-mask>
                    
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                    <md-messages>
                        <md-message cnpj>CNPJ inválido</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>