﻿@{
    ViewBag.Title = "Posição Consolidada";
}
@{ ConsolidatedPositionResponse2 cr = Model; }

<form action="/Position/ConsolidatedPosition" method="post" id="formCP">
    <div class="wrap-form table-consolidate">
        <div @(cr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="cdCliente">Cliente</label>
                <input type="text" name="cdCliente" id="cdCliente" autocomplete="off" value="@(cr.CdBolsa > 0 ? cr.CdBolsa.ToString() : "")" />
            </div>
            <div class="linha-frm-submit">
                <span class="btn-submit">
                    <input class="btn-input-submit" type="submit" value="Ok" /></span>
            </div>
        </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Position/ConsolidatedPositionToFile/?isPdf=false">Excel</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>

</form>
<span class="quebrar"></span>
<div>
    <table class="tb-position" cellpadding="0" cellspacing="0" width="50%">
        <thead>
            <tr>
                <th>Investimento</th>
                <th>Valor Bruto R$</th>
            </tr>
        </thead>

        <tbody>
            @{if (cr.ConsolidatedPosition != null && cr.ConsolidatedPosition.Count() > 0) {
                foreach (ConsolidatedPosition2 cp in cr.ConsolidatedPosition) {

                    string cssValorBruto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(@cp.ValorBruto);
                <tr>
                    @*<td><a class="cPosition" href='/Position/ConsolidatedPositionDetails/@(cp.TipoMercado + "_" + ViewBag.CdCliente)'>+ @cp.DescTipoMercado </a></td>*@

                    <td width="25%"><a class="cPosition" data-child="@(cp.TipoMercado + "_" + cr.CdBolsa)" href='#'>+ @cp.DescTipoMercado </a></td>
                    <td width="25%" class="align-right @cssValorBruto">@cp.ValorBruto.ToString("N2")</td>
                </tr>
                
                <tr class="hidden-tr">
                    <td colspan="2">
                        <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="25%">Ativo</th>
                                    <th width="25%">Quantidade</th>
                                    <th width="25%">Preço</th>
                                    <th width="25%">Valor Atual</th>
                                </tr>
                            </thead>

                            <tbody id="tb-position-@(cp.TipoMercado + "_" + cr.CdBolsa)">
                            </tbody>
                        </table>
                    </td>
                </tr>
              }
            
            }else{
                  
                <tr>
                    <td colspan="2">Realize uma nova consulta!</td>
                </tr>
                  
              }
            }
        </tbody>
    </table>
    <h5 style="width:50%; text-align:justify; font-weight:normal;">
        * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
    </h5>
</div>
<script src="@Url.Content("~/Scripts/Views/Position/ConsolidatedPosition.js")" type="text/javascript"></script>
