﻿@{
    ViewBag.Title = "Posição de Custódia";

}
@{ CustodyPositionResponse cr = Model; }
<form action="/Position/CustodyPosition" method="post" id="formCP">
    <div class="wrap-form table-custody">
        <div class="linha-frm">
            <label for="cdMercado">Custódia de</label>

            @*@Html.DropDownList("cdMercado", new SelectList((List<InvestmentsGroups>)ViewBag.DropInvestimentos, "Group", "DescGroup"));*@

            <select name="cdMercado" id="cdMercado">
                <option value="TDO-Todos" @(cr.TipoMercado == "TDO-Todos" ? "selected=selected" : "")>Todos</option>
                <option value="VIS-Ações" @(cr.TipoMercado == "VIS-Ações" ? "selected=selected" : "")>Ações</option>
                <option value="OPV,OPC-Opções" @(cr.TipoMercado == "OPV,OPC-Opções" ? "selected=selected" : "")>Opções</option>
                <option value="TER-Termo" @(cr.TipoMercado == "TER-Termo" ? "selected=selected" : "")>Termo</option>
            </select>

        </div>
        <div @(cr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="cdCliente">Cliente</label>
                <input type="text" name="cdCliente" id="cdCliente" autocomplete="off" value="@(cr.CdBolsa > 0 ? cr.CdBolsa.ToString() : "")" />
            </div>
        </div>
        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Position/CustodyPositionToFile/?isPdf=false">Excel</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>

</form>

<span class="quebrar"></span>

<div>
    <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Ativo</th>
                <th>Nome Carteira</th>
                <th>Nº Carteira</th>                
                <th>Qtde. Disponível</th>                
                <th>Op. a Liquidar</th>
                <th>Qtde. Total</th>
                <th>Qtde. Bloqueada</th>
                <th>Compras Executadas</th>
                <th>Compras Abertas</th>

                <th>Vendas Executadas</th>
                <th>Vendas Abertas</th>

                <th>Valor Atual R$</th>
            </tr>
        </thead>
        @{if (cr.CustodyPosition != null && cr.CustodyPosition.Count() > 0) {
            
            <tbody>
                @foreach (CustodyPosition cp in cr.CustodyPosition) {

                    string QtdTotal = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdTotal);
                    string QtdDisponivel = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdDisponivel);
                    string QtdOpLiquidar = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdOpLiquidar);
                    string QtdBloqueada = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdBloqueada);
                    string QtdComprasExec = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdComprasExec);
                    string QtdComprasAbertas = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdComprasAbertas);
                    string QtdVendasExec = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdVendasExec);
                    string QtdVendasAbertas = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.QtdVendasAbertas);
                    string ValorAtual = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.ValorAtual);
                    
                    <tr>
                        <td>@cp.Ativo</td>
                        <td>@cp.NomeCarteira</td>
                        <td>@cp.NumeroCarteira</td>                        
                        <td class="align-right @QtdDisponivel">@cp.QtdDisponivel.ToString("N0")</td>                        
                        <td class="align-right @QtdOpLiquidar">@cp.QtdOpLiquidar.ToString("N0")</td>
                        <td class="align-right @QtdTotal">@cp.QtdTotal.ToString("N0")</td>
                        <td class="align-right @QtdBloqueada">@cp.QtdBloqueada.ToString("N0")</td>
                        <td class="align-right @QtdComprasExec">@cp.QtdComprasExec.ToString("N0")</td>
                        <td class="align-right @QtdComprasAbertas">@cp.QtdComprasAbertas.ToString("N0")</td>
                        <td class="align-right @QtdVendasExec">@cp.QtdVendasExec.ToString("N0")</td>
                        <td class="align-right @QtdVendasAbertas">@cp.QtdVendasAbertas.ToString("N0")</td>
                        <td class="align-right @ValorAtual">@cp.ValorAtual.ToString("N2")</td>
                    </tr>
                }

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="9"></td>
                    <td colspan="2" class="align-right">Valor total atual</td>
                    <td class="align-right">@ViewBag.ValorTotal.ToString("N2")</td>
                </tr>

            </tfoot>
            
          }
          else {
            <tr>
                <td colspan="12">Realize uma nova consulta!</td>
            </tr>
          }
          
        }

    </table>
    <h5 style="width:50%; text-align:justify; font-weight:normal;">
        * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
    </h5>
</div>
