﻿@{
    ViewBag.Title = "Extrato de Movimentação";

}
@{ ExtratoRendaDatails cr = Model; }
<form action="/Position/CustodyPosition" method="post" id="formCP">
    <div class="wrap-form table-custody">
          <div class="linha-frm">
            <label for="TpCodEmpresa">Cód. Empresa</label>
            <input type="text" name="TpCodEmpresa" id="TpCodEmpresa" autocomplete="off" value="" />
          </div>

        <div class="linha-frm">
            <label for="CpfCnpj">Cpf / Cnpj</label>
            <input type="text" name="CpfCnpj" id="CpfCnpj" autocomplete="off" value="" />
        </div>

        <div class="linha-frm">
            <label for="DtRefDe">De:</label>
            <input type="text" name="DtRefDe" id="DtRefDe" autocomplete="off" value="" />
        </div>

        <div class="linha-frm">
            <label for="DtRefAte">Até:</label>
            <input type="text" name="DtRefAte" id="DtRefAte" autocomplete="off" value="" />
        </div>

        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Position/CustodyPositionToFile/?isPdf=false">Excel</a>
        </div>
    </div>

</form>

<span class="quebrar"></span>

<div>
    <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Dt Operação</th>
                <th>Tipo Operação</th>
                <th>Papel</th>                
                <th>Vencimento</th>                
                <th>Tipo</th>
                <th>Indexador</th>
                <th>Taxa</th>
                <th>Valor Aplicado</th>
                <th>Valor Bruto</th>
                <th>IOF</th>
                <th>IR</th>
                <th>Valor Líquido</th>
            </tr>
        </thead>
        @{if (cr.ExtratoRenda != null && cr.ExtratoRenda.Count() > 0) {
            
            <tbody>
                @foreach (ExtratoRenda cp in cr.ExtratoRenda) {

                    string tx_operacao = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.tx_operacao);
                    string tx_percentual = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.tx_percentual);
                    string vl_operacao = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.vl_operacao);
                    string vl_bruto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.vl_bruto);
                    string tx_iof = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.tx_iof);
                    string tx_ir = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.tx_ir);
                    string vl_liquido = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(cp.vl_liquido);
                    
                    <tr>
                        <td>@cp.dt_operacao</td>
                        <td>@cp.dc_evento</td>
                        <td>@cp.dc_grupo_papel</td>    
                        <td>@cp.dt_vencimento</td>
                        <td>@cp.dc_indexador</td>
                        <td class="align-right @tx_operacao">@cp.tx_operacao.ToString("N0")</td>
                        <td class="align-right @tx_percentual">@cp.tx_percentual.ToString("N0")</td>
                        <td class="align-right @vl_operacao">@cp.vl_operacao.ToString("N0")</td>
                        <td class="align-right @vl_bruto">@cp.vl_bruto.ToString("N0")</td>
                        <td class="align-right @tx_iof">@cp.tx_iof.ToString("N0")</td>
                        <td class="align-right @tx_ir">@cp.tx_ir.ToString("N0")</td>
                        <td class="align-right @vl_liquido">@cp.vl_liquido.ToString("N0")</td>
                    </tr>
                }

            </tbody>

            @*<tfoot>
                <tr>
                    <td colspan="9"></td>
                    <td colspan="2" class="align-right">Valor total atual</td>
                    <td class="align-right">@ViewBag.ValorTotal.ToString("N2")</td>
                </tr>

            </tfoot>*@
            
          }
          else {
            <tr>
                <td colspan="12">Realize uma nova consulta!</td>
            </tr>
          }
          
        }

    </table>
    <h5 style="width:50%; text-align:justify; font-weight:normal;">
        * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
    </h5>
</div>
