﻿@{
    ViewBag.Title = "Posição Financeira";
}

@{ FinancialPositionResponse fpr = Model; }

<form action="/Position/FinancialPosition" method="post" id="formCP">
    <div class="wrap-form table-finacial" style="height:75px;">
        <div @(fpr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="cdCliente">Cliente</label>
                <input type="text" name="cdCliente" id="cdCliente" autocomplete="off" value="@(fpr.CdBolsa > 0 ? fpr.CdBolsa.ToString() : "")"  />
            </div>
            <div class="linha-frm-submit">
                <span class="btn-submit">
                    <input class="btn-input-submit" type="submit" value="Ok" />
                </span>
            </div>
        </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Position/FinancialPositionToFile/?isPdf=false">Excel</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>
</form>
<div class="wrap-all-table">
    @{FinancialPosition fp = fpr.FinancialPosition;

      string SaldoInicial = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Saldo != null ? fp.Saldo.Inicial : 0);
      string MovimentoDia = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Saldo != null ? fp.Saldo.MovimentoDia : 0);
      string SaldoFinal = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Saldo != null ? fp.Saldo.Final : 0);
      }
    <div class="wrap-table">
        <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">Saldo (R$)
                    </th>
                </tr>
            </thead>
            <tr class="inicial">
                <td>Inicial</td>
                <td class="align-right @SaldoInicial">@(fp != null && fp.Saldo != null ? fp.Saldo.Inicial.ToString("N2") : "0,00")</td>
            </tr>

            <tr>
                <td>Movimentação do dia</td>
                <td class="align-right @MovimentoDia">@(fp != null && fp.Saldo != null ? fp.Saldo.MovimentoDia.ToString("N2") : "0,00")</td>
            </tr>
            <tr class="featured-row">
                <td>Final</td>
                <td class="align-right @SaldoFinal">@(fp != null && fp.Saldo != null ? fp.Saldo.Final.ToString("N2") : "0,00")</td>
            </tr>
        </table>
    </div>
    <div class="wrap-table">
        <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">Valor Portfólio* (R$)
                    </th>
                </tr>
            </thead>
            @{if (fp != null && fp.Disponivel != null && fp.Disponivel.Count() > 0) {
                  foreach (Available a in fp.Disponivel) {

                      string ValorDisponivel = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(a.ValorDisponivel);
                      
                <tr>
                    <td>@a.DescMercado</td>
                    <td class="align-right @ValorDisponivel">@a.ValorDisponivel.ToString("N2")</td>
                </tr>
                  }
              }
              else {
                <tr>
                    <td colspan="2">Cliente não possui posição!</td>
                </tr>                   
              }              
            }
        </table>
    </div>
</div>
<div class="wrap-all-table">
    <div class="wrap-table">
        <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="3">Ordens
                    </th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td>Executadas</td>
                <td>Em Aberto</td>
            </tr>
            <tr>

                @{
                    
                    string ValorComprasExec = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? fp.Ordens.ValorComprasExec : 0);
                    string ValorComprasEmAberto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? fp.Ordens.ValorComprasEmAberto : 0);
                    string ValorVendasExec = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? fp.Ordens.ValorVendasExec : 0);
                    string ValorVendasEmAberto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? fp.Ordens.ValorVendasEmAberto : 0);
                    string Valor1 = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? ((fp.Ordens.ValorComprasExec + fp.Ordens.ValorVendasExec)) : 0);
                    string Valor2 = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Ordens != null ? ((fp.Ordens.ValorComprasEmAberto + fp.Ordens.ValorVendasEmAberto)) : 0);
                    
                }

                <td>Compra</td>
                <td class="align-right @ValorComprasExec">@(fp != null && fp.Ordens != null ? fp.Ordens.ValorComprasExec.ToString("N2") : "0,00")</td>
                <td class="align-right @ValorComprasEmAberto">@(fp != null && fp.Ordens != null ? fp.Ordens.ValorComprasEmAberto.ToString("N2") : "0,00")</td>
            </tr>
            <tr>
                <td>Venda</td>
                <td class="align-right @ValorVendasExec">@(fp != null && fp.Ordens != null ? fp.Ordens.ValorVendasExec.ToString("N2") : "0,00")</td>
                <td class="align-right @ValorVendasEmAberto">@(fp != null && fp.Ordens != null ? fp.Ordens.ValorVendasEmAberto.ToString("N2") : "0,00")</td>
            </tr>
            <tr class="featured-row">
                <td><b>Total</b></td>
                <td class="align-right @Valor1"><b>@(fp != null && fp.Ordens != null ? ((fp.Ordens.ValorComprasExec + fp.Ordens.ValorVendasExec).ToString("N2")) : "0,00")</b></td>
                <td class="align-right @Valor2"><b>@(fp != null && fp.Ordens != null ? ((fp.Ordens.ValorComprasEmAberto + fp.Ordens.ValorVendasEmAberto).ToString("N2")) : "0,00")</b> </td>
            </tr>
        </table>
    </div>
    <div class="wrap-table">
        <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">Projetado (R$)
                    </th>
                </tr>
            </thead>
            <tr>

                 @{
                    
                     string ProjetadoD1 = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD1 : 0);
                     string ProjetadoD2 = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD2 : 0);
                     string ProjetadoD3 = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD3 : 0);
                     string ProjetadoTotal = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoTotal : 0);                    
                }

                <td>D+1</td>
                <td class="align-right @ProjetadoD1">@(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD1.ToString("N2") : "0,00")</td>
            </tr>
            <tr>
                <td>D+2</td>
                <td class="align-right @ProjetadoD2">@(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD2.ToString("N2") : "0,00")</td>
            </tr>
            <tr>
                <td>D+3</td>
                <td class="align-right @ProjetadoD3">@(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoD3.ToString("N2") : "0,00")</td>
            </tr>
            <tr class="featured-row">
                <td><b>Total Projetado</b></td>
                <td class="align-right @ProjetadoTotal"><b>@(fp != null && fp.Projetado != null ? fp.Projetado.ProjetadoTotal.ToString("N2") : "0,00")</b></td>
            </tr>
        </table>
    </div>
    
</div>
<h5 style="width:680px; text-align:justify; font-weight:normal;clear:both; ">
        * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
</h5>