﻿<form action="/RH/Payslip/UploadFile" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="payslipImport">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar Anexos' : 'Cadastrar Anexos' }}</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:10px">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="btnPrimary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    $("#file").on('change', function () {
        $('button[type=submit]').attr('disabled', $("#file").val().length === 0)
    }).trigger('change');

</script>