﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Variáveis</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Tipo</label>
                    <select name="Type" ng-model="$ctrl.data.EmployeeVariablesTypeId" class="form-control"
                            ng-options="type.Id as type.Name for type in $ctrl.variablesTypes"></select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Descrição</label>
                    <input name="Description" ng-model="$ctrl.data.Description" type="text" class="form-control" aria-label="descrição" maxlength="100">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Valor</label>
                    <input name="Value" ng-model="$ctrl.data.Value" type="text" class="form-control" placeholder="00,00" ui-money-mask aria-label="valor" required maxlength="16">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Data</label>
                    <input name="Date" ng-model="$ctrl.data.Date" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask aria-label="data" required
                           mindate="1900-01-01">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>