﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>{{ $ctrl.message }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()" autofocus>Ok</button>
</div>
