﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>{{ $ctrl.question }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Não</button>
    <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()" autofocus>Sim</button>
</div>
