﻿@model IEnumerable<Tegra.HumanResources.Domain.Representations.PayslipByExcel>
@{

    Layout = null;
}

@{

    <style>

        @Html.Raw(File.ReadAllText(Server.MapPath("~/HumanResources/Scripts/vendor/bootstrap.min.css")))
        @Html.Raw(File.ReadAllText(Server.MapPath("~/HumanResources/Scripts/styles.css")))
        @Html.Raw(File.ReadAllText(Server.MapPath("~/HumanResources/Scripts/css/payslip/styles.css")))

        .no-break {
            page-break-inside: avoid;
            margin-top: 12pt;
        }

        body {
            padding: 10px 10px;
            padding-bottom: 10px;
            padding-top: 20px;
            padding-left: 20px;
        }
    </style>
    <div class="row" style="max-height: 12pt">
        <div class="col-xs-4">
            <img class="img-grafico" src="/../img/logo-brpartners.png" />
        </div>
        <div class="col-xs-8 text">
            @{
                var tembVm = Model.FirstOrDefault();
            }
            <b>@tembVm.CompanyCode.ToString("000") - @tembVm.CompanyName</b>
        </div>
    </div>
    <br />
    <br />
                if (!@ViewBag.IsPrint == true)
                {
                    <div class="col-xs-6 noPrint">
                        <a class="hidden-print" href="/RH/Payslip/Download?year=@Model.FirstOrDefault().Date.Year&month=@Model.FirstOrDefault().Date.Month&companyCode=@Model.FirstOrDefault().CompanyCode">
                            <span class="glyphicon glyphicon-cloud-download">
                                Download
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-6 noPrint">
                        <a class="hidden-print" href="/RH/Payslip/Print?year=@Model.FirstOrDefault().Date.Year&month=@Model.FirstOrDefault().Date.Month&companyCode=@Model.FirstOrDefault().CompanyCode">
                            <span class="glyphicon glyphicon-print">
                                Imprimir
                            </span>
                        </a>
                    </div>
                }

                <p><b class="tamanho">REFERÊNCIA: @Model.FirstOrDefault().Date.ToString("MM/yyyy")</b></p>
                foreach (var payslip in Model)
                {
                    <div id="payment" class="no-break">
                        <div class="border">
                            <div class="row">
                                <div id="divref" class="tamanho">
                                    <div class="col-xs-3 text">FOLHA DE PAGAMENTO - @payslip.Name - @payslip.RoleDescription</div>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3 text"><b class="fontBigSize">VENCIMENTOS</b></div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="col-xs-3 text"><b class="fontBigSize">DESCONTOS</b></div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="col-xs-3 text"><b class="fontBigSize">TOTAIS</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <hr style="border: double 1px" />
                                    </div>
                                    <div class="col-xs-4">
                                        <hr style="border: double 1px" />
                                    </div>
                                    <div class="col-xs-4">
                                        <hr style="border: double 1px" />
                                    </div>
                                </div>
                                @{
                                    var lastPayslip = Model.Last();
                                }
                                <div class="row fontSize">
                                    <div class="col-xs-4">
                                        @foreach (var payslipItem in payslip.Items.Where(c => c.RubricType.Equals("V")))
                                        {
                                            <div class="row">
                                                <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                                                <div class="col-xs-6">@payslipItem.RubricDescription</div>
                                                @{
                                                    if (payslipItem.Reference > 0)
                                                    {
                                                        <div class="col-xs-2 text-right">
                                                            @string.Format("{0:N}", @payslipItem.Reference)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-xs-2"></div>
                                                    }
                                                }
                                                <div class="col-xs-3 text-right">@string.Format("{0:N}", @payslipItem.Value)</div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-xs-4">
                                        @foreach (var payslipItem in payslip.Items.Where(c => c.RubricType.Equals("D")))
                                        {
                                            <div class="row">
                                                <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                                                <div class="col-xs-6">@payslipItem.RubricDescription</div>

                                                @{
                                                    if (payslipItem.Reference > 0)
                                                    {
                                                        <div class="col-xs-2 text-right">
                                                            @string.Format("{0:N}", @payslipItem.Reference)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-xs-2"></div>
                                                    }
                                                }
                                                <div class="col-xs-3 text-right">@string.Format("{0:N}", @payslipItem.Value)</div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-xs-4">
                                        @foreach (var payslipItem in payslip.Items.Where(c => c.RubricType.Equals("T")))
                                        {
                                            <div class="row">
                                                <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                                                <div class="col-xs-6">@payslipItem.RubricDescription</div>

                                                @{
                                                    if (payslipItem.Reference > 0)
                                                    {
                                                        <div class="col-xs-2 text-right">
                                                            @string.Format("{0:N}", @payslipItem.Reference)
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-xs-2"></div>
                                                    }
                                                }

                                                <div class="col-xs-3 text-right">@string.Format("{0:N}", @payslipItem.Value)</div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <p></p>
                                <p></p>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-4 paddingTotalVencimento">
                                            <div class="col-xs-8" style="font-size:12px">
                                                TOTAL VENCIMENTOS:
                                            </div>
                                            <div class="col-xs-4" style="text-align:right">
                                                <b>
                                                    @string.Format("{0:N}", @payslip.Items.Where(c => c.RubricType.Equals("V")).Sum(c => c.Value))
                                                </b>
                                            </div>
                                            <hr style="border: 1px solid dashed" />
                                        </div>
                                        <div class="col-xs-4 paddingTotalDesconto">
                                            <div class="col-xs-9" style="font-size:12px; padding-left: 20px">
                                                TOTAL DESCONTOS:
                                            </div>
                                            <div class="col-xs-3 totalDescontoValue">
                                                <b>
                                                    @string.Format("{0:N}", @payslip.Items.Where(c => c.RubricType.Equals("D")).Sum(c => c.Value))
                                                </b>
                                            </div>
                                            <hr style="border: 1px solid dashed" />
                                        </div>
                                        <div class="col-xs-4 paddingTotal">
                                            <div class="col-xs-8" style="font-size:12px; padding-left: 19px">
                                                TOTAL LÍQUIDO:
                                            </div>
                                            <div class="col-xs-4 totalLiquidoValue">
                                                @{
                                                    var totalDescontos = payslip.Items.Where(d => d.RubricType.Equals("D")).Sum(d => d.Value);
                                                    var totalVencimentos = payslip.Items.Where(c => c.RubricType.Equals("V")).Sum(c => c.Value);
                                                }
                                                <b>
                                                    @string.Format("{0:N}", (totalVencimentos - totalDescontos))
                                                </b>
                                            </div>
                                            <hr style="border: 1px solid dashed" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @{
                            if (lastPayslip.Equals(payslip))
                            {
                                @Html.Partial("TotalByCompany", Model)
                            }
                        }
                    </div>
                }
}