﻿@model IEnumerable<Tegra.HumanResources.Domain.Representations.PayslipByExcel>

<div class="border">
    <div class="row">
        <div id="divref" class="tamanho">
            <div class="col-xs-3 text">FOLHA DE PAGAMENTO POR EMPRESA - @Model.FirstOrDefault().CompanyName</div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <span style="padding-left: 11px;"> TOTAL - <b>@Model.Count() Funcionários</b></span>
        <div class="col-xs-4">
            <div class="col-xs-3 text"><b class="fontBigSize">VENCIMENTOS</b></div>
        </div>
        <div class="col-xs-4">
            <div class="col-xs-3 text"><b class="fontBigSize">DESCONTOS</b></div>
        </div>
        <div class="col-xs-4">
            <div class="col-xs-3 text"><b class="fontBigSize">TOTAIS</b></div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <hr style="border: 1px dotted;" />
            </div>
            <div class="col-xs-4">
                <hr style="border: 1px dotted;" />
            </div>
            <div class="col-xs-4">
                <hr style="border: 1px dotted;" />
            </div>
        </div>

        <div class="row fontSize">
            <div class="col-xs-4">
                @foreach (var payslipItem in Model.SelectMany(c => c.Items).Where(c => c.RubricType == ("V")).GroupBy(c => new { c.Rubric,c.RubricDescription }).Select(c => new {c.Key.Rubric,c.Key.RubricDescription, Reference = c.Sum(r => r.Reference), Value = c.Sum(v => v.Value) }))
                {
                    <div class="row">

                        <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                        <div class="col-xs-6">@payslipItem.RubricDescription</div>

                        @{
                            if (payslipItem.Reference > 0)
                            {
                                <div class="col-xs-2 text-right">
                                    @string.Format("{0:N}", @payslipItem.Reference)
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-2"></div>
                            }
                        }

                        <div class="col-xs-3 text-right">@string.Format("{0:N}", @payslipItem.Value)</div>
                    </div>

                            }
            </div>
            <div class="col-xs-4">
                @foreach (var payslipItem in Model.SelectMany(c => c.Items).Where(c => c.RubricType == ("D")).GroupBy(c => new { c.Rubric, c.RubricDescription }).Select(c => new { c.Key.Rubric, c.Key.RubricDescription, Reference = c.Sum(r => r.Reference), Value = c.Sum(v => v.Value) }))
                {
                    <div class="row">
                        <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                        <div class="col-xs-6">@payslipItem.RubricDescription</div>

                        @{
                            if (payslipItem.Reference > 0)
                            {
                                <div class="col-xs-2 text-right">
                                    @string.Format("{0:N}", @payslipItem.Reference)
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-2"></div>
                            }
                        }

                        <div class="col-xs-3 text-right">@string.Format("{0:N}",@payslipItem.Value)</div>
                    </div>
                            }
            </div>
            <div class="col-xs-4">
                @foreach (var payslipItem in Model.SelectMany(c => c.Items).Where(c => c.RubricType == ("T")).GroupBy(c => new { c.Rubric, c.RubricDescription }).Select(c => new { c.Key.Rubric, c.Key.RubricDescription, Reference = c.Sum(r => r.Reference), Value = c.Sum(v => v.Value) }))
                {
                    <div class="row">
                        <div class="col-xs-1 firstDiv">@payslipItem.Rubric.ToString("0000")</div>
                        <div class="col-xs-6">@payslipItem.RubricDescription</div>

                        @{
                            if (payslipItem.Reference > 0)
                            {
                                <div class="col-xs-2 text-right">
                                    @string.Format("{0:N}", @payslipItem.Reference)
                                    
                                    
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-2"></div>
                            }
                        }
                        
                        <div class="col-xs-3 text-right">@string.Format("{0:N}", @payslipItem.Value)</div>
                    </div>
                            }
            </div>
        </div>

        <p></p>
        <p></p>
        <div class="row">
            <div class="col-xs-12">

                <div class="col-xs-4 paddingTotalVencimento">
                    <div class="col-xs-9">
                        TOTAL VENCIMENTOS:
                    </div>
                    <div class="col-xs-3 totalVencimentoValue">
                        <b>
                            @string.Format("{0:N}", Model.SelectMany(c => c.Items).Where(c => c.RubricType ==("V")).Sum(c => c.Value))
                        </b>
                    </div>
                    <hr style="border: 1px solid dashed" />
                </div>

                <div class="col-xs-4 paddingTotalDesconto">
                    <div class="col-xs-9">
                        TOTAL DESCONTOS:
                    </div>
                    <div class="col-xs-3 totalDescontoValue">
                        <b>
                            @string.Format("{0:N}", Model.SelectMany(c => c.Items).Where(c => c.RubricType == ("D")).Sum(c => c.Value))
                        </b>
                    </div>
                    <hr style="border: 1px solid dashed" />
                </div>

                <div class="col-xs-4 paddingTotal">
                    <div class="col-xs-8" style="padding-left: 4.6%">
                        TOTAL LÍQUIDO:
                    </div>
                    <div class="col-xs-4 totalLiquidoValue">
                        @{
                            var totalDescontos = Model.SelectMany(c => c.Items).Where(d => d.RubricType.Equals("D")).Sum(d => d.Value);
                            var totalVencimentos = Model.SelectMany(c => c.Items).Where(c => c.RubricType.Equals("V")).Sum(c => c.Value);
                        }
                        <b>
                            @string.Format("{0:N}", (totalVencimentos - totalDescontos))
                        </b>
                    </div>
                    <hr style="border: 1px solid dashed" />
                </div>
            </div>
        </div>

    </div>
</div>