﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar Relatório' : 'Cadastrar Relatório' }}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.Name.$touched) && !form.Name.$valid}">
            <label>Nome</label>
            <input name="Name" ng-model="$ctrl.data.Name" maxlength="80" type="text" class="form-control" placeholder="{{$ctrl.data.Name}}" , required>
            <md-messages>
                <md-message required>Campo Obrigatório</md-message>
            </md-messages>
        </div>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.Description.$touched) && !form.Description.$valid}">
            <label>Descrição</label>
            <input name="Description" ng-model="$ctrl.data.Description" maxlength="255" type="text" class="form-control" placeholder="{{$ctrl.data.Description}}">
        </div>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.Active.$touched) && !form.Description.$valid}">
            <label>Ativo</label>
            <input name="Active" ng-model="$ctrl.data.Active" type="checkbox" class="checkbox" placeholder="{{$ctrl.data.Active}}">
        </div>
            <dualmultiselect options="$ctrl.options"></dualmultiselect>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" ng-disabled="$ctrl.options.selectedItems.length == 0" type="submit">Salvar</button>
    </div>
</form>