﻿<div id="dialog-form-remove-doc" class="modal-representation modal" style="display: none;">
    <div class="modal-content modal-content-finish">
        <div id="form" class="form-style-6 form-style-center form-style-center-modal">
            <h3>Confirma a exclusão do documento?</h3>
        </div>
    </div>
    <div class="modal-footer-finish">
        <div class="modal-footer-buttons-finish">
            <input type="button" class="button-secondary" value="Confirmar" style="cursor:pointer; width: 120px;" onclick="submitInformation()" />
            <input type="button" class="btn-cancel" value="Cancelar" style="cursor:pointer; width: 120px;" onclick="closeModalConfirmation()" />
        </div>
    </div>
</div>