﻿@{
	ViewBag.Title = "Index";
}
@using QX3.Portal.WebSite.Helper;
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/MarketHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/ClientRegistration/Registration.js")" type="text/javascript"></script>

@*<div class="ferramentas acoes assessores">
	<div>
		<span id="dvExportar">Exportar:</span> <a id="lnkExcel" class="ico-xls" href="javascript:;">
			Excel</a> <a id="lnkPdf" class="ico-pdf" href="javascript:;">PDF</a>
	</div>
</div>*@
@Html.Partial("RegistrationFilter")
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
@{var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
	<span>@(TempData["SuccessMessage"] ?? "")</span><a href="javascript:;" class="lnk-fechar" onclick="$('#feedback').slideToggle();" id="closeFeedback">fechar</a>
</div>
<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>
<div id="loadingArea" style="display: none; text-align: center;">
	<img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>
<div id="table-area" class="client-registration">
    @{ var acHelper = new AccessControlHelper(); }
	<p class="texto-destaque">Faça uma pesquisa ou selecione o tipo de ficha cadastral que deseja preencher:</p>
    <div class="pessoa-fisica">
        <h3>Pessoa Física</h3>
        @if (acHelper.HasFuncionalityPermission("ClientRegistration.Index", "ClientRegistration.Registration"))
        { 
        <a href='@Url.Action("Registration", "ClientRegistration")' rel='PF' class='lnkRegistration btn-primario linha-dupla'><span>Ficha Cadastral<br />PF1/PF2 - Pessoa Física</span></a> }
        @if (acHelper.HasFuncionalityPermission("ClientRegistration.Index", "ClientRegistration.RegistrationPFCTVM"))
        {
        <a href='@Url.Action("RegistrationPFCTVM", "ClientRegistration")' rel='PFCTVM' class='lnkRegistration btn-primario linha-dupla'><span>Ficha Cadastral<br />CTVM - Pessoa Física</span></a> }
    </div>

    <div class="pessoa-juridica">
        <h3>Pessoa Jurídica</h3>
        @if (acHelper.HasFuncionalityPermission("ClientRegistration.Index", "ClientRegistration.RegistrationPJ"))
        {
        <a href='@Url.Action("RegistrationPJ", "ClientRegistration")' rel='PJ' class='lnkRegistration btn-primario linha-dupla'><span>Ficha Cadastral<br />PJ1/PJ2 - Pessoa Jurídica</span></a> }
        @if (acHelper.HasFuncionalityPermission("ClientRegistration.Index", "ClientRegistration.RegistrationPJCTVM"))
        {                                                                                                                                                                                                
        <a href='@Url.Action("RegistrationPJCTVM", "ClientRegistration")' rel='PJCTVM' class='lnkRegistration btn-primario linha-dupla'><span>Ficha Cadastral<br />CTVM - Pessoa Jurídica</span></a> }
    </div>
</div>
