﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<PersonAddress>

    
    @{
        var newAddress = ViewBag.NewAddress != null; 
    }

    @if (!newAddress)
    {
        if (Model != null && Model.Count > 0)
        {
            <div class="enderecos">
            <h3>Endereços</h3>
            @{bool first = true;
              Random r = new Random();
              }

            @foreach (var address in Model)
            {

                int next = r.Next(100000);
                
                <div id='address-@next' class="caixa-endereco destaque-cadastro">
                
                <div class="caixa">        

                    <div class="deletar-grupo"><a class="ico-excluir lnk-txt lnk-delete-address" href="javascript:;" rel='@next'>Deletar</a></div>
                    
                    <div class="linha-frm">
                        <label>Tipo de endereço</label>
                        @Html.EnumDropDownListFor(model => address.Type, new { id = "ddlAddressType_" + next, name = "ddlAddressType_" + next })
                    </div>

                    <div class="linha-frm">
                        <label>Endereço</label>
                        @Html.TextBox("txtAddressLine_" + next, address.AddressLine1, new { maxlength = 100, @class = "caracteres-55" })
                    </div>
        
                    <div class="linha-frm">
                        <label>Bairro</label>
                        @Html.TextBox("txtQuarter_" + next, address.Quarter, new { maxlength = 100 })
                    </div>
        
                    <span class="quebrar"></span>
            
                    <div class="linha-frm">
                        <label>Cidade</label>
                        @Html.TextBox("txtCity_" + next, address.City, new { maxlength = 100 })
                    </div>
            
                    <div class="linha-frm">
                        <label>Estado</label>
                        @Html.EnumDropDownListFor(m => address.State, new { @id = "ddlAddressState_" + next, @name = "ddlAddressState_" + next })
                    </div>
        
                    <div class="linha-frm cep">
                        @{
                            var postalCode1 = (!String.IsNullOrEmpty(address.PostalCode)) ? address.PostalCode.Substring(0, 5) : "";
                            var postalCode2 = (!String.IsNullOrEmpty(address.PostalCode)) ? address.PostalCode.Substring(address.PostalCode.Length - 3, 3) : "";
                        }
                        <label>CEP</label>
                        <div class="campo-primario">@Html.TextBox("txtPostalCode1_" + next, postalCode1, new { maxlength = 5, @class="number5" })</div> <div class="separador">-</div> <div class="campo-secundario">@Html.TextBox("txtPostalCode2_" + next, postalCode2, new { maxlength = 3, @class = "number3" })</div>
                    </div>
            
                    <div class="linha-frm">
                        <label>País</label>
                        @Html.TextBox("txtStateCountry_" + next, address.StateCountry, new { maxlength = 100 })
                    </div>
        
                    <span class="quebrar"></span>
                    </div>
                    @*<a href="javascript:;" id="lnkAddAddress" class="ico-incluir lnk-txt">Adicionar outro endereço</a>*@
                </div>
            }
            <a href="javascript:;" id="lnkAddAddress" class="ico-incluir lnk-txt">Adicionar outro endereço</a>
            </div>
        }
        else
        {
            <div class="enderecos"><h3>Endereços</h3>
                <div id='address-0' class="caixa-endereco  destaque-cadastro">
                    <div class="caixa">
                        <div class="deletar-grupo"><a class="ico-excluir lnk-txt lnk-delete-address" href="javascript:;" rel='0'>Deletar</a></div>
                        <div class="linha-frm">
                            <label>Tipo de endereço</label>
                            @Html.EnumDropDownList("ddlAddressType_0", AddressType.Residential, null)
                        </div>

                        <div class="linha-frm">
                            <label>Endereço</label>
                            @Html.TextBox("txtAddressLine_0", null, new { maxlength = 100, @class = "caracteres-55" })
                        </div>
        
                        <div class="linha-frm">
                            <label>Bairro</label>
                            @Html.TextBox("txtQuarter_0", null, new { maxlength = 100 })
                        </div>
            
                        <div class="linha-frm">
                            <label>Cidade</label>
                            @Html.TextBox("txtCity_0", null, new { maxlength = 100 })
                        </div>
            
                        <div class="linha-frm">
                            <label>Estado</label>
                            @Html.EnumDropDownList("ddlAddressState_0", State.AC, null)
                        </div>
        
                        <div class="linha-frm cep">
                            <label>CEP</label>
                            <div class="campo-primario">@Html.TextBox("txtPostalCode1_0", null, new { maxlength = 5, size = 5, @class="number5" })</div> <div class="separador">-</div> <div class="campo-secundario">@Html.TextBox("txtPostalCode2_0", null, new { maxlength = 3, size = 3, @class = "number3" })</div>
                        </div>
            
                        <div class="linha-frm">
                            <label>País</label>
                            @Html.TextBox("txtStateCountry_0", null, new { maxlength = 100 })
                        </div>
        
                        <span class="quebrar"></span>        
                    </div>
                </div>
                <a href="javascript:;" id="lnkAddAddress" class="ico-incluir lnk-txt"><span>Adicionar outro endereço</span></a>
            </div>
        }


    }
    else
    {
        Random r = new Random();
        int next = r.Next(100000);
        <div id='address-@next' class="caixa-endereco destaque-cadastro">
        <div class="caixa">
        <div class="deletar-grupo"><a class="ico-excluir lnk-txt lnk-delete-address" href="javascript:;" rel='@next'>Deletar</a></div>
        
            <div class="linha-frm">
                <label>Tipo de endereço</label>
                @Html.EnumDropDownList("ddlAddressType_" + next, AddressType.Residential, null)
            </div>

            <div class="linha-frm">
                <label>Endereço</label>
                @Html.TextBox("txtAddressLine_" + next, null, new { maxlength = 100, @class = "caracteres-55" })
            </div>
        
            <div class="linha-frm">
                <label>Bairro</label>
                @Html.TextBox("txtQuarter_" + next, null, new { maxlength = 100 })
            </div>
        
            <span class="quebrar"></span>
            
            <div class="linha-frm">
                <label>Cidade</label>
                @Html.TextBox("txtCity_" + next, null, new { maxlength = 100 })
            </div>
        
            
            <div class="linha-frm">
                <label>Estado</label>
                @Html.EnumDropDownList("ddlAddressState_" + next, State.AC, null)
            </div>
        
        
            <div class="linha-frm cep">
                <label>CEP</label>
                <div class="campo-primario">@Html.TextBox("txtPostalCode1_" + next, null, new { maxlength = 5, @class = "number5" })</div> <div class="separador">-</div> <div class="campo-secundario">@Html.TextBox("txtPostalCode2_" + next, null, new { maxlength = 3, @class = "number3" })</div>
            </div>
        
            
            <div class="linha-frm">
                <label>País</label>
                @Html.TextBox("txtStateCountry_" + next, null, new { maxlength = 100 })
            </div>
        
            <span class="quebrar"></span>

            </div>
        </div>
    }

