﻿@using QX3.Portal.Contracts.DataContracts
@model IndividualPerson
@{
    using (Html.BeginForm("Process_PF_Phase1", "ClientRegistration", FormMethod.Post, new { id="frmPF_Phase1", name="frmPF_Phase1" }))
    {
        <h2><span class="passo-cadastro">passo 1 de 3</span></h2>
        Html.RenderPartial("Reg_Info", Model);
        Html.RenderPartial("Reg_Documents", (Model != null) ? Model.Document != null ? Model.Document : new DocumentInfo() : null);
        Html.RenderPartial("Reg_CivilState", (Model != null) ? Model.CivilState != null ? Model.CivilState : new CivilState() : null);
        Html.RenderPartial("Reg_PPE", Model);
        Html.RenderPartial("Reg_Investor", Model);
        
        <div class="submit-area">
			<a href="javascript:;" id="lnkPFPhase1" class='btn-primario'>
				<span>Continuar</span>
			</a>
			@*<a class="lnk-voltar esquerda" href="javascript">Voltar</a>*@
			<span class="passo-cadastro">passo 1 de 3</span>
		</div>
	}    
}