﻿@using QX3.Portal.Contracts.DataContracts
@model IndividualPerson
<div class="linha-frm chamada-tolltip">
    <div class="tooltip">
        <div>
            <span></span>
            <h2>Pessoa Politicamente Exposta</h2>
            <p>Uma pessoa politicamente exposta é quem exerce(u) cargos, empregos ou funções públicas relevantes nos últimos 5 anos, no Brasil ou em países estrangeiros. Exemplo: chefes de Estado/Governo, políticos, militares, dirigentes de empresas públicas, magistrados, etc.</p>
        </div>
    </div>
    <label>
    É considerada Pessoa Politicamente Exposta, conforme Circular 3.461 do Bacen de 24.07.2009?
    </label>

    <div class="lista-opcoes-vertical">
        @{ var hasPPE = (Model != null && Model.PPE.HasValue); }
        @Html.RadioButton("rdbPPE", "S", hasPPE && Model.PPE.Value, new { id = "rdbPPES" })Sim
		<span class="quebrar"></span>
		@Html.RadioButton("rdbPPE", "N", hasPPE && !Model.PPE.Value, new { id = "rdbPPEN" }) Não
    </div>
</div>
<span class="quebrar"></span>