﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<MensalRendiment>

@{
    var newRendiment = ViewBag.NewRendiment != null; 
}

@if (!newRendiment)
{ 
<div>
    <h3>Rendimentos mensais</h3>
    <div class="linha-frm">
        <table id="tblMensalRendiments" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Espécie</th>
                    <th>Valor atual</th>
                </tr>
            </thead>
            <tbody>
                @{Random r = new Random();}
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var mensal in Model)
                    {
                        int next = r.Next(100000);
                        <tr>
                            <td class="especie">@Html.EnumDropDownList("txtMensalType_" + next, MensalRendimentType.Other, (int)mensal.Type, new { @class="ddlMensalType" }) 
                            <span class="quebrar"></span>
                            @Html.TextBox("txtMensalDescription_" + next, mensal.Description, new { @class="txt-descricao", @style= (mensal.Type == MensalRendimentType.Other) ? "" : "display:none" })
                            </td>
                            <td class="input-icon-excluir">@Html.TextBox("txtMensalValue_" + next, mensal.Value.HasValue ? mensal.Value.Value.ToString("N2") : null, new { @class = "txt-decimal" })
                            <a href='javascript:;' class='lnkRemoveMensalRendiment ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td class="especie">@Html.EnumDropDownList("txtMensalType_0", MensalRendimentType.Other, null, new { @class = "ddlMensalType" }) 
                        <span class="quebrar"></span> 
                        @Html.TextBox("txtMensalDescription_0", null, new { @class = "txt-descricao", @style = "display:none" })
                        </td>
                        <td class="input-icon-excluir">@Html.TextBox("txtMensalValue_0", null, new { @class = "txt-decimal" })
                        <a href='javascript:;' class='lnkRemoveMensalRendiment ico-excluir'><span></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddMensalRendiment" class="ico-incluir lnk-txt"><span>Incluir outro rendimento</span></a>
    </div>

    <span class="quebrar"></span>
</div>

}
else
{

    Random r2 = new Random();
    int next2 = r2.Next(100000);
    
    <tr>
        <td class="especie">@Html.EnumDropDownList("txtMensalType_" + next2, MensalRendimentType.Other, null, new { @class = "ddlMensalType" })  
        <span class="quebrar"></span>
        @Html.TextBox("txtMensalDescription_" + next2, null, new { @class = "txt-descricao", @style = "display:none" })
        </td>
        <td class="input-icon-excluir">@Html.TextBox("txtMensalValue_" + next2, null, new { @class = "txt-decimal" })
        <a href='javascript:;' class='lnkRemoveMensalRendiment ico-excluir'><span></span></a>
        </td>
    </tr>
}


