﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model LegalPerson
<div>
    <div class="linha-frm moeda">
        <label>Capital Social</label>
        <span>R$</span>
        @Html.TextBox("txtCapital", (Model != null) ? Model.Capital.HasValue ? Model.Capital.Value.ToString("N2") : null : null, new { @class="txt-decimal" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm moeda">
        <label>Capital integralizado</label>
        <span>R$</span>
        @Html.TextBox("txtIntegratedCapital", (Model != null) ? Model.IntegratedCapital.HasValue ? Model.IntegratedCapital.Value.ToString("N2") : null : null, new { @class="txt-decimal" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm moeda">
        <label>Patrimônio Líquido</label>
        <span>R$</span>
        @Html.TextBox("txtNetWorth", (Model != null) ? Model.NetWorth.HasValue ? Model.NetWorth.Value.ToString("N2") : null : null, new { @class="txt-decimal" })
    </div>

    <span class="quebrar"></span>

    @*<div>
        <label>Faturamento Bruto Anual (3 últimos exercícios)</label>
        <table>
            <thead>
                <tr>
                    <th>Ano</th>
                    <th>Valor (R$)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.GrossValues != null && Model.GrossValues.Count > 0) { 
                foreach (
            </tbody>
        </table>
    </div>*@

    <div class="linha-frm">
        <label>Contato para esclarecimento Contábil</label>
        @Html.TextBox("txtAccountingContactName", (Model != null) ? Model.AccountingContactName : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <div class="linha-frm">
        <label>Telefone</label>
        @Html.TextBox("txtAccountingContactPhone", (Model != null) ? Model.AccountingContactPhone : null, new { maxlength = 12, @class="txt-phone" })
    </div>

    <span class="quebrar"></span>
    
</div>