﻿@using QX3.Portal.Contracts.DataContracts
@model IndividualPerson
@{
    using (Html.BeginForm("Process_PF_Phase3", "ClientRegistration", FormMethod.Post, new { id="frmPF_Phase3", name="frmPF_Phase3" }))
    {
    <h2><span class="passo-cadastro">passo 3 de 3</span></h2>
        Html.RenderPartial("Reg_BankAccounts", Model != null ? Model.DepositAccounts != null ? Model.DepositAccounts : new List<AuthorizedAccount>() : new List<AuthorizedAccount>());

        Html.RenderPartial("Reg_ComercialRef", Model != null ? Model.References != null ? Model.References : new List<References>() : new List<References>());

        Html.RenderPartial("Reg_PatrimonialData", Model);
            
        <div class="submit-area">
        <a href="javascript:;" id="lnkPFPhase3" class='btn-primario'>
            <span>Gerar Ficha Cadastral</span>
        </a>
        <a class="lnk-voltar esquerda" id="passo-2-back" href="javascript:;">Voltar</a>
		<span class="passo-cadastro">passo 3 de 3</span>
        </div>
    }
}