﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model IndividualPerson
<div>
    <div class="linha-frm">
        <label>É vinculado a corretora?</label>
        <div class="lista-opcoes-vertical">
            @{ var authorize = (Model != null && Model.BrokerBound.HasValue); }
            @Html.RadioButton("rdbBrokerBound", "S", authorize && Model.BrokerBound.Value, new { id = "rdbBrokerBoundS" }) Sim
            <span class="quebrar"></span>
            @Html.RadioButton("rdbBrokerBound", "N", authorize && !Model.BrokerBound.Value, new { id = "rdbBrokerBoundN" }) Não
        </div>
    </div>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>A carteira própria da Corretora ou a carteira de pessoas a ela vinculadas podem atuar na contraparte das operações que ordeno</label>
        <div class="lista-opcoes-vertical">
            @Html.EnumRadioGroupFor(m=>Model.ApprovalTerm, new { @name="rdbApprovalTerm", @id="rdbApprovalTerm" })
        </div>
        <span class="quebrar"></span>
    </div>
</div>
<span class="quebrar"></span>