﻿@using QX3.Portal.Contracts.DataContracts
@model IndividualPerson
<div class="indentificacao">
	
    
    <div class="aviso-cliente-existente" style="display:none">
        <h2>Cliente já existe.</h2>
        <p>Deseja carregas os campos com as informações existentes?</p>
        <a href="javascript:;" id="lnkLoadClient" class="btn-primario linha-dupla"><span>Sim, carregar<br> informações</span></a>
        @Html.Hidden("hdfClientId")
        <a href="javascript:;" class="btn-secundario linha-dupla" onclick="javascript:$('.aviso-cliente-existente').hide(); if ($('#hdfCPF').val() != '') $('#txtCPF').val($('#hdfCPF').val())"><span>Não, preencher<br> manualmente</span></a>
        <span class="quebrar"></span>
    </div>
    
    <span class="quebrar"></span>

    <h3>Identificação</h3>
    
    <div class="linha-frm">
        <label>CPF</label>
        @Html.TextBox("txtCPF", (Model != null) ? Model.CPF : null, new { @class = "caracteres-12" })
        @Html.Hidden("hdfCPF")
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Nome completo (sem abreviações)</label>
        @Html.TextBox("txtName", (Model != null) ? Model.Name : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Data de nascimento</label>
        @Html.TextBox("txtBirthDate", (Model != null) ? (Model.BirthDate.HasValue) ? Model.BirthDate.Value.ToShortDateString() : null: null, new { @class = "caracteres-09" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Nacionalidade</label>
        @Html.TextBox("txtNationality", (Model != null) ? Model.Nationality : null)
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Naturalidade</label>
        @Html.TextBox("txtNaturality", (Model != null) ? Model.Naturality : null)
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Sexo</label>
        <div class="lista-opcoes-vertical">
            @{ var hasGender = (Model != null); }
            @Html.RadioButton("rdbGender", "M", hasGender && Model.Gender == Gender.Male, new { id = "rdbGenderMale" })Masculino
			<span class="quebrar"></span>
			@Html.RadioButton("rdbGender", "F", hasGender && Model.Gender == Gender.Female, new { id = "rdbGenderFemale" }) Feminino
        </div>
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Nome do pai</label>
        @Html.TextBox("txtFatherName", (Model != null) ? Model.FatherName : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Nome da mãe</label>
        @Html.TextBox("txtMotherName", (Model != null) ? Model.MotherName : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <span class="quebrar"></span>
</div>
