﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model LegalPerson

@{
    var NewAffiliated = ViewBag.NewAffiliated != null; 
}

@if (!NewAffiliated)
{ 

<h3>Pessoas jurídicas coligadas</h3>
    <div class="linha-frm">
        <table id="tblAffiliated" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Nome/Razão Social</th>
                    <th>CNPJ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.AffiliatedLegalPerson != null && Model.AffiliatedLegalPerson.Count() > 0)
                {
                    Random r = new Random();
                    foreach (var stc in Model.AffiliatedLegalPerson)
                    {
                        int next = r.Next(100000);
                        <tr>
                            <td>@Html.TextBox("txtAFCorporateName_" + next, stc.CorporateName, new { maxlength = 100 })</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtAFCPFCNPJ_" + next, stc.CPFCNPJ, new { maxlength = 18, @class = "txt-cnpj" })
                            <a href='javascript:;' class='lnkAF ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td>@Html.TextBox("txtAFCorporateName_0", null, new { maxlength = 100 })</td>
                        <td class="input-icon-excluir">@Html.TextBox("txtAFCPFCNPJ_0", null, new { maxlength = 18, @class = "txt-cnpj" })
                        <a href='javascript:;' class='lnkAF ico-excluir'><span></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddAffiliated" class="ico-incluir lnk-txt"><span>Incluir outro nome/razão social</span></a>
    </div>
    <span class="quebrar"></span>
}
else {
    Random r2 = new Random();
    int next2 = r2.Next(100000);
    <tr>
        <td>@Html.TextBox("txtAFCorporateName_" + next2, null, new { maxlength = 100 })</td>
        <td class="input-icon-excluir">@Html.TextBox("txtAFCPFCNPJ_" + next2, null, new { maxlength = 18, @class = "txt-cnpj" })
        <a href='javascript:;' class='lnkAF ico-excluir'><span></span></a>
        </td>
    </tr>
}

