﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model IndividualPerson
@{
    using (Html.BeginForm("Process_PFCTVM_Phase2", "ClientRegistration", FormMethod.Post, new { id = "frmPFCTVM_Phase2", name = "frmPFCTVM_Phase2" }))
    {
        var viewData = new ViewDataDictionary();
        viewData.Add(new KeyValuePair<string,object>("CTVM", true));

        Html.RenderPartial("Reg_BankAccounts", Model != null ? Model.DepositAccounts != null ? Model.DepositAccounts : new List<AuthorizedAccount>() : new List<AuthorizedAccount>(), viewData);

        Html.RenderPartial("Reg_ImobileGoods", Model != null ? Model.ImobileGoods != null ? Model.ImobileGoods : new List<ImobileGood>() : new List<ImobileGood>());

        Html.RenderPartial("Reg_MobileGoods", Model != null ? Model.MobileGoods != null ? Model.MobileGoods : new List<MobileGood>() : new List<MobileGood>());

        Html.RenderPartial("Reg_MensalRendiment", Model != null ? Model.MensalRendiments != null ? Model.MensalRendiments : new List<MensalRendiment>() : new List<MensalRendiment>());

        Html.RenderPartial("Reg_PatrimonialData", Model, viewData);
        
        Html.RenderPartial("Reg_Authorization", Model, viewData);

        Html.RenderPartial("Reg_PPE", Model);

        Html.RenderPartial("Reg_FinalDisposition", Model);

        //Html.RenderPartial("Reg_PatrimonialData", Model);
        
        <div class="submit-area">
			<a href="javascript:;" id="lnkPFCTVMPhase2" class='btn-primario'>
				<span>Gerar Ficha Cadastral</span>
			</a>
			<a class="lnk-voltar esquerda" id="passo-2-back-pfctvm" href="javascript:;">Voltar</a>
			<span class="passo-cadastro">passo 2 de 2</span>
		</div>
	}    
}

