﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<References>

@{
    var newReference = ViewBag.NewReference != null; 
}

@if (!newReference)
{ 
<div>
    <h3>Pessoais/comerciais</h3>
    <div class="linha-frm">
        <table id="tblReferences" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Pessoal/Comercial</th>
                    <th>Nome</th>
                    <th>Telefone de referência</th>
                </tr>
            </thead>
            <tbody>
                @{Random r = new Random();}
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var refer in Model)
                    {
                        int next = r.Next(100000);
                        <tr>
                            @{int? value = null; if (refer.ReferType.HasValue) { value = (int)refer.ReferType.Value; } }
                            <td><div class="lista-opcoes-vertical">@Html.EnumRadioGroup(ReferenceType.Personal, value, new { id = "txtRefType_" + next, name = "txtRefType_" + next, @wordwrap = false }) </div></td>
                            <td>@Html.TextBox("txtRefName_" + next, (refer.Name != null) ? refer.Name : null)</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtRefPhone_" + next, (refer.PhoneNumber != null) ? refer.PhoneCode + refer.PhoneNumber : null, new { @class = "txt-phone" })
                            <a href='javascript:;' class='lnkRemoveRef ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td><div class="lista-opcoes-vertical">@Html.EnumRadioGroup(ReferenceType.Personal, null, new { id = "txtRefType_0", name = "txtRefType_0", @wordwrap = false })</div></td>
                        <td>@Html.TextBox("txtRefName_0")</td>
                        <td class="input-icon-excluir">@Html.TextBox("txtRefPhone_0", null, new { @class="txt-phone" })
                        <a href='javascript:;' class='lnkRemoveRef ico-excluir'><span></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddRef" class="ico-incluir lnk-txt"><span>Incluir outro contato</span></a>
    </div>

    <span class="quebrar"></span>
</div>

}
else { 
    
    Random r2 = new Random();
    int next2 = r2.Next(100000);
    
    <tr>
        <td><div class="lista-opcoes-vertical">@Html.EnumRadioGroup(ReferenceType.Personal, null, new { id = "txtRefType_" + next2, name = "txtRefType_" + next2, @wordwrap = false })</div></td>
        <td>@Html.TextBox("txtRefName_" + next2)</td>
        <td class="input-icon-excluir">@Html.TextBox("txtRefPhone_" + next2, null, new { @class = "txt-phone" })
        <a href='javascript:;' class='lnkRemoveRef ico-excluir'><span></span></a>
        </td>
    </tr>
}

