﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<MobileGood>
           
@{
    var newMobile = ViewBag.NewMobile != null; 
}

@if (!newMobile)
{ 
<div class="outros-bens-direitos">
    <h3>Outros bens e direitos</h3>
    <div class="linha-frm">
        <table id="tblMobileGoods" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Espécie</th>
                    <th>Descrição</th>
                    <th>Valor Atual (R$)</th>
                </tr>
            </thead>
            <tbody>
                @{Random r = new Random();}
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var mobile in Model)
                    {
                        int next = r.Next(100000);
                        <tr>
                            @{int? mobileType = null; if (mobile.Type.HasValue) { mobileType = (int)mobile.Type; } }
                            <td>@Html.EnumDropDownList("txtMobileType_" + next, GoodKind.Good, mobileType)</td>
                            <td>@Html.TextBox("txtMobileDescription_" + next, mobile.Description)</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtMobileValue_" + next, (mobile.Value.HasValue) ? mobile.Value.Value.ToString("N2") : null, new { @class = "txt-decimal" })
                            <a href='javascript:;' class='lnkRemoveMobileGoods ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td>@Html.EnumDropDownList("txtMobileType_0", GoodKind.Good, null)</td>
                        <td>@Html.TextBox("txtMobileDescription_0", null)</td>
                        <td class="input-icon-excluir">@Html.TextBox("txtMobileValue_0", null, new { @class = "txt-decimal" })
                        <a href='javascript:;' class='lnkRemoveMobileGoods ico-excluir'><span></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddMobile" class="ico-incluir lnk-txt"><span>Incluir outra conta</span></a>
    </div>

    <span class="quebrar"></span>
</div>
}
else { 
    Random r2 = new Random();
    int next2 = r2.Next(100000);
    
    <tr>
        <td>@Html.EnumDropDownList("txtMobileType_" + next2, GoodKind.Good, null)</td>
        <td>@Html.TextBox("txtMobileDescription_" + next2)</td>
        <td class="input-icon-excluir">@Html.TextBox("txtMobileValue_" + next2, null, new { @class = "txt-decimal" })
        <a href='javascript:;' class='lnkRemoveMobileGoods ico-excluir'><span></span></a>
        </td>
    </tr>
}
