﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model PersonAddress
<div class="enderecos">
    <h3>Endereços</h3>
    <div id='address-0' class="caixa-endereco">
   
        <div class="linha-frm">
            <label>Endereço Sede Social</label>
            @Html.TextBox("txtAddressLine_0", (Model != null) ? Model.AddressLine1 : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <div class="linha-frm">
            <label>Endereço na internet (Site oficial)</label>
            @Html.TextBox("txtSite", (Model != null) ? Model.AddressLine2 : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>        
        <span class="quebrar"></span>
        
        <div class="linha-frm">
            <label>Bairro</label>
            @Html.TextBox("txtQuarter_0", (Model != null) ? Model.Quarter : null, new { maxlength = 100 })
        </div>
            
        <div class="linha-frm">
            <label>Cidade</label>
            @Html.TextBox("txtCity_0", (Model != null) ? Model.City : null, new { maxlength = 100 })
        </div>
            
        <div class="linha-frm">
            <label>Estado</label>
            @{
                int? state = null; if (Model != null && Model.State.HasValue) { state = (int)Model.State.Value; }
             }
            @Html.EnumDropDownList("ddlAddressState_0", State.AC, state)
        </div>
        
        <div class="linha-frm cep">
            @{
                var address = Model != null ? Model.PostalCode : null;
                var postalCode1 = (!String.IsNullOrEmpty(address)) ? address.Substring(0, 5) : "";
                var postalCode2 = (!String.IsNullOrEmpty(address)) ? address.Substring(address.Length - 3, 3) : "";
            }
            <label>CEP</label>
            <div class="campo-primario">@Html.TextBox("txtPostalCode1_0", postalCode1, new { maxlength = 5, size = 5 })</div>
            <div class="separador"> - </div>
            <div class="campo-secundario">@Html.TextBox("txtPostalCode2_0", postalCode2, new { maxlength = 3, size = 3 })</div>
        </div>
            
        <div class="linha-frm">
            <label>País</label>
            @Html.TextBox("txtStateCountry_0", (Model != null) ? Model.StateCountry : null, new { maxlength = 100 })
        </div>
        
        <span class="quebrar"></span>        

    </div>
</div>