﻿@using QX3.Portal.Contracts.DataContracts
@model LegalPerson
@{
    using (Html.BeginForm("Process_PJCTVM_Phase1", "ClientRegistration", FormMethod.Post, new { id = "frmPJCTVM_Phase1", name = "frmPJCTVM_Phase1" }))
    {

        Html.RenderPartial("Reg_PJ_Info", Model);
        
        <div class="linha-frm" style="margin-top:-20px;">
            <label>Administrador</label>
            @Html.TextBox("txtAdministrator", (Model != null) ? Model.Administrator : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>
    
        Html.RenderPartial("Reg_PJ_Address", Model != null ? Model.Address != null ? Model.Address : new PersonAddress() : null);

        Html.RenderPartial("Reg_PJ_Contacts", Model);

        <div class="submit-area">
			<a href="javascript:;" id="lnkPJCTVMPhase1" class='btn-primario'>
				<span>Continuar</span>
			</a>
			<span class="passo-cadastro">passo 1 de 2</span>
		</div>
    }    
}
