﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<AuthorizedAccount>
 
@{
    var newBankAccount = ViewBag.NewBankAccount != null;
    var ctvm = ViewBag.CTVM != null && ViewBag.CTVM;
    var displayClassPF = !ctvm ? "class=input-icon-excluir" : "";
    var displayClassPFCTVM = ctvm ? "class=input-icon-excluir" : "";
} 

@if (!newBankAccount)
{ 
<div class="bancaria">
    <h3>Bancárias</h3>
    <div class="linha-frm">
        <table id="tblAccounts" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>banco (nome e nº)</th>
                    <th>Agência (nome e/ou nº sem dígito)</th>
                    <th>N° da conta</th>
                    @if (ctvm) { 
                        <th>Nome do Co-Titular (se houver)</th>
                        <th>CPF do Co-Titular (se houver)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{Random r = new Random();}
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var account in Model)
                    {
                        int next = r.Next(100000);
                        
                        <tr>
                            <td>@Html.TextBox("txtBankCode_" + next, (account.Account != null) ? account.Account.BankCode : null, new { @class="txt-banco" })</td>
                            <td class="agencia">@Html.TextBox("txtBankAgency_" + next, (account.Account != null) ? account.Account.AgencyCode : null, new { @class = "txt-numero", style = "text-align: right;" })</td>
                            <td @displayClassPF >@Html.TextBox("txtBankAccount_" + next, (account.Account != null) ? account.Account.Account : null, new { @class = "txt-numero", style = "text-align: right;" })
                            @if (!ctvm)
                            { <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> }
                            </td>
                            @if (ctvm)
                            {
                                <td>@Html.TextBox("txtBankCoTitular_" + next, account.CoTitularName)</td>
                                <td @displayClassPFCTVM >@Html.TextBox("txtBankCoCPF_" + next, account.CoCPF, new { @class = "txt-cpf" })
                                <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> 
                                </td>
                            }
                        </tr>
                    }
                }
                else
                { 
                        <tr>
                            <td>@Html.TextBox("txtBankCode_0", null, new { @class="txt-banco" })</td>
                            <td class="agencia">@Html.TextBox("txtBankAgency_0", null, new { @class = "txt-numero" })</td>
                            <td @displayClassPF >@Html.TextBox("txtBankAccount_0", null, new { @class = "txt-numero" })
                            @if (!ctvm)
                            { <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> }
                            </td>
                            @if (ctvm)
                            {
                                <td>@Html.TextBox("txtBankCoTitular_0", null)</td>
                                <td @displayClassPFCTVM >@Html.TextBox("txtBankCoCPF_0", null, new { @class = "txt-cpf" })
                                <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> 
                                </td>
                            }
                        </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddAccount" class="ico-incluir lnk-txt"><span>Incluir outra conta</span></a>
    </div>

    <span class="quebrar"></span>
</div>
}
else
{
    Random r2 = new Random();
    int next2 = r2.Next(100000);
    
    <tr>
        <td><input type='text' name="txtBankCode_@(next2)" id="txtBankCode_@(next2)" class="txt-banco" /></td>
        <td class='agencia'><input type='text' name='txtBankAgency_@(next2)' id='txtBankAgency_@(next2)' class='txt-numero' style="text-align: right;" /></td>
        <td @displayClassPF >@Html.TextBox("txtBankAccount_" + next2, null, new { @class = "txt-numero", style = "text-align: right;" })
        @if (!ctvm)
        { <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> }
        </td>
        @if (ctvm)
        {
            <td>@Html.TextBox("txtBankCoTitular_" + next2, null)</td>
            <td @displayClassPFCTVM >@Html.TextBox("txtBankCoCPF_" + next2, null, new { @class = "txt-cpf" })
            <a href='javascript:;' class='lnkRemoveAccount ico-excluir'></a> 
            </td>
        }
    </tr>
}


