﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model LegalPerson

@{
    var NewAttorney = ViewBag.NewAttorney != null; 
    var ctvm = ViewBag.CTVM != null && ViewBag.CTVM; 
}

@if (!NewAttorney)
{ 
<h3>Representantes legais/Procuradores</h3>    
    <div class="linha-frm">
        <table id="tblAttorney" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Nome/Razão Social</th>
                    <th>CPF/CNPJ</th>
                    @if (ctvm) { 
                        <th>Data de nascimento</th>
                        <th>Cargo</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.AttorneyLegalPerson != null && Model.AttorneyLegalPerson.Count() > 0)
                {
                    Random r = new Random();
                    foreach (var stc in Model.AttorneyLegalPerson)
                    {
                        int next = r.Next(100000);
                        <tr>
                            <td>@Html.TextBox("txtATCorporateName_" + next, stc.CorporateName, new { maxlength = 100 })</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtATCPFCNPJ_" + next, stc.CPFCNPJ, new { maxlength = 18, @class = "txt-cpf-cnpj" })
                            @if (!ctvm)
                            {
                                <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a>
                            }
                            </td>
                            @if (ctvm)
                            {
                                <td class="input-icon-excluir">@Html.TextBox("txtATBirthDate_" + next, stc.BirthDate.HasValue ? stc.BirthDate.Value.ToShortDateString() : "", new { @class = "txt-data" })</td>
                                <td class="input-icon-excluir">@Html.TextBox("txtATRole_" + next, stc.Role, new { maxlength = 100 })
                                <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a></td>
                            }
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td>@Html.TextBox("txtATCorporateName_0", null, new { maxlength = 100 })</td>
                        <td class="input-icon-excluir">@Html.TextBox("txtATCPFCNPJ_0", null, new { maxlength = 18, @class = "txt-cpf-cnpj" })
                        @if (!ctvm)
                        {
                            <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a>
                        }
                        </td>
                        @if (ctvm)
                        {
                            <td class="input-icon-excluir">@Html.TextBox("txtATBirthDate_0", null, new { @class = "txt-data" })</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtATRole_0", null, new { maxlength = 100 })
                            <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddAttorney" class="ico-incluir lnk-txt"><span>Incluir outro nome/razão social</span></a>
    </div>
    <span class="quebrar"></span>
}
else
{
    Random r2 = new Random();
    int next2 = r2.Next(100000);
    <tr>
        <td>@Html.TextBox("txtATCorporateName_" + next2, null, new { maxlength = 100 })</td>
        <td class="input-icon-excluir">@Html.TextBox("txtATCPFCNPJ_" + next2, null, new { maxlength = 18, @class = "txt-cpf-cnpj" })
        @if (!ctvm)
        {
            <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a>
        }
        </td>
        @if (ctvm)
        {
            <td class="input-icon-excluir">@Html.TextBox("txtATBirthDate_" + next2, null, new { @class = "txt-data" })</td>
            <td class="input-icon-excluir">@Html.TextBox("txtATRole_" + next2, null, new { maxlength = 100 })
            <a href='javascript:;' class='lnkAT ico-excluir'><span></span></a></td>
        }
    </tr>
}


