﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model IndividualPerson

@{
    var NewAuthorizedAccount = ViewBag.NewAuthorizedAccount != null; 
    var ctvm = ViewBag.CTVM != null && ViewBag.CTVM; 
}

@if (!NewAuthorizedAccount)
{ 
<div>
    <div class="linha-frm">
        <label>Opera por conta própria?</label>

        <div class="lista-opcoes-vertical">
            @{ var operates = (Model != null && Model.OperatesOnItsOwn.HasValue); }
            @Html.RadioButton("rdbOperatesOnItsOwn", "S", operates && Model.OperatesOnItsOwn.Value, new { id = "rdbOperatesOnItsOwnS" }) Sim
            <span class="quebrar"></span>
            @Html.RadioButton("rdbOperatesOnItsOwn", "N", operates && !Model.OperatesOnItsOwn.Value, new { id = "rdbOperatesOnItsOwnN" }) Não
        </div>
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Autoriza transmissão de ordens por procurador ou representante?</label>
        <div class="lista-opcoes-vertical">
            @{ var authorize = (Model != null && Model.AuthorizesTransmissionOrders.HasValue); }
            @Html.RadioButton("rdbAuthorizesTransmissionOrders", "S", authorize && Model.AuthorizesTransmissionOrders.Value, new { id = "rdbAuthorizesTransmissionOrdersS" }) Sim
            <span class="quebrar"></span>
            @Html.RadioButton("rdbAuthorizesTransmissionOrders", "N", authorize && !Model.AuthorizesTransmissionOrders.Value, new { id = "rdbAuthorizesTransmissionOrdersN" }) Não
        </div>
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm" id="divTableAuthorizationMembers" style="display:none">
        <table id="tblAuthorizedMembers" cellpadding="0" cellspacing="0" >
            <thead>
                <tr>
                    <th>Nome do titular</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    @if (ctvm)
                    { <th>RG</th> }
                    <th>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.AuthorizedMembers != null && Model.AuthorizedMembers.Count() > 0)
                {
                    Random r = new Random();
                    foreach (var account in Model.AuthorizedMembers)
                    {
                        int next = r.Next(100000);
                        <tr>
                            <td>@Html.TextBox("txtAuthorizedMemberName_" + next, account.Name, new { maxlength = 100 })</td>
                            <td>@Html.TextBox("txtAuthorizedMemberEmail_" + next, account.Email, new { maxlength = 100 })</td>
                            <td>@Html.TextBox("txtAuthorizedMemberCPF_" + next, account.CPF, new { maxlength = 15, @class = "txt-cpf" })</td>
                            @if (ctvm)
                            {
                                <td>@Html.TextBox("txtAuthorizedMemberRG_" + next, account.RG, new { maxlength = 15, @class = "txt-numero" })</td>
                            }
                            <td class="input-icon-excluir">@Html.TextBox("txtAuthorizedMemberBirthDate_" + next, (account.BirthDate.HasValue) ? account.BirthDate.Value.ToShortDateString() : null, new { @class = "txt-data" })
                            <a href='javascript:;' class='lnkRemoveMember ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <td>@Html.TextBox("txtAuthorizedMemberName_0", null, new { maxlength = 100 })</td>
                        <td>@Html.TextBox("txtAuthorizedMemberEmail_0", null, new { maxlength = 100 })</td>
                        <td>@Html.TextBox("txtAuthorizedMemberCPF_0", null, new { maxlength = 15, @class = "txt-cpf" })</td>
                        @if (ctvm)
                        {
                            <td>@Html.TextBox("txtAuthorizedMemberRG_0", null, new { maxlength = 15, @class = "txt-numero" })</td>
                        }
                        <td class="input-icon-excluir">@Html.TextBox("txtAuthorizedMemberBirthDate_0", null, new { @class = "txt-data" })
                        <a href='javascript:;' class='lnkRemoveMember ico-excluir'><span></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="javascript:;" id="lnkAddMember" class="ico-incluir lnk-txt"><span>Incluir outro nome</span></a>
    </div>
    
    <span class="quebrar"></span>
    
    @if (!ctvm)
    { 
        <div class="linha-frm" >
            <h3>Contas autorizadas</h3>
            <table id="tblAuthorizedAccounts" cellpadding="0" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Nome do titular</th>
                        <th>CPF</th>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Conta</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.AuthorizedAccounts != null && Model.AuthorizedAccounts.Count() > 0)
                    {
                        Random r = new Random();
                        foreach (var account in Model.AuthorizedAccounts)
                        {
                            int next = r.Next(100000);
                            <tr>
                                <td>@Html.TextBox("txtAuthorizedAccountName_" + next, account.TitularName, new { maxlength = 100 })</td>
                                <td>@Html.TextBox("txtAuthorizedAccountCPF_" + next, account.CPF, new { maxlength = 15, @class = "txt-cpf" })</td>
                                <td>@Html.TextBox("txtAuthorizedAccountBank_" + next, (account.Account != null) ? account.Account.BankCode : null, new { @class = "txt-banco" })</td>
                                <td>@Html.TextBox("txtAuthorizedAccountAgency_" + next, (account.Account != null) ? account.Account.AgencyCode : null, new { @class = "txt-numero-conta" })</td>
                                <td class="input-icon-excluir">@Html.TextBox("txtAuthorizedAccountNumber_" + next, (account.Account != null) ? account.Account.Account : null, new { @class = "txt-numero-conta" })
                                <a href='javascript:;' class='lnkRemoveAccount ico-excluir'><span></span></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    { 
                        <tr>
                            <td>@Html.TextBox("txtAuthorizedAccountName_0", null, new { maxlength = 100 })</td>
                            <td>@Html.TextBox("txtAuthorizedAccountCPF_0", null, new { maxlength = 15, @class = "txt-cpf" })</td>
                            <td>@Html.TextBox("txtAuthorizedAccountBank_0", null, new { @class = "txt-banco" })</td>
                            <td>@Html.TextBox("txtAuthorizedAccountAgency_0", null, new { @class = "txt-numero-conta" })</td>
                            <td class="input-icon-excluir">@Html.TextBox("txtAuthorizedAccountNumber_0", null, new { @class = "txt-numero-conta" })
                            <a href='javascript:;' class='lnkRemoveAccount ico-excluir'><span></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="javascript:;" id="lnkAddAuthorizedAccount" class="ico-incluir lnk-txt"><span>Incluir outro representante</span></a>
        </div>

        <span class="quebrar"></span>
    }
</div>

}
else
{

    Random r2 = new Random();
    int next2 = r2.Next(100000);
    
    <tr>
        <td>@Html.TextBox("txtAuthorizedAccountName_" + next2, null, new { maxlength = 100 })</td>
        <td>@Html.TextBox("txtAuthorizedAccountCPF_" + next2, null, new { maxlength = 15, @class = "txt-cpf" })</td>
        <td>@Html.TextBox("txtAuthorizedAccountBank_" + next2, null, new { @class = "txt-banco" })</td>
        <td>@Html.TextBox("txtAuthorizedAccountAgency_" + next2, null, new { @class = "txt-numero-conta" })</td>
        <td class="input-icon-excluir">@Html.TextBox("txtAuthorizedAccountNumber_" + next2, null, new { @class = "txt-numero-conta" })
        <a href='javascript:;' class='lnkRemoveAccount ico-excluir'><span></span></a>
        </td>
    </tr>
}
