﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model Profession
<div class="informacoes-profissionais">
    <h3>Informações Profissionais</h3>

    @{ var ctvm = ViewBag.CTVM != null && ViewBag.CTVM; }

    @if (!ctvm)
       {
    <div class="linha-frm">
        <label>Selecione a melhor opção:</label>
        <div class="lista-opcoes-vertical">
            @Html.EnumRadioGroupFor(model => model.BestProfessionalOption, new { id = "rdbBestProfessionalOption", name = "rdbBestProfessionalOption" })
        </div>
    </div>
       
    <span class="quebrar"></span>
       }
    <div class="linha-frm">
        <label>Profissão</label>
        @Html.TextBox("txtOccupation", (Model != null) ? Model.Occupation : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <span class="quebrar"></span>

    <div class="div-profissao">
        <div class="linha-frm">
            <label>Cargo</label>
            @Html.TextBox("txtRole", (Model != null) ? Model.Role : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>Empresa</label>
            @Html.TextBox("txtCompany", (Model != null) ? Model.Company : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>
    </div>

    <div class="div-aposentado">
        <div class="linha-frm">
            <label>CNPJ da Empresa (se proprietário)</label>
            @Html.TextBox("txtPropertyCNPJ", (Model != null) ? Model.PropertyCNPJ : null, new { maxlength = 100 })
        </div>

        <span class="quebrar"></span>
    </div>
</div>
