﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model List<ImobileGood>
    
    @{
        var newImobile = ViewBag.newImobile != null; 
    }

    @if (!newImobile)
    {
        if (Model != null && Model.Count > 0)
        {
            <div class="bens-imoveis">
            <h3>Bens imóveis</h3>
            @{Random r = new Random();}
            @foreach (var imobile in Model)
            {

                int next = r.Next(100000);
                
                <div id='imobile-@next' class="caixa-bens-imoveis destaque-cadastro">
                    <div class="caixa">
                        <div class="deletar-grupo"><a class="ico-excluir lnkRemoveImobile lnk-txt" href="javascript:;" rel='@next'>Deletar</a></div>
                        <div class="linha-frm">
                            <label>Espécie</label>
                            @Html.EnumDropDownListFor(model => imobile.Type, new { id = "ddlImobileType_" + next, name = "ddlImobileType_" + next })
                        </div>

                        <div class="linha-frm">
                            <label>Valor Atual</label>
                            @Html.TextBox("txtImobileValue_" + next, imobile.Value, new { @class = "txt-decimal" })
                        </div>
            
                        <span class="quebrar"></span>

                        <div class="linha-frm">
                            <label>Endereço</label>
                            @Html.TextBox("txtImobileAddressLine_" + next, imobile.Address.AddressLine1, new { maxlength = 100, @class = "caracteres-55" })
                        </div>
            
                        <div class="linha-frm">
                            <label>Bairro</label>
                            @Html.TextBox("txtImobileQuarter_" + next, imobile.Address.Quarter, new { maxlength = 100 })
                        </div>
                
                        <div class="linha-frm">
                            <label>Cidade</label>
                            @Html.TextBox("txtImobileCity_" + next, imobile.Address.City, new { maxlength = 100 })
                        </div>

                        <span class="quebrar"></span>
                        
                        <div class="linha-frm cep">
                            @{
                                var postalCode1 = (!String.IsNullOrEmpty(imobile.Address.PostalCode)) ? imobile.Address.PostalCode.Substring(0, 5) : "";
                                var postalCode2 = (!String.IsNullOrEmpty(imobile.Address.PostalCode)) ? imobile.Address.PostalCode.Substring(imobile.Address.PostalCode.Length - 3, 3) : "";
                            }
                            <label>CEP</label>
                            <div class="campo-primario">
                                @Html.TextBox("txtImobilePostalCode1_" + next, postalCode1, new { @maxlength = 5, @class="txt-numero-cep" })
                            </div>
                            <div class="separador"> - </div>
                            <div class="campo-secundario"> 
                                @Html.TextBox("txtImobilePostalCode2_" + next, postalCode2, new { @maxlength = 3, @class = "txt-numero-cep2" })
                            </div>
                        </div>

                        <div class="linha-frm">
                            <label>Estado</label>
                            @Html.EnumDropDownListFor(m => imobile.Address.State, new { id="ddlImobileAddressState_" + next, name="ddlImobileAddressState_" + next })
                        </div>
                        
                        <div class="linha-frm">
                            <label>País</label>
                            @Html.TextBox("txtImobileStateCountry_" + next, imobile.Address.StateCountry, new { maxlength = 100 })
                        </div>
            
                        <span class="quebrar"></span>
                    </div>
                    
                    
                </div>
            }
            <a href="javascript:;" id="lnkAddImobile" class="ico-incluir lnk-txt"><span>Adicionar outro imóvel</span></a>
            </div>
        }
        else
        {
            <div class="bens-imoveis">
            <h3>Bens imóveis</h3>
            <div id='imobile-0' class="caixa-bens-imoveis destaque-cadastro">
                <div class="caixa">
                    <div class="deletar-grupo"><a class="ico-excluir lnkRemoveImobile lnk-txt" href="javascript:;" rel='0'>Deletar</a></div>
                    <div class="linha-frm">
                        <label>Espécie</label>
                        @Html.EnumDropDownList("ddlImobileType_0", GoodKind.Good, null)
                    </div>

                        <div class="linha-frm">
                        <label>Valor Atual</label>
                        @Html.TextBox("txtImobileValue_0", null, new { @class = "txt-decimal" })
                    </div>
            
                    <span class="quebrar"></span>

                    <div class="linha-frm">
                        <label>Endereço</label>
                        @Html.TextBox("txtImobileAddressLine_0", null, new { maxlength = 100, @class = "caracteres-55" })
                    </div>
            
                    <div class="linha-frm">
                        <label>Bairro</label>
                        @Html.TextBox("txtImobileQuarter_0", null, new { maxlength = 100 })
                    </div>
                
                    <div class="linha-frm">
                        <label>Cidade</label>
                        @Html.TextBox("txtImobileCity_0", null, new { maxlength = 100 })
                    </div>

                    <span class="quebrar"></span>
                        
                    <div class="linha-frm cep">
                        <label>CEP</label>
                        <div class="campo-primario">
                            @Html.TextBox("txtImobilePostalCode1_0", null, new { @maxlength = 5, @class="txt-numero-cep" })
                        </div>
                        <div class="separador"> - </div>
                        <div class="campo-secundario">
                            @Html.TextBox("txtImobilePostalCode2_0", null, new { @maxlength = 3, @class = "txt-numero-cep2" })
                        </div>
                    </div>

                    <div class="linha-frm">
                        <label>Estado</label>
                        @Html.EnumDropDownList("ddlImobileAddressState_0", State.AC, null)
                    </div>
                        
                    <div class="linha-frm">
                        <label>País</label>
                        @Html.TextBox("txtImobileStateCountry_0", null, new { maxlength = 100 })
                    </div>
            
                    <span class="quebrar"></span>        
                </div>
                    
            </div>
            <a href="javascript:;" id="lnkAddImobile" class="ico-incluir lnk-txt"><span>Adicionar outro imóvel</span></a>
            </div>
        }
    }
    else
    {
        Random r = new Random();
        int next = r.Next(100000);
        <div id='imobile-@next' class="caixa-bens-imoveis destaque-cadastro">
            <div class="caixa">
                <div class="deletar-grupo"><a class="ico-excluir lnkRemoveImobile lnk-txt" href="javascript:;" rel='@next'>Deletar</a></div>
                <div class="linha-frm">
                    <label>Espécie</label>
                    @Html.EnumDropDownList("ddlImobileType_" + next, GoodKind.Good, null)
                </div>

                    <div class="linha-frm">
                    <label>Valor Atual</label>
                    @Html.TextBox("txtImobileValue_" + next, null, new { @class = "txt-decimal" })
                </div>
            
                <span class="quebrar"></span>

                <div class="linha-frm">
                    <label>Endereço</label>
                    @Html.TextBox("txtImobileAddressLine_" + next, null, new { maxlength = 100, @class = "caracteres-55" })
                </div>
            
                <div class="linha-frm">
                    <label>Bairro</label>
                    @Html.TextBox("txtImobileQuarter_" + next, null, new { maxlength = 100 })
                </div>
                
                <div class="linha-frm">
                    <label>Cidade</label>
                    @Html.TextBox("txtImobileCity_" + next, null, new { maxlength = 100 })
                </div>

                <span class="quebrar"></span>
                        
                <div class="linha-frm cep">
                    <label>CEP</label>
                    <div class="campo-primario">
                        @Html.TextBox("txtImobilePostalCode1_" + next, null, new { @maxlength = 5, @class="txt-numero-cep" })
                    </div>
                    <div class="separador"> - </div>
                    <div class="campo-secundario">
                        @Html.TextBox("txtImobilePostalCode2_" + next, null, new { @maxlength = 3, @class = "txt-numero-cep2" })
                    </div>
                </div>

                <div class="linha-frm">
                    <label>Estado</label>
                    @Html.EnumDropDownList("ddlImobileAddressState_" + next, State.AC, null)
                </div>
                        
                <div class="linha-frm">
                    <label>País</label>
                    @Html.TextBox("txtImobileStateCountry_" + next, null, new { maxlength = 100 })
                </div>
            
                <span class="quebrar"></span>        
            </div>
            
                    
        </div>
    }




