﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model IndividualPerson
<div>    
    <div class="linha-frm">
        <label>Administrador</label>
        @Html.TextBox("txtAdministrator", (Model != null) ? Model.Administrator : null, new { maxlength = 100, @class = "caracteres-55" })
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Investidor não residente?</label>
        <div class="lista-opcoes-vertical">
            @{ var hasPPE = (Model != null && Model.NonResidentInvestor.HasValue); }
            @Html.RadioButton("rdbNonResidentInvestor", "S", hasPPE && Model.NonResidentInvestor.Value, new { id = "rdbNonResidentInvestorS" }) Sim
            <span class="quebrar"></span>
            @Html.RadioButton("rdbNonResidentInvestor", "N", hasPPE && !Model.NonResidentInvestor.Value, new { id = "rdbNonResidentInvestorN" }) Não
        </div>
    </div>
    <span class="quebrar"></span>
    
    <div class="caixa-investidor" style="display:none">
    
        <div class="linha-frm">
            <label>Código Operacional CVM</label>
            @Html.TextBox("txtCVM", (Model != null) ? Model.CVM : null, new { maxlength = 100 })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>RDE</label>
            @Html.TextBox("txtRDE", (Model != null) ? Model.RDE : null, new { maxlength = 100 })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>País de Origem</label>
            @Html.TextBox("txtOriginCountry", (Model != null) ? Model.OriginCountry : null, new { maxlength = 100 })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>Custodiante no País</label>
            @Html.TextBox("txtCustodian", (Model != null) ? Model.Custodian : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>Representante Legal no País</label>
            @Html.TextBox("txtLegalRepresentative", (Model != null) ? Model.LegalRepresentative : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>Representante Tributário</label>
            @Html.TextBox("txtTributeRepresentative", (Model != null) ? Model.TributeRepresentative : null, new { maxlength = 100, @class = "caracteres-55" })
        </div>

        <span class="quebrar"></span>

        <div class="linha-frm">
            <label>Representante Co-responsável (se houver)</label>
            @Html.TextBox("txtCoLegalRepresentative", (Model != null) ? Model.CoLegalRepresentative : null, new { maxlength = 100, @class = "caracteres-55"  })
        </div>

        <span class="quebrar"></span>

    </div>

    <span class="quebrar"></span>
    
    <div class="linha-frm">
        <label>Conta coletiva</label>
        <div class="lista-opcoes-vertical">
            @{ var hasCollective = (Model != null && Model.CollectiveAccount.HasValue); }
            @Html.RadioButton("rdbCollectiveAccount", "S", hasCollective && Model.CollectiveAccount.Value, new { id = "rdbCollectiveAccountS" }) Sim
            <span class="quebrar"></span>                
            @Html.RadioButton("rdbCollectiveAccount", "N", hasCollective && !Model.CollectiveAccount.Value, new { id = "rdbCollectiveAccountN" }) Não
        </div>
    </div>
    <span class="quebrar"></span>
    <div class="linha-frm titular-coletiva">
        <label>Titular da conta coletiva</label>
        @Html.TextBox("txtCollectiveAccountTitular", (Model != null) ? Model.CollectiveAccountTitular : null, new { maxlength = 100, @class = "caracteres-55"  })
        
    </div>

    <span class="quebrar"></span>
</div>

