﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper;
@model IndividualPerson
@{ var ctvm = ViewBag.CTVM != null && ViewBag.CTVM; }
<h3>Dados patrimoniais/renda</h3>
<div class="dados-patrimoniais">
    @if (!ctvm)
    {
    <div class="linha-frm">
        <label>Patrimônio Estimado</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.EstimatedPatrimony != null)
            {
                @Html.EnumRadioGroupFor(m => Model.EstimatedPatrimony.Yield, new { id = "rdbEstimatedPatrimony", name = "rdbEstimatedPatrimony" });
            }
            else
            { 
                @Html.EnumRadioGroup(Yield.Above3000000, null, new { id = "rdbEstimatedPatrimony", name = "rdbEstimatedPatrimony" });
            }
            <div id="EstimatedPatrimonyArea" style='display:@((Model != null && Model.EstimatedPatrimony != null && Model.EstimatedPatrimony.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm composicao-estimada-patrimonio">
        <div class="bloco" style="margin-top:0;">
        <label>Composição Estimada do Patrimônio</label>
            <div class="check">
                <input type="checkbox" @(Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.ApplicationPerc.HasValue ? "checked='checked'" : "") name="chkEstimatedPatrimonyComposition" id="chkEPC0" value="0" />
                Aplicações Financeiras
            </div>
            <div id="divEPC0" class="campo">
                <input type="text" name="txtEPC0" value='@((Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.ApplicationPerc.HasValue) ? Model.EstimatedPatrimonyComposition.ApplicationPerc.Value.ToString("N2") : "")' />
                <span>%</span>
            </div>
        </div>

        <div class="bloco">
            <div class="check">
                <input type="checkbox" @(Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.HabitationPerc.HasValue ? "checked='checked'" : "") name="chkEstimatedPatrimonyComposition" id="chkEPC1" value="1" />
                Imóveis
            </div>
            <div id="divEPC1" class="campo">
                <input type="text" name="txtEPC1" value='@((Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.HabitationPerc.HasValue) ? Model.EstimatedPatrimonyComposition.HabitationPerc.Value.ToString("N2") : "")' />
                <span>%</span>
            </div>
        </div>

        <div class="bloco">
            <div class="check">
                <input type="checkbox" @(Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.LandPerc.HasValue ? "checked='checked'" : "") name="chkEstimatedPatrimonyComposition" id="chkEPC2" value="2" />
                Terras
            </div>
            <div id="divEPC2" class="campo">
                <input type="text" name="txtEPC2" value='@((Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.LandPerc.HasValue) ? Model.EstimatedPatrimonyComposition.LandPerc.Value.ToString("N2") : "")' />
                <span>%</span>
            </div>
        </div>

        <div class="bloco">
            <div class="check">
                <input type="checkbox" @(Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.CorporatePerc.HasValue ? "checked='checked'" : "") name="chkEstimatedPatrimonyComposition" id="chkEPC3" value="3" />
                Participações Societárias
            </div>
            <div id="divEPC3" class="campo">
                <input type="text" name="txtEPC3" value='@((Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.CorporatePerc.HasValue) ? Model.EstimatedPatrimonyComposition.CorporatePerc.Value.ToString("N2") : "")' />
                <span>%</span>
            </div>
        </div>

        <div class="bloco">
            <div class="check">
                <input type="checkbox" @(Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.OtherPerc.HasValue ? "checked='checked'" : "") name="chkEstimatedPatrimonyComposition" id="chkEPC4" value="4" />
                Outros Investimentos
            </div>
            <div id="divEPC4" class="campo">
                <input type="text" name="txtEPC4" value='@((Model != null && Model.EstimatedPatrimonyComposition != null && Model.EstimatedPatrimonyComposition.OtherPerc.HasValue) ? Model.EstimatedPatrimonyComposition.OtherPerc.Value.ToString("N2") : "")' />
                <span>%</span>
            </div>
        </div>
    </div>

    <span class="quebrar"></span>
    }
    
    @if (ctvm)
    { 
    <div class="linha-frm">
        @*<h3>Patrimônio total</h3>*@
        <div>
            <label>Valor total do Patrimônio: somatória de Bens e Direitos e Bens Imóveis</label>
            @Html.TextBox("txtTotalPatrimony", Model.TotalPatrimony.HasValue ? Model.TotalPatrimony.Value.ToString("N2") : null, new { @class = "txt-decimal" })
        </div>
    </div>

    <span class="quebrar"></span>
    }
    <div class="linha-frm">
        <label>Origem do Patrimônio</label>
        <div class="lista-opcoes-vertical">
            @{
                var selectedItems = (Model != null && Model.PatrimonyOrigins != null) ? Model.PatrimonyOrigins.Cast<Int32>().ToList() : null;
            }
            @Html.EnumCheckBox(PatrimonyOrigin.Commodities, selectedItems, new { id = "chkPatrimonyOrigin", name = "chkPatrimonyOrigin" })
            
            <div id="PatrimonyOriginArea" style='display:@((Model != null && Model.PatrimonyOrigins != null && Model.PatrimonyOrigins.Where(a => a == PatrimonyOrigin.Other).Count() > 0) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>
    @if (!ctvm)
    {
    <div class="linha-frm">
        <label>Valor Aproximado de Liquidez</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.Liquidity != null)
            {
                @Html.EnumRadioGroupFor(m => Model.Liquidity.Value, new { id = "rdbLiquidity", name = "rdbLiquidity" });
            }
            else
            { 
                @Html.EnumRadioGroup(LiquidityValues.Above2000000, null, new { id = "rdbLiquidity", name = "rdbLiquidity" });
            }

            <div id="LiquidityArea" style='display:@((Model != null && Model.Liquidity != null && Model.Liquidity.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Renda Anual estimada</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.AnnualIncome != null)
            {
                @Html.EnumRadioGroupFor(m => Model.AnnualIncome.Value, new { id = "rdbAnnualIncome", name = "rdbAnnualIncome" });
            }
            else
            { 
                @Html.EnumRadioGroup(AnnualIncomeValues.Above800000, null, new { id = "rdbAnnualIncome", name = "rdbAnnualIncome" });
            }

            <div id="AnnualIncomeArea" style='display:@((Model != null && Model.AnnualIncome != null && Model.AnnualIncome.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>
    }
    
    @if (ctvm)
    { 
    <div class="linha-frm">
        <label>Valor Aproximado de Investimentos no Mercado Financeiro</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.Investment != null)
            {
                @Html.EnumRadioGroupFor(m => Model.Investment.Value, new { id = "rdbInvestment", name = "rdbInvestment" });
            }
            else
            { 
                @Html.EnumRadioGroup(InvestmentValues.Above2000000, null, new { id = "rdbInvestment", name = "rdbInvestment" });
            }

            <div id="InvestmentArea" style='display:@((Model != null && Model.Investment != null && Model.Investment.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>
        
    <div class="linha-frm">
        <label>Prováveis movimentações financeiras</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.Transaction != null)
            {
                int tr = (int)Model.Transaction.Value; 
                @Html.EnumRadioGroup(TransactionCTVMValues.Above3000000, tr, new { id = "rdbTransaction", name = "rdbTransaction" });
            }
            else
            { 
                @Html.EnumRadioGroup(TransactionCTVMValues.Above3000000, null, new { id = "rdbTransaction", name = "rdbTransaction" });
            }

            <div id="TransactionArea" style='display:@((Model != null && Model.Transaction != null && Model.Transaction.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>
    }
    else
    {
    <div class="linha-frm">
        <label>Prováveis movimentações financeiras</label>
        <div class="lista-opcoes-vertical">
            @if (Model != null && Model.Transaction != null)
            {
                @Html.EnumRadioGroupFor(m => Model.Transaction.Value, new { id = "rdbTransaction", name = "rdbTransaction" });
            }
            else
            { 
                @Html.EnumRadioGroup(TransactionValues.Above3000000, null, new { id = "rdbTransaction", name = "rdbTransaction" });
            }

            <div id="TransactionArea" style='display:@((Model != null && Model.Transaction != null && Model.Transaction.Other.HasValue) ? "" : "none")'></div>
        </div>
    </div>

    <span class="quebrar"></span>
    }
    
</div>

