﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="RegistrationFilter">
		        Filtrar por
    </div>

	<div class="conteudo" id="RegistrationContent" style="display:none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;"></div>
		    <div class="linha-frm">
			    <label>Código do cliente</label>
                @Html.TextBox("txtClientFilter")
		    </div>
		<div class="linha-frm">
			<label>
				Período do vencimento</label>
			<div class="lista-opcoes-vertical">
				<input type="radio" value="N" id="rad1" name="radRegType" checked="checked" /> Ficha 1 / 2
				<input type="radio" value="C" id="radCVTM" name="radRegType" /> Ficha CTVM
			</div>
		</div>
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:;" id="lnkSubmitRegistrationFilter"><span>Listar Clientes</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
    
  </div>
