﻿@{
    ViewBag.Title = "Registration";
}
@using QX3.Portal.WebSite.Helper;
@using QX3.Portal.WebSite.Models;
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/MarketHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/ClientRegistration/Registration.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.interface.js")" type="text/javascript"></script>

@Html.Partial("RegistrationFilter")
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
@{var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
	<span>@(TempData["SuccessMessage"] ?? "")</span><a href="javascript:;" class="lnk-fechar" onclick="$('#feedback').slideToggle();" id="closeFeedback">fechar</a>
</div>
<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>
<div id="loadingArea" style="display: none; text-align: center;">
	<img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>

<div class="client-registration">
    <div class="ferramentas acoes assessores">
        <input type="hidden" class="reg-type" value="PF" />
        <a href="javascript:;" id="lnkGeneratePFPDF" class="btn-padrao"><span>gerar ficha cadastral</span></a>
        <a class="btn-secundario lnkRegistration" href='@Url.Action("Registration", "ClientRegistration")' rel='PF'><span>novo cadastro</span></a>
        <div><a href="" class="ico-hist" id="lnkViewHistory">Ver histórico</a></div>
    </div>
    <div id="tab-area">
        <ul>
            <li><a href="#PF1">PF1</a></li>
            <li><a href="#PF2">PF2</a></li>        
        </ul>
        <div id="PF1">
            @{Html.RenderPartial("Reg_PF1_Passo1");}
        </div>
        <div id="PF2">
            @{Html.RenderPartial("Reg_PF2");}
        </div>
    </div>
</div>
