﻿@{
    ViewBag.Title = "StatusViewer";
}

@using QX3.Portal.WebSite.Helper;

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/MarketHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/ClientRegistration/StatusViewer.js")" type="text/javascript"></script>

   
<div class="ferramentas acoes assessores">
  <div>
      <span id="dvExportar">Exportar:</span> 
      <a id="lnkExcel" class="ico-xls" href="javascript:;">Excel</a>  
      <a id="lnkPdf" class="ico-pdf" href="javascript:;">PDF</a>  
 </div>
</div>
@Html.Partial("StatusViewerFilter")
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
@{var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
    <span>@(TempData["SuccessMessage"] ?? "")</span><a href="javascript:;" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
        id="closeFeedback">fechar</a>
</div>

<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>

<div id="loadingArea" style="display: none; text-align: center;">
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>
<div id="table-area" style="display: none;">
<table width="970px" cellspacing="0" cellpadding="0" class="classificar" id="tblStatusViewer">
        <thead>
            <tr>
                <th>Cadastro</th>
                <th>Código</th>
                <th>Cliente</th>
                <th>CPF/CGC</th>
                <th>Assessor</th>
                <th width="50px;">BM&F</th>
                <th width="50px;">Bovespa</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
