﻿@using QX3.Portal.Contracts.DataContracts
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<div class="filtro-padrao">
    <div id="transferBovespaFilter" class="topo">
        Filtrar por
    </div>
    <div id="transferBovespaFilterContent" class="conteudo" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>
                Código</label>
            @Html.TextBox("txtClientCode")
        </div>
        <div class="linha-frm">
            <label>
                CNPJ</label>
            @Html.TextBox("txtCnpj")
        </div>
        <div class="linha-btn">
            <a href="javascript:;" class="btn-padrao" id="btnSearch"><span>Buscar Cliente</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
