﻿@using QX3.Portal.Contracts.DataContracts;
@{
    ViewBag.Title = "Repasse Bovespa";
    
}
@using QX3.Portal.WebSite.Helper
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/ClientRegistration/TransferBovespa.js")" type="text/javascript"></script>
 
@using (Html.BeginForm("LoadTransferBovespa", "ClientRegistration", FormMethod.Post, new { id = "frmTransferBovespa" }))
{
    var errorMessage = TempData["ErrorMessage"];
    var hasError = errorMessage != null ? "display: block;" : "display: none;";
        
    <div class="ferramentas acoes assessores">
        <div>Exportar: 
            <a id="lnkTransferBovespaExcel" class="ico-xls" href="javascript:;">Excel</a>
            <a id="lnkTransferBovespaPdf" class="ico-pdf" href="javascript:;">PDF</a>
        </div>
    </div>
    @Html.Partial("TransferBovespaFilter")
    <div id="feedbackError" class="erro" style="@hasError">
        @errorMessage
    </div>
    <div id="emptyArea" class="sem-resultado" style="display: none;">
    </div>
    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
    <div class="area-resultado" id="tableArea" style="display: none;">
        <table class="classificar" id="tbTransferBovespa" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        CNPJ
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}
