﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Empresa</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group has-feedback">
                    <label>Empresa</label>
                    <select class="form-control" id="companySelect" name="companySelect" ng-model="$ctrl.data.CompanyId" required
                            ng-options="company.Id as company.Value for company in $ctrl.companies">
                        <option disabled value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Data Início:</label>
                    <input name="startdate" ng-model="$ctrl.data.StartDate" type="text" class="form-control" placeholder="dd/mm/aaaa" required
                                mindate ui-date-mask>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Data Conclusão:</label>
                    <input name="enddate" ng-model="$ctrl.data.EndDate" type="text" class="form-control" placeholder="dd/mm/aaaa"  
                           mindate="$ctrl.data.StartDate" ui-date-mask>
                    
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>