﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Férias</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Início Período Aquisitivo</label>
                    <input name="aquisitionstartdate" ng-model="$ctrl.data.AquisitionStartDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask required
                           mindate>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Término Período Aquisitivo</label>
                    <input name="aquisitionenddate" ng-model="$ctrl.data.AquisitionEndDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask required
                           mindate="$ctrl.data.AquisitionStartDate">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Início Período Gozo</label>
                    <input name="enjoymentstartdate" ng-model="$ctrl.data.EnjoymentStartDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask required
                            mindate>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Término Período Gozo</label>
                    <input name="enjoymentenddate" ng-model="$ctrl.data.EnjoymentEndDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask required
                           mindate="$ctrl.data.EnjoymentStartDate" >
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Recebimento</label>
                    <input name="receiptdate" ng-model="$ctrl.data.ReceiptDate" type="text" class="form-control" placeholder="dd/mm/aaaa" ui-date-mask required
                            mindate>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Valor</label>
                    <input name="value" ng-model="$ctrl.data.Value" type="text" class="form-control" maxlength="13" placeholder="00,00" ui-money-mask="2" max="99999999.99">
                    <md-messages>
                        <md-message money>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>