﻿@{
    ViewBag.Title = "Consulta de Repasses de Corretagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/Brokerage.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    if (TempData["Success"] != null)
    {
    @Html.Partial("Feedback", "Repasses liquidados com sucesso")
    }

    string filterDate = (TempData["FilterDate"] != null) ? TempData["FilterDate"].ToString() : DateTime.Now.ToString("dd/MM/yyyy");
	
    <div id="filterArea" class="caixa-filtro">
        <h2>
            Consulta de Repasses de Corretagem</h2>
        @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
        <div class="linha-frm">
            @Html.Label("Consultar")
            <div class="lista-opcoes-vertical">
                @Html.RadioButton("rblStatus", 0, true) Repasses pendentes
                @Html.RadioButton("rblStatus", 1) Repasses Liquidados
            </div>
        </div>
        <span class="quebrar"></span>
        <div class="linha-frm">
            @Html.Label("Data de liquidação")
            @Html.TextBox("txtSettlementDate", filterDate, new { @id = "txtSettlementDate", @maxlength = "10" })
            <label id="vlnSettlementDate">
            </label>
            @Html.Hidden("hdfSettlementDate", "", new { @id = "hdfSettlementDate" })
        </div>
        <div class="linha-frm" id="endDate" style="display: none;">
            @Html.Label("Data Final")
            @Html.TextBox("txtSettlementEndDate", filterDate, new { @id = "txtSettlementEndDate", @maxlength = "10" })
            <label id="vlnSettlementEndDate">
            </label>
            @Html.Hidden("hdfSettlementEndDate", "", new { @id = "hdfSettlementDate" })
        </div>
        <div class="linha-frm campo-condigo-cliente">
            @Html.Label("Código do cliente")
            @Html.TextBox("txtClientCode", "", new { @id = "txtClientCode", @maxlength = "9" })
        </div>
        <span id="lblTraderName" class="apoio"></span>
        <div class="linha-btn">
            <a id="btnSearch" class="btn-padrao" href="javascript:;"><span>Pesquisar</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
    <div id="loadingArea" style="display: none; text-align: center;">
        <span class="quebrar"></span>
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
    <div id="reportArea" style="display: none;">
    </div>
}