﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model List<BrokerageTransfer>   
@{
	Layout = null;
}
<script type="text/javascript">
	var context = $("#reportToolBar");
	$("#btnSettle", context).click(function () {
	    var date = $("#txtSettlementDate").val();
	    var code = $("#txtClientCode").val();
		commonHelper.OpenModal("/NonResidentTraders/ConfirmSettlement/?Date=" + date + "&Code="+ code, 450, ".content", "");
	});</script>
<br />
@{ List<BrokerageTransfer> transfers = this.Model;}
@if (transfers != null && transfers.Count > 0)
{
	var startDate = ViewData["startDate"];
	var endDate = ViewData["endDate"];
	var status = transfers[0].Status;
	var code = ViewData["code"];

	string reportTitle = (status == BrokerageTransferStatus.Pending) ? string.Concat("Repasses Pendentes - ", startDate) : string.Format("Repasses Liquidados -  {0} à {1}", startDate, endDate);
	string urlParams = (status == BrokerageTransferStatus.Pending) ? string.Format("code={0}&startDate={1}&status={2}", code, startDate, (Int32)status) : string.Format("code={0}&startDate={1}&endDate={2}&status={3}", code, startDate, endDate, (Int32)status);
	QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();
				
	<span class="quebrar"></span>
	<div id="reportToolBar" class="ferramentas acoes">
		<h2>@reportTitle</h2>
		<div>
			Exportar para: <a href="../NonResidentTraders/BrokerageToExcel?@urlParams" class="ico-xls" target="_blank">
				Excel</a> <a href="../NonResidentTraders/BrokerageToPDF?@urlParams" class="ico-pdf" target="_blank">
					PDF</a> <a href="../NonResidentTraders/PrintBrokerageReport?@urlParams" class="ico-print" target="_blank">
						Imprimir</a></div>
		@if (acHelper.HasFuncionalityPermission("NonResidentTraders.Brokerage", "btnSettle") && status == BrokerageTransferStatus.Pending)
  {			<a class="btn-padrao" href="javascript:;" id="btnSettle" title="liquidar repasses pendentes"><span>Liquidar
	  repasses</span></a>
  }
		<span></span>
	</div>
	<div id="brokerageReport" class="caixa-relatorio">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<thead>
				<tr>
					<th>
						Código BV
					</th>
					<th>
						Código Sinacor
					</th>
					<th>
						Nome do Cliente
					</th>
					<th>
						Data Corretagem
					</th>
					<th>
						Corretagem Total
					</th>
					<th>
						% Repasse
					</th>
					<th>
						Valor Repasse R$
					</th>
					<th>
						Valor Repasse $
					</th>
					@if (status != BrokerageTransferStatus.Pending)
	 {
						<th>
							Data de Liquidação
						</th>
						<th>
							Login
						</th>
	 }
				</tr>
			</thead>
			<tbody>
				@foreach (BrokerageTransfer bt in transfers)
	{
					<tr>
						<td>@bt.ClientBrokerCode
						</td>
						<td>@bt.ClientCode
						</td>
						<td>@bt.ClientName
						</td>
						<td class="centralizado">@bt.BrokerageDate.ToString("dd/MM/yyyy")
						</td>
						<td class="direita">@bt.BrokerageValue.ToString("N2")
						</td>
						<td>@bt.TransferPercentage.ToString("N3")
						</td>
						<td class="direita">@bt.TransferValue.ToString("N2")
						</td>
						<td class="direita">@bt.TransferValueToDolar.ToString("N2")
						</td>
						@if (bt.Status == BrokerageTransferStatus.Settled)
	  {
							<td class="centralizado">@bt.SettlementDate.Value.ToString("dd/MM/yyyy")
							</td>
							<td class="direita">@bt.UserName
							</td>
	  }
					</tr>
	}
			</tbody>
			<tfoot>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>@transfers.Select(t => t.BrokerageValue).Sum().ToString("N2")
					</td>
					<td>@transfers.Select(t => t.TransferPercentage).Sum().ToString("N3")
					</td>
					<td>@transfers.Select(t => t.TransferValue).Sum().ToString("N2")
					</td>
					<td>@transfers.Select(t => t.TransferValueToDolar).Sum().ToString("N2")
					</td>
					@if (status != BrokerageTransferStatus.Pending)
	 {
						<td>
						</td>
						<td>
						</td>
	 }
				</tr>
			</tfoot>
		</table>
	</div>
	<span class="quebrar"></span>
	
}
else
{
	<div id="emptyArea" class="sem-resultado">
		Sua pesquisa não encontrou resultados válidos. Tente novamente.
	</div>
}
