﻿@{
	Layout = null;
}
<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/ConfirmSettlement.js")" type="text/javascript"></script>

<div id="ConfirmArea">
    <div class="conteudo">
	    <h2>Confirmar liquidação de repasses</h2>
	    <strong>Para confirmar a liquidação selecione uma das opções abaixo.</strong>
	    @using (Html.BeginForm("SettlePendingBrokerages", "NonResidentTraders", FormMethod.Post, new { @id = "frmPending" }))
        {
            @Html.Hidden("hdfDate", Request["Date"]);
            @Html.Hidden("hdfCode", Request["Code"]);
            <div class="linha-btn">
	            <a type="button" class="btn-primario" href="javascript:;" name="btnSettle" id="btnSettle" title="liquidar repasses pendentes"><span>liquidar</span></a>
                <a type="button" class="btn-secundario" href="javascript:;" name="btnCancel" onclick="Modal.Close();" id="btnCancel" title="cancelar liquidação"><span>cancelar liquidação</span></a>
            </div>
        }
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>
 </div>
