﻿@{
	ViewBag.Title = "Confirmation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/Confirmation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
	<div id="filterArea" class="caixa-filtro">
		<h2>Gerar relatório de confirmação</h2>
		@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
		<div class="linha-frm">
			@Html.Label("Data do pregão")
			@Html.TextBox("txtTradingDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @id = "txtTradingDate", @maxlength = "10" })
			<label id="vlnTradingDate">
			</label>
			@Html.Hidden("hdfTradingDate", "", new { @id = "hdfTradingDate" })
		</div>
		<div class="linha-frm campo-condigo-cliente">
			@Html.Label("Código do cliente")
			@Html.TextBox("txtClientCode", "", new { @id = "txtClientCode", @maxlength = "9" })
		</div>
		<span id="lblTraderName" class="apoio"></span>
		<div class="linha-btn">
			<a id="btnSearch" class="btn-padrao" href="javascript:;"><span>Pesquisar</span></a>
			<a id="lnkSearchAll" class="lnk-apoio" href="#">Listar todos os clientes</a>
		</div>
		<span class="quebrar"></span>
	</div>
	<div id="emptyArea" class="sem-resultado" style="display: none;">
	</div>
    <div id="loadingArea" style="display: none; text-align: center;">
    <span class="quebrar"></span>
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
	<div id="tableArea" class="area-resultado" style="display: none;">
		<div style="display: none;">
			Relatórios em
			<label id="lblTradingDate">
			</label>
		</div>
		<div id="toolBarHeader">
			<h2>Relatórios</h2>
			<div class="ferramentas">
				<div>
					Exportar: <a id="confirmationExcelReportsToZip" class="ico-xls" target="_blank">Excel</a>
                    <a id="confirmationPDFReportsToZip" class="ico-pdf" target="_blank">PDF</a>
                    <a id="printConfirmationReports" class="ico-print" target="_blank">Imprimir selecionados</a>
                </div>
			</div>
		</div>
		<table cellpadding="0" cellspacing="0" border="0" id="clientTable">
			<thead>
				<tr>
					<th class="unbind" height="30">@Html.CheckBox("checkAll", false, new { @id = "checkAll", @onclick = "addCodeIntoArray('',true)" })
					</th>
					<th width="60px">
                    <div style="width:60px;">Cod. Cliente</div>
					</th>
					<th width="409" height="30">
						Nome do Cliente
					</th>
					<th width="89px" height="30" class="unbind">
						&nbsp;
					</th>
				</tr>
			</thead>
		</table>
	</div>

	<div id="reportArea" style="display: none;">
	</div>
}