﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model CustomerLedger   
@{
    Layout = null;
}
<br />
@{ CustomerLedger report = this.Model;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);

   if (report != null && report.Items.Count > 0)
   {
       ReportHeader header = report.Header;
	   
    <span class="quebrar"></span>
    <div id="customerLedgerReport" class="caixa-relatorio">
        <div class="cabecalho">
            <h2>
                <img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
            <div class="endereco">
                <span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
                    @header.Quarter - @header.City</span>
                <div class="conta">
                    <strong>For the Account of:</strong><br />
                    Cust ID: @report.ClientCode Cust Name: @report.ClientName
                </div>
                <h3>
                    Customer Ledger</h3>
                <span class="data-operacao">from @report.StartDate.ToString("MM/dd/yyyy", cultureInfo)
                    to @report.EndDate.ToString("MM/dd/yyyy", cultureInfo)</span> <span class="quebrar">
                    </span>
            </div>
        </div>
        <div class="conteudo">
            <div style="display: none;">
                from @report.StartDate.ToString("MM/dd/yyyy", cultureInfo) to @report.EndDate.ToString("MM/dd/yyyy", cultureInfo)
                @{ List<CustomerLedgerItem> list = report.Items; }
            </div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Confirm ID
                        </th>
                        <th>
                            Security
                        </th>
                        <th>
                            Trade Date
                        </th>
                        <th>
                            Settle Date
                        </th>
                        <th>
                            Buy/Sell
                        </th>
                        <th>
                            Share Price
                        </th>
                        <th>
                            Shares
                        </th>
                        <th>
                            Net Value
                        </th>
                        <th>
                            Currency
                        </th>
                        <th>
                            Settled Shares
                        </th>
                        <th>
                            Settled Value
                        </th>
                        <th>
                            Outstanding Shares
                        </th>
                        <th>
                            Outstanding Values
                        </th>
                    </tr>
                </thead>
                @foreach (CustomerLedgerItem i in list)
                {
                    <tr>
                        <td>@i.ConfirmID
                        </td>
                        <td>@i.Security
                        </td>
                        <td class="centralizado">@i.TradeDate.ToString("MM/dd/yyyy", cultureInfo)
                        </td>
                        <td class="centralizado">@i.SettleDate.ToString("MM/dd/yyyy", cultureInfo)
                        </td>
                        <td>@i.OperationCode
                        </td>
                        <td class="direita">@i.SharePrice.ToString("N2", cultureInfo)
                        </td>
                        <td class="direita">@i.Shares.ToString("N0", cultureInfo)
                        </td>
                        <td class="direita">@i.NetValue.ToString("N2", cultureInfo)
                        </td>
                        <td>@i.CurrencyName
                        </td>
                        <td class="direita">@i.SettledShares.ToString("N0", cultureInfo)
                        </td>
                        <td class="direita">@i.SettledValue.ToString("N2", cultureInfo)
                        </td>
                        <td class="direita">@i.OutstandingShares.ToString("N2", cultureInfo)
                        </td>
                        <td class="direita">@i.OutstandingValues.ToString("N2", cultureInfo)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <span class="quebrar"></span>
	
   }
   else
   {
    <div id="emptyArea" class="sem-resultado">
        Sua pesquisa não encontrou resultados válidos. Tente novamente.
    </div>
   } 
}
