﻿@{
	ViewBag.Title = "CustomerStatement";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/CustomerStatement.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>

	
	<div id="filterArea" class="caixa-filtro">
		<h2>Gerar relatório de Customer Statement</h2>
		@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
		<div class="linha-frm">
			@Html.Label("Mês e ano de referência")
			<select id="sltMonths">
				@if (ViewData["Months"] != null)
	            {
		            String[] Months = (String[])ViewData["Months"];
		            for (var i = 0; i < Months.Length; i++)
		            {
					    <option value="@(((i + 1).ToString().Length == 1) ? "0" + (i + 1).ToString() : (i + 1).ToString())" @((DateTime.Today.Month == (i + 1)) ? "selected=selected" : "") >@Months[i]</option>
		            }
	            }
			</select>
			<select id="sltYears">
				@if (ViewData["Years"] != null)
	            {
		            foreach (string year in (String[])ViewData["Years"])
		            {
					    <option value="@year" @((DateTime.Today.Year == Convert.ToInt16(year)) ? "selected=selected" : "") >@year</option>
		            }
	            }
			</select>
		</div>
		<div class="linha-frm campo-condigo-cliente">
			@Html.Label("Código do cliente")
			@Html.TextBox("txtClientCode", "", new { @id = "txtClientCode", @maxlength = "9" })
		</div>
		<span id="lblTraderName" class="apoio"></span>
		<div class="linha-btn">
			<a id="btnSearch" class="btn-padrao" href="javascript:;"><span>Pesquisar</span></a>
		</div>
		<span class="quebrar"></span>
	</div>
	<div id="emptyArea" class="sem-resultado" style="display: none;">
	</div>
    
    <div id="loadingArea" style="display: none;">
    <span class="quebrar"></span>
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>

	<div id="tableArea" class="area-resultado" style="display: none;">
		<div style="display: none;">
			Relatórios de
			<label id="lblDate">
			</label>
		</div>
		<div id="toolBarHeader">
			<h2>
				Relatórios</h2>
			<div class="ferramentas">
				<div>Exportar: <a id="customerStatExcelReportsToZip" class="ico-xls" target="_blank">Excel</a> <a id="customerStatPDFReportsToZip" class="ico-pdf" target="_blank">PDF</a> <a id="printCustomerStatReports" class="ico-print" target="_blank">Imprimir selecionados</a></div>
			</div>
		</div>
		<table cellpadding="0" cellspacing="0" border="0" id="clientTable">
			<thead>
				<tr>
					<th class="unbind" height="30">@Html.CheckBox("checkAll", false, new { @id = "checkAll", @onclick = "addCodeIntoArray('',true)" })
					</th>
					<th width="174" height="30">
						Cod. Cliente
					</th>
					<th width="409" height="30">
						Nome do Cliente
					</th>
					<th width="89px" height="30" class="unbind">
						&nbsp;
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<div id="reportArea" class="area-resultado" style="display: none;">
		<div id="reportToolBar">
			<a href="#" onclick="backToList();" class="lnk-voltar">Voltar para a listagem</a>
			<span class="quebrar"></span>
			<div class="ferramentas acoes">
				<h2>Relatório Customer Statement</h2>
				<div id="customerStatementTools">Exportar para: <a id="customerStatExcelReport" class="ico-xls" target="_blank">Excel</a> <a id="customerStatPDFReport" target="_blank" class="ico-pdf">PDF</a> <a id="customerStatPrintReport" target="_blank" class="ico-print">Imprimir</a></div>
			</div>
            <span class="quebrar"></span>
		</div>
        <span class="quebrar"></span>
		<div id="reportSubArea">
		</div>
	</div>
