﻿@{
	ViewBag.Title = "Disclaimers";
    
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Models
@model List<DisclaimerViewModel> 
@if (TempData["Success"] != null)
{
	@Html.Partial("Feedback", TempData["Success"])
}
<div id="filterArea">
	<h2>
		Disclaimers cadastrados</h2>
	@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
	@if (Model != null && Model.Count > 0)
 {
	 foreach (DisclaimerViewModel d in Model)
	 {
		 string btnOpenID = "btnEditDisclaimer" + d.ReportId.ToString();
		 
		<div class="relatorios">
			<span>Relatório @d.Description</span> <a id='@btnOpenID' class="btn-padrao" href="/NonResidentTraders/DisclaimerRegistration/?id=@d.ReportId">
			<span>@(d.HasDisclaimer ? "editar" : "cadastrar")</span></a>
		</div>
	 }
 }
	<span class="quebrar"></span>
</div>
