﻿@{
    ViewBag.Title = "Cadastro de Falhas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/Failure.js?new=" + DateTime.Now.Ticks.ToString()))" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.Hidden("hdfUsername", QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.UserName)
    @Html.Hidden("hdfUpdateDate", DateTime.Now.ToShortDateString())

    <div id="filterArea" class="caixa-filtro">
        <h2>
            Pesquisar Clientes</h2>
        @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
        <div class="linha-frm">
            @Html.Label("Data do pregão")
            @Html.TextBox("txtTradingDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @id = "txtTradingDate", @maxlength = "10" })
            <label id="vlnTradingDate">
            </label>
            @Html.Hidden("hdfTradingDate", "", new { @id = "hdfTradingDate" })
        </div>
        <div class="linha-frm campo-condigo-cliente">
            @Html.Label("Código do cliente")
            @Html.TextBox("txtClientCode", "", new { @id = "txtClientCode", @maxlength = "9" })
        </div>
        <span id="lblTraderName" class="apoio"></span>
        <div class="linha-btn">
            <a id="btnSearch" class="btn-padrao" href="javascript:;"><span>Pesquisar</span></a>
            <a id="lnkSearchAll" class="lnk-apoio" href="#">Listar todos os clientes</a>
        </div>
        <span class="quebrar"></span>
    </div>
    <div id="emptyArea" class="sem-resultado" style="display: none;">
    </div>
    <div id="loadingArea" style="display: none; text-align: center;">
    <span class="quebrar"></span>
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
    <div id="tableArea" class="area-resultado" style="display: none;">
        <h2>
            Operações -
            <label id="lblTradingDate">
            </label>
        </h2>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" id="failureTable">
            <thead>
                <tr>
                    <th>
                        <span>Código da Operação</span>
                    </th>
                    <th>
                        Data do Pregão
                    </th>
                    <th>
                        Data da Liquidação
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Valor Operação
                    </th>
                    <th>
                        Valor Total
                    </th>
                    <th>
                        Quantidade Falha
                    </th>
                    <th>
                        Valor Falha
                    </th>
                    <th>
                        Data da Alteração
                    </th>
                    <th>
                        Login
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <span class="quebrar"></span>
    </div>
}