﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model FailLedger   
@{
	Layout = null;
}
@{ FailLedger report = this.Model;
   ReportHeader header = report.Header;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);
}
@if (report.Items.Count > 0)
{
	var a = @ViewData["code"];
	var reportName = string.Empty;
	switch (report.Type)
	{
		case FailLedgerType.FailToReceive:
			reportName = "Fail To Receive";
			break;
		case FailLedgerType.FailToDeliver:
			reportName = "Fail To Deliver";
			break;
		case FailLedgerType.APCustomer:
			reportName = "Fail To A/P Customer";
			break;
		case FailLedgerType.ARCustomer:
			reportName = "Fail To AR Customer";
			break;
	}
	<link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" media="screen" />
	<link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
	<span class="quebrar"></span>
	<div id="failLedgerReport" class="caixa-relatorio">
		<div class="cabecalho">
			<h2>
				<img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
			<div class="endereco">
				<span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
					@header.Quarter - @header.City<br />
					@{ List<FailLedgerItem> list = report.Items; }
				</span>
				
			</div>
			<h3>
				@reportName
			</h3>
			<span class="data-operacao">@DateTime.Parse(ViewData["date"].ToString()).ToString("MM/dd/yyyy", cultureInfo)</span>
			<span class="quebrar"></span>
		</div>
		<div class="conteudo">
			@{var users = (from l in list group l by new { l.ClientCode, l.ClientName } into g select new Customer { Code = g.Key.ClientCode, Name = g.Key.ClientName }).ToList(); }
			@foreach (Customer c in users)
   {
	   var cItems = (from ci in list where ci.ClientCode.Equals(c.Code) select ci).ToList();
				<br />
				<div class="conta">
					<strong>For the Account of:</strong><br />
					<strong>Client ID:</strong> @c.Code   <strong>Client Name:</strong> @c.Name
				</div>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<thead>
						<tr>
							<th>
								Confirm ID
							</th>
							<th>
								Security
							</th>
							<th>
								Buy/Sell
							</th>
							<th>
								Trade Date
							</th>
							<th>
								Settle Date
							</th>
							<th>
								Shares
							</th>
							<th>
								Net Amount
							</th>
							<th>
								Market Value Per Share
							</th>
							<th>
								Market Value Total
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (FailLedgerItem i in cItems)
	  {
		  string op = (i.OperationCode == "B") ? "Bought" : "Sold";
							<tr>
								<td>@i.ConfirmID
								</td>
								<td>@i.Security
								</td>
								<td>@op
								</td>
								<td class="centralizado">@i.TradeDate.ToString("MM/dd/yyyy", cultureInfo)
								</td>
								<td class="centralizado">@i.SettleDate.ToString("MM/dd/yyyy", cultureInfo)
								</td>
								<td>@i.Shares.ToString("N0", cultureInfo)
								</td>
								<td class="direita">@i.NetAmount.ToString("N2", cultureInfo)
								</td>
								<td class="direita">@i.MarketValuePerShare.ToString("N2", cultureInfo)
								</td>
								<td class="direita">@i.MarketValueTotal.ToString("N2", cultureInfo)
								</td>
							</tr>
	  }
					</tbody>
					<tfoot class="rodape">
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								&nbsp;
							</td>
							<td class="direita">
								Record Count: @cItems.Count.ToString("N0", cultureInfo)
							</td>
						</tr>
					</tfoot>
				</table>
   }
		</div>
	</div>
	<span class="quebrar"></span>
	
}
else
{
	<p>
		Nenhum relatório gerado</p>
}
<script type="text/javascript">

	window.print();

</script>
