﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model TradeBlotter        
@{
	Layout = null;
}
@{ TradeBlotter report = this.Model;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);}
@if (report != null && report.Items.Count > 0)
{
	<title>Trade Blotter - BV Securities</title>
	<link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" />
    
	<div class="area-relatorio">
		@{
ReportHeader header = report.Header;
ReportFooter footer = report.Footer;
DateTime tradingDate = DateTime.Parse(ViewData["date"].ToString(), cultureInfo);
		}
		<div class="caixa-relatorio">
			<div class="cabecalho">
				<h2>
					<img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
				<div class="endereco">
					<span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
						@header.Quarter - @header.City</span>
					<h3>
						Trade Blotter</h3>
					<span class="data-operacao">@tradingDate.ToString("MM/dd/yyyy")</span> <span class="quebrar">
					</span>
				</div>
			</div>
			<div class="conteudo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td>
							Trade ID
						</td>
						<td>
							Trade Date
						</td>
						<td>
							Settle Date
						</td>
						<td>
							Isin
						</td>
						<td>
							Stock
						</td>
						<td>
							# Of Shares
						</td>
						<td>
							Share Price
						</td>
						<td>
							Customer Buy Amount
						</td>
						<td>
							Net Buy Amount
						</td>
						<td>
							Customer Sell Amount
						</td>
						<td>
							Net Sell Amount
						</td>
						<td>
							Currency
						</td>
						<td width="150">
							Client/Broker
						</td>
					</tr>
					@foreach (TradeBlotterItem i in report.Items)
     {

						<tr>
							<td>@i.TradeId
							</td>
							<td class="centralizado">@i.TradeDate.ToString("MM/dd/yyyy", cultureInfo)
							</td>
							<td class="centralizado">@i.SettlementDate.ToString("MM/dd/yyyy", cultureInfo)
							</td>
							<td>@i.ISINCode
							</td>
							<td>@i.CompanyName
							</td>
							<td class="direita">@i.NumberOfShares.ToString("N0", cultureInfo)
							</td>
							<td  class="direita">@i.SharePrice.ToString("N2", cultureInfo)
							</td>
							<td  class="direita">@i.CustomerBuyAmount.ToString("N2", cultureInfo)
							</td>
							<td  class="direita">@i.NetBuyAmount.ToString("N2", cultureInfo)
							</td>
							<td  class="direita">@i.CustomerSellAmount.ToString("N2", cultureInfo)
							</td>
							<td  class="direita">@i.NetSellAmount.ToString("N2", cultureInfo)
							</td>
							<td>@i.CurrencyName
							</td>
							<td>@i.ClientName
							</td>
						</tr>
     }
				</table>
			</div>
		</div>
	</div>
}
else
{ 
	<a href="#" onclick="backToList();">Voltar para a listagem</a>
	<p>
		Nenhum relatório gerado</p>
}
<script type="text/javascript">

	window.print();

</script>
