﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model List<Confirmation>             
@{
	Layout = null;
}
@{ List<Confirmation> reports = this.Model;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);}
@if (reports != null && reports.Count() > 0)
{
	<title>Relatório de Confirmação - BV Securities</title>
	<link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" media="screen" />
	<link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
		foreach (Confirmation report in reports)
		{
	<div id="reportArea" class="area-relatorio">
		@if (report.Items.Count > 0)
  {
	  ReportHeader header = report.Header;
	  ReportFooter footer = report.Footer;
			<div id="confirmationReport" class="caixa-relatorio">
				<div class="cabecalho">
					<h2>
						<img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
					<div class="endereco">
						<span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
							@header.Quarter - @header.City<br />
							@{ List<ConfirmationItem> list = report.Items; }
						</span>
						<h4>@report.ClientName</h4>
						@report.Address<br />
						Phone: @report.PhoneNumber<br />
						FAX: @report.FaxNumber<br />
						@report.Email<br />
					</div>
					<div class="conta">
						<strong>For the Account of:</strong><br />
						Account Number: @report.ClientCode
					</div>
					<h3>
						Confirmation</h3>
					<span class="quebrar"></span>
				</div>
				<span class="quebrar"></span>
				<div class="conteudo estreito">
					<span>We confirm the trade (s) below subject to the terms and conditions seth forthon
						the back of this confirmation.</span>
					<div class="lista-operacao">
						@foreach (ConfirmationItem i in list)
	  {
		  string op = (i.OperationType == "B") ? "Bought" : "Sold";
							<div class="operacao">
								<span>YOU (@op)</span>
								<div class="topo">
									<div class="esquerda">
										<h4>@i.Symbol - @i.CompanyName</h4>
										QTY: @i.Quantity.ToString("N0", cultureInfo)<br />
										Unit Price: @i.TradeValue.ToString("N2", cultureInfo)
									</div>
									<div class="direita">
										Trade ID: @i.TradeId<br />
										ISIN code: @i.ISINCode<br />
										Currency: @i.CurrencyName
									</div>
									<span class="quebrar"></span>
								</div>
								<table cellpadding="0" width="100%" cellspacing="0" border="0">
									<tr>
										<td>
											Trade Date
										</td>
										<td class="centralizado">@i.TradeDate.ToString("MM/dd/yyyy", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											Settlement Date
										</td>
										<td class="centralizado">@i.SettlementDate.ToString("MM/dd/yyyy", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											Principal
										</td>
										<td class="direita">@i.PrincipalValue.ToString("N2", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											Commission
										</td>
										<td class="direita">@i.CommissionValue.ToString("N2", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											Transaction Fee
										</td>
										<td class="direita">@i.TransactionFeeValue.ToString("N2", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											*Net Amount
										</td>
										<td class="direita">@i.NetAmmountValue.ToString("N2", cultureInfo)
										</td>
									</tr>
									<tr>
										<td>
											Custodian
										</td>
										<td>@i.CustodyCode
										</td>
									</tr>
								</table>
								<small>*financial value in words</small>
							</div>
	  }
					</div>
					<div class="aviso-legal primario" style="padding-top:140px;">
						<p>
							THIS CONFIRMATION IS AN ADVICE NOT AN INVOICE. REMMITANCE OR SECURITIES ARE DUE
							ON OR BEFORE SETTLEMENT DATE.</p>
						<p>
							See Terms and Conditions and explanation of coded symbols on the last page of this Confirmation.</p>
						<p>
							On other than Round Lots (normally 100 shares) if a differencial has been charged
							above an 000-Lot differencial<br />
							in connection with any transaction, the amount of such differencial will be furnished
							upon request.</p>
						<p>
							All transactions are cleared in Brazil by Votorantim CTVM Ltda., an affiliate of
							Banco Votorantim Securities, Inc.</p>
					</div>
					<div class="aviso-legal secundario">
						@(footer == null ? Html.Raw("") : Html.Raw(HttpUtility.HtmlDecode(footer.Disclaimer)))
					</div>
				</div>
			</div>
  }
	</div>
		}
}
else
{ 
	<a href="#" onclick="backToList();">Voltar para a listagem</a>
	<div id="emptyArea" class="sem-resultado">
			Não há relatório gerado
		</div>
}
<script type="text/javascript">

	window.print();

</script>
