﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model List<CustomerStatement>             
@{
	Layout = null;
}
@{ List<CustomerStatement> reports = this.Model;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);}
@if (reports != null && reports.Count() > 0)
{
	<title>Customer Statement - BV Securities</title>
	<link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" media="screen" />
	<link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
        foreach (CustomerStatement report in reports)
        {
	<div id="reportArea" class="area-relatorio">
		<div class="caixa-relatorio">
			@if (report.Items.Count > 0)
   {
       ReportHeader header = report.Header;
       ReportFooter footer = report.Footer;
       var a = @ViewData["code"];
				<div id="customerStatementReport">
					<div class="cabecalho">
						<h2>
							<img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
						<div class="endereco">
							<span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
								@header.Quarter - @header.City</span>
							@{ List<CustomerStatementItem> list = report.Items; }
							<h4>@report.ClientName</h4>
							@report.Address<br />
							Phone: @report.PhoneNumber<br />
							FAX: @report.FaxNumber<br />
							@report.Email
						
						<div class="conta">
							<strong>For the Account of:</strong><br />
							Account Number: @report.ClientCode
						</div>
						<h3>
							Customer Statement</h3>
							<span class="data-operacao">from @report.BeginDate.ToString("MM/dd/yyyy", cultureInfo)
							to @report.EndDate.ToString("MM/dd/yyyy", cultureInfo)</span> <span class="quebrar">
							</span>
						</div>
					</div>
					<div class="conteudo">
						<div style="display: none;">
							We confirm the trade (s) below subject to the terms and conditions seth forthon
							the back of this confirmation.</div>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<thead>
								<tr>
									<th>
										Security
									</th>
									<th>
										Trade Date
									</th>
									<th>
										Settle Date
									</th>
									<th>
										Buy/Sell
									</th>
									<th>
										Share Price
									</th>
									<th>
										Currency
									</th>
									<th>
										Shares
									</th>
									<th>
										Net Value
									</th>
									<th>
										Date Settled
									</th>
									<th>
										Settled Value
									</th>
									<th>
										Currency
									</th>
									<th>
										Outstanding Shares
									</th>
									<th>
										Outstanding Values
									</th>
									<th>
										Currency
									</th>
								</tr>
							</thead>
							<tbody>
								@{ Decimal NetValue = 0, SettleValue = 0; }
								@foreach (CustomerStatementItem i in list)
        {
									<tr>
										<td>@i.CompanyName
										</td>
										<td class="centralizado">@i.TradeDate.ToString("MM/dd/yyyy", cultureInfo)
										</td>
										<td class="centralizado">@i.SettlementDate.ToString("MM/dd/yyyy", cultureInfo)
										</td>
										<td class="centralizado">@i.OperationCode
										</td>
										<td class="direita">@i.SharePrice.ToString("N2", cultureInfo)
										</td>
										<td class="direita">@i.CurrencyName
										</td>
										<td class="direita">@i.Shares.ToString("N0", cultureInfo)
										</td>
										<td class="direita">@i.NetValue.ToString("N2", cultureInfo)
										</td>
										<td class="centralizado">@i.SettlementDate.ToString("MM/dd/yyyy", cultureInfo)
										</td>
										<td class="direita">@i.SettleValue.ToString("N2", cultureInfo)
										</td>
										<td class="direita">@i.CurrencyName
										</td>
										<td class="direita">@i.OutstandingShares.ToString("N2", cultureInfo)
										</td>
										<td class="direita">@i.OutstandingValues.ToString("N2", cultureInfo)
										</td>
										<td class="direita">@i.CurrencyName
										</td>
									</tr>
         NetValue += i.NetValue;
         SettleValue += i.SettleValue;
        }
							</tbody>
							<tfoot class="rodape">
								<tr>
									<td>
										#of Trades: @list.Count.ToString("N0", cultureInfo)
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>@NetValue.ToString("N2", cultureInfo)
									</td>
									<td>
										&nbsp;
									</td>
									<td>@SettleValue.ToString("N2", cultureInfo)
									</td>
									<td>@list[0].CurrencyName
									</td>
									<td>
										&nbsp;
									</td>
									<td>
										&nbsp;
									</td>
									<td>@list[0].CurrencyName
									</td>
								</tr>
							</tfoot>
						</table>
						<div class="aviso-legal">
							 @(footer == null ? Html.Raw("") : Html.Raw(HttpUtility.HtmlDecode(footer.Disclaimer)))
						</div>
					</div>
				</div>
   }
		</div>
	</div>
	
        }
		
	<script type="text/javascript">
		$(function () {
			$("#customerStatementTools").show();
		});
	</script>
	
        if (Request["noprint"] == null)
        {
	<script type="text/javascript">
		window.print();
	</script>
        }
}
else
{
    if (Request["noprint"] == null)
    {
	<a href="#" onclick="backToList();">Voltar para a listagem</a>
	<div id="emptyArea" class="sem-resultado">
			Não há relatório gerado
		</div>
	}
    else
    {
	<div id="emptyArea" class="sem-resultado">
		Sua pesquisa não encontrou resultados válidos. Tente novamente.
	</div>
	<script type="text/javascript">
		$(function () {
			$("#customerStatementTools").hide();
		});
	</script>
	}
}
