﻿@{
	ViewBag.Title = "Cadastro Complementar";
    
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/NonResidentTraders/Search.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>

@if (TempData["Success"] != null)
{
	@Html.Partial("Feedback", "Cliente cadastrado com sucesso.")
}
@Html.Hidden("EditedCustomer", TempData["Success"])
<div id="filterArea" class="caixa-filtro">
    <h2>Pesquisar Clientes</h2>
    <div class="linha-frm campo-condigo-cliente">
        <label for="Code">Código do Cliente</label>
        @Html.TextBox("Code", "", new { @maxlength = 7 })
    </div>
    <span id="TraderName" class="apoio"></span>
    <div class="linha-btn">
        <a type="button" class="btn-padrao" href="javascript:;" name="search" id="search" title="pesquisar"><span>Pesquisar</span></a>
        <a href="#" class="lnk-apoio" id="searchAll">Listar todos os clientes</a>
    </div>
    <span class="quebrar"></span>
</div>
<div id="emptyArea" class="sem-resultado" style="display:none;">
</div>

<div id="loadingArea" style="display: none; text-align: center;">
<span class="quebrar"></span>
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>

<div class="area-resultado" id="tableArea" style="display:none;">
    <table cellpadding="0" cellspacing="0" border="0" id="TradersList">
	    <thead>
		    <tr>
			    <th width="60px"><div style="width:60px;">Cod. Cliente</div></th>
			    <th width="409">Nome Cliente</th>
			    <th width="78px">&nbsp;</th>
		    </tr>
	    </thead>
	    <tbody>
	    </tbody>
    </table>
</div>
