﻿@using QX3.Portal.Contracts.DataContracts
@using System.Collections.Generic
@model StockRecord            
@{
	Layout = null;
}
@{ StockRecord report = this.Model;
   IFormatProvider cultureInfo = new System.Globalization.CultureInfo("en-US", true);}
@if (report != null && report.Items.Count > 0)
{
	<span class="quebrar"></span>
	<span class="quebrar"></span>
	
	<div id="toolBarArea" class="area-resultado">
		<div class="ferramentas acoes">
			<h2>Relatório Daily Stock Record</h2>
			<div>Exportar: <a href="../NonResidentTraders/StockRecordReportToExcel?date=@ViewData["date"]" class="ico-xls" target="_blank">Excel</a> <a href="../NonResidentTraders/StockRecordReportToPDF?date=@ViewData["date"]" class="ico-pdf" target="_blank">PDF</a> <a href="../NonResidentTraders/PrintStockRecordReport?date=@ViewData["date"]" class="ico-print" target="_blank">Imprimir</a></div>
		</div>
	</div>
	
	<div id="confirmationReport" class="caixa-relatorio estreito">
		@if (report.Items.Count > 0)
  {
	  ReportHeader header = report.Header;
	  var a = @ViewData["code"];
			<div id="stockRecordReport">
				<div class="cabecalho">
					<h2><img src="../img/bv-securities.gif" alt="BV Securities" /></h2>
					<div class="endereco">
						<span>@header.AddressLine1, @header.Number - @header.AddressLine2<br />
							@header.Quarter - @header.City</span>
						<h3>Daily Stock Record</h3>
						<span class="data-operacao">from @report.StartDate.ToString("MM/dd/yyyy", cultureInfo) to @report.EndDate.ToString("MM/dd/yyyy", cultureInfo)</span>
						<span class="quebrar"></span>
					</div>
				</div>
                <div class="conteudo">
				@{ List<StockRecordItem> list = report.Items; }
				@foreach (StockRecordItem i in list)
	{
					<h5>@i.CompanyName</h5>
		 
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<thead>
                            <tr>
							    <th>Confirm ID</th>
							    <th>Client/Broker</th>
							    <th>Date Settled</th>
							    <th>Long</th>
                                <th>Short</th>
						    </tr>
                        </thead>
						@foreach (StockRecordSubItem si in i.SubItems)
	  {
						<tbody>
                            <tr>
								<td>@si.ConfirmID</td>
								<td>@si.ClientBroker</td>
								<td class="centralizado">@si.DateSettled.ToString("MM/dd/yyyy", cultureInfo)</td>
								<td class="direita">@si.Long.ToString("N2", cultureInfo)</td>
								<td class="direita">@si.Short.ToString("N2", cultureInfo)</td>
							</tr>
                        </tbody>
	  }
                        <tfoot>
						    <tr>
							    <td colspan="3"></td>
							    <td class="direita">@i.SubItems.Select(s => s.Long).Sum().ToString("N2", cultureInfo)</td>
							    <td class="direita">@i.SubItems.Select(s => s.Short).Sum().ToString("N2", cultureInfo)</td>
						    </tr>
                        </tfoot>
					</table>
	}
			</div>
        </div>
  }
	</div>
}
else
{
	<div id="emptyArea" class="sem-resultado">
		Sua pesquisa não encontrou resultados válidos. Tente novamente.
	</div>
}
