﻿#acao {
    text-align: center;
}

#paysliplist td.ng-binding {
    text-align: left;
}

.payslipImport {
    padding-left: 15px;
}

.payslipImport #btnPrimary {
    margin-left: 40px;
    width: 83px;
}

.payslipImport btn.btn-warning {
    width: 100px;
}

#paysliplist {
    margin-left: 16px;
}

.marginleft {
    margin-left: 16px;
}

#divref {
    background-color: #D0D0D0;
    height: 40px;
}

.tamanho {
    font-size: 16px;
}

#salvar {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 150px;
}

#payment .text {
    width: 100% !important;
    text-align: center;
    padding-top: 10px;
}

#payment .fontSize {
    font-size: 9px;
}

#payment .fontBigSize {
    font-size: 14px;
}

#payment .firstDiv {
    padding-left: 0px;
}

.border .row {
    margin-right: 0px;
    margin-left: -0px;
}

.paddingTotalVencimento {
    padding-left: 2.6%;
}

.totalVencimentoValue {
    text-align: right;
    padding-right: 3rem;
}

.paddingTotalDesconto {
    padding-left: 3.2%;
}

.totalDescontoValue {
    text-align: right;
    padding-right: 1.9%;
}

.paddingTotal {
    padding-left: 4.3%;
}

.totalLiquidoValue {
    text-align: right;
    padding-right: 0%;
}

.noPrint {
    text-align: center;
}

.glyphicon glyphicon-print {
    font-size: 20px;
}
