﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="GuaranteeFilter">Filtrar por</div>
	<div class="conteudo" id="GuaranteeFilterContent" style="display:none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;"></div>
		    <div class="linha-frm">
			    <label>Assessor</label>
                @Html.TextBox("txtAssessorFilter")
		    </div>
		    <div class="linha-frm">
			    <label>Cliente</label>
                @Html.TextBox("txtClientFilter")
		    </div>
            <div class="linha-frm">
			    <label>Atividade</label>
                <div class="lista-opcoes-vertical">
					<input type="radio" id="radBovespa" name="radActivitType" checked="checked" /> Bovespa
					<input type="radio" id="radBMF" name="radActivitType" /> BM&F
				</div>
			</div>
            @Html.Hidden("DisplayStart", 0)
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:void(0);" id="lnkSubmitGuaranteeFilter"><span>Listar Garantias</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
  </div>