﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formBenefit.$submitted"></i>Cursos
</uib-tab-heading>
    <div class="row" ng-controller="EmployeeCourseCtrl as $ctrl">
        <form name="$globalCtrl.formAddress" md-form-validator ng-submit="$ctrl.ok()">
            <div class="col-xs-12">
                <h2>Cursos ({{ $ctrl.employee.Name }})</h2>
                <div class="col-sm-12">
                    <p>
                        <button employee-course-create refresh-callback="$ctrl.loadData" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                    </p>
                    <table class="table table-consolidate table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Obrigatório</th>
                                <th>Valor</th>
                                <th>Prazo Máximo</th>
                                <th>Data Inicio</th>
                                <th>Data Conclusão</th>
                                <th width="30">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.courses">
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Required | yesNo }}</td>
                                <td>{{ item.Value | currency:"R$" }}</td>
                                <td>{{ item.Deadline | cdate | date: "dd/MM/yyyy" }}</td>
                                <td>{{ item.StartDate  | cdate | date: "dd/MM/yyyy" }}</td>
                                <td>{{ item.EndDate  | cdate | date: "dd/MM/yyyy" }}</td>
                                <td class="actions">
                                    <a employee-course-create="{{item.Id}}" refresh-callback="$ctrl.loadData" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a confirm="Tem certeza que deseja excluir este item?" refresh-callback="$ctrl.loadData" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</uib-tab>