﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formVehicle.$submitted"></i>Veículos
    </uib-tab-heading>
    <div class="row" ng-controller="EmployeeVehicleCtrl as $ctrl">
        <form name="$globalCtrl.formVehicle" md-form-validator ng-submit="$ctrl.ok()">
            <div class="col-xs-12">
                <h2>Veículos ({{ $ctrl.employee.Name }})</h2>
                <div class="col-sm-12">
                    <p>
                        <button vehicle-create refresh-callback="$ctrl.refresh" employee-id="$ctrl.employee.Id" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                    </p>
                    <table class="table table-consolidate table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Cor</th>
                                <th>Placa</th>
                                <th width="30">Status</th>
                                <th width="30">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.data | orderBy:'-Id'">
                                <td>{{ item.Brand }}</td>
                                <td>{{ item.Model }}</td>
                                <td>{{ item.Color }}</td>
                                <td>{{ item.CarPlate | carplate }}</td>
                                <td>{{ item.Active | activeUnactive }}</td>
                                <td class="actions">
                                    <a vehicle-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</uib-tab>