﻿<div ng-controller="EmployeeHistoryTypeCtrl as $ctrl">
    <form name="$globalCtrl.formHistoryCompany" md-form-validator ng-submit="$ctrl.ok()">
        <h2 class="page-header">Tipo de Funcionário ({{ $ctrl.employee.Name }})</h2>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 btn-toolbar" role="toolbar">
                    <button employee-type-create employee-id="$ctrl.employee.Id" refresh-callback="$ctrl.refresh" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-consolidate table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Data Inicial</th>
                            <th>Data Final</th>
                            <th>Status</th>
                            <th width="57"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.data">
                            <td>{{ item.TypeName }}</td>
                            <td>{{ item.StartDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{ item.EndDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{ item.Active | activeUnactive }}</td>
                            <td class="actions">
                                <a employee-type-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>