﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formBankAccount.$submitted"></i>Contas Bancárias
    </uib-tab-heading>
    <div class="row" ng-controller="EmployeeBankAccountCtrl as $ctrl">
        <form name="$globalCtrl.formVehicle" md-form-validator ng-submit="$ctrl.ok()">
            <div class="col-xs-12">
                <h2>Contas Bancárias ({{ $ctrl.employee.Name }})</h2>
                <div class="col-sm-12">
                    <p>
                        <button bank-account-create employee-id="$ctrl.employee.Id" refresh-callback="$ctrl.refresh" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                    </p>
                    <table class="table table-consolidate table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Principal</th>
                                <th>Banco</th>
                                <th>Agência</th>
                                <th>Conta</th>
                                <th width="30">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.data | orderBy:'-Id'">
                                <td>{{ item.Main | yesNo  }}</td>
                                <td>{{ item.Bank }}</td>
                                <td>{{ item.Agency }}</td>
                                <td>{{ item.Account }}</td>
                                <td class="actions">
                                    <a bank-account-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</uib-tab>