﻿<div class="col-xs-12">
    <h2>Dados do Funcionário</h2>
    <div style="width:80%"></div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Ativo</label>
                    <div class="form-group">
                        <input name="Active" ng-model="$ctrl.data.Active" type="checkbox" class="checkbox" ng-change="$ctrl.IsActive($ctrl.data.Active)">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group has-feedback">
                    <label>Data de Admissão</label>
                    <input name="admissiondate" ng-model="$ctrl.data.AdmissionDate" type="text" class="form-control input-sm" placeholder="dd/mm/aaaa" mindate="1900-01-01" ui-date-mask required>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                        <md-message date>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Data de Desligamento</label>
                    <input name="resignationdate" ng-disabled="$ctrl.data.Active" ng-model="$ctrl.data.ResignationDate" type="text" class="form-control input-sm" placeholder="dd/mm/aaaa" ui-date-mask mindate="$ctrl.data.AdmissionDate">
                    <md-messages>
                        <md-message date>Data inválida</md-message>
                        <md-message mindate>Data inválida</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Empresa</label>
                    <select 
                            required
                            style="width: 100%;"
                            id="company"
                            name="company"
                            class="input-sm btn btn-default"
                            ng-model="$ctrl.data.CompanyId"
                            ng-options='item.Id as item.Value for item in $ctrl.companies'>
                        <option value="" disabled>Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Cargo</label>
                    <select required
                            id="role"
                            style="width: 100%;"
                            name="role"
                            class="input-sm btn btn-default"
                            ng-model="$ctrl.data.RoleId"
                            ng-options="item.Id as item.Name for item in $ctrl.roles"
                            > <!-- ng-change="$ctrl.onSelectRole($ctrl.data.RoleId)" -->
                        <option value="" disabled>Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Sigla</label>
                    <input name="sigla" ng-model="$ctrl.data.Initials" upper-case type="text" maxlength="25" class="form-control input-sm" required>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Matrícula</label>
                    <input name="registration" ng-model="$ctrl.data.Registration" maxlength="45" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Crachá</label>
                    <input name="identificationnumber" ng-model="$ctrl.data.IdentificationNumber" maxlength="45" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label>Centro de Custo</label>
                    <select id="costcenter" name="costcenter"
                            ng-model="$ctrl.data.CostCenterId"
                            class="form-control input-sm"
                            disabled
                            ng-options='item.Id as item.Name for item in $ctrl.costCenters'>
                        <option value="" disabled>Selecione</option>
                    </select>
                    <!-- 
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    <md-messages> 
                    -->
                </div>
            </div>
        </div>
    </div>
</div>