﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formHistory.$submitted"></i>Histórico
</uib-tab-heading>
    <div  ng-controller="EmployeeHistoryCtrl as $ctrl">
        @Html.Partial("Create.History.Company")
        @Html.Partial("Create.History.CostCenter")
        @Html.Partial("Create.History.Role")
        @Html.Partial("Create.History.Type")
    </div>
</uib-tab>
