﻿<uib-tab>
    <uib-tab-heading>
         Geral 
    </uib-tab-heading>
   
    <div class="row" ng-controller="EmployeeGeneralCtrl as $ctrl">
        <form name="$globalCtrl.formGeneral" md-form-validator ng-submit="$ctrl.ok()" enctype="application/x-www-form-urlencoded">
            @Html.Partial("Create.General.Personal")
            @Html.Partial("Create.General.Documents")
            @Html.Partial("Create.General.Information")

            <div class="col-xs-12">
                <a href="/RH/Employee/Index" id="salvar" class="btn btn-sm btn-warning">Cancelar</a>
                <button type="submit" id="salvar" class="btn btn-sm btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</uib-tab>