﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formVariables.$submitted"></i>Variáveis
    </uib-tab-heading>
    <div class="row" ng-controller="EmployeeVariablesCtrl as $ctrl">
        <form name="$globalCtrl.formVariables" md-form-validator ng-submit="$ctrl.ok()">
            <div class="col-xs-12">
                <h2>Variáveis ({{ $ctrl.employee.Name }})</h2>
                <div class="col-sm-12">
                    <p>
                        <button variables-create refresh-callback="$ctrl.loadData()" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                    </p>
                    <table class="table table-consolidate table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Data</th>
                                <th width="30">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.data | orderBy:'-Id'">
                                <td>{{ item.Type }}</td>
                                <td>{{ item.Description }}</td>
                                <td>{{ item.Value | currency:"R$"  }}</td>
                                <td>{{ item.Date | cdate | date:"dd/MM/yyyy"}}</td>
                                <td class="actions">
                                    <a variables-create="{{item.Id}}" refresh-callback="$ctrl.loadData()" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</uib-tab>