﻿<uib-tab disable="!$globalCtrl.employee.Id">
    <uib-tab-heading>
        <i class="glyphicon glyphicon-bell" ng-if="$globalCtrl.formSalary.$submitted"></i>Linhas de Salário
</uib-tab-heading>
    <div class="row" ng-controller="EmployeeSalaryCtrl as $ctrl">
        <form name="$globalCtrl.formVehicle" md-form-validator ng-submit="$ctrl.ok()">
            <div class="col-xs-12">
                <h2>Linhas de Salário ({{ $ctrl.employee.Name }})</h2>
                <div class="col-sm-12">
                    <p>
                        <button salary-create refresh-callback="$ctrl.loadData" type="button" class="btn btn-sm btn-primary">Adicionar</button>
                    </p>
                    <table class="table table-consolidate table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Período Salário</th>
                                <th>Carga Horária</th>
                                <th>Salário</th>
                                <th>Hora Extra Contratual</th>
                                <th>Gratificação de Função</th>
                                <th>Remunueração Total</th>
                                <th>Triênio</th>
                                <th>Data Inicial</th>
                                <th>Data Final</th>
                                <th width="5">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.data | orderBy:'-Id'">
                                <td>{{ item.Description }}</td>
                                <td>{{ item.Category }}</td>
                                <td>{{ item.SalaryPeriod }}</td>
                                <td>{{ item.WorkLoad }}</td>
                                <td>{{ item.Salary | currency:"R$"}}</td>
                                <td>{{ item.ExtraHour | currency:"R$" }}</td>
                                <td>{{ item.Gratification | currency:"R$" }}</td>
                                <td>{{ item.Salary + item.ExtraHour + item.Gratification | currency:"R$" }}</td>
                                <td>{{ item.Triennium  | currency:"R$"}}</td>
                                <td>{{ item.StartDate | cdate | date : 'dd/MM/yyyy' }}</td>
                                <td>{{ item.EndDate | cdate | date : 'dd/MM/yyyy' }}</td>
                                <td class="actions">
                                    <a salary-create="{{item.Id}}" refresh-callback="$ctrl.loadData" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</uib-tab>