﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model PortfolioPosition
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/AdminPositionPartition.js")" type="text/javascript"></script>

@using (Html.BeginForm("AdminPositionPartition", "OnlinePortfolio", FormMethod.Post, new { @id = "frmAdminPositionPartition" }))
{
    <h2>Particionar Posição</h2>
    <div class="conteudo incluir-posicao">
    <div id="feedbackRequestError" class="erro" style="display: none;">
    </div>
    @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })
    <div class="cabecalho-grid posicao" style="width: 1058px;">
        <div class="etiqueta">
            @{var p = (PortfolioPositionItem)ViewBag.Position;}
            <h2>@Model.Client.Value @Model.Client.Description</h2>
            <span class="quebrar"></span> 
            <a id="lnkClientEmail" href="mailto:@Model.Email"><span id="lblClientEmail">@Model.Email</span></a>
            <span class="quebrar"></span> 
            <div class="esquerda">
                <div class="bloco">
                    <label>Ativo:</label> 
                    <span>@p.StockCode</span>
                </div>
                <div class="bloco">
                    <label>Mercado:</label>  
                    <span>@p.MarketType</span>
                </div>
            </div>
            <div class="direita">
                <div class="bloco">
                    <label>Operação:</label>  
                    <span>@(p.Operation.Equals("C") ? "Compra" : "Venda")</span>
                </div>
                <div class="bloco">
                    <label>Total:</label>  
                    <span>@p.Quantity.ToString("N0").Replace("-", "")</span>
                </div>
            </div>
            @Html.Hidden("hdfClientCode", @Model.Client.Value)
            @Html.Hidden("hdfPositionId", p.Id.ToString())
            @Html.Hidden("hdfStockCode", p.StockCode)
            @Html.Hidden("hdfOperation", p.Operation)
            @Html.Hidden("hdfMarket", p.MarketType)
            @Html.Hidden("hdfQuantity", p.Quantity.ToString("N0").Replace("-",""))
            @Html.Hidden("hdfPortfolioNumber", p.PortfolioNumber.ToString())
        </div>
        <span class="quebrar"></span> 
    </div>
    <div class="linha-frm">
    <div>
        <table width="1058px" cellspacing="0" cellpadding="0" border="0" class="tabela-form" id="adminPartitionList">
            <thead>
                <tr>
                    <th>L&S</th>
                    <th>Quantidade</th>
                    <th>Preço Bruto</th>
                    <th>Preço Líquido</th>
                    <th>Data Posição</th>
                    <th>Data Venc. do Termo</th>
                    <th>Data Rolagem do Termo</th>
                    <th class="action-place-holder" style="display:none;"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>
    <a href="javascript:void(0);" class="ico-incluir lnk-txt" id="lnkAdd">incluir outra partição</a>
    <div class="linha-btn">
        <a href="javascript:void(0);" class="btn-padrao" id="lnkSave"><span>Particionar Posição</span></a>
    </div>
    </div>

}
