﻿<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/AdminPositionFilter.js")" type="text/javascript"></script>
<div class="filtro-padrao">
    <div id="adminPositionFilter" class="topo">
        Filtrar por
    </div>

    <div id="adminPositionFilterContent" class="conteudo" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>Cliente</label>
            @Html.TextBox("txtClient", "",  new { @maxlength = 30 })
            @Html.Hidden("hdfClientCode","")
        </div>
        <div class="linha-btn">
            <a href="" class="btn-padrao" id="btnSearch"><span>listar posição</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
