﻿@{
    ViewBag.Title = "AdminOperators";
}

<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/AdminOperators.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>

<h2>Operadores</h2>

@{ var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
@using (Html.BeginForm())
{
    QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();

    <div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
        <span>@(TempData["SuccessMessage"] ?? "")</span><a href="#" class="lnk-fechar" onclick="$('#feedback').slideToggle();" id="closeFeedback">fechar</a>
    </div>
    
    <div class="ferramentas acoes assessores">
        @if (acHelper.HasFuncionalityPermission("Term.Index", "btnRequest"))
        {
            <a class="btn-padrao" href="javascript:;" onclick="OpenRequest(0);return false;"><span>Incluir Operador</span></a>
        }
        <div>
            Exportar: <a id="lnkProceedsExcel" class="ico-xls" href="#" onclick="Export(false);">
                Excel</a> <a class="ico-pdf" id="lnkProceedsPdf" href="#" onclick="Export(true);">PDF</a>
            @if (acHelper.HasFuncionalityPermission("Term.Index", "btnLog"))
            {<a class="ico-hist" href="javascript:;" onclick="ViewHistory();return false;">Ver histórico</a>}
        </div>
    </div>
    @Html.Partial("AdminOperatorsFilter")
    @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })

    <div id="emptyArea" class="sem-resultado" style="display: none;">
    </div>

    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>

    <div class="area-resultado" id="tableArea" style="display: block;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="classificar"
            id="termList">
            <thead>
                <tr>
                    <th width="60px">
                        <div style="width:60px;">Código</div>
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Clientes
                    </th>
                    <th width="58px" class="ultimo">
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}
