﻿<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/AdminClientsFilter.js")" type="text/javascript"></script>
<div class="filtro-padrao">
    <div id="adminClientsFilter" class="topo">
        Filtrar por
    </div>

    <div id="adminClientsFilterContent" class="conteudo" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <label>Cliente</label>
            @Html.TextBox("txtClient", "",  new { @maxlength = 30 })
            @Html.Hidden("hdfClientCode","")
        </div>
        <div class="linha-frm">
            <label>Apuração</label>
            @Html.DropDownList("ddlCalculation", (SelectList)ViewBag.FilterCalculation, "Todos", new { id = "ddlCalculation" })
        </div>
        <div class="linha-frm">
            <label>Envio de Histórico</label>
            <select id="ddlHistory">
                <option value="">Todos</option>
                <option value="S">Sim</option>
                <option value="N">Não</option>
            </select>
        </div>
        <div class="linha-frm">
            <label>Outros Envios</label>
            <select id="ddlAttachType">
                <option value="">Todos</option>
                <option value="I">Imagem</option>
                <option value="N">Excel</option>
                <option value="S">PDF</option>
            </select>
        </div>
        <div class="linha-btn">
            <a href="" class="btn-padrao" id="btnSearch"><span>listar clientes</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
