﻿<div class="filtro-padrao">
    <div class="topo" id="PortfolioFilter">
        Filtrar por
    </div>
    <div class="conteudo" id="PortfolioFilterContent" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>
                Operador</label>
            @Html.TextBox("txtOperator")
        </div>
        <div class="linha-frm">
            <label>
                Cliente</label>
            @Html.TextBox("txtClient")
        </div>
        <div class="linha-btn">
            <a class="btn-padrao" id="btnSearch" href=""><span>listar Operadores</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
