﻿@{
	Layout = null;
}
	<h2>Confirmar exclusão do cliente <br /> @Request["name"] - @Request["code"]</h2>
<div id="ConfirmArea" class="conteudo">
	<p>
		<strong>Para confirmar a exclusão selecione uma das opções abaixo.</strong></p>
	@using (Html.BeginForm("DeleteAdminClient", "OnlinePortfolio", FormMethod.Post, new { @Id = "frmConfirmDelete" }))
 {
		@Html.Hidden("hdfClientCode", Request["code"]);
		<div class="linha-btn">
			<a type="button" class="btn-primario" href="#" name="btnDelete" id="btnDelete"
            title="excluir cliente" onclick="$('#frmConfirmDelete').submit();" ><span>excluir</span></a> 
                <a type="button" class="btn-secundario"	href="javascript:;" name="btnCancel" onclick="Modal.Close();" id="btnCancel"
					title="cancelar exclusão"><span>cancelar exclusão</span></a>
		</div>
 }
<span class="quebrar"></span>
</div>
<span class="quebrar"></span>