﻿@{
	Layout = null;
}
<h2>Enviar email</h2>
<div id="ConfirmArea" class="conteudo" style="width:330px;">
            <p>Deseja realmente enviar email com posição para o cliente?</p>
		    <div class="linha-btn">
			    <a type="button" class="btn-primario" href="#" name="lnkConfirmEmail" id="lnkConfirmEmail"
                title="enviar posição" ><span>sim, enviar posição</span></a> 
                    <a type="button" class="btn-secundario"	href="javascript:;" name="btnCancel" onclick="Modal.Close();" id="btnCancel"
					    title="cancelar exclusão"><span>não enviar</span></a>
		    </div>
<span class="quebrar"></span>
</div>
<span class="quebrar"></span>

<script type="text/javascript">
    $("#lnkConfirmEmail").unbind("click").bind("click", function () {
        $.ajax({
            type: "POST",
            cache: false,
            url: "../OnlinePortfolio/SendPortfolioMail",
            beforeSend: function () {
                $("#feedback").hide().find('span').html('');
                $('#feedbackError').hide().find('span').html('');
            },
            success: function (data) {
                if (data.Result) {
                    $("#feedback").show().find('span').append("E-mail enviado com sucesso");
                }
                else {
                    $("#feedbackError").show().find('span').append(data.Message);
                }
                Modal.Close();
            }
        });
    });
</script>