﻿@{
    Layout = null;
}
@*<script src="@Url.Content("~/Scripts/jQuery/jquery-1.4.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/fixedHeaderTable/jquery.fixedheadertable.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/ContactInsert.js")" type="text/javascript"></script>
<h2>
    Incluir Registro de Contato</h2>
@using (Html.BeginForm(Html.BeginForm("ContactInsert", "OnlinePortfolio", FormMethod.Post, new { @id = "frmContactInsert" })))
{
    string clients = QX3.Portal.WebSite.Helper.OnlinePortfolioHelper.GetOperatorClientsToFilterList();
    
    <div id="pnlContactInsert" class="conteudo">
        <div id="feedbackRequestError" class="erro" style="display: none;">
        </div>
        <div class="linha-frm origem">
            <label id="lblClient">Cliente</label>
            <div style="height:27px;">
            @Html.TextBox("txtClient", "", new { @maxlength = "60"})
            <input type="hidden" id="hdfClientCode" name="hdfClientCode" value="" />
            <input type="hidden" id="hdfClientName" name="hdfClientName" value="" />
            <input type="hidden" id="hdfOperatorClients" name="hdfOperatorClients" value='@(clients)' />
            </div>
        </div>
        <span class="quebrar"></span>
        <div class="linha-frm origem">
            <label>
                Data do contato</label>
            <div>
                @Html.TextBox("txtDate", "", new { @maxlength = "10" })
            </div>
        </div>
        <span class="quebrar"></span>
        <div class="linha-frm observacao">
            <label>
                Mensagem</label>
            <div>
                @Html.TextArea("txtMessage", "", new { @maxlength = "4400" })
            </div>
        </div>
        <span class="quebrar"></span>
        <div class="linha-btn">
            <a href="#" id="lnkContactInsert" class="btn-padrao"><span>incluir registro</span></a>
        </div>
    </div>
}
