﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@model PortfolioPosition
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/EditAdminPosition.js")" type="text/javascript"></script>

@using (Html.BeginForm("EditAdminPosition", "OnlinePortfolio", FormMethod.Post, new { @id = "frmEditAdminPosition" }))
{
    string title = Model.Client == null ? "Incluir Posição" : "Editar Posição";
    string btnName = Model.Client == null ? "inserir ativos" : "editar ativo";
    
    <h2>@title</h2>
    <div class="conteudo incluir-posicao" id="divAdminClients">
        <div id="feedbackRequestError" class="erro" style="display: none;"></div>
	    @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none", IsList = true })

        <div class="cabecalho-grid posicao" style="width: 1800px;">
            <div class="etiqueta">
                <span class="quebrar"></span>
                    @Html.Hidden("hdfClientCode", Model.Client != null ? Model.Client.Value : "0")
                    @{var positionId = "0";}
                    @if (Model.Client == null)
                    {
                        <label>Cliente</label>
                        @Html.TextBox("txtClient", "", new { @maxlength = 30 })
                    }
                    else
                    { 
                        <h2>@Model.Client.Value @Model.Client.Description</h2>
                        <span class="quebrar"></span> 
                        <a id="lnkClientEmail" href="mailto:@Model.Email"><span id="lblClientEmail">@Model.Email</span></a>
                    }
            </div>
            <span class="quebrar"></span>
        </div>
            <span class="quebrar"></span>
            <table cellspacing="0" cellpadding="0" width="1800px" class="tabela-form" id="adminPositionList">
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Operação</th>
                    <th>Mercado</th>
                    <th>L&S</th>
                    <th>Quantidade</th>
                    <th>Preço Bruto</th>
                    <th>Preço Líquido</th>
                    <th>Carteira</th>
                    <th>Data Posição</th>
                    <th>Data Venc. do Termo</th>
                    <th>Data Rolagem do Termo</th>
                    <th class="action-place-holder" style="display:none;"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Client != null && (PortfolioPositionItem)ViewBag.Position != null)
                {
                    var p = (PortfolioPositionItem)ViewBag.Position;
                    positionId = p.Id.ToString();
                    <tr class="odd">
                        <td><input type="text" id="txtStock-1" name="txtStock" value='@p.StockCode' maxlength="12" /></td>
                        <td>
                            <select id="ddlOperation-1" name="ddlOperation">
                                <option value="C" @(p.Operation.Equals("C") ? "selected" : "")>Compra</option>
                                <option value="V" @(p.Operation.Equals("V") ? "selected" : "")>Venda</option>
                            </select>
                        </td>
                        <td>
                            <select id="ddlMarket-1" name="ddlMarket" class="market">
                                <option value="VIS" @(p.MarketType.Equals("VIS") ? "selected" : "")>Vista</option>
                                <option value="TER" @(p.MarketType.Equals("TER") ? "selected" : "")>Termo</option>
                                <option value="OPC" @(p.MarketType.Equals("OPC") ? "selected" : "")>Opção</option>
                            </select>
                        </td>
                        <td>
                            <select id="ddlLongShort-1" name="ddlLongShort">
                                <option value="1" @(p.LongShort ? "selected" : "")>Sim</option>
                                <option value="0" @(!p.LongShort ? "selected" : "")>Não</option>
                            </select>
                        </td>
                        <td><input type="text" id="txtQuantity-1" name="txtQuantity" value='@p.Quantity.ToString("N0")' maxlength="18" /></td>
                        <td><input type="text" id="txtPrice-1" name="txtPrice" value='@p.Price.ToString("N2")' /></td>
                        <td><input type="text" id="txtNetPrice-1" name="txtNetPrice" value='@p.NetPrice.ToString("N2")' /></td>
                        <td><input type="text" id="txtPortfolioNumber-1" name="txtPortfolioNumber" value='@(p.PortfolioNumber.Equals(0) ? "" : p.PortfolioNumber.ToString("N0"))' /></td>
                        <td><input type="text" id="txtPositionDate-1" name="txtPositionDate" value='@p.PositionDate.ToShortDateString()'  /></td>
                        <td><input type="text" id="txtDueDate-1" name="txtDueDate" style='display:@(p.MarketType.Equals("TER") ? "block" : "none")' value='@p.DueDate' /></td>
                        <td><input type="text" id="txtRollOverDate-1" name="txtRollOverDate" style='display:@(p.MarketType.Equals("TER") ? "block" : "none")'  value='@p.RollOverDate'/></td>
                        <td class="action-place-holder" style="display:none;"></td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Hidden("hdfPositionId", positionId)
        @if (Model.Client == null)
        {
            <a href="javascript:void(0);" class="ico-incluir lnk-txt" id="lnkAdd">incluir outro ativo</a>
        }
    
        <div class="linha-btn">
            <a href="#" class="btn-padrao" id="lnkSave"><span>@btnName</span></a>
        </div>
    </div>

}
