﻿@{
    ViewBag.Title = "Carteira Online";
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/History.js")" type="text/javascript"></script>
@{ var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
@using (Html.BeginForm())
{
    QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();
    
    <div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
        <span>@(TempData["SuccessMessage"] ?? "")</span><a href="#" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
            id="closeFeedback">fechar</a>
    </div>
    
    <div class="ferramentas acoes assessores">
        <div>
            Exportar: <a id="lnkPositionExcel" class="ico-xls" href="javascript:;">Excel</a> <a class="ico-pdf"
                id="lnkPositionPdf" href="javascript:;">PDF</a></div>
    </div>
    
    @Html.Partial("HistoryFilter")
    @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })

    <div id="emptyArea" class="sem-resultado" style="display: none;">
        Nenhuma informação encontrada.
    </div>

    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" /></div>

    <div id="tableArea" class="caixa-cabecalho-lista" style="display: none;">
        <div class="cabecalho-grid historico">
            <div class="navegacao-tabela topo">
                <div class="navegacao">
                    <a id="lnkPreviousClientTop" class="lnk-anterior" href="#" onclick="GetClientList(false)">
                        Cliente Anterior</a> <a id="lnkNextClientTop" class="lnk-proximo" href="#" onclick="GetClientList(true)">
                            Próximo Cliente</a>
                </div>
                <span id="lblClientCounterTop"></span>
            </div>
            <span class="quebrar"></span>
            <div class="etiqueta">
                @Html.Hidden("hdfClientCode", "0")
                <h2 id="lblClientName">
                </h2>
                <span class="quebrar"></span>
                <div class="esquerda">
                    <div class="bloco">
                        <label>
                            Tel.:
                        </label>
                        <span id="lblClientPhone"></span>
                    </div>
                    @*<div class="bloco">
                        <label>
                            Nome do Assessor</label>
                    </div>*@
                </div>
                <div class="direita">
                    <div class="bloco">
                        <label>
                            E-mail:
                        </label>
                        <a id="lnkClientEmail" href="#"><span id="lblClientEmail"></span></a>
                    </div>
                </div>
                <div class="direita visualizar">
                    <div class="bloco">
                        <label>
                            Visualizar:</label>
                        
                        <select id="ddlPage" name="ddlPage">
                            <option value="Contacts">Contatos</option>
                            <option value="" selected="selected">Histórico</option>
                            <option value="Index">Posição</option>
                        </select>
                    </div>
                </div>
            </div>
            <span class="quebrar"></span>
        </div>
        <div class="area-resultado carteira historico">

      @*  <table cellpadding="0" cellspacing="0" width="100%" class="classificar historico">
	        <tbody>
    	        <tr class="primaria">
        	        <th scope="col">Papel</th>
                    <th scope="col">Mercado</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Data Compra</th>
                    <th scope="col">Preço Compra</th>
                    <th scope="col">Preço Atual</th>
                    <th scope="col">Data Venda</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Financeiro Líquido</th>
                    <th scope="col">Venda Líquido</th>
                    <th scope="col">Lucro/Prejuizo</th>
                    <th scope="col">%</th>
                </tr>
                <tr>
                    <td>ELPL6T</td>
                    <td>Termo</td>
                    <td>UTILIDADE PUBL/ENERG ELETRICA</td>
                    <td>28/07/2009</td>
                    <td class="direita">0,00</td>
                    <td class="direita">0,00</td>
                    <td>28/07/2009</td>
                    <td>-1.603</td>
                    <td class="direita">-58.397,29</td>
                    <td class="direita">0,00</td>
                    <td class="direita positivo">0,00</td>
                    <td class="direita positivo">0,00%</td>
		        </tr>
                <tr class="resultado">
        	        <td colspan="7" class="zerada" scope="row">Julho/2009</td>
                    <td class="direita">-92.000</td>
                    <td class="direita">-3.314.642,08</td>
                    <td class="direita">0,00</td>
                    <td class="direita positivo">0,00</td>
                    <td class="direita positivo">0,00%</td>
		        </tr>
    	        <tr class="primaria">
        	        <th scope="col">Papel</th>
                    <th scope="col">Mercado</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Data Compra</th>
                    <th scope="col">Preço Compra</th>
                    <th scope="col">Preço Atual</th>
                    <th scope="col">Data Venda</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Financeiro Líquido</th>
                    <th scope="col">Venda Líquido</th>
                    <th scope="col">Lucro/Prejuizo</th>
                    <th scope="col">%</th>
                </tr>
                <tr>
                    <td>ELPL6T</td>
                    <td>Termo</td>
                    <td>UTILIDADE PUBL/ENERG ELETRICA</td>
                    <td>28/07/2009</td>
                    <td class="direita">0,00</td>
                    <td class="direita">0,00</td>
                    <td>28/07/2009</td>
                    <td>-1.603</td>
                    <td class="direita">-58.397,29</td>
                    <td class="direita">0,00</td>
                    <td class="direita positivo">0,00</td>
                    <td class="direita positivo">0,00%</td>
		        </tr>
                <tr class="resultado">
        	        <td colspan="7" class="zerada" scope="row">Julho/2009</td>
                    <td class="direita">-92.000</td>
                    <td class="direita">-3.314.642,08</td>
                    <td class="direita">0,00</td>
                    <td class="direita positivo">0,00</td>
                    <td class="direita positivo">0,00%</td>
		        </tr>
            </tbody>
        </table>*@


            <div id="pnlNoHistory" class="sem-resultado" style="display: none;">
                Nenhum histórico encontrado.</div>
            <div id="historyList">
            </div>
        </div>
        @Html.Hidden("listIndex", 0)
        <span class="quebrar"></span>
        <div class="navegacao-tabela">
            <div class="navegacao">
                <a id="lnkPreviousClient" class="lnk-anterior" href="#" onclick="GetClientList(false)">
                    Cliente Anterior</a> <a id="lnkNextClient" class="lnk-proximo" href="#" onclick="GetClientList(true)">
                        Próximo Cliente</a>
            </div>
            <span id="lblClientCounter"></span>
        </div>
        @Html.Hidden("OperatorClients", (string)ViewBag.OperatorClients)
        <span class="quebrar"></span>
    </div>
   
}
