﻿<div class="filtro-padrao">
    <div class="topo" id="PortfolioFilter">
        Filtrar por
    </div>
    <div class="conteudo" id="PortfolioFilterContent" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>
                Cliente</label>
            @Html.TextBox("txtClient")
            @Html.Hidden("hdfFilterClientCode", "")
            @Html.Hidden("hdfFilterClientName", "")
            @Html.Hidden("ClientCodeFromPosition", Request["ClientCode"])
        </div>
        <div class="linha-btn">
            <a class="btn-padrao" id="btnSearch" href=""><span>listar histórico</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
