﻿@{  
    Layout = null;
    ViewBag.Title = "Observations";
}
<script src="@Url.Content("~/Scripts/Views/OnlinePortfolio/Observations.js")" type="text/javascript"></script>
<h2>Incluir Observação</h2>
<div class="conteudo">
    <div class="Observations">
        <div class="Observation">
            <div id="feedbackRequestError" class="erro" style="display: none;">
            <span>teste</span>
            </div>
            @using (Html.BeginForm("UpdateObservations", "OnlinePortfolio", FormMethod.Post, new { @id = "frmObservation" }))
            {
                <span class="quebrar"></span>
                @Html.Hidden("ClientId")
                <div class="linha-frm">
                    <label>@ViewBag.ClientName</label>
                </div>
                <span class="quebrar"></span>
                <div class="linha-frm">
                    <label>Observação</label>
                    @Html.TextArea("txtObservation", (string)ViewBag.Observation, new { @maxlength = 200 })
                </div>
                <div class="linha-btn">
                    <a class="btn-padrao" id="btnIncluir" href="javascript:;"><span>Incluir Alteração</span></a>
                </div>
                <span class="quebrar"></span>
            }
        </div>
    </div>
</div>
