﻿@using QX3.Portal.Contracts.DataContracts;
@{
    ViewBag.Title = "Gestão Suitability";
}
@{ SuitabilityClientsResponse sr = Model; }

<script src="@Url.Content("~/Scripts/Views/Suitability/Index.js")" type="text/javascript"></script>

@{ if (sr != null && sr.Unframed == "S")
    {
        <div data-valmsg-summary="true" class="validation-summary-errors">
            <ul>
                <li>Seu perfil está desenquadrado. Refaça seu suitability.</li>
            </ul>
        </div>
    }
}
<div style="margin-left:10px;" class="linha-frm">
    <span class="btn-submit">
        <a class="btn-input-submit" style="padding: 1px 2px 9px 10px; display: block; height: 15px;" href="@Url.Content("~/Suitability/Questions")">@ViewBag.DoSuitabilityLabel</a>
    </span>
</div>
<span class="quebrar"></span>
<div>
    @{
        List<SuitabilityClients> sc = sr.Clients;
        if (sc == null)
        {
            sc = new List<SuitabilityClients>();
        }
    }
    <table cellpadding="0" cellspacing="0" width="50%">
        <thead>
            <tr>
                <th>Perfil</th>
                <th>Status</th>
                <th>Histórico</th>
            </tr>
        </thead>
        <tbody>
            @{if (sr != null && sr.Clients != null && sc.Count() > 0)
                {
                    foreach (var m in sc)
                    {
                        <tr>
                            <td>@m.InvestorTypeDesc</td>
                            <td>@m.StatusDesc</td>

                            @{
                                var ddl = QX3.Portal.WebSite.Controllers.ComplianceController.HistoricoCliente(QX3.Portal.WebSite.Helper.SessionHelper.CurrentUser.GlobalClientId.Value, null);
                                if (ddl != null && ddl.Count() > 0)
                                {

                                    <td>@Html.DropDownList("ddl", new SelectList(ddl, "Id", "CompletionDate"), "-- Selecione --", new { @class = "ddlHist" }) </td>

                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        </tr>


                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">Nenhum suitability preenchido!</td>
                                    </tr>

                                }
            }

        </tbody>


    </table>


</div>
