﻿@using QX3.Portal.Contracts.DataContracts;
@using System.Globalization;

@model SuitabilityForm

@{
    ViewBag.Title = "Suitability";

    SuitabilityForm form = Model;
    System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();



}
<style type="text/css">
    .error {
        color: red;
    }
    *{
        font-size
    }
</style>

<script src="@Url.Content("~/Scripts/knockoutjs/knockout-3.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/knockoutjs/knockout.mapping-latest.js")"></script>
<script src="@Url.Content("~/Scripts/Modernizr-2.8.3.js")"></script>
<script src="@Url.Content("~/Scripts/Views/Suitability/Questions.js?v=4")" type="text/javascript"></script>

@if (ViewBag.Msg == null)
{
    @Html.Hidden("JsonSource", js.Serialize(Model))
    
    <form  data-bind="if: !Saving()" action="/Suitability/Questions" method="post" name="frmSuitability" id="frmSuitability">

        <div id="loadingArea" style="display: none; text-align: center;">
            <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
        </div>

        <div id="passo0" class="passos0" data-bind="visible: PreambleVisible()">
            Prezado cliente,<br />
            <br />

            Para melhor conhecermos sua disposição a riscos em investimentos a BR Partners Banco de Investimento elaborou um questionário que servirá de base para definirmos seu perfil de investimento. Isto estará diretamente relacionado aos produtos que você terá a sua disposição nesta instituição.
            <br />
            <br />
            A BR Partners Banco de Investimento realiza este controle em comprometimento à legislação vigente e às melhores práticas do mercado financeiro.<br />
            Contamos com sua colaboração para responder ao breve formulário de análise de perfil do investidor.
            <br />
            <br />

            <b>Conservador</b>  - Avesso a riscos. Prioriza segurança em seus investimentos. Objetiva proteção de patrimônio.<br />
            <b>Moderado</b>  - Busca segurança em seus investimentos, no entanto, aceita correr algum risco para obter maior rentabilidade.<br />
            <b>Arrojado</b> - Aceita maior exposição a riscos em busca de ganhos adicionais no médio e longo prazo.
            <br />

            <br />
            <br />

            <div class="submit-area">
                <a href="javascript:;" data-bind="click: Start" class='btn-primario'>
                    <span>Responder</span>
                </a>
            </div>
            <br />
            <br />
        </div>


        <div data-bind="with: CurrentQuestion">
            <div class="passo">
                <p><strong data-bind="text:  QuestionText()"></strong></p>
                <div data-bind="if: IsSingle()">

                    <div style="margin-left:50px" data-bind="foreach: Answers">
                        <div>
                            <label>
                                <input type="radio" name="single" data-bind="checked: IsChecked, value: IdAnswer" />
                                <span data-bind="text: Answer"></span>
                            </label>
                        </div>
                    </div>

                </div>


                <div data-bind="if: IsMultiple()">

                    <div style="margin-left:50px" data-bind="foreach: Answers">
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checked: IsChecked" name="answer" />
                                <span data-bind="text: Answer"></span>
                            </label>
                        </div>
                    </div>

                </div>
              
                <div data-bind="if: IsDistribution()">

                    <table cellspacing="0" style="margin-left:50px">
                        <tbody data-bind="foreach: Answers">
                            <tr>
                                <td>
                                    <label>
                                        <span data-bind="text: Answer"></span>
                                    </label>
                                </td>
                                <td>
                                    <input type="text"  class="number"style="text-align:right" data-bind="value: Distribution" />
                                </td>
                                <td>%</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th data-bind="text: PercentageDescription"></th>
                                <th>Percentual</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>
                                    Total
                                </td>
                                <td align="right" data-bind="text: Total(), css: {error: Total() > 100}"></td>
                                <td>%</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div data-bind="if: IsMatrix()">


                    <table cellspacing="0" style="margin-left:50px">
                        <tbody data-bind="foreach: {data: Answers, as: 'a'}">
                            <tr>
                                <td>
                                    <label>
                                        <span data-bind="text: a.Answer"></span>
                                    </label>
                                </td>
                                <!--ko 'foreach': a.MatrixColumns-->
                                <td align="center">
                                    <input type="checkbox" data-bind="checked: a.MatrixData()[$index()]" />
                                </td>
                                <!-- /ko -->

                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th data-bind="text: PercentageDescription"></th>
                                <!--ko 'foreach': MatrixColumns-->
                                <th data-bind="text: Description"></th>
                                <!-- /ko -->

                            </tr>
                        </thead>

                    </table>

                </div>


            </div>
            <br />

            <div style="height:50px">
                <div style="margin: 0 inherit 0 inherit" data-bind="text: ErrorMessage, visible: ErrorMessage()!=null" class="erro"></div>
            </div>

            <div class="submit-area">
                <a href="javascript:;" data-bind="visible: $root.HasPrevious, click: $root.Previous" class='btn-primario'>
                    <span>Anterior</span>
                </a>

                <a href="javascript:;" data-bind="visible: $root.HasNext(), click: $root.Next" class='btn-primario'>
                    <span>Próximo</span>
                </a>
                <a href="javascript:;" data-bind="visible: !$root.HasNext(), click: $root.Finish" class='btn-primario'>
                    <span>Finalizar</span>
                </a>

            </div>

        </div>



        <div id="resultado" class="passos" data-bind="visible: ResultsVisible()">

            <div id="resultadoFinal">
                <h3>Confira o resultado do teste!</h3>

                <p class="suitabilityResult">
                    O teste revelou que o seu perfil é compatível com o perfil: <b>Investidor <span id="perfilInvestidor" data-bind="text: ProfileDescription"></span></b>.
                </p>

                <p>
                    <b>Conservador</b>  - Avesso a riscos. Prioriza segurança em seus investimentos. Objetiva proteção de patrimônio.<br />
                    <b>Moderado</b>  - Busca segurança em seus investimentos, no entanto, aceita correr algum risco para obter maior rentabilidade.<br />
                    <b>Arrojado</b> - Aceita maior exposição a riscos em busca de ganhos adicionais no médio e longo prazo.
                </p>
            </div>
            <h3>O que deseja fazer?</h3>
            <br />
            <br />

            <div class="submit-area">
                @if (!ViewBag.Teste) { 
                <a href="javascript:;" id="lnkSend" data-bind="click: Save" class='btn-padrao2'>
                    <span>Enviar</span>
                </a>
                }
                <a id="btnRestart" data-view="0" data-bind="click: Reset" class="btn-primario"><span>Refazer</span></a>

            </div>

        </div>

    </form>
    
    <div class="suitability" data-bind="if: ResultMessage()">
        <h3 data-bind="text: ResultMessage"></h3>
    </div>

}
else
{
    <div class="suitability">
        <h3>@ViewBag.Msg</h3>
    </div>
}

<div id="loadingArea" style="display: none; text-align: center;">
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>
