﻿@using QX3.Portal.Contracts.DataContracts;
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <!-- Tags Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="pt-br" />
    <!-- Links -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/Ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/Ie8.css" /><![endif]-->
    <title>Portal da Corretora - BrPartners</title>
</head>
<body>
    @{ SuitabilityAnswersResponse response = Model.Result;
        string id = (string)ViewBag.Id;
     }

    <div id="pagina">
        <div id="loadingArea" style="display: none; text-align: center;">
            <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
        </div>
        <!-- Topo da pagina -->
        <div id="topo" style="float: left">
            <div class="limite">
                <h2>
                    <img src="/img/logo-brpartners.png" alt="BrPartners" />
                </h2>
                <div id="boas-vindas">
                </div>
            </div>
            <div id="corpo" style="margin-top: 100px">
                <div class="limite">
                    <!-- Trilha da pagina -->
                    <div id="trilha">
                    </div>
                    <!-- Conteudo da pagina -->
                    <div class="ico-export" style="float:right;margin-top:-21px;margin-bottom:5px;">
                        Exportar:
                        <a target="_blank" class="ico-pdf" id="lnkHistoryPdf" href="/Compliance/SuitabilityResultToPdf/@id">PDF</a>
                    </div>
                    <div id="conteudo">
                        @{
                            if (ViewBag.Mensagem != null)
                            {
                                <div>@ViewBag.Mensagem</div>
                            }

                            if (Model != null)
                            {
                                <div>
                                    <h2 style="position: absolute; left: 1px">Resultado Suitability</h2>
                                    @if (response != null && response.Answers != null && response.Answers.Count() > 0)
                                    {
                                        <ul style="list-style: none; line-height: 20px; margin-top: 20px; font-weight:bold">
                                            <li>Cliente: @response.Name (@QX3.Portal.WebSite.Models.CommonHelper.FormatCpfCnpj(response.CPFCNPJ))</li>
                                            <li>Preenchido: @response.Date</li>
                                            <li>Perfil: @response.TypeInvestor</li>
                                            @if (!string.IsNullOrWhiteSpace(response.Operator))
                                            {
                                                <li>Usuário: @response.Operator</li>
                                            }
                                        </ul>

                                        <ul style="list-style: none; line-height: 20px; margin-top: 20px">
                                            @{

                                            var questions = response.Answers.ToLookup(a => a.Id * 1000 + (a.SubQuestionId ?? 0));
                                            foreach (var item in questions)
                                            {
                                                var q = item.First();
                                                var numQuestion = q.IdQuestion.ToString();
                                                if (q.SubQuestionId.HasValue)
                                                {
                                                    numQuestion += "." + q.SubQuestionId.ToString();
                                                }

                                                <li>
                                                    @(numQuestion + ") " + q.Question)

                                                    @{if (q.QuestionType == QuestionType.Single || q.QuestionType == QuestionType.Multiple)
                                                    {
                                                        <ul>
                                                            @foreach (SuitabilityAnswers sa in item)
                                                            {
                                                                <li>@sa.Answer</li>
                                                            }
                                                        </ul>
                                                    }
                                                    else if (q.QuestionType == QuestionType.Distribution)
                                                    {
                                                        <ul>
                                                            @foreach (SuitabilityAnswers sa in item)
                                                            {
                                                                <li>@sa.Answer: @sa.Percentage%</li>
                                                            }
                                                        </ul>
                                                    }
                                                    else if (q.QuestionType == QuestionType.Matrix)
                                                    {
                                                        <table cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                   <th>@q.PercentageDescription</th>
                                                                    @{
                                                                        if (q.MatrixData != null)
                                                                        {
                                                                            foreach (var m in q.MatrixData)
                                                                            {
                                                                                <th>@m.Name</th>
                                                                             }
                                                                          }
                                                                     }
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var sa in item)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @sa.Answer
                                                                        </td>
                                                                        @{ 
                                                                            if (sa.MatrixData != null)
                                                                            {
                                                                                foreach (var m in sa.MatrixData)
                                                                                {
                                                                                    <td align="center">
                                                                                        @if (m.IsChecked)
                                                                                        {
                                                                                            <span>&#10003;</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>&nbsp;</span>
                                                                                        }
                                                                                    </td>
                                                                                 }
                                                                            }
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                    }
                                                </li>
                                            }
                                            }
                                        </ul>

                                    }

                                </div>
                            }
                        }
                        <span class="quebrar"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
