﻿<div ng-controller="ReportIndexCtrl as $ctrl">

    <h2 class="page-header">Relatórios</h2>

    <div class="row">
        <div class="col-xs-12 btn-toolbar" role="toolbar">
            <button report-create refresh-callback="$ctrl.refresh" type="button" class="btn btn-sm btn-primary">Cadastrar Relatório</button>
        </div>
    </div>

    <div class="table-container" st-pipe="$ctrl.loadData" st-table="$ctrl.data">
        <table st-refresh="$ctrl.refresh" class="table table-consolidate table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="Name" st-sort-default="true">Nome</th>
                    <th>Desrição</th>
                    <th>Status</th>
                    <th width="50" class="actions">Ações</th>
                </tr>
                <tr class="search">
                    <th>
                        <input st-search="Name" class="input-sm form-control" type="search" />
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="$ctrl.isLoading">
                <tr>
                    <td colspan="5" class="text-center">Carregando...</td>
                </tr>
            </tbody>

            <tbody ng-show="!$ctrl.isLoading">
                <tr ng-repeat="item in $ctrl.data">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Description}}</td>
                    <td>{{ item.Active | activeUnactive}}</td>
                    <td class="actions">
                        <a report-create="{{item.Id}}" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        <a confirm="Tem certeza que deseja excluir este item?" ng-click="$ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>

        </table>

        <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
    </div>
</div>
