﻿<form name="$ctrl.form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar' : 'Cadastrar' }} Endereço</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="form-group has-feedback">
                    <label>CEP</label>
                    <div class="input-group">
                        <input name="cep" ng-model="$ctrl.data.Cep" required type="text" class="form-control" aria-label="cep" ui-br-cep-mask>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-disabled="$ctrl.form.cep.$invalid" ng-click="$ctrl.searchCep()" ng-if="!$ctrl.loadingCep">Pesquisar</button>
                            <button class="btn btn-default" disabled type="button" ng-if="$ctrl.loadingCep">Aguarde</button>
                        </span>
                    </div>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="form-group has-feedback">
                    <label>Estado</label>
                    <select name="stateSelect" class="form-control" ng-model="$ctrl.data.State"
                            ng-options="item.Value for item in $ctrl.states track by item.Id" required>
                        <option disabled value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-8">
                <div class="form-group has-feedback">
                    <label>Cidade</label>
                    <select name="citySelect" class="form-control" ng-disabled="!$ctrl.data.StateId"
                            ng-options="item.Value for item in $ctrl.cities"
                            ng-model="$ctrl.data.City" required>
                        <option disabled value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="form-group">
                    <label>Bairro</label>
                    <input name="neighborhood" ng-model="$ctrl.data.Neighborhood" type="text" class="form-control" aria-label="bairro" maxlength="50">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <div class="form-group has-feedback">
                    <label>Logradouro</label>
                    <input name="street" ng-model="$ctrl.data.Street" type="text" class="form-control" aria-label="logradouro" required maxlength="100">
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="form-group has-feedback">
                    <label>Número</label>
                    <input name="number" ng-model="$ctrl.data.Number" type="text" class="form-control" aria-label="numero" required maxlength="8">
                    
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="form-group has-feedback">
                    <label>Tipo</label>
                    <select class="form-control" id="benefitSelect" name="benefitSelect" ng-model="$ctrl.data.Type" required
                            ng-options="item.Id as item.Value for item in $ctrl.addressTypes">
                        <option disabled value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="form-group">
                    <label>Complemento</label>
                    <input name="neighbourhood" ng-model="$ctrl.data.Complement" type="text" class="form-control" aria-label="complemento" maxlength="100">
                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <label>Ativo</label>
                    <input name="active" ng-model="$ctrl.data.Active" aria-label="ativo" type="checkbox" class="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>