﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar Destinatários' : 'Cadastrar Destinatários' }}</h3>
    </div>
    <div class="row">
        <div class="modal-body" id="modal-body">
            <div class="form-group has-feedback col-xs-12" ng-class="{'has-error': (form.$submitted || form.Email.$touched) && !form.Email.$valid}">
                <label>Email</label>
                <input name="Email" ng-model-options="{allowInvalid: true}" ng-model="$ctrl.data.Email" type="email" class="form-control" placeholder="email@exemplo.com" , required>
                <md-messages>
                    <md-message required>Campo Obrigatório</md-message>
                    <md-message email>Email invalído</md-message>
                </md-messages>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>