﻿<form name="form" md-form-validator ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ $ctrl.data.Id ? 'Editar Notificação' : 'Cadastrar Notificação' }}</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.Name.$touched) && !form.Name.$valid}">
                    <label>Nome</label>
                    <input name="Name" maxlength="100" ng-model="$ctrl.data.Name" aria-label="Nome da Notificação" type="text" class="form-control" placeholder="Nome da Notificação" required>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group has-feedback" ng-class="{'has-error': (form.$submitted || form.Frequency.$touched) && !form.Frequency.$valid}">
                    <label>Frequência</label>
                    <select name="Frequency" required class="form-control" ng-model="$ctrl.data.Frequency" ng-options="item.Key as item.Label for item in $ctrl.frequency">
                        <option ng-selected="true" disabled value="">Selecione</option>
                    </select>
                    <md-messages>
                        <md-message required>Campo Obrigatório</md-message>
                    </md-messages>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{'has-error': (form.$submitted || form.Active.$touched) && !form.Active.$valid}">
                    <label>Ativo</label>
                    <input name="Active" ng-model="$ctrl.data.Active" type="checkbox" class="checkbox" placeholder="{{$ctrl.data.Active}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <dualmultiselect options="$ctrl.options"></dualmultiselect>
            </div>
        </div>
    </div>
    <div class="modal-body" id="modal-body">
        <h2>Destinatários</h2>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <button ng-click="$ctrl.addDestination()" class="btn btn-primary" type="button">Adicionar</button>
            </div>
            <br />
            <br />
            <br />
            <div class="col-xs-12">
                <table class="table table-consolidate table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="80">Email</th>
                            <th width="20" class="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.data.Destinations">
                            <td>{{ item.Email }}</td>
                            <td class="actions">
                                <a ng-click="$ctrl.removeDestination($index)" aria-label="remover" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary" ng-disabled="$ctrl.data.Destinations.length == 0 || $ctrl.options.selectedItems.length == 0" type="submit">Salvar</button>
    </div>
</form>