﻿<div ng-controller="CostCenterIndexCtrl as $ctrl">

    <h2 class="page-header">Centro de Custo</h2>

    <div class="row">
        <div class="col-xs-12 btn-toolbar" role="toolbar">
            <button cost-center-create refresh-callback="$ctrl.refresh" type="button" class="btn btn-sm btn-primary">Cadastrar Centro de Custo</button>
        </div>
    </div>

    <div class="table-container" st-pipe="$ctrl.loadData" st-table="$ctrl.data">
        <table st-refresh="$ctrl.refresh" class="table table-consolidate table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="code">Código</th>
                    <th st-sort="name">Nome</th>
                    <th width="30" class="actions">Ações</th>
                </tr>
                <tr class="search">
                    <th>
                        
                    </th>
                    <th>
                        <input st-search="Name" aria-label="Centro de Custo a ser pesquisado" class="input-sm form-control" type="search" />
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="$ctrl.isLoading">
                <tr>
                    <td colspan="3" class="text-center">Carregando...</td>
                </tr>
            </tbody>
            <tbody ng-show="!$ctrl.isLoading">
                <tr ng-repeat="item in $ctrl.data">
                    <td>{{ item.Code }}</td>
                    <td>{{ item.Name }}</td>
                    <td class="actions">
                        <a cost-center-create="{{item.Id}}" aria-label="adicionar / editar" refresh-callback="$ctrl.refresh" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        <a confirm="Tem certeza que deseja excluir este item?" href="#" ng-click="$ctrl.remove(item.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
    </div>
</div>
