﻿<div ng-controller="ReportViewerIndexCtrl as $ctrl">
    <h2 class="page-header">Listagem de Relatórios</h2>
    <div class="table-container" st-pipe="$ctrl.loadData" st-table="$ctrl.data">
        <table st-refresh="$ctrl.refresh" class="table table-consolidate table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="Name" st-sort-default="true">Nome</th>
                    <th>Descrição</th>
                    <th width="50" class="actions">Ações</th>
                </tr>
                <tr class="search">
                    <th>
                        <input st-search="Name" aria-label="Relatório a ser pesquisado" class="input-sm form-control" type="search" />
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="$ctrl.isLoading">
                <tr>
                    <td colspan="5" class="text-center">Carregando...</td>
                </tr>
            </tbody>
            <tbody ng-show="!$ctrl.isLoading">
                <tr ng-repeat="item in $ctrl.data">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Description}}</td>
                    <td class="actions">
                        <a target="_blank" refresh-callback="$ctrl.refresh" href="/RH/Report/ShowReport?reportId={{item.Id}}"><span class="acoes actions">Gerar</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
    </div>
</div>


