﻿@using QX3.Portal.Contracts.DataContracts;
@using System.Web.Mvc.Html;
@using System.Linq;

@{
    ViewBag.Title = "Gestão Suitability";
}
@{ SuitabilityClientsResponse sr = Model; }

<script src="@Url.Content("~/Scripts/Views/Compliance/Suitability.js?v=2")" type="text/javascript"></script>

<form action="/Compliance/Suitability" method="post" id="formCP">
    <div class="wrap-form table-extract">
        <div class="linha-frm">
            <label for="cpfcnpj">CPF/CNPJ</label>
            <input type="text" name="cpfcnpj" id="cpfcnpj" autocomplete="off" value="@((HttpContext.Current.Request["cpfcnpj"]))" />
            <input type="hidden" id="hdnOrderBy" name="hdnOrderBy"/>
        </div>
        @*<div class="linha-frm">
                <label for="cdCliente2">Código Interno</label>
                <input type="text" name="cdCliente2" id="cdCliente2" autocomplete="off" value="@((!string.IsNullOrEmpty(sr.CdBolsa) && Convert.ToInt32(sr.CdBolsa) > 0) ? sr.CdBolsa.ToString() : "")" />
            </div>*@
        <div class="linha-frm">
            <label for="perfil">Perfil</label>

            @{
                var perfis = new SelectListItem[]{
                  new SelectListItem()  { Value="", Text="Todos"},
                  new SelectListItem()  { Value="3", Text="Arrojado"},
                  new SelectListItem()  { Value="1", Text="Conservador"},
                  new SelectListItem()  { Value="2", Text="Moderado"}
                };

                Array.ForEach(perfis, s =>
                {
                    if (s.Value == Request["perfil"])
                        s.Selected = true;
                });
            }
            @Html.DropDownList("perfil", perfis)

        </div>
        <div class="linha-frm">
            <label for="perfil">Vencimento</label>

            @{
                var vencimento = new SelectListItem[]{
                  new SelectListItem()  { Value="", Text="Todos"},
                  new SelectListItem()  { Value="0", Text="Vencido"},
                  new SelectListItem()  { Value="30", Text="A vencer em 30 dias"},
                  new SelectListItem()  { Value="60", Text="A vencer em 60 dias"},
                  new SelectListItem()  { Value="90", Text="A vencer em 90 dias"}
                };

                Array.ForEach(vencimento, s =>
                {
                    var d = Request["vencimento"];
                    if (s.Value == d)
                        s.Selected = true;
                });
            }
            @Html.DropDownList("vencimento", vencimento)

        </div>
        <div class="linha-frm">
            <label for="status">Status</label>
            @{
                var status = new SelectListItem[] {
                    new SelectListItem(){ Value = "", Text = "Todos"},
                    new SelectListItem(){ Value = "0", Text = "Não preencheu (operando)"},
                    new SelectListItem(){ Value = "1", Text = "Não preencheu"},
                    new SelectListItem(){ Value = "2", Text = "Preencheu"},
                    new SelectListItem(){ Value = "3", Text = "Refazer"},
                    new SelectListItem(){ Value = "4", Text = "Não elegível"}
                };
                Array.ForEach(status, s =>
                {
                    if (s.Value == Request["status"])
                        s.Selected = true;
                });
            }
            @Html.DropDownList("status", status)
        </div>
        <div class="linha-frm">
            <label for="investorKind">Investidor</label>
            @{
                var investorKind = new SelectListItem[] {
                        new SelectListItem(){ Value = "", Text = "Todos"},
                        new SelectListItem(){ Value = "1", Text = "Qualificado"},
                        new SelectListItem(){ Value = "2", Text = "Profissional"},
                    };
                Array.ForEach(investorKind, s =>
                {
                    if (s.Value == Request["investorKind"])
                        s.Selected = true;
                });
            }
            @Html.DropDownList("investorKind", investorKind)
        </div>
        <div class="linha-frm">
            <label for="cbDes">&nbsp;</label>
            <input type="checkbox" name="cbDes" title="Marque este campo para verificar desenquadramento" id="cbDes" @Html.Raw(Request["cbDes"] == "ok" ? "checked=\"checked\"" : "") value="ok" />
        </div>
        <div class="linha-frm">
            <label for="cbDes">Desenquadrado</label>
            <input type="text" name="dtInicial2" id="dtInicial2" autocomplete="off" value="@Request["dtInicial2"]" style="width: 100px;" />
        </div>
        <div class="linha-frm">
            <label for="cbDes">&nbsp;</label>
            <input type="text" name="dtFinal2" id="dtFinal2" autocomplete="off" value="@Request["dtFinal2"]" style="width: 100px;" />
        </div>
        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>

        <div class="linha-frm ico-export">
            @*Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/ExtractToFile/?isPdf=false">Excel</a>*@
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>
</form>
<span class="quebrar"></span>

@{
    var desenquadrar = Request["cbDes"] == "ok";
}

<div>
    @{List<SuitabilityClients> sc = sr.Clients;}
    <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>CPF/CNPJ</th>
                <th style="cursor:pointer" onclick="orderBy('code')">Código Institucional</th>
                <th style="cursor:pointer" onclick="orderBy('name')">Nome</th>
                <th style="cursor:pointer" onclick="orderBy('profile')">Perfil</th>
                <th style="cursor:pointer" onclick="orderBy('status')">Status</th>
                <th>Histórico</th>
                <th>Último Histórico</th>
                @if (desenquadrar)
                {
                    <th>Desenquadramento</th>
                }
                <th>Vencimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @if (sr != null && sr.Clients != null && sc.Count() > 0)
            {

                DateTime? dtInicial = null, dtFinal = null;
                try
                {
                    dtInicial = DateTime.Parse(Request["dtInicial2"]);
                }
                catch { }
                try
                {
                    dtFinal = DateTime.Parse(Request["dtFinal2"]);
                }
                catch { }


                foreach (var m in sc)
                {
                    <tr>
                        <td>@QX3.Portal.WebSite.Models.CommonHelper.FormatCpfCnpj(m.CPFCNPJ)</td>
                        <td>

                            @if (m.CodigosBolsa == null || m.CodigosBolsa[0] == 0)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @String.Join(", ", m.CodigosBolsa)
                            }
                        </td>
                        <td>@m.ClientName</td>
                        <td>@m.InvestorTypeDesc</td>
                        <td>@m.StatusDesc</td>

                        @{
                            var ddl = QX3.Portal.WebSite.Controllers.ComplianceController.HistoricoCliente(m.IdCliente, null);
                        }
                        @if (ddl != null && ddl.Count() > 0)
                        {
                            <td>@Html.DropDownList("ddl", new SelectList(ddl, "Id", "CompletionDate"), "-- Selecione --", new { @class = "ddlHist" }) </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>
                            @{
                                if (ddl.Count() > 0)
                                {
                                    @Html.Raw(ddl.Max(c => c.CompletionDate).ToString("dd/MM/yyyy HH:mm:ss"));
                                }
                                else
                                {
                                    @Html.Raw("Sem Histórico") ;
                                }
                            }
                        </td>

                        @if (desenquadrar)
                        {
                            System.Diagnostics.Stopwatch watch = new System.Diagnostics.Stopwatch();

                            <td>
                                @{
                                    watch.Start();

                                    var unframed = QX3.Portal.WebSite.Controllers.ComplianceController.VerificarNovoDesenquadramento(m.IdCliente, dtInicial, dtFinal);

                                    watch.Stop();

                                }

                                @*@(watch.Elapsed.TotalSeconds)*@

                                @if (unframed.Length > 0)
                                {
                                    <div style="height:100px; overflow:auto;">
                                        @foreach (var u in unframed)
                                        {
                                            <div>
                                                <b>@(u.InvestorTypeDesc + " - " + u.CompletionDate.ToString("d"))</b>

                                                <ul style="list-style:none;">
                                                    @foreach (var r in u.Unframeds)
                                                    {
                                                        <li>@(r.CdMercado + " - " + r.DtDatOrd.ToString("dd/MM/yyyy"))</li>

                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>

                                    <script type="text/javascript">
                                        function showJustification(id) {
                                            console.log(id);
                                            console.log($("a#justification-" + id));
                                            $("a#justification-" + id).css("display", "block");
                                        }

                                        showJustification(@m.IdCliente);
                                    </script>
                                }
                                else
                                {
                                    <span>Não houve desenquadramento.</span>
                                }
                            </td>

                            <td>
                                @m.DueInfo
                            </td>
                            <td>
                                @if (m.Status != 4)
                                {
                                    <a href="@Url.Content("~/Suitability/QuestionsByCompliance")/?clientId=@m.IdCliente&id=@m.Id" target="_blank">Preencher questionário</a>
                                    <br />
                                    <a href="javascript:;" data-view="@(m.IdCliente)" class="inelegivel" id="inelegivel">Tornar não elegível</a>
                                    <br />
                                }

                                @if (m.Status != 3)
                                {
                                    <a href="javascript:;" data-view="@(m.IdCliente)" class="refazer" id="refazer">Solicitar para refazer</a>
                                    <br />
                                }

                                @if (m.Unframed == "S" || unframed.Length > 0)
                                {
                                    <a href="#open-modal" class="refazer" name="justificar" id="@(m.IdCliente)">Justificar Desenquadramento</a>
                                }
                            </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @m.DueInfo
                                        </td>
                                        <td>

                                            @if (m.Status != 4)
                                            {
                                                <a href="@Url.Content("~/Suitability/QuestionsByCompliance")/?clientId=@m.IdCliente&id=@m.Id" target="_blank">Preencher questionário</a>
                                                <br />
                                                <a href="javascript:;" data-view="@(m.IdCliente)" class="inelegivel" id="inelegivel">Tornar não elegível</a>
                                                <br />
                                                @*<a href="#open-modal" class="refazer" name="justificar" id="@(m.IdCliente)">Justificar Desenquadramento</a>
                                                <br />*@
                                            }

                                            @if (m.Status != 3)
                                            {
                                                <a href="javascript:;" data-view="@(m.IdCliente)" class="refazer" id="refazer">Solicitar para refazer</a>
                                                <br />
                                            }

                                        </td>
                                    }
                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">Faça uma nova busca!</td>
                                    </tr>

                                }
        </tbody>
    </table>
</div>

<link href="~/css/modal.css" rel="stylesheet" />

<div id="open-modal" class="modal-window">
    <div>
        <a href="#modal-close" id="modalClose" title="Close" class="modal-close">Fechar</a>
        <h1>Justificativa de desenquadramento</h1>
        <textarea rows="6" maxlength="2000" cols="50" id="textoMessage" style="width: 95%;"></textarea>
        <button id="subimeter" style="margin-left: 0 !important; margin-top: 10px !important; padding: 5px 25px !important;" class="btn-input-submit" type="button">Preencher questionário</button>
    </div>
</div>
<script>
    data = {
        clientId: "",
        message: ""
    };

    $("a[name='justificar']").click(function (event) {
        data.clientId = event.target.id;
    });

    $("#subimeter").click(function () {
        data.message = $("textarea#textoMessage").val()

        $.ajax({
            url: "/Compliance/SaveJustification",
            type: 'GET',
            data: data,
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log("erro");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Erro ao salvar a Justificativa.");
            },
            success: function (res) {
                console.log(res);
                console.log("sucesso.");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Justificativa salva com sucesso.");
            }
        });
    });

    function orderBy(type) {
        console.log(type);
        $('#hdnOrderBy').val(type);
        $('#formCP').submit();
    }
</script>