﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <!-- Tags Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="pt-br" />
    <!-- Links -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/Ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/Ie8.css" /><![endif]-->
    <title>Portal da Corretora - BrPartners</title>
</head>
<body>
    @{ SuitabilityAnswersResponse lsa = Model; }

    <div id="pagina">
        <!-- Topo da pagina -->
        <div id="topo" style="float: left">
            <div class="limite">
                
                <h2>
                    <img src="/img/logo-brpartners.png" alt="BrPartners" /></h2>
                <div id="boas-vindas">
                </div>
            </div>
            <div id="corpo" style="margin-top: 100px">
                <div class="limite">
                    <!-- Trilha da pagina -->
                    <div id="trilha">
                    </div>
                    <!-- Conteudo da pagina -->
                    <div id="conteudo">
                        <div>
                            <h2 style="position: absolute; left: 1px">Resultado Suitability</h2>
                            @{if (lsa != null && lsa.Answers != null && lsa.Answers.Count() > 0)
                              {
                                <ul style="list-style: none; line-height: 20px; margin-top: 20px; font-weight:bold">
                                    <li>Código Institucional: @lsa.CdBolsa</li>
                                    <li>Preenchido: @lsa.Date</li>
                                    <li>Perfil: @lsa.TypeInvestor</li>
                                    @if (!string.IsNullOrWhiteSpace(lsa.Name))
                                    {
                                        <li>Usuário: @lsa.Name</li>
                                    }
                                </ul>

                           
                                <ul style="list-style: none; line-height: 20px; margin-top: 20px">
                                    @{

                                    var questions = lsa.Answers.ToLookup(a => a.Id * 1000 + (a.SubQuestionId ?? 0));
                                    foreach (var l in questions)
                                    {
                                        var q = l.First();
                                        var numQuestion = q.IdQuestion.ToString();
                                        if (q.SubQuestionId.HasValue)
                                        {
                                            numQuestion += "." + q.SubQuestionId.ToString();
                                        }

                                        <li>
                                            @(numQuestion + ") " + q.Question)
                                            <ul>


                                                @foreach (SuitabilityAnswers sa in l)
                                                {
                                                    <li>@(sa.Answer + " (" + sa.Point + (sa.Point == 1 ? " ponto)" : " pontos)"))</li>
                                                }
                                            </ul>
                                        </li>



                                    }


                                    }
                                </ul>
                              }}


                        </div>
                        <span class="quebrar"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
