﻿@{
    Layout = null;
}
@using (Html.BeginForm("ExportTermsToFile", "Term", FormMethod.Post, new { @Id = "frmConfirmExport" }))
{
    string reportType = Request["isPdf"] == "true" ? "PDF" : "Excel";
    @Html.Hidden("exportType", reportType);
    <h2>
        Exportar para @reportType</h2>
    <div class="conteudo" id="ConfirmArea">
        <div class="linha-frm">
            <strong>@Html.Label("Agrupar dados por:")</strong>
            <div class="lista-opcoes-vertical">
                @Html.RadioButton("groupBy", "C", true)
                <label>
                    Cliente</label>
                @Html.RadioButton("groupBy", "A")
                <label>
                    Assessor</label>
                @Html.RadioButton("groupBy", "P")
                <label>
                    Papel</label>
            </div>
        </div>
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="javascript:;" name="btnExport" id="btnExport" title="exportar termos"
                onclick="$('#frmConfirmExport').submit();"><span>exportar termos</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>
    
}
