﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model TermItem
<script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Term/HistoryDetail.js")" type="text/javascript"></script>
<h2>
    Log</h2>
<div id="historyArea" class="conteudo historico detalhe">
    @Html.Hidden("hdfTermID", Request["termID"] ?? "0")
    
    <div>
        <p>
            <strong>
                <label>Nome Completo do Cliente</label>
            </strong>
       </p>
       <span>ABCD1 - Nome Pregão</span>
    </div>
    <div>
        <p>
        <strong>
            <label>Qtde a Liquidar:</label>
        </strong> <span>999.999.999</span></p>
    </div>
    <div>
        <p>
        <strong>
            <label>Tipo:</label>
        </strong> <span>LPDE</span>
        </p>
    </div>
    @{ 
        var history = (List<HistoryData>)ViewBag.CorrectionHistoryDetails; 
    }
    @if (history == null || history.Count == 0)
    {
        <div id="emptyArea" class="sem-resultado">
        Não foi possível carregar o histórico desta solicitação.
        </div>
    }
    else
    {
        bool odd = true;
        <div class="area-resultado" id="tableArea">
            <table id="tbHistory" cellpadding="0" cellspacing="0" width="445" class="classificar">
                <thead>
                    <tr>
                        <th>
                            <span>Data e Hora</span>
                        </th>
                        <th>
                            <span>Responsável</span>
                        </th>
                        <th>
                            <span>Ação</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HistoryData d in history)
                    {
                        string css = odd ? "odd" : "even";
                        <tr class="@css">
                            <td>
                                @d.Date.ToString("dd/MM/yyyy - HH:mm")
                            </td>
                            <td>
                                @d.Responsible
                            </td>
                            <td>
                                @d.Action
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>
            <div class="ferramentas acoes assessores">
                <div>
                    Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Term/TermHistoryToFile/?isPdf=false&detail=true">Excel</a>
                    <a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Term/TermHistoryToFile/?isPdf=true&detail=true">PDF</a>
                </div>
            </div>
        </div>
    }
</div>
