﻿<script src="@Url.Content("~/Scripts/Views/Term/TermFilter.js")" type="text/javascript"></script>
@using QX3.Portal.WebSite.Helper

<div class="filtro-padrao">
	    <div class="topo" id="TermFilter">
		    Filtrar por
	    </div>
	    <div class="conteudo" id="TermFilterContent" style="display: none;">
        <span class="quebrar"></span>
		    <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
			    <label>Assessor</label>
			    @Html.TextBox("txtAssessors")
		    </div>
		    <div class="linha-frm">
			    <label>Cliente</label>
			    @Html.TextBox("txtClient")
		    </div>
		    <div class="linha-frm papel">
			    <label>Papel</label>
                @Html.DropDownList("ddlCompany", (SelectList)ViewBag.Company, new { id = "ddlCompany" })
                <input type="text" value="" class="input-papel" id="txtStock" />
		    </div>
		    <div class="linha-frm">
			    <label>Data de Liquidação</label>
			    <div>
                    <label><input type="checkbox" id="chkD1" name="Date" value="" checked="checked" /> D+1</label>
                    <label><input type="checkbox" id="chkD2" name="Date" value="" checked="checked" /> D+2</label>
                    <label><input type="checkbox" id="chkD3" name="Date" value="" checked="checked" /> D+3</label>
                </div>
		    </div>
            <div class="linha-frm">
			    <label>Situação</label>
                @Html.DropDownList("ddlStatus", (SelectList)ViewBag.FilterStatus, "--Todos--", new { id = "ddlStatus" })
		    </div>
		    <div class="linha-btn">
			    <a class="btn-padrao" id="btnSearch" href=""><span>listar termos</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
    </div>
