﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Models
@using QX3.Portal.WebSite.Helper
@model List<TermListItem>

<script src="@Url.Content("~/Scripts/jQuery/validate/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Term/LotRequest.js")" type="text/javascript"></script>
<h2>
    Solicitar Liquidação de Termo</h2>
@using (Html.BeginForm("TermLotRequest", "Term", FormMethod.Post, new { @id = "frmTermLotRequest" }))
{
    <div id="pnlTermRequest" class="liquidacao-termo conteudo">
        <div id="requestFeedbackError" class="erro" style='display: none;'>
        </div>
        <table id="tbTerms" class="" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th width="180px">
                        Cliente
                    </th>
                    <th width="50px">
                        Cod.
                    </th>
                    <th>
                        Papel
                    </th>
                    <th>
                        Contrato
                    </th>
                    <th>
                        Qtde. a Liquidar
                    </th>
                    <th>
                        Disponível
                    </th>
                    <th>
                        Vencimento
                    </th>
                    <th>
                        Rolagem
                    </th>
                    <th>
                        Tipo
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (TermListItem t in Model)
                {
                    string txtTermName = string.Concat("txtTerm", t.Index);
                    string spanQuantity = string.Concat("totalQuantity", t.Index);
                    string ddlTermName = string.Concat("ddlTerm", t.Index);
                    string lblBusinessDate = string.Concat("lblBusinessDate", t.Index);
                    string hdfBusinessDate = string.Concat("hdfBusinessDate", t.Index);
                    <tr>
                        <td>@t.Client
                        </td>
                        <td>@t.Code
                        </td>
                        <td>@t.Stock
                        </td>
                        <td>@t.Contract
                        </td>
                        <td>
                        <input type="text" alt="stockQuantity" value="0,00" id="@txtTermName" name="@txtTermName" />
                        </td>
                        <td>
                            <span id="@spanQuantity">@t.AvailableQuantity.ToString("N0")</span>
                        </td>
                        <td>
                            @t.DueDate.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @t.RolloverDate.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <select id="@ddlTermName" name="@ddlTermName">
                                <option value='12' selected="selected">LPD</option>
                                <option value='13'>LPDE</option>
                                <option value='11'>LA</option>
                            </select>
                            <input type='hidden' id="@hdfBusinessDate" name="@hdfBusinessDate" value="@MarketHelper.GetBusinessDay(3)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="linha-btn">
            <a href="#feedBackAnchor" id="lnkTermRequest" class="btn-padrao" onclick="DoRequest();return false;"><span>Solicitar liquidação</span></a>
        </div>
    </div>
}
