﻿@{
    Layout = null;
}
@using QX3.Portal.WebSite.Models
@model TermListItem
<script src="@Url.Content("~/Scripts/Views/Term/Delete.js")" type="text/javascript"></script>
<h2>
    Deseja realmente excluir essa solicitação?</h2>
<div id="ConfirmArea" class="conteudo">
    @using (Html.BeginForm("DeleteTerm", "Term", FormMethod.Post, new { @Id = "frmConfirmTermDelete" }))
    {
        @Html.Hidden("hdfTermId", @Model.ID);
        <div>
            <p>
                <b>@Html.Label(Model.Client)</b></p>
            @Html.Label(Model.Stock)
        </div>
        <div>
            <p>
                <label>
                    <b>Qtd a Liquidar: </b>
                </label>
                @Html.Label(Model.SettleQuantity.ToString())</p>
        </div>
        <div>
            <p>
                <label>
                    <b>Tipo: </b>
                </label>@Html.Label(Model.StatusDescription)</p>
        </div>
        <br />

        <div class="linha-btn">
            <a type="button" class="btn-primario" href="#" name="btnDelete" id="btnDelete" title="excluir socilitação">
                <span>sim, excluir solicitação</span> </a><a type="button" class="btn-secundario"
                    href="#" name="btnCancel" onclick="Modal.Close();" id="btnCancel" title="não excluir">
                    <span>não excluir</span> </a>
        </div>
    }
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>