﻿@{
    ViewBag.Title = "BBRent";
}
<script src="@Url.Content("~/Scripts/Views/Other/BBrent.js")" type="text/javascript"></script>
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error
{
    Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(),
    DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none"
})
@using (@Html.BeginForm("LoadBBRent", "Other"))
{
    <div id="filterArea" class="caixa-filtro">
        <h2>
            Pesquisar Data</h2>
        <div class="linha-frm">
            @Html.Label("Data do pregão")
            @Html.DropDownList("ddlTradingDate", (SelectList)ViewBag.ddlTradingDate)
        </div>
        <span class="quebrar"></span>
        <div class="linha-btn">
            <a class="btn-padrao" href="javascript:void(0);" id="lnkSubmitBBRentFilter"><span>Gerar Relatório</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
    
}
