﻿@{
    ViewBag.Title = "BrokerageDiscount";
}
@using QX3.Portal.WebSite.Helper;

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/jquery.qtip-1.0.0-rc3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/BrokerageDiscount.js")" type="text/javascript"></script>

<div class="ferramentas acoes assessores">
   @{
       AccessControlHelper acHelper = new AccessControlHelper();
    }
   @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnRequest")){ 
        <a href="javascript:;" id="btnRequest" class="btn-padrao"><span>Solicitar</span></a>
   }
   @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnApprove")){ 
  <a href="javascript:;" class="btn-secundario" id="lnkAprovar"><span>Aprovar</span></a>
   }
   @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnEffective")){ 
  <a href="javascript:;" class="btn-secundario" id="lnkEfetuar"><span>Efetuar</span></a>
   }  
  <div><span id="dvExportar">Exportar:</span> <a id="lnkDiscountExcel" class="ico-xls" href="javascript:;">Excel</a>
  
  <a id="lnkDiscountPdf" class="ico-pdf" href="javascript:;">PDF</a>
  
  @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnLog")){
  <a href="javascript:;" class="ico-hist" id="lnkViewHistory">Ver histórico</a>
  }
  </div>
</div>
@Html.Partial("BrokerageDiscountFilter")
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
@{var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
    <span>@(TempData["SuccessMessage"] ?? "")</span><a href="#" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
        id="closeFeedback">fechar</a>
</div>

<div id="feedbackError" class="erro" style='display:none;'>
</div>

<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>

<div id="loadingArea" style="display: none; text-align: center;">
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>

<div id="table-area" style="display: none;">
    <table cellspacing="0" cellpadding="0" class="classificar" id="tblBrokerageDiscount" width="100%">
        <thead>
            <tr>
                <th height="30" class="unbind">
                    <input type="checkbox" id="checkAll" name="checkAll" value="true" />
                </th>
                <th width="60px"><div style="width:60px;">Cod</div></th>
                <th>Cliente</th>
                <th>Assessor</th>
                <th>Bolsa</th>
                <th>Mercado</th>
                <th>Operação</th>
                <th>Vigência</th>
                <th>Ativo</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>Descrição</th>
                <th>Situação</th>
                <th width="43px" class="ultimo"><div style="width:43px;">&nbsp;</div></th>
            </tr>
        </thead>
        <tbody>
            @{ 
                List<QX3.Portal.Contracts.DataContracts.BrokerageDiscount> BrokerageDiscountList =
                    (ViewBag.BrokerageDiscountList == null) 
                    ? null
                    :(List<QX3.Portal.Contracts.DataContracts.BrokerageDiscount>)ViewBag.BrokerageDiscountList.Result;    
            }
            @if (BrokerageDiscountList != null)
            { 
                int counter = 0;
                foreach (var broker in BrokerageDiscountList)
                {
                    <tr>
                    <td><input type="checkbox" class="chk-broker-discount" value='@(broker.RequestId + "|" + broker.ClientCode)' /></td>
                    <td>@broker.ClientCode</td>
                    <td>@broker.ClientName</td>
                    <td>@broker.Assessor</td>
                    <td>@((broker.StockExchange == 1) ? "Bovespa": "BM&F")</td>
                    <td>@broker.MarketType</td>
                    <td>@broker.Operation</td>
                    <td>@broker.Vigency</td>
                    <td>@broker.StockCode</td>
                    <td>@broker.Qtty</td>
                    <td>@((broker.StockDiscountPercentual.HasValue) ? broker.StockDiscountPercentual.Value.ToString() + "%" : broker.StockDiscountValue.Value.ToString("n"))</td>
                    <td>@broker.Description</td>
                    <td>@broker.Situation</td>
                    <td class="ultimo">
                        <img class="espaco zerado" src="../../img/ico/icon-space-table.gif">
                        @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnDelete")){ 
                        <a class="ico-excluir exclude-brokerage" href="javascript:;">excluir</a>
                        }
                        @if (acHelper.HasFuncionalityPermission("Other.BrokerageDiscount", "btnLog")){ 
                        <a class="ico-hist view-log-detail" href="javascript:;">log</a>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    </div>
<!-- MODAL DE SITUAÇÃO -->
<div class="modal-situacao" style="display: none;">
    <a class="closeLink" href="javascript:;"><span>Fechar</span>
    </a>
    <div class="linha-frm">
        @Html.Hidden("hdfRequestId")
        <label>
            Alterar Situação</label>
        <div class="erro" id="feedbackStatus" style="display: none;">
            Status inválido.</div>
        @Html.DropDownList("ddlStatusChange", (SelectList)ViewBag.Status, null, new { id = "ddlStatusChange" })
    </div>
    <div class="linha-btn">
        <a type="button" class="btn-padrao" href="#" name="btnSettle" id="btnSettle" title="liquidar socilitação"><span>Alterar Situação</span></a>
    </div>
</div>
@if (ViewBag.Pending != null && ViewBag.Pending > 0)
{
    <div id="pendingTag" class="aviso" style="display: none;">
        <span><strong>@ViewBag.Pending</strong> Pendente@(ViewBag.Pending > 1 ? "s" : "")</span></div>
}