﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/BrokerageDiscountFilter.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="BrokerageDiscountFilter">
		        Filtrar por
    </div>
	<div class="conteudo" id="BrokerageDiscountContent" style="display:none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;"></div>
		    <div class="linha-frm">
			    <label>Assessor</label>
                @Html.TextBox("txtAssessor")
		    </div>
		    <div class="linha-frm">
			    <label>Cliente</label>
                @Html.TextBox("txtClientFilter")
                @Html.Hidden("hdfFilterClientCode", "")
                @Html.Hidden("hdfFilterClientName", "")
		    </div>
		    <div class="linha-frm">
			    <label>Bolsa</label>
			    <select id="ddlStockMarket" name="ddlStockMarket">
				    <option value="0">Todos</option>
				    <option value="1">Bovespa</option>
				    <option value="2">BM&F</option>
			    </select>
		    </div>
            <div class="linha-frm">
			    <label>Mercado</label>
			    <select id="ddlMarketType" name="ddlMarketType">
				    <option value="">Todos</option>
                    <option value="GER">Geral</option>
				    <option value="VIS">À Vista</option>
				    <option value="OPC">Opção</option>
                    <option value="TER">Termo</option>
			    </select>
		    </div>
            <div class="linha-frm">
			    <label>Operação</label>
			    <select id="ddlOperation" name="ddlOperation">
				    <option value="">Todos</option>
				    <option value="S">Dia</option>
				    <option value="N">Day Trade</option>
			    </select>
		    </div>
            <div class="linha-frm">
			    <label>Vigência</label>
			    <select id="ddlVigency" name="ddlVigency">
				    <option value="">Todos</option>
				    <option value="S">D0</option>
				    <option value="N">D-1</option>
                    <option value="P">Permanente</option>
			    </select>
		    </div>
            <div class="linha-frm">
			    <label>Situação</label>
			    <select id="ddlSituation" name="ddlSituation">
				    <option value="">Todos</option>
				    <option value="A">Para Aprovar</option>
				    <option value="F">Para Efetuar</option>
                    <option value="E">Efetuados</option>
                    <option value="R">Reprovados</option>
			    </select>
		    </div>
		    <div class="linha-frm">
			    <label>Desconto</label>
                <div class="lista-opcoes-vertical">
                    <input type="radio" name="rdbDiscountType" value="P" checked="checked" /> Percentual
                    <input type="radio" name="rdbDiscountType" value="D" /> Dinheiro
                </div>
		    </div>
<div id="divOptPercentual" class="linha-frm conjugado dia-desconto">
                <label>Percentual</label>
                @Html.TextBox("txtMinorDiscountPercentual", null, new { @maxlength = "10", @size = 10 }) % até
                @Html.TextBox("txtMajorDiscountPercentual", null, new { @maxlength = "10", @size = 10 }) %
            </div>
			<div id="divOptDinheiro" class="linha-frm conjugado dia-desconto" style="display:none">
                <label>Dinheiro</label>
                @Html.TextBox("txtMinorDiscountValue", null, new { @maxlength = "10", @size = 10 }) até
                @Html.TextBox("txtMajorDiscountValue", null, new { @maxlength = "10", @size = 10 })
            </div>
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:;" id="lnkSubmitBrokerageDiscountFilter"><span>Listar Descontos</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
  </div>
