﻿@{
    Layout = null;
    bool even = true;
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/ConsolidatedPositionClient.js")" type="text/javascript"></script>
@using QX3.Portal.Contracts.DataContracts;
@model CPClientInformation
@if (Model != null)
{ 
    <h2 class="ver-cadastro">
        Dados Cadastrais</h2>
    
    <div class="conteudo ver-cadastro">
        <div class="etiqueta">
            <div class="bloco">
                @Model.Client.Value @Model.AssessorName
            </div>
        </div>
        <span class="quebrar"></span>
        <div id="tabsConsolidatedPositionClient">
            <ul>
                <li><a href="#resumeTab">Resumo</a></li>
                <li><a href="#clientData">Dados do Cliente</a></li>
                <li><a href="#accountData">Contas Bancárias</a></li>
                <li><a href="#Orders">Pessoas Autorizadas a Emitir Ordem</a></li>
            </ul>
            <div id="resumeTab">
                <div class="caixa-patrimonio">
                    <h3>Patrimônio Líquido:</h3>
                    <span>@Model.NetWorth.ToString("C2")</span>
                </div>
                <div class="caixa-resumo">
                    <div class="resumo-cadastro">
                        <strong>Profissão:</strong> <span>@Model.Occupation</span> <span class="quebrar">
                        </span><strong>CPF/CNPJ:</strong> <span>@Model.CPFCNPJ</span> <span class="quebrar">
                        </span><strong>Nascimento/Fundação:</strong> <span>@Model.Birthdate</span> <span
                            class="quebrar"></span><strong>Idade:</strong> <span>@Model.Age</span> <span class="quebrar">
                            </span>
                    </div>
                    <div class="resumo-cadastro">
                        <strong>Suitability:</strong> <span>@Model.Suitability</span>
                    </div>
                    @foreach (var cInfo in Model.MarketInfo)
                    {

                        <div class="resumo-cadastro">
                            <h3>@cInfo.MarketName</h3>
                            <span class="quebrar"></span><strong>Tipo:</strong> <span>@cInfo.MarketType</span>
                            <span class="quebrar"></span><strong>Contraparte:</strong> <span>@cInfo.Counterparty</span>
                            <span class="quebrar"></span><strong>Qualificado:</strong> <span>@cInfo.Qualified</span>
                        </div>
            
                    }
                    <span class="quebrar"></span>
                </div>
            </div>
            <div id="clientData">
                @if (Model.Address != null)
                {
                    <div class="caixa-resumo">
                        <div class="resumo-cadastro">
                            <strong>Endereço:</strong> <span>@string.Format("{0}, {1}", Model.Address.AddressLine1, Model.Address.Number)</span>
                            <span class="quebrar"></span><strong>Complemento:</strong> <span>@Model.Address.AddressLine2</span>
                            <span class="quebrar"></span><strong>Bairro:</strong> <span>@Model.Address.Quarter</span>
                            <span class="quebrar"></span><strong>Cidade:</strong> <span>@Model.Address.City</span>
                            <span class="quebrar"></span><strong>Estado/País:</strong> <span>@Model.Address.StateCountry</span>
                            <span class="quebrar"></span><strong>CEP:</strong> <span>@Model.Address.PostalCode</span>
                        </div>
                        <div class="resumo-cadastro">
                            <strong>Telefone:</strong> <span>@Model.Address.Phone</span> <span class="quebrar">
                            </span><strong>Fax:</strong> <span>@Model.Address.Fax</span> <span class="quebrar">
                            </span><strong>Celular:</strong> <span>@Model.Address.Cell</span>
                        </div>
                        <span class="quebrar"></span>
                    </div>
                }
                else
                {
                    <div class="sem-resultado">Nenhuma informação encontrada</div>
                }
            </div>
            <div id="accountData">
                @if (Model.BankAccounts != null && Model.BankAccounts.Count > 0)
                {
                    <div class="caixa-resumo ">
                        <table class="classificar" width="526px" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Código do Banco</th>
                                    <th>Agência</th>
                                    <th>Conta</th>
                                    <th>Principal</th>
                                    <th>Tipo</th>
                                    <th>Conta Conjunta</th>
                                </tr>
                            </thead>                            
                            <tbody>
                            @foreach (var cInfo in Model.BankAccounts)
                                { 
                                    if (!cInfo.IsInactive)
                                    {

                                <tr class="@string.Format("{0}", !even ? "even" : "odd")">
                                    <td>@cInfo.BankCode</td>
                                    <td>@((cInfo.AgencyDigit == "-") ? cInfo.AgencyCode : string.Format("{0}-{1}", cInfo.AgencyCode, cInfo.AgencyDigit))</td>
                                    <td>@((cInfo.AccountDigit == "-") ? cInfo.Account : string.Format("{0}-{1}", cInfo.Account, cInfo.AccountDigit))</td>
                                    <td>@(cInfo.IsPrincipal ? "Sim" : "Não")</td>
                                    <td>@cInfo.Type</td>
                                    @*<td>@(cInfo.IsJointAccount ? "Sim" : "Não")</td>*@
                                    <td>@(cInfo.IsJointAccount ? cInfo.JointAccountName : "Não possui")</td>
                                </tr>

                                    }
                                    even = !even;
                                }
                            </tbody>
                        </table>
                        <span class="quebrar"></span>
                    </div>
                }
                else
                {
                    <div class="sem-resultado">Nenhuma informação encontrada</div>
                }
            </div>
            <div id="Orders">
                @if (Model.OrdersIssuers != null && Model.OrdersIssuers.Count > 0)
                 {
                    <div class="caixa-resumo">
                        <table class="classificar" width="526px" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Sistema</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cInfo in Model.OrdersIssuers)
                                {
                                    <tr>
                                        <td>@cInfo.Name</td>
                                        <td>@cInfo.Market</td>
                                        <td>@cInfo.Type</td>
                                    </tr>
                                }
                            </tbody>
						</table>
                        <span class="quebrar"></span>
                    </div>
                 }
                 else
                 {
                    <div class="sem-resultado">Nenhuma informação encontrada</div>
                 }
            </div>
        </div>
    </div>
}
