﻿@model QX3.Portal.Contracts.DataContracts.CPBMFTotal

@{
    if (Model != null)
    {
    
	    if (Model.BMFOpenList != null && Model.BMFOpenList.Count > 0)
        {
           <div class="tabela-expandida">
               <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="6" class="titulo">BM&F: Abertura</th>
                        </tr>
                        <tr>
                            <th scope="col" rowspan="2">Mercadoria</th>
                            <th scope="col" rowspan="2">Quantidade</th>
                            <th scope="col" rowspan="2">Fechamento</th>
                            <th scope="col" rowspan="2">Atual</th>
                            <th scope="colgroup" colspan="2" class="primario-grupo zerado">Lucro/Prejuízo</th>
                        </tr>
						<tr>
							<th scope="col" class="secundario-grupo">%</th>
							<th scope="col" class="secundario-grupo zerado">$</th>
						</tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.BMFOpenList)
                        {
                            string ClosingClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.Closing);
                            string CurrentClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.Current);
                            string ProfitLossClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.ProfitLoss);
                            
                            <tr>
                                <td class="ativo">@obj.Commodity</td>
                                <td class="direita">@obj.Quantity.ToString("N0")</td>
                                <td class="direita @ClosingClass">@obj.Closing.ToString("n2")</td>
                                <td class="direita @CurrentClass">@obj.Current.ToString("n2")</td>
                                <td class="direita">@obj.ProfitLossPercentage.ToString("n2")%</td>
                                <td class="direita @ProfitLossClass">@obj.ProfitLoss.ToString("n2")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @{
                                string ClosingTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFOpenList.Sum(a => a.Closing));
                                string CurrentTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFOpenList.Sum(a => a.Current));
                                string ProfitLossTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFOpenList.Sum(a => a.ProfitLoss));
                            }
                            <td colspan="2" class="total">Total</td>
                            <td class="direita @ClosingTotalClass">@Model.BMFOpenList.Sum(a => a.Closing).ToString("n2")</td>
                            <td class="direita @CurrentTotalClass">@Model.BMFOpenList.Sum(a => a.Current).ToString("n2")</td>
                            <td class="direita">@Model.BMFOpenList.Sum(a => a.ProfitLossPercentage).ToString("n2")%</td>
                            <td class="direita @ProfitLossTotalClass">@Model.BMFOpenList.Sum(a => a.ProfitLoss).ToString("n2")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        
	    if (Model.BMFCurrentList != null && Model.BMFCurrentList.Count > 0)
        {
            <div class="tabela-expandida">
                <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="12" class="titulo">BM&F: Pregão Atual</th>
                        </tr>
                        <tr>
                            <th scope="col" rowspan="2">Mercadoria</th>
                            <th scope="col" rowspan="2">Nº Negócio</th>
                            <th scope="col" rowspan="2">Hora</th>
                            <th scope="col" rowspan="2">C/V</th>
                            <th scope="col" rowspan="2">After Market</th>
                            <th scope="col" rowspan="2">Quantidade</th>
                            <th scope="col" rowspan="2">Preço Negócio</th>
                            <th scope="col" rowspan="2">Valor Total do Negócio</th>
                            <th scope="col" rowspan="2">Preço Atual</th>
                            <th scope="colgroup" colspan="2" class="primario-grupo">Lucro/Prejuízo</th>
                            <th scope="col" rowspan="2">Tipo</th>
                        </tr>
						<tr>
							<th scope="col" class="secundario-grupo">%</th>
							<th scope="col" class="secundario-grupo ultimo">$</th>
						</tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.BMFCurrentList)
				        {
                            string PriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.Price);
                            string TotalPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.TotalPrice);
                            string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
                            string ProfitLossClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.ProfitLoss);
                            
                            <tr>
                                <td class="ativo">@obj.Commodity</td>
                                <td>@obj.TradeNumber</td>
                                <td>@obj.TradeHour</td>
                                <td>@obj.OperationType</td>
                                <td>@obj.AfterMarket</td>
                                <td class="direita">@obj.Quantity.ToString("n0")</td>
                                <td class="direita @PriceClass">@obj.Price.ToString("n2")</td>
                                <td class="direita @TotalPriceClass">@obj.TotalPrice.ToString("n2")</td>
                                <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("n2")</td>
                                <td class="direita">@obj.ProfitLossPercentage.ToString("n2")%</td>
                                <td class="direita @ProfitLossClass">@obj.ProfitLoss.ToString("n2")</td>
                                <td>@obj.Type</td>
                            </tr>
				        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @{
                                string TotalPriceTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFCurrentList.Sum(a => a.TotalPrice));
                                string CurrentPriceTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFCurrentList.Sum(a => a.CurrentPrice));
                                string ProfitLossTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.BMFCurrentList.Sum(a => a.ProfitLoss));
                            }
                            <td colspan="5" class="total">Total</td>
                            <td class="direita">@Model.BMFCurrentList.Sum(a => a.Quantity).ToString("n0")</td>
                            <td class="zerado">&nbsp;</td>
                            <td class="direita @TotalPriceTotalClass">@Model.BMFCurrentList.Sum(a => a.TotalPrice).ToString("n2")</td>
                            <td class="direita @CurrentPriceTotalClass">@Model.BMFCurrentList.Sum(a => a.CurrentPrice).ToString("n2")</td>
                            <td class="direita">@Model.BMFCurrentList.Sum(a => a.ProfitLossPercentage).ToString("n2")%</td>
                            <td class="direita @ProfitLossTotalClass">@Model.BMFCurrentList.Sum(a => a.ProfitLoss).ToString("n2")</td>
                            <td class="zerado">&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
	    }

		if (Model.BMFConsolidated != null && Model.BMFConsolidated.Count > 0)
        {
            <div class="tabela-expandida">
                <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="6" class="titulo">BM&F: Total (Posição de Abertura + Pregão Atual)</th>
                        </tr>
                        <tr>
                            <th scope="col">Mercadoria</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Lucro/Prejuízo $</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.BMFConsolidated)
				        {
                            string ProfitLossClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.ProfitLoss);
                            
                            <tr>
                                <td>@obj.Commodity</td>
                                <td class="direita">@obj.Quantity.ToString("N0")</td>
                                <td class="direita @ProfitLossClass">@obj.ProfitLoss.ToString("n2")</td>
                            </tr>
				        }
                    </tbody>
                </table>
            </div>
	    }
    }
    else
	{
        <span>Posição não encontrada.</span>
    }
}