﻿@model List<QX3.Portal.Contracts.DataContracts.CPBovespaGuarantees>

@{
	if (Model != null && Model.Count > 0)
    {
         <div class="tabela-expandida">
             <table class="classificar" width="950px" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">Ativo</th>
                        <th scope="col">Data do Depósito</th>
                        <th scope="col" width="100px">Banco</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Valor Garantia</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Guarda-Chuva</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        string GuaranteeValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.GuaranteeValue);
                        string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
                        string TotalValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.TotalValue);
                        
                        <tr>
                            <td class="ativo">@obj.Stock</td>
                            <td class="centralizado">@obj.DepositDate</td>
                            <td>@obj.Bank</td>
                            <td>@obj.Origin</td>
                            <td class="direita">@obj.Quantity.ToString("N0")</td>
                            <td class="direita @GuaranteeValueClass">@obj.GuaranteeValue.ToString("N2")</td>
                            <td class="centralizado">@obj.DueDate</td>
                            <td>@obj.Umbrella</td>
                            <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("N2")</td>
                            <td class="direita @TotalValueClass">@obj.TotalValue.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
	}
    else
    {
        <span>Posição não encontrada.</span>
    }
}