﻿@model List<QX3.Portal.Contracts.DataContracts.CPCDBFinal>

@{
	if (Model != null && Model.Count > 0)
    {
         <div class="tabela-expandida">
             <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Emissão</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Taxa</th>
                        <th scope="col">Operação</th>
                        <th scope="col">Resgate</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Total</th>
                        <th scope="col">IR/IOF</th>
                        <th scope="col">Valor Líquido</th>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
						string RatioClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.Ratio); 
						string GrossValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.GrossValue);
						string IRIOFClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.IRIOF);
                        string NetValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.NetValue);
                        
                        <tr>
                            <td class="ativo">@obj.Title</td>
                            <td class="centralizado">@obj.IssueDate</td>
                            <td class="centralizado">@obj.DueDate</td>
                            <td class="direita @RatioClass">@obj.Ratio.ToString("n2")</td>
                            <td class="centralizado">@obj.OperationDate</td>
                            <td class="centralizado">@obj.RedemptionDate</td>
                            <td class="direita">@obj.Quantity.ToString("n0")</td>
                            <td class="direita @GrossValueClass">@obj.GrossValue.ToString("n2")</td>
                            <td class="direita @IRIOFClass">@obj.IRIOF.ToString("n2")</td>
                            <td class="direita @NetValueClass">@obj.NetValue.ToString("n2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
	}
    else
    {
        <span>Posição não encontrada.</span>
    }
}