﻿@model List<QX3.Portal.Contracts.DataContracts.CPOption>

@{
	if (Model != null && Model.Count > 0)
	{
        <div class="tabela-expandida">
            <table class="classificar" width="2000" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" width="100">Papel</th>
                        <th scope="col" rowspan="2">Vencimento</th>
                        <th scope="col" rowspan="2">Carteira</th>
                        <th scope="col" rowspan="2">Distribuição</th>
                        <th scope="col" rowspan="2">Qtde. Disponível</th>
                        <th scope="col" rowspan="2">Pendência</th>
                        <th scope="col" rowspan="2">Bloqueada</th>
                        <th scope="col" rowspan="2">A Liquidar D+0</th>
                        <th scope="col" rowspan="2">Bloqueada D+1</th>
                        <th scope="col" rowspan="2">Bloqueada D+2</th>
                        <th scope="col" rowspan="2">Bloqueada D+3</th>
                        <th scope="col" rowspan="2">VAC Quantidade</th>
                        <th scope="col" rowspan="2">VAC Valor</th>
                        <th scope="col" rowspan="2">Saldo Qtde.</th>
                        <th scope="col" rowspan="2">Preço Atual</th>
                        <th scope="col" rowspan="2">Valor Atual</th>
                        <th scope="colgroup" colspan="2" class="primario-grupo zerado">Deságio</th>
                    </tr>
				    <tr>
					    <th class="secundario-grupo direita" scope="col"><div style="min-width:35px;">%</div></th>
					    <th class="secundario-grupo direita" scope="col"><div style="min-width:35px;">$</div></th>
				    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        string VACValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.VACValue);
                        string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
                        string CurrentValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentValue);
                        string DiscountValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.DiscountValue);
                        
                        <tr>
                            <td class="ativo">@obj.Stock</td>
                            <td class="centralizado">@obj.DueDate</td>
                            <td>@obj.Portfolio</td>
                            <td>@obj.Distribution</td>
                            <td class="direita">@obj.AvailableQuantity.ToString("N0")</td>
                            <td class="direita">@obj.PendingQuantity.ToString("N0")</td>
                            <td class="direita">@obj.BlockedQuantity.ToString("N0")</td>
                            <td class="direita">@obj.SettleInD0.ToString("N0")</td>
                            <td class="direita">@obj.BlockedD1.ToString("N0")</td>
                            <td class="direita">@obj.BlockedD2.ToString("N0")</td>
                            <td class="direita">@obj.BlockedD3.ToString("N0")</td>
                            <td class="direita">@obj.VACQuantity.ToString("N0")</td>
                            <td class="direita @VACValueClass">@obj.VACValue.ToString("N2")</td>
                            <td class="direita">@obj.BalanceQuantity.ToString("N0")</td>
                            <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("N2")</td>
                            <td class="direita @CurrentValueClass">@obj.CurrentValue.ToString("N2")</td>
                            <td class="direita">@obj.DiscountPercentage.ToString("N2")%</td>
                            <td class="direita @DiscountValueClass">@obj.DiscountValue.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
	}
    else
    {
        <span>Posição não encontrada.</span>
    }
}