﻿
@using QX3.Portal.Contracts.DataContracts
@model List<CPResume>
           
<script src="@Url.Content("~/Scripts/Views/Other/CPResume.js")" type="text/javascript"></script>

@{var c = (CPClientInformation)ViewBag.ClientInformation;}

<div class="ferramentas">
<h2>Posição em @c.PositionDate às @c.PositionHour</h2>
</div>

<div class="cabecalho-grid posicao-consolidada">
    <h2>@c.Client.Value @c.Client.Description</h2>
	<a href="javascript:void(0);" class="ico-visualizar lnk-txt" id="lnkRegView">Ver Cadastro</a>
	<a href="javascript:void(0);" class="ico-email lnk-txt" id="lnkRegEmail" rel='@c.ClientCode'>Enviar Email</a>
	<a href="javascript:void(0);" class="ico-pdf lnk-txt" id="lnkGerarPDF">Gerar PDF</a>
    <span class="quebrar"></span>
    <div class="etiqueta">
        <div class="esquerda">
            <div class="bloco">
                <span>@c.AssessorName</span>
            </div>
        </div>
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>
</div>

<div class="acoes">
    <div class="mostrar-todos">
        <a id="lnkDetails" class="ico-detalhes lnk-txt" href="javascript:void(0);">Abrir tudo</a>
    </div>
    <div class="linha-frm">
        <label>Ativo:</label>
        <input type="text" value="Investimentos com esse ativo" id="txtStock" />
    </div>
    <span class="quebrar"></span>
</div>

@{ if (Model != null && Model.Count > 0)
   {
    <div class="lista-ancoras" style="display:none;">
        <a href="#divCP-Term">Termo</a>
        <a href="#divCP-SettledTerms">Termos Liquidados</a>
        <a href="#divCP-SettledTermsToday">Termos Liquidados Hoje</a>
        <a href="#divCP-RentDonor">Aluguel Doador</a>
        <a href="#divCP-RentTaker">Aluguel Tomador</a>
        <a href="#divCP-BovespaGuarantees">Garantias Bovespa</a>
        <a href="#divCP-BMFCurrent">BM&F Total</a>
        <a href="#divCP-Gold">Ouro</a>
        <a href="#divCP-BMFGuarantees">Garantias BM&F</a>
        <a href="#divCP-CDBFinal">CDB Final</a>
        <a href="#divCP-CommitedCDB">Compromissada em CDB</a>
        <a href="#divCP-PublicTitles">Títulos Públicos</a>
        <a href="#divCP-Clubs">Clubes</a>
        <a href="#divCP-TotalCheckingAccount">Total Conta Corrente</a>
    </div>
    <div class="tabela-expansivel">
          <div class="cabecalho-falso">
            <div class="cabecalho-falso-th expandir"><span>&nbsp;</span></div>
            <div class="cabecalho-falso-th vazia">&nbsp;</div>
            <div class="cabecalho-falso-th CI">CI</div>
            <div class="cabecalho-falso-th CN">CN</div>
            <div class="cabecalho-falso-th total">Total</div>
          </div>
           
        @foreach (var obj in Model)
        {
           <div class="linha-falsa-tabela">
                <div class="linha-falsa">
                    <div class="linha-falsa-td expandir"><a href="javascript:void(0);" class="ico-detalhes fechado" style="float:left;" rel='@obj.Type'>expandir</a></div>
                    <div class="linha-falsa-td vazia">@obj.Label</div>
                    <div class="linha-falsa-td CI">@obj.InvestmentAccount.ToString("C2")</div>
                    <div class="linha-falsa-td CN">@obj.NormalAccount.ToString("C2")</div>
                    <div class="linha-falsa-td total">@obj.Total.ToString("C2")</div>
                </div> 
                <div class="caixa-tabela-expandida" id='divCP-@obj.Type'>
                    <div class="tabela-expandida"></div>
                </div>
            </div>
        }
        
        <div class="rodape-tabela">
            <div class="rodape-linha-falsa-tabela even">
                <div class="linha-falsa-td vazia">Total C/C</div>
                <div class="linha-falsa-td ci">@Model.Sum(a => a.InvestmentAccount).ToString("C2")</div>
                <div class="linha-falsa-td cn">@Model.Sum(a => a.NormalAccount).ToString("C2")</div>
                <div class="linha-falsa-td total">@Model.Sum(a => a.Total).ToString("C2")</div>
            </div>
        </div>
    </div>
 
    }
}


<div id="loadingAreaTab" style="display: none; text-align: center;">
	<img src="../../img/preloaderazul.gif" alt="carregando consulta" />
</div>