﻿@model List<QX3.Portal.Contracts.DataContracts.CPRentTaker>

@{
    if (Model != null && Model.Count > 0)
    {
        <div class="tabela-expandida">
            <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">Companhia</th>
                        <th scope="col">ISIN</th>
                        <th scope="col">Carteira</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Data de Abertura</th>
                        <th scope="col">Data de Vencimento</th>
                        <th scope="col">Carência Liquidação</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço Médio</th>
                        <th scope="col">Taxa de Remuneração</th>
                        <th scope="col">Taxa de Comissão</th>
                        <th scope="col">Valor Líquido</th>
                        <th scope="col">Preço Atual</th>
                        <th scope="col">Valor Atual</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        string AveragePriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.AveragePrice);
                        string NetValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.NetValue);
                        string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
                        string CurrentValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentValue);
						string RemunerationRateClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.RemunerationRate);
						string CommisionRateClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CommisionRate);

                        <tr>
                            <td>@obj.Company</td>
                            <td>@obj.ISIN</td>
                            <td>@obj.Portfolio</td>
                            <td>@obj.Origin</td>
                            <td class="centralizado">@obj.OpeningDate</td>
                            <td class="centralizado">@obj.DueDate</td>
                            <td class="centralizado">@obj.LiquidationGraceDate</td>
                            <td class="direita">@obj.Quantity.ToString("N0")</td>
                            <td class="direita @AveragePriceClass">@obj.AveragePrice.ToString("N2")</td>
                            <td class="direita @RemunerationRateClass">@obj.RemunerationRate.ToString("N2")</td>
                            <td class="direita @CommisionRateClass">@obj.CommisionRate.ToString("N2")</td>
                            <td class="direita @NetValueClass">@obj.NetValue.ToString("N2")</td>
                            <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("N2")</td>
                            <td class="direita @CurrentValueClass">@obj.CurrentValue.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
			    <tfoot>
				    <tr>
                        @{
                            string NetValueTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.Sum(a => a.NetValue));
                            string CurrentValueTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.Sum(a => a.CurrentValue));
                        }
					    <td colspan="7" class="total">Total</td>
					    <td class="direita">@Model.Sum(a => a.Quantity).ToString("N0")</td>
					    <td colspan="3" class="zerado">&nbsp;</td>
					    <td class="direita @NetValueTotalClass">@Model.Sum(a => a.NetValue).ToString("N2")</td>
					    <td class="zerado">&nbsp;</td>
					    <td class="direita @CurrentValueTotalClass">@Model.Sum(a => a.CurrentValue).ToString("N2")</td>
				    </tr>
			    </tfoot>
            </table>
        </div>
	}
    else
    {
        <span>Posição não encontrada.</span>
    }
}