﻿@model List<QX3.Portal.Contracts.DataContracts.CPSettledTerms>

@{
	if (Model != null && Model.Count > 0)
    {
         <div class="tabela-expandida">
             <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">Data da Liquidação</th>
                        <th scope="col">Papel</th>
                        <th scope="col">Tipo de Liquidação</th>
                        <th scope="col">Nº Negócio</th>
                        <th scope="col">C/V</th>
					    <th scope="col">Quantidade</th>
					    <th scope="col">Preço do Negócio</th>
					    <th scope="col">Valor do Contrato Liquidado</th>
					    <th scope="col">Valor do Contrato Revertido</th>
					    <th scope="col">Lucro/Prejuízo $</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        string BusinessPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.BusinessPrice);
                        string SettledContractValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.SettledContractValue);
                        string SettledContractReversedClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.SettledContractReversed);
						string ProfitLossClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.ProfitLoss);
                        
                        <tr>
                            <td class="centralizado">@obj.LiquidationDate</td>
                            <td class="ativo">@obj.Stock</td>
						    <td>@obj.LiquidationType</td>
						    <td>@obj.BusinessNumber</td>
						    <td>@obj.CV</td>
						    <td class="direita">@obj.Quantity.ToString("N0")</td>
						    <td class="direita @BusinessPriceClass">@obj.BusinessPrice.ToString("N2")</td>
						    <td class="direita @SettledContractValueClass">@obj.SettledContractValue.ToString("N2")</td>
						    <td class="direita @SettledContractReversedClass">@obj.SettledContractReversed.ToString("N2")</td>
						    <td class="direita @ProfitLossClass">@obj.ProfitLoss.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
	}
    else
    {
        <span>Posição não encontrada.</span>
    }
}