﻿@model QX3.Portal.Contracts.DataContracts.CPTerms

@{
    if (Model != null)
    {
	    if (Model.Terms != null && Model.Terms.Count > 0)
        {
            <div class="tabela-expandida">
            <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">Papel</th>
                        <th scope="col" rowspan="2">Carteira</th>
                        <th scope="col" rowspan="2">Distribuição</th>
                        <th scope="colgroup" colspan="3" class="primario-grupo">Quantidade</th>
					    <th scope="col" rowspan="2" >Liquidar em D+0</th>
					    <th scope="colgroup" colspan="3" class="primario-grupo zerado">Bloqueada</th>
					    <th scope="colgroup" colspan="2" class="primario-grupo">VAC</th>
					    <th scope="col" rowspan="2">Saldo Quantidade</th>
					    <th scope="col" rowspan="2">Preço Atual</th>
					    <th scope="col" rowspan="2">Valor</th>
					    <th scope="colgroup" colspan="2" class="primario-grupo zerado">Deságio</th>
                    </tr>
				    <tr>
					    <th scope="col" class="secundario-grupo">Disponível</th>
					    <th scope="col" class="secundario-grupo">Pendência</th>
					    <th scope="col" class="secundario-grupo ultimo">Bloqueada</th>
					    <th scope="col" class="secundario-grupo">D+1</th>
					    <th scope="col" class="secundario-grupo">D+2</th>
					    <th scope="col" class="secundario-grupo ultimo zerado">D+3</th>
					    <th scope="col" class="secundario-grupo">Quantidade</th>
					    <th scope="col" class="secundario-grupo ultimo">Valor</th>
					    <th scope="col" class="secundario-grupo"><div style="min-width:35px;">%</div></th>
					    <th scope="col" class="secundario-grupo ultimo zerado"><div style="min-width:35px;">$</div></th>
				    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Terms)
				    {
                        string VACValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.VACValue);
                        string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
                        string CurrentValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentValue);
                        string DiscountValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.DiscountValue);
                        
                        <tr>
                            <td class="ativo">@obj.Stock</td>
						    <td>@obj.Portfolio</td>
						    <td>@obj.Distribution</td>
						    <td class="direita">@obj.AvailableQuantity.ToString("N0")</td>
						    <td class="direita">@obj.PendingQuantity.ToString("N0")</td>
						    <td class="direita">@obj.BlockedQuantity.ToString("N0")</td>
						    <td class="direita">@obj.SettleInD0.ToString("N0")</td>
						    <td class="direita">@obj.BlockedD1.ToString("N0")</td>
						    <td class="direita">@obj.BlockedD2.ToString("N0")</td>
						    <td class="direita">@obj.BlockedD3.ToString("N0")</td>
						    <td class="direita">@obj.VACQuantity.ToString("N0")</td>
						    <td class="direita @VACValueClass">@obj.VACValue.ToString("N2")</td>
						    <td class="direita">@obj.BalanceQuantity.ToString("N0")</td>
						    <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("N2")</td>
						    <td class="direita @CurrentValueClass">@obj.CurrentValue.ToString("N2")</td>
						    <td class="direita">@obj.DiscountPercentage.ToString("N2")%</td>
						    <td class="direita @DiscountValueClass">@obj.DiscountValue.ToString("N2")</td>
                        </tr>
				    }
                </tbody>
            </table></div>
	    }
	
	    if (Model.RegisteredTerms != null && Model.RegisteredTerms.Count > 0)
	    {
		    <div class="tabela-expandida">
                <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="13" class="titulo">Descrição dos Termos Registrados</th> 
                        </tr>
                        <tr>
                            <th scope="col" rowspan="2">Operação</th>
                            <th scope="col" rowspan="2">Papel</th>
                            <th scope="col" rowspan="2">Contrato</th>
                            <th scope="col" rowspan="2">Abertura</th>
                            <th scope="col" rowspan="2">Vencimento</th>
					        <th scope="colgroup" colspan="3" class="primario-grupo zerado">Original</th>
					        <th scope="colgroup" colspan="2" class="primario-grupo zerado">Atual</th>
					        <th scope="colgroup" colspan="2" class="primario-grupo zerado">Lucro/Prejuízo</th>
                        </tr>
				        <tr>
					        <th scope="col" class="secundario-grupo">Qtde.</th>
					        <th scope="col" class="secundario-grupo">Preço</th>
					        <th scope="col" class="secundario-grupo zerado">Valor de Contrato</th>
					        <th scope="col" class="secundario-grupo">Preço</th>
					        <th scope="col" class="secundario-grupo zerado">Valor de Contrato</th>
					        <th scope="col" class="secundario-grupo">%</th>
					        <th scope="col" class="secundario-grupo">$</th>
				        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.RegisteredTerms)
				        {
                            string OriginalPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.OriginalPrice);
                            string OriginalValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.OriginalValue);
                            string CurrentPriceClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentPrice);
							string CurrentValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.CurrentValue);
                            string ProfitLossValueClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(obj.ProfitLossValue);
                            
                            <tr>
                                <td>@obj.Operation</td>
                                <td class="ativo">@obj.Stock</td>
						        <td>@obj.Contract</td>
						        <td class="centralizado">@obj.Opening</td>
						        <td class="centralizado">@obj.DueDate</td>
						        <td class="direita">@obj.OriginalQuantity.ToString("N0")</td>
						        <td class="direita @OriginalPriceClass">@obj.OriginalPrice.ToString("N2")</td>
						        <td class="direita @OriginalValueClass">@obj.OriginalValue.ToString("N2")</td>
						        <td class="direita @CurrentPriceClass">@obj.CurrentPrice.ToString("N2")</td>
						        <td class="direita @CurrentValueClass">@obj.CurrentValue.ToString("N2")</td>
						        <td class="direita">@obj.ProfitLossPercentage.ToString("N2")%</td>
						        <td class="direita @ProfitLossValueClass">@obj.ProfitLossValue.ToString("N2")</td>
                            </tr>
				        }
                    </tbody>
                </table>
            </div>
	    }
    }
    else
	{
        <span>Posição não encontrada.</span>
    }
}