﻿@model QX3.Portal.Contracts.DataContracts.CPTotalCheckingAccount

@{
    if (Model != null)
    {
	    if (Model.CheckingAccountBalance != null)
        {
             <div class="tabela-expandida">
                 <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">Valor Disponível</th>
                            <th scope="col" rowspan="2">Valor Projetado</th>
                            <th scope="col" rowspan="2">Valor Total (Disponível + Projetado)</th>
                            <th scope="col" rowspan="2">Projetado Pregão</th>
                            <th scope="col" rowspan="2">Total (incluindo Projetado Pregão)</th>
					        <th scope="colgroup" colspan="2" class="primario-grupo zerado">Dias Devedor</th>
                        </tr>
				        <tr>
					        <th scope="col" class="secundario-grupo">Mês</th>
					        <th scope="col" class="secundario-grupo">Total</th>
				        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                string AmountAvailableClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.CheckingAccountBalance.AmountAvailable);
                                string AmountProjectedClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.CheckingAccountBalance.AmountProjected);
                                string AmountTotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.CheckingAccountBalance.AmountTotal);
                                string TradingProjectedClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.CheckingAccountBalance.TradingProjected);
                                string TotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.CheckingAccountBalance.Total);
                            }
                            <td class="direita @AmountAvailableClass">@Model.CheckingAccountBalance.AmountAvailable.ToString("N2")</td>
                            <td class="direita @AmountProjectedClass">@Model.CheckingAccountBalance.AmountProjected.ToString("N2")</td>
					        <td class="direita @AmountTotalClass">@Model.CheckingAccountBalance.AmountTotal.ToString("N2")</td>
					        <td class="direita @TradingProjectedClass">@Model.CheckingAccountBalance.TradingProjected.ToString("N2")</td>
					        <td class="direita @TotalClass">@Model.CheckingAccountBalance.Total.ToString("N2")</td>
					        <td>@Model.CheckingAccountBalance.DebtDaysMounth</td>
					        <td>@Model.CheckingAccountBalance.DebtDaysTotal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    }

        if (Model.DescriptionProjected != null)
	    {
		    <div class="tabela-expandida">
                 <table class="classificar" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="4" class="titulo">Descrição Projetada</th>    
                        </tr>
                        <tr>
                            <th scope="col" rowspan="2">Data de Liquidação</th>
                            <th scope="col" rowspan="2">Valor Projetado</th>
                            <th scope="col" rowspan="2">Valor Projetado (Pregão Atual)</th>
                            <th scope="col" rowspan="2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                string AmountProjectedClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.DescriptionProjected.AmountProjected);
                                string ProjectedAmountCurrentTradingClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.DescriptionProjected.ProjectedAmountCurrentTrading);
                                string TotalClass = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Model.DescriptionProjected.Total); 
                            }
                            <td class="centralizado">@Model.DescriptionProjected.SettlementDate</td>
                            <td class="direita @AmountProjectedClass">@Model.DescriptionProjected.AmountProjected.ToString("N2")</td>
					        <td class="direita @ProjectedAmountCurrentTradingClass">@Model.DescriptionProjected.ProjectedAmountCurrentTrading.ToString("N2")</td>
					        <td class="direita @TotalClass">@Model.DescriptionProjected.Total.ToString("N2")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
	    }

    }
    else
	{
        <span>Posição não encontrada.</span>
    }
}