﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts;
@model CustodyTransfer
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Other/CustodyTransferRequest.js")'></script>
<h2>@((Model != null) ? "Editar" : "Solicitar") Transferência</h2>

@{ var action = (Model == null) ? "CustodyTransferRequest" : "CustodyTransferRequestUpdate"; }

@using (Html.BeginForm(action, "Other", FormMethod.Post, new { @id = "frmCustodyTransferRequest", @name = "frmCustodyTransferRequest", @onsubmit="javascript:return false;" }))
{ 
<div class="conteudo solicitar-transferencia-custodia">
    <div id="requestFeedbackError" class="erro" style="display: none;" tabindex="0">
        <ul></ul>
    </div>
    <div class="linha-frm cliente campo-condigo-cliente">
        <label>Código do Cliente</label>
        @if (Model == null) 
        {
            @Html.TextBox("txtClient")
        }
        else
        {
            @Html.Hidden("txtClient", Model.ClientCode.ToString())
            @Html.TextBox("lblClientCode", Model.ClientCode.ToString(),new {disabled = "disabled"})
        }
        @Html.Hidden("hdfClientName", (Model != null) ? Model.ClientName : null)
    </div>
    @if (Model != null) { @Html.Hidden("hdfEditRequestId", Model.RequestId) }
    <span id="lblClientName" class="apoio">@(Model != null ? Model.ClientName : "")</span>
    <span class="quebrar"></span>
    <div class="linha-frm destino">
        <label>Corretora Destino</label>
        @Html.TextBox("txtDestinyBroker", (Model != null) ? Model.DestinyBroker : "VOTORANTIM C T V M LTDA")
        @Html.Hidden("hdfDestinyBroker", (Model != null) ? Model.DestinyBrokerCode.ToString() : "21")
    </div>
    <div class="linha-frm">
        <label>Carteira Destino</label>
        @Html.TextBox("txtDestinyPortfolio", (Model != null) ? Model.DestinyPortfolio.ToString() : null)
        @Html.Hidden("hdfDestinyPortfolio", (Model != null) ? Model.DestinyPortfolio.ToString() : null)
    </div>
    <span class="quebrar"></span>
    <div class="linha-frm cod-cliente-destino">
        <label>Cod. Cliente na Corretora de Destino</label>
        @Html.TextBox("txtDestinyClientCode", (Model != null) ? Model.DestinyClientCode.ToString() : null)
    </div>
    <span class="quebrar"></span>


    <div id="loadingAreaRequest" style="text-align: center; display: none;">
        <img alt="carregando consulta" src="../../img/preloaderbranco.gif">
    </div>

    <div id="emptyArea2" class="sem-resultado" style="display: none;">
        Não foram encontradas posições para o cliente informado.
    </div>

    <div id="table-area-request" style='@((Model != null) ? "" : "display:none;")'>
        <table class="tabela-form transferencia" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="primario">
                    <th colspan="2"></th>
                    <th colspan="2">Quantidade</th>
                </tr>
                <tr class="secundario">
                    <th class="primeiro"><span>Ativo</span></th>
                    <th><span>Carteira</span></th>
                    <th class="direita"><span>Atual</span></th>
                    <th class="ultimo direita"><span>Transferir</span></th>
                </tr>
            </thead>
            <tbody>
                
                @if (Model != null)
                {
                    <tr>
                         <td class="primeiro">@Html.Hidden("hdfStockCode_0", Model.StockCode, new { @class="ativo-especificar" }) @Model.StockCode</td>
                         <td>@Html.TextBox("txtOrigPortfolio_0", Model.OrigPortfolio, new { @class="carteira-especificar" })</td>
                         <td>@ViewBag.OldPosition</td>
                         <td class="ultimo">@Html.TextBox("txtStockQtty_0", Model.Qtty, new { @class = "qtde-especificar" }) 
                         <input type="hidden" class='hidden-qtde' value='@(Model.Qtty)' id="hdfStockQtty_0" />
                         <input id='chkTotal_0' type="checkbox" name='chkTotal_0' class='chkTotal' />total</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>      
        </table>
    </div>
    <div class="linha-frm">
        <label>Observações</label>
        <textarea name="txtObservation" id="txtObservation">@((Model != null) ? HttpUtility.HtmlEncode(Model.Observations) : null)</textarea>
    </div>
    <div class="linha-btn">
        <a href="javascript:;" class="btn-padrao" id="btnSubmit"><span>@((Model != null) ? "Editar" : "Solicitar") Transferência</span></a>       
    </div>
</div>
}
