﻿@using QX3.Portal.Contracts.DataContracts
@model List<String>
@{
    Layout = null;
    string ids = ViewBag.Ids;
    string status = ViewBag.Status;
    string buttonName = (status == "E") ? "efetuar" : "cancelar";
}
<h2>Confirmar @((status == "E") ? "efetuação" : "cancelamento") de transferências</h2>
<div id="ConfirmArea" class="conteudo confirmar-efetuacao-transferencia-custodia">
    <p>
        <strong>Deseja realmente @((status == "E") ? "efetuar" : "cancelar") as transferências selecionadas?</strong></p>
         
        @Html.Hidden("requestIds", ids)
        @Html.Hidden("ddlStatus", status)
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="javascript:;" name="btnRealize" id="btnRealize" title="@buttonName socilitação"><span>sim, @buttonName transferência</span></a>
            <a type="button" class="btn-secundario" href="javascript:;" name="btnCancel" onclick="Modal.Close();" id="btnCancel" title="não @buttonName"><span>não @buttonName</span></a>
        </div>
    
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>
<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Other/CustodyTransferRealize.js")'></script>