﻿@{ var report = (QX3.Portal.Contracts.DataContracts.CustodyTransferReport)ViewBag.Report; }
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/CustodyTransferReports.js")" type="text/javascript"></script>
<h2>
	Relatório de Transferência de Custódia</h2>
<div class="transferencia-custodia">
	<div class="ferramentas acoes">
		<div>
			Exportar relatório para: <a href="#" class="ico-pdf">PDF</a></div>
	</div>
	<div class="area-resultado">
		<div class="caixa-periodo">
			<h3>
				Origem x Destino</h3>
			<div class="linha-btn">
				<a href="javascript:;" id="lnkBuscar" class="btn-padrao"><span>Pesquisar</span></a>
			</div>
			<div class="linha-frm">
				<label>
					Período</label>
				@using (Html.BeginForm())
	{
					@Html.Hidden("hdLastFromDate")
					@Html.Hidden("hdLastToDate")
					@Html.TextBox("date1", @report.FromDate.ToShortDateString(), new { @id = "date1", @maxlength = 10 })
					<span>-</span>
					@Html.TextBox("date2", @report.ToDate.ToShortDateString(), new { @id = "date2", @maxlength = 10 })
	}
			</div>
		</div>
		<span class="quebrar"></span>
		<div class="loadingArea">
			<img alt="carregando" src="/img/preloadercinza.gif" />
		</div>
		<span class="quebrar"></span>
	</div>
	<div class="reportContent">
	</div>
	<div class="ferramentas acoes">
		<div>
			Exportar relatório para: <a href="#" class="ico-pdf">PDF</a></div>
	</div>
</div>
