﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/CustodyTransferFilter.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="CustodyTransferFilter">
		        Filtrar por
    </div>
    @using (Html.BeginForm())
    {
	<div class="conteudo" id="CustodyTransferContent" style="display:none;">
        <span class="quebrar"></span>
		    <div class="linha-frm">
			    <label>Assessor</label>
			    @Html.TextBox("txtAssessor")
		    </div>
		    <div class="linha-frm">
			    <label>Cliente</label>
			    @Html.TextBox("txtClientFilter")
		    </div>
		    <div class="linha-frm">
			    <label>Situação</label>
			    <select id="ddlStatus" name="ddlStatus">
				    <option value="">Todos</option>
				    <option value="A">Para Efetuar</option>
				    <option value="E">Efetuados</option>
                    <option value="T">Transferência Externa</option>
			    </select>
		    </div>
            <div class="linha-frm">
			    <label>Tipo de Transferência</label>
			    <select id="ddlTransferType" name="ddlTransferType">
				    <option value="">Todos</option>
				    <option value="A">Alienante</option>
				    <option value="C">Cessionária</option>
			    </select>
		    </div>
		    <div class="linha-frm conjugado">
			    <label>Período de Solicitação</label>
			    <div>
                    @Html.TextBox("txtStartDate", null, new { @id = "txtStartDate", @maxlength = "10" })
                    @Html.TextBox("txtEndDate", null, new { @id = "txtEndDate", @maxlength = "10" })
                </div>
		    </div>
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:;" id="lnkSubmitFilter"><span>Listar Transferências</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
        }
  </div>