﻿@{
    Layout = null;
}
@using QX3.Portal.WebSite.Models;
@using QX3.Portal.Contracts.DataContracts;

<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Other/CustodyTransferDelete.js")'></script>

<h2>Deseja realmente cancelar essa Solicitação?</h2>
@model QX3.Portal.Contracts.DataContracts.CustodyTransfer
<div class="conteudo cancelar-solicitacao-transferencia-custodia">
<div class="legenda">@Model.ClientName</div>
    @Html.Hidden("hdfRequestId", @Model.RequestId + "|" + @Model.ClientCode)
    <div class="origem-destino">
        <span><strong>Origem:</strong> @Model.OrigBroker</span>
        <span><strong>Destino:</strong> @Model.DestinyBroker</span>
    </div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Ativo</th>
                <th>Qtde.</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.StockCode</td>
                <td>@Model.Qtty.ToString("n0")</td>
                <td>@Model.DescStatus</td>
            </tr>
        </tbody>
    </table>
    <div class="linha-btn">
        <a href="javascript:;" class="btn-padrao" id="btnDelete"><span>Sim, excluir solicitação</span></a>
        <a href="javascript:;" onclick="Modal.Close();" class="btn-secundario"><span>Não excluir</span></a>
    </div>
</div>