﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model IncomeReport
@if (Model != null)
{
    if (
        (Model.StockMarketList == null || Model.StockMarketList.Count <= 0) &&
        (Model.StockRentList == null || Model.StockRentList.Count <= 0) &&
        (Model.OptionsList == null || Model.OptionsList.Count <= 0) &&
        (Model.BMFGoldList == null || Model.BMFGoldList.Count <= 0) &&
        (Model.BMFOptionsFutureList == null || Model.BMFOptionsFutureList.Count <= 0) &&
        (Model.BMFSwapList == null || Model.BMFSwapList.Count <= 0) &&
        (Model.IncomeProceedsList == null || Model.IncomeProceedsList.Count <= 0) &&
        (Model.IncomeTermsList == null || Model.IncomeTermsList.Count <= 0) &&
        (Model.IRRFDayTradeList == null || Model.IRRFDayTradeList.Count <= 0) &&
        (Model.IRRFOperationsList == null || Model.IRRFOperationsList.Count <= 0)
    )
    { 
    <div class="sem-resultado">
        Não foram encontrados registros para este cliente.</div>
    }
    else
    {
    <div class="ferramentas acoes assessores">
        <div id="dvExportar">
            Exportar: <a id="lnkExcel" class="ico-xls" href="javascript:void(0);">Excel</a>
            <a id="lnkPdf" class="ico-pdf" href="javascript:void(0);">PDF</a>
        </div>
    </div>
    <div class="cabecalho-grid informe-rendimentos">
        <span class="quebrar"></span>
        <div class="etiqueta">
            <h2>@Model.Client.Client.Value - @Model.Client.Client.Description</h2>
            <span class="quebrar"></span>
            <div class="esquerda">
                <div class="bloco">
                    <span>@Model.Client.AssessorName</span>
                </div>
            </div>
        </div>
        <span class="quebrar"></span>
    </div>

    <div id="tabIncomeReport" class="abas-informe-rendimentos">
        <ul>
            <li><a href="#Position">Posição (@(ViewBag.PositionDate ?? "-"))</a></li>
            <li><a href="#IRRFDaytrade">IRRF Day Trade</a></li>
            <li><a href="#IRRFOperations">IRRF Operações</a></li>
        </ul>
        <div id="Position">
            <div class="caixa-saldo">
                <span>Saldo em conta corrente:</span> @((Model.Balance.HasValue) ? Model.Balance.Value.ToString("C2") : "-")
            </div>
            <span class="quebrar"></span>
            @if (Model.StockMarketList != null && Model.StockMarketList.Count > 0)
            {
                <div id="tblStockMarketList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                        
                <div id="tblStockMarketListArea" style="display: none">
                    <h2>
                        A Vista</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblStockMarketList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    Qtde.
                                </th>
                                <th>
                                    Preço
                                </th>
                                <th>
                                    Valor Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.StockRentList != null && Model.StockRentList.Count > 0)
            { 
                <div id="tblStockRentList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblStockRentListArea" style="display: none">
                    <h2>
                        Aluguel de Ações</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblStockRentList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Abertura
                                </th>
                                <th>
                                    Vencimento
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Taxa
                                </th>
                                <th>
                                    Cotação
                                </th>
                                <th>
                                    Valor Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.OptionsList != null && Model.OptionsList.Count > 0)
            { 
                <div id="tblStockRentList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblOptionsListArea" style="display: none">
                    <h2>
                        Opções</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblOptionsList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    C/V
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Exercício
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Preço Médio
                                </th>
                                <th>
                                    Volume
                                </th>
                                <th>
                                    Volume Vista
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.BMFOptionsFutureList != null && Model.BMFOptionsFutureList.Count > 0)
            { 
                <div id="tblBMFOptionsFutureList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblBMFOptionsFutureListArea" style="display: none">
                    <h2>
                        BM&F - Futuro e Opções</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblBMFOptionsFutureList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Vencimento
                                </th>
                                <th>
                                    Exercício
                                </th>
                                <th>
                                    C/V
                                </th>
                                <th>
                                    Posição Atual
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.BMFGoldList != null && Model.BMFGoldList.Count > 0)
            { 
                <div id="tblBMFGoldList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblBMFGoldListArea" style="display: none">
                    <h2>
                        BM&F - Ouro</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblBMFGoldList">
                        <thead>
                            <tr>
                                <th>
                                    Gramas
                                </th>
                                <th>
                                    Qtde. Padrão
                                </th>
                                <th>
                                    Cotação
                                </th>
                                <th>
                                    Valor Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.BMFSwapList != null && Model.BMFSwapList.Count > 0)
            { 
                <div id="tblBMFSwapList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblBMFSwapListArea" style="display: none">
                    <h2>
                        BM&F - Swap e Opções Flexíveis</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblBMFSwapList">
                        <thead>
                            <tr>
                                <th>
                                    Contrato
                                </th>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Tamanho Base
                                </th>
                                <th>
                                    Vencimento
                                </th>
                                <th>
                                    Registro
                                </th>
                                <th>
                                    Valor Líquido
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.IncomeProceedsList != null && Model.IncomeProceedsList.Count > 0)
            { 
                <div id="tblIncomeProceedsList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblIncomeProceedsListArea" style="display: none">
                    <h2>
                        Proventos Pagos</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblIncomeProceedsList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Valor Bruto
                                </th>
                                <th>
                                    % IR
                                </th>
                                <th>
                                    Valor IR
                                </th>
                                <th>
                                    Valor Líquido
                                </th>
                                <th>
                                    Pagamento
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.IncomeTermsList != null && Model.IncomeTermsList.Count > 0)
            { 
                <div id="tblIncomeTermsList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <div id="tblIncomeTermsListArea" style="display: none">
                    <h2>
                        Termo</h2>
                    <table class="classificar" cellpadding="0" cellspacing="0" id="tblIncomeTermsList">
                        <thead>
                            <tr>
                                <th>
                                    Ativo
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Preço
                                </th>
                                <th>
                                    Vencimento
                                </th>
                                <th>
                                    Valor Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div id="IRRFDaytrade">
            @if (Model.IRRFDayTradeList != null && Model.IRRFDayTradeList.Count > 0)
            {
                if (TempData["IRRFDT"] != null)
                {
                <h2>@TempData["IRRFDT"]</h2>
                }
                TempData["IRRFDT"] = null;

                <div id="tblIRRFDayTradeList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                    
                <table class="classificar" cellpadding="0" cellspacing="0" id="tblIRRFDayTradeList">
                    <thead>
                        <tr>
                            <th>
                                Mês
                            </th>
                            <th>
                                Total Bruto
                            </th>
                            <th>
                                IR Retido
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            }
            else
            {
                <div class="sem-resultado">
                    Não foram encontrados registros day trade.</div>   
            }
        </div>
        <div id="IRRFOperations">
            @if (Model.IRRFOperationsList != null && Model.IRRFOperationsList.Count > 0)
            {
                if (TempData["IRRFOperacoes"] != null)
                {
                <h2>@TempData["IRRFOperacoes"]</h2>
                }
                TempData["IRRFOperacoes"] = null;
                    
                <div id="tblIRRFOperationsList_loadingArea" style="display: none; text-align: center;">
                    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
                </div>
                <table class="classificar" cellpadding="0" cellspacing="0" id="tblIRRFOperationsList">
                    <thead>
                        <tr>
                            <th>
                                Mês
                            </th>
                            <th>
                                Total Bruto
                            </th>
                            <th>
                                IR Retido
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            }
            else
            {
                <div class="sem-resultado">
                    Não foram encontrados registros de operações.</div>   
            }
        </div>
    </div>
    }
}