﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/IncomeReportFilter.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="IncomeReportFilter">Filtrar por</div>
	<div class="conteudo" id="IncomeReportContent" style="display:none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;"></div>
		    <div class="linha-frm">
			    <label>Cliente</label>
                @Html.TextBox("txtClientCode")
		    </div>		    
            <div class="linha-frm">
			    <label>Ano</label>
                @Html.DropDownList("ddlYears")
		    </div>
           		    
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:;" id="lnkSubmitIncomeReportFilter"><span>Listar operações</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
  </div>