﻿@{
    ViewBag.Title = "IncomeReport";

    string feedbackDisplay = TempData["Success"] != null ? "block" : "none";
    string displayErrorMode = TempData["ErrorMessage"] != null ? "block" : "none";
}
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/DateJS/date-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/IncomeReport.js")" type="text/javascript"></script>


@Html.Partial("IncomeReportFilter")

<div id="feedbackError" class="erro" style='display:@displayErrorMode;'>@TempData["ErrorMessage"]
</div>
    
<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>

<div id="pesquisa" class="sem-resultado" style="margin-bottom: 20px; margin-top: 20px;">
    Faça uma pesquisa.
</div>

<div id="loadingArea" style="display: none; text-align: center;">
	<img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>

<div id="incomeReportArea">
</div>