﻿@{
	Layout = null;
}
@model bool
@using (Html.BeginForm("IncomeReportToFile", "Other", FormMethod.Post, new { @Id = "frmConfirmExport" }))
{
	@Html.Hidden("isPdf", Model)
    <h2>Selecione as abas que deseja exportar para @(Model ? "PDF" : "Excel"):</h2>		
	<div class="conteudo exportar-pdf-informe-rendimento" id="ConfirmArea">
        <div class="erro" style="display:none;">
        </div>
		<div class="lista-opcoes-vertical">
			@Html.CheckBox("chkPosicao") Posição
			@Html.CheckBox("chkDayTrade") IRRF Day Trade
			@Html.CheckBox("chkOperacoes") IRRF Operações
		</div>
		<div class="linha-btn">
			<a type="button" class="btn-primario" href="javascript:void(0)" name="btnExport"
				id="btnExport" title="exportar"><span>exportar</span></a>
		</div>
		<span class="quebrar"></span>
	</div>
	<span class="quebrar"></span>
}

<script type="text/javascript">
    $("#btnExport").bind("click", function () {
        $(".erro", "#frmConfirmExport").html("").hide();
        var selects = 0;
        var checks = $(":checkbox").each(function () {
            if ($(this).is(":checked"))
                selects++;
        });
        if (selects > 0)
            $("#frmConfirmExport").submit();
        else {
            $(".erro", "#frmConfirmExport").html("É necessário selecionar ao menos um tipo de relatório.").show();
        }
    });
</script>