﻿@{
    Layout = null;   
 }

 @using QX3.Portal.Contracts.DataContracts
 @model List<Operator>

 @if (Model != null) 
 {  
    var op = (Operator)ViewBag.Operator;
     
    <div class='navegacao-tabela topo'>
        <div class='navegacao'>  
                @if (op.Position > 1) 
                {  
                    <a class='lnk-anterior' rel='@(Model.Where(a=>a.Position == op.Position - 1).FirstOrDefault().OperatorCode)' href='javascript:;' style='display: inline;'>Operador Anterior</a>
                }
                
                @if (op.Position < Model.Count) 
                { 
                    <a class='lnk-proximo' rel='@(Model.Where(a => a.Position == op.Position + 1).FirstOrDefault().OperatorCode)' href='javascript:;' style='display: inline;'>Próximo Operador</a> 
                }
        </div>
        @if (Model.Count > 1)
        {<span id='lblClientCounterTop'>Exibindo @op.Position de @Model.Count </span>}
    </div>
    <span class='quebrar'></span>
    <div class='etiqueta'>
        <h2>@op.OperatorName </h2>
    </div>
    <span class='quebrar'></span>
    
}