﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model OperationClient
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/OperationsHistoryDetail.js")" type="text/javascript"></script>
<h2>Log</h2>
<div id="historyArea" class="conteudo historico detalhe operacoes">
    @Html.Hidden("hdfCorrectionID", Request["correctionID"] ?? "0")
    <span class="quebrar"></span>
    <ul class="detalhes">
        <li><strong>Cliente:&nbsp</strong>@Model.ClientName</li>
        <li><strong>Pregão:&nbsp</strong>@Model.TradingDate.Value.ToShortDateString()</li>
    </ul>
    <span class="quebrar"></span>
    @{ 
        var history = (List<HistoryData>)ViewBag.OperationsHistoryDetail; 
    }
    @if (history == null || history.Count == 0)
    {
        <div id="emptyArea" class="sem-resultado">
        Não foi possível carregar o histórico desta solicitação.
        </div>
    }
    else
    {
        bool odd = true;
        <div class="area-resultado" id="tableArea" style=" margin:0;">
        
            <table id="tbHistory" cellpadding="0" cellspacing="0" width="445" class="classificar">
                <thead>
                    <tr>
                        <th>
                            <span>Data e Hora</span>
                        </th>
                        <th>
                            <span>Responsável</span>
                        </th>
                        <th>
                            <span>Ação</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HistoryData d in history)
                    {
                        string css = odd ? "odd" : "even";
                        <tr class="@css">
                            <td>
                                @d.Date.ToString("dd/MM/yyyy - HH:mm")
                            </td>
                            <td>
                                @d.Responsible
                            </td>
                            <td>
                                @d.Action
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>

            <div class="ferramentas acoes assessores">
                <div>
                    Exportar: 
                    <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Other/OperationsHistoryToFile/?isPdf=false&detail=true">Excel</a>
                    <a target="_self" id="lnkHistoryPdf" class="ico-pdf"   href="/Other/OperationsHistoryToFile/?isPdf=true&detail=true">PDF</a>
                </div>
            </div>

        </div>
    }
</div>
