﻿@using QX3.Portal.Contracts.DataContracts;
@{
    ViewBag.Title = "Correção de Ordens";
    
}
@using QX3.Portal.WebSite.Helper
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/MarketHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/jquery.qtip-1.0.0-rc3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/OrdersCorrection.js?new=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
 
@{AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();}
@using (Html.BeginForm()){
    bool noData = (Model == null || Model.Count == 0);
    <div id="feedback" class="sucesso-flutuante" style='display:none;'>
        <span></span><a href="javascript:;" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
            id="closeFeedback">fechar</a>
    </div>
    <div id="feedbackError" class="erro" style='display:none;'>
    </div>
    <div class="ferramentas acoes assessores">
        @if (acHelper.HasFuncionalityPermission("Other.OrdersCorrection", "btnRequest"))
        {		
            <a id="btnRequest" class="btn-padrao" onclick="OpenRequest(0);return false;" href="javascript:;">
                <span>solicitar</span></a>}
        @if (acHelper.HasFuncionalityPermission("Other.OrdersCorrection", "btnRealize"))
        {<a id="btnRealize" class="btn-secundario" onclick="OpenRealize();return false;"
            href="javascript:;"><span>efetuar</span></a>}
        <div>
            Exportar: <a id="lnkOrdersExcel" class="ico-xls" href="#">Excel</a>
            <a class="ico-pdf" id="lnkOrdersPdf" href="#">PDF</a>
            @if (acHelper.HasFuncionalityPermission("Other.OrdersCorrection", "btnLog"))
            {<a class="ico-hist" href="#" onclick="ViewHistory();return false;">Ver histórico</a>}</div>
    </div>
    @Html.Partial("OrdersCorrectionFilter")
    <div id="emptyArea" class="sem-resultado" style="display: none;">
        Nenhuma correção de ordens encontrada.
    </div>
    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
    <div class="area-resultado" id="tableArea" style="display: none;">
        <table class="classificar" id="tbCorrections" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="20px">
                        <input type="checkbox" onclick="CheckAll(this);" id="selectAll" />
                    </th>
                    <th width="111px">
                        Tipo
                    </th>
                    <th>
                        Nome do Assessor
                    </th>
                    <th>
                        Origem
                    </th>
                    <th>
                        Destino
                    </th>
                    <th>
                        Data Solic.
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Situação
                    </th>
                    <th width="94px">
                        <div style="width:94px;">&nbsp;</div>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}
@Html.Hidden("hdfPending", "0")
<div class="modal-situacao" style="display: none;">
    <a onclick="Modal.Close();" class="closeLink" href="javascript:;"><span>Fechar</span>
    </a>
    @using (Html.BeginForm("RealizeOrdersCorrection", "Other", FormMethod.Post, new { @Id = "frmConfirmCorrectionRealize" }))
    {
        <input type="hidden" id="correctionIds" name="correctionIds" value="0" />
        <div class="linha-frm">
            <label>
                Situação</label>
            <select id="ddlSingleStatus">
                <option selected="selected" value="7">Para efetuar</option>
                <option value="8">Efetuado</option>
            </select>
        </div>
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="#" name="btnRealize" id="btnRealize"
                title="efetuar socilitação" onclick="ValidateRealize()"><span>Alterar Situação</span></a>
        </div>
    }
</div>
