﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model OrdersCorrection
<h2>Confirmar exclusão de correção de ordens</h2>
<div id="ConfirmArea" class="conteudo excluir-correcao-ordem">
    <p>
        <strong>Deseja realmente excluir essa Solicitação?</strong></p>
    @using (Html.BeginForm("DeleteOrdersCorrection", "Other", FormMethod.Post, new { @Id = "frmConfirmCorrectionDelete" }))
    {
        @Html.Hidden("hdfCorrectionId", @Model.ID);
        @Html.Hidden("hdfAssessorId", @Model.Responsible.Value);
        @Html.Hidden("hdfAssessor", @Model.Responsible.Description);
        <ul class="detalhes">
            <li>@Model.Type.Description</li>
            <li>@Model.ClientFrom.Description</li>
        </ul>
        
        <table class="classificar" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Papel
                    </th>
                    <th>
                        Qtde
                    </th>
                    <th>
                        Preço
                    </th>
                </tr>
            </thead>
            @foreach (OrdersCorrectionDetail d in Model.Details)
            {
                <tr>
                    <td>@d.StockCode
                    </td>
                    <td>@d.Quantity.ToString("N0")
                    </td>
                    <td>@d.Value.ToString("N4")
                    </td>
                </tr>
            }
        </table>
        <br />
        <div>
            <label>
                @Model.Description.Description</label></div>
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="javascript:;" name="btnDelete" id="btnDelete" title="excluir socilitação" onclick="ConfirmDeleteCorrection();">
                <span>sim, excluir solicitação</span></a> 
            <a type="button" class="btn-secundario" href="javascript:;" name="btnCancel" onclick="Modal.Close();"
                id="btnCancel" title="não excluir"><span>não excluir</span></a>
        </div>
    }
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>