﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model List<String>
<h2>Confirmar efetuação de correções de ordens</h2>
<div id="ConfirmArea" class="conteudo confirmar-efeturacao-correcao-ordem">
    <p>Deseja realmente efetuar essas Solicitações?</p>
    @using (Html.BeginForm("RealizeOrdersCorrection", "Other", FormMethod.Post, new { @Id = "frmConfirmCorrectionRealize" }))
    {
        @Html.Hidden("correctionIds", String.Join(";", Model));
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="#" name="btnRealize" id="btnRealize" title="efetuar socilitação"
                onclick="ConfirmRealize(true);"><span>sim, efetuar solicitação</span></a>
            <a type="button" class="btn-secundario" href="javascript:;" name="btnCancel" onclick="Modal.Close();"
                id="btnCancel" title="não efetuar"><span>não efetuar</span></a>
        </div>
    }
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>