﻿@{
    ViewBag.Title = "PrivateReport";
}
@using QX3.Portal.WebSite.Helper;

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/jquery.qtip-1.0.0-rc3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/Scripts/jQuery/jquery.ajax.antiforgery.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/Helpers/CommonHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Other/PrivateReport.js")" type="text/javascript"></script>

<div id="dvExportar" style="display:none;" class="ferramentas acoes assessores">

  <div>
      <span>Exportar:</span> <a id="lnkPrivateExcel" class="ico-xls" href="javascript:;">Excel</a>
  
      <a id="lnkPrivatePdf" class="ico-pdf" href="javascript:;">PDF</a>
  
  </div>
</div>
@Html.Partial("PrivateReportFilter")
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
@{var feedbackDisplay = (TempData["Success"] != null) ? "block" : "none";}
<div id="feedback" class="sucesso-flutuante" style='display:@feedbackDisplay;'>
    <span>@(TempData["SuccessMessage"] ?? "")</span><a href="#" class="lnk-fechar" onclick="$('#feedback').slideToggle();"
        id="closeFeedback">fechar</a>
</div>

<div id="pesquisa" class="sem-resultado" style="margin-bottom: 20px; margin-top: 20px;">
    Faça uma pesquisa.
</div>

<div id="emptyArea" class="sem-resultado" style="display: none;">
</div>

<div id="loadingArea" style="display: none; text-align: center;">
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>

<div id="table-area" style="display: none;">
    <div class="cabecalho-grid private" style="margin-bottom:20px;">
            @*<h2 id="lblClientNameSpan">966 CLIENTE 1037</h2>
                <span class="quebrar"></span>*@
            <h2 id="lblReferencia"></h2>
            <span class="quebrar"></span>
    </div>
    <table cellspacing="0" cellpadding="0" class="classificar" id="tblPrivates" width="100%">
        <thead>
            <tr>
                <th>CPF/CGC</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Corretagem</th>
                <th>Posição</th>
                <th>Disponível</th>
                <th>Captação</th>
                <th>Aplicação</th>
                <th>Resgate</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
    </div>
