﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<div class="filtro-padrao">
    <div class="topo" id="PrivateReportFilter">
        Filtrar por
    </div>
    <div class="conteudo" id="PrivateReportContent" style="display: none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;">
        </div>
        <div class="linha-frm">
            <label>
                Mes</label>
            @Html.DropDownList("ddlMonths")
        </div>
        <div class="linha-frm">
            <label>
                Ano</label>
            @Html.DropDownList("ddlYears")
        </div>
        <div class="linha-frm">
            <label>
                CPF/CGC</label>
            @Html.TextBox("txtCPFCGC", null, new { @maxlength = "14"})
        </div>
        <div class="linha-btn">
            <a class="btn-padrao" href="javascript:;" id="lnkSubmitPrivateReportFilter"><span>Listar</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
