﻿@{
    ViewBag.Title = "VAM";
}
<script src="@Url.Content("~/Scripts/Views/Other/VAM.js")" type="text/javascript"></script>
@Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error
{
    Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(),
    DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none"
})
@using (@Html.BeginForm("LoadVAM", "Other"))
{
    <div id="filterArea" class="caixa-filtro">
        <h2>
            Pesquisar ISIN</h2>
        <div class="linha-frm">
            @Html.Label("ISIN")
            @Html.DropDownList("ddlISIN", (SelectList)ViewBag.ddlISIN, "Todos", new { @id = "ddlISIN" })
        </div>
        <span class="quebrar"></span>
        <div class="linha-btn">
            <a class="btn-padrao" href="javascript:void(0);" id="lnkSubmitVAMFilter"><span>Gerar Relatório</span></a>@*<div id="loadingArea" style="display: none; text-align: center;">
    <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
</div>*@
        </div>
        <span class="quebrar"></span>
    </div>
    
}
