﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@using QX3.Portal.WebSite.Models
<script src="@Url.Content("~/Scripts/Views/Subscription/RequestRightsEffect.js")" type="text/javascript"></script>
<h2>Efetuar Solicitação</h2>
    
<div class="conteudo efetuar-solicitacao-direito">
@using (Html.BeginForm("ConfirmRequestRightsEffect", "Subscription", FormMethod.Post, new { @id = "frmConfirmRequestRightsEffect" }))
{   

    <div id="feedbackRequestError" class="erro" style="display: none;">
    </div>
    
    var lst = (List<SubscriptionRights>)ViewBag.RequestRightsToEffect;
    if (lst != null && lst.Count > 0)
    {
        
        <span>Deseja efetuar as solicitações abaixo?</span>
        
        <table cellspacing="0" class="tabela-form">
            <thead>
                <tr>
                    <th>Código do Cliente</th>
                    <th>Nome do Cliente</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Solicitado</th>
                    <th>Disponível</th>
                    <th>Total</th>
                    <th>Sobras</th>
                </tr>
            </thead>
            <tbody>
        
            @foreach (SubscriptionRights item in lst)
            {
                <tr>
                    <td>@item.ClientCode</td>
                    <td class="nome-cliente">@item.ClientName</td> 
                    <td>@item.RequestedQtty.Value.ToString("N0")</td>
                    <td class="valor-direito">@item.RightValue.Value.ToString("N2")</td>
                    <td class="valor-solicitado">@item.RequestedQtty.Value.ToString("N0")</td>
                    <td class="valor-disponivel">@item.AvailableQtty.Value.ToString("N0")</td>
                    <td class="valor-total">@item.TotalValue.Value.ToString("N2")</td>
                    @{ if (item.Scraps.HasValue && item.Scraps.Value.Equals('S'))
                       {<td class="sobras">Sim</td>}
                       else
                       { <td class="sobras">Não</td>}
                     }
                </tr>
            }

            </tbody>
            </table>
    
            <div class="linha-btn">
                <a href="javascript:void(0);" class="btn-padrao" id="btnEffect"><span>efetuar</span></a>
                <a href="javascript:void(0);" class="btn-secundario" id="btnCancel"><span>cancelar</span></a>
            </div>
    }
    else
    {
        <span>Erro...</span>
    }

}
</div>