﻿<script src="@Url.Content("~/Scripts/Views/Subscription/RequestRightsFilter.js")" type="text/javascript"></script>
@using QX3.Portal.WebSite.Helper
<div class="filtro-padrao">
	<div class="topo" id="requestRightsFilter">
		Filtrar por
	</div>
	<div class="conteudo" id="requestRightsFilterContent" style="display: none;">
		<span class="quebrar"></span>
		@Html.Hidden("hPosicao", 0)
		@Html.Hidden("hTotalSubscricoes", (int)ViewBag.TotalSubscricoes)
		<div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
			<label>Clientes</label>
			@Html.TextBox("txtClient")
		</div>
		<div class="linha-frm">
			<label>Assessor</label>
			@Html.TextBox("txtAssessor")
		</div>
		<div class="linha-frm">
			<label>Papel (com o direito de subscrever):</label>
			@Html.TextBox("txtStockCode")
		</div>
		<div class="linha-frm">
			<label>Situação (da solicitação):</label>
			<select id="ddlStatus" name="ddlStatus">
				<option value="">Todos</option>
                <option value="A">Em aberto</option>
				<option value="P">Para Efetuar</option>
				<option value="E">Efetuado</option>
			</select>
		</div>
		<div class="linha-frm">
			<label>Notificação:</label>
			<select id="ddlWarning" name="ddlWarning">
				<option value="">Todos</option>
				<option value="E">E-mail</option>
				<option value="T">Telefone</option>
				<option value="N">Não Avisado</option>
			</select>
		</div>
		<div class="linha-frm conjugado">
			<label>Solicitada em:</label>
			<div>@Html.TextBox("txtInitialDate", "") @Html.TextBox("txtBrokerDate", "")</div>
		</div>
		<div class="linha-btn">
			<a class="btn-padrao" id="btnSearch" href="javascript:void(0);"><span>listar clientes</span></a>
		</div>
		<span class="quebrar"></span>
	</div>
</div>
