﻿@{
    Layout = null;
}

@using QX3.Portal.Contracts.DataContracts
@model List<SubscriptionRights>
@{ var subscription = (Subscription)ViewBag.Subscription; }
    
<h2>Solicitar direito de subscrição</h2>
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Subscription/RightsRequest.js")'></script>

@{ var action = String.IsNullOrEmpty(Request["IsNew"]) ? (Model == null) ? "RightsRequest" : "RightsRequestUpdate" : "RightsRequest"; }

@using (Html.BeginForm(action, "Subscription", FormMethod.Post, new { @id = "frmRightsRequest", @name = "frmRightsRequest", @onsubmit = "javascript:return false;" }))
{        
<div class="conteudo solicitacao-direito-subscricao">
    
    <div id="requestFeedbackError" class="erro" style="display: none;" tabindex="0">
        <ul></ul>
    </div>
    @Html.Hidden("hdfRequestId", subscription.RequestId)
    @*<div class="linha-frm cliente">
        <label>Cliente</label>
        @if (Model == null)
        {
            @Html.TextBox("txtClient")
        }
        else
        {
            @Html.Hidden("txtClient", Model.ClientCode.ToString())
            @Html.TextBox("lblClientCode", Model.ClientCode.ToString(), new { disabled = "disabled" })
        }
    </div>

    <span id="lblClientName" class="apoio">@(Model != null ? Model.ClientName : "")</span>
    <span class="quebrar"></span>*@

    <div id="emptyArea2" class="sem-resultado" style="display: none;">
        Não foram encontradas posições ou já existe uma solicitação pendente de efetuação para o cliente informado.
    </div>

    <span class="quebrar"></span>

    <h3>@subscription.Company - @subscription.StockCode</h3>

    <div id="loadingAreaRequest" class="loadingArea" style="display: none;">
        <img alt="carregando consulta" src="../../img/preloaderbranco.gif">
    </div>

    @*@{ string display = Model != null ? "" : "none";}*@
    @if (Model != null && Model.Count == 0)
    { 
        <div id="emptyArea3" class="sem-resultado" style="padding-bottom:20px;">
            Já existe uma solicitação pendente de efetuação para o cliente informado.
        </div>
        <span class='quebrar'></span>
    }
    else
    {
    <div id="table-area-request">

        <table cellspacing="0" class="tabela-form">
            <thead>
                <tr>
                    <th>Código do Cliente</th>
                    <th>Nome do Cliente</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Solicitado</th>
                    <th>Disponível</th>
                    <th>Total</th>
                    <th>Sobras</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int counter = 1;
                    foreach (var sub in Model)
                    { 
                        <tr>
                            <td>@sub.ClientCode <input type='hidden' name='txtClient_@(counter)' id='txtClient_@(counter)' class="codigo-cliente" value='@sub.ClientCode' />
                            <input type="hidden" id='hdfValue_@(counter)' name='hdfValue_@(counter)' class="valor-ja-solicitado" value='@((sub.RequestedQtty.HasValue) ? sub.RequestedQtty.Value.ToString() : "0")' />
                            </td>
                            <td class="nome-cliente">@sub.ClientName</td> 
                            <td><input type="text" name='txtQuantity_@(counter)' id='txtQuantity_@(counter)' class="quantidade-solicitado" value='' /></td>
                            <td class="valor-direito">@((sub.RightValue.HasValue) ? sub.RightValue.Value.ToString("N2") : null)</td>
                            <td class="valor-solicitado">@((sub.RequestedQtty.HasValue) ? sub.RequestedQtty.Value.ToString("N0") : null)</td>
                            <td class="valor-disponivel">@((sub.AvailableQtty.HasValue) ? sub.AvailableQtty.Value.ToString("N0") : null)</td>
                            <td class="valor-total">@((sub.TotalValue.HasValue) ? sub.TotalValue.Value.ToString("N2") : null)</td>
                            <td class="sobras"><input type="checkbox" id="chkScraps_@(counter)" name="chkScraps_@(counter)" @((sub.Scraps.HasValue) ? (sub.Scraps.Value == 'S') ? "checked='checked'" : "" : "") /><label>Exercer Sobras</label></td>
                        </tr>
                        counter++;
                    }

                }
                else
                { 
                    <tr>
                        <td>@Html.TextBox("txtClient_0", null, new { @class = "codigo-cliente" })
                        <input type="hidden" class="valor-ja-solicitado" value='0' />
                        </td>
                        <td class="nome-cliente" id="nome-cliente">-</td> 
                        <td><input type="text" name='txtQuantity_0' id='txtQuantity_0' class="quantidade-solicitado" disabled=disabled /></td>
                        <td class="valor-direito">-</td>
                        <td class="valor-solicitado">-</td>
                        <td class="valor-disponivel">-</td>
                        <td class="valor-total">-</td>
                        <td class="sobras"><input type="checkbox" id="chkScraps_0" name="chkScraps_0" /><label>Exercer Sobras</label></td>
                    </tr>
                }
            </tbody>
        </table>
        <span class="quebrar"></span>
        <div class="linha-btn">
            <a href="javascript:;" class="btn-padrao" id="btnSubmit"><span>Solicitar Direito</span></a>
        </div>
    </div>
    
    }
</div>
}