﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model Subscription
<script src="@Url.Content("~/Scripts/Views/Subscription/SubscriptionDetail.js")" type="text/javascript"></script>
@if (Model != null)
{
    <div class="conteudo detalhes" id="SubscriptionDetail">
        @{ string statusClass = Model.Status.Equals('P') ? "para-aprovar" : Model.Status.Equals('A') ? "aprovado" : Model.Status.Equals('S') ? "subscrevendo" : Model.Status.Equals('R') ? "reprovado" : "finalizado";}
        <h2>@Model.Company - <span class="@statusClass">@Model.DescStatus</span></h2>
            
        <a onclick="OpenHistoryDetail(@Model.RequestId);return false;" class="ico-hist lnk-txt" title="Histórico" href="javascript:void(0);">Ver Histórico</a>
    
        <ul class="detalhes">
            <li><strong>ISIN:</strong> @Model.ISINStock</li>
            <li><strong>Direito:</strong> @Model.RightPercentual.Value.ToString("N10")%</li>
            <li><strong>Data "COM":</strong> @Model.COMDate.Value.ToShortDateString()</li>
            <li><strong>Período:</strong> @Model.InitialDate.Value.ToShortDateString() até @Model.CompanyDate.Value.ToShortDateString()</li>
        </ul>

        <div class="texto-descricao">
            <strong>Descrição:</strong> 
            @Model.Description
        </div>

        @*<div>
            @if (Model.Prospect != null)
            {
                @Html.ActionLink("Ver Prospecto", "ProspectView", "Subscription", new { @id=Model.RequestId }, new { });
            }
        </div>*@
        @Html.Hidden("hdfCurrentId", Model.RequestId)
        @if (Model.Status == 'S')
        {
        <div class="linha-btn">
            <a href="javascript:;" class="btn-padrao" id="btnRightsRequestDetail"><span>Solicitar direito</span></a>
        </div>
        }
    </div>
}