﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Models
@model Subscription
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/qxDialog/jquery.qxDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Subscription/SubscriptionHistoryDetail.js")" type="text/javascript"></script>
<h2>Log</h2>
<div id="historyArea" class="conteudo historico detalhe">
    @Html.Hidden("hdfRequestID", Request["requestID"] ?? "0")
    
    <h3>@Model.Company</h3>
    <ul class="detalhes">
        <li><strong>ISIN do papel:</strong> @Model.ISINStock</li>
        <li><strong>ISIN da subscrição:</strong> @Model.ISINSubscription</li>
        <li><strong>Período:</strong> @Model.InitialDate.Value.ToShortDateString() até @Model.CompanyDate.Value.ToShortDateString()</li>
    </ul>
    
    @{ 
        var history = (List<HistoryData>)ViewBag.SubscriptionHistoryDetails; 
    }
    @if (history == null || history.Count == 0)
    {
        <div id="emptyArea" class="sem-resultado">
        Não foi possível carregar o histórico desta solicitação.
        </div>
    }
    else
    {
        bool odd = true;
        <div class="area-resultado" id="tableArea">
            <table id="tbHistory" cellpadding="0" cellspacing="0" width="445" class="classificar">
                <thead>
                    <tr>
                        <th>
                            <span>Data e Hora</span>
                        </th>
                        <th>
                            <span>Responsável</span>
                        </th>
                        <th>
                            <span>Ação</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HistoryData d in history)
                    {
                        string css = odd ? "odd" : "even";
                        <tr class="@css">
                            <td>
                                @d.Date.ToString("dd/MM/yyyy - HH:mm")
                            </td>
                            <td>
                                @d.Responsible
                            </td>
                            <td>
                                @d.Action
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>
            <div class="ferramentas acoes assessores">
                <div>
                    Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Subscription/SubscriptionHistoryToFile/?isPdf=false&detail=true">Excel</a>
                    <a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Subscription/SubscriptionHistoryToFile/?isPdf=true&detail=true">PDF</a>
                </div>
            </div>
        </div>
    }
</div>


