﻿<script src="@Url.Content("~/Scripts/Views/Subscription/SubscriptionFilter.js")" type="text/javascript"></script>
@using QX3.Portal.WebSite.Helper

<div class="filtro-padrao">
	    <div class="topo" id="subscriptionFilter">
		    Filtrar por
	    </div>
	    <div class="conteudo" id="subscriptionFilterContent" style="display: none;">
        <span class="quebrar"></span>
		    <div class="linha-frm">
            <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
			    <label>Papel:</label>
			    @Html.TextBox("txtStockCode")
		    </div>
             <div class="linha-frm">
                <label>Situação:</label>
                <select id="ddlStatus" name="ddlStatus">
                    <option value="">Todos</option>
                    <option value="P">Para aprovar</option>
                    <option value="A">Aprovado</option>
                    <option value="S">Subscrevendo</option>
                    <option value="F">Finalizado</option>
                    <option value="R">Reprovado</option>
                </select>
            </div>
            <div class="linha-frm conjugado">
                <label>Solicitada em:</label>
                <div>@Html.TextBox("txtInitialDate", "") @Html.TextBox("txtBrokerDate", "")</div>
            </div>
		    <div class="linha-btn">
			    <a class="btn-padrao" id="btnSearch" href="javascript:;"><span>listar subscrições</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
    </div>
