﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Helper
@using QX3.Portal.WebSite.Models

<script src="@Url.Content("~/Scripts/Views/Subscription/SubscriptionApprove.js?new=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>

@using (Html.BeginForm("ConfirmSubscriptionApprove", "Subscription", FormMethod.Post, new { @id = "frmConfirmSubscriptionApprove" }))
{   
    <h2>Aprovar Subscrição</h2>
    
    @Html.Hidden("hdfIds", "")
    var total = string.Empty;
    var lst = (List<Subscription>)ViewBag.SubscriptionToApprove;
    if (lst != null && lst.Count > 0)
    {
        total = lst.Count.ToString();
        foreach (Subscription item in lst)
        {
            <div class="conteudo aprovar-subscricao" id="divConfirm-@item.Index" style="display:@(item.Index.Equals(1) ? "block" : "none");">
                <h3>@item.Company</h3>
                <ul class="detalhes">
                    <li><strong>Isin da Empresa:</strong> @item.ISINStock</li>
                    <li><strong>Isin da Subscrição:</strong> @item.ISINSubscription</li>
                    <li><strong>Direito:</strong> @item.RightPercentual</li>
                    <li><strong>Data "COM":</strong> @item.COMDate.Value.ToShortDateString()</li>
                    <li><strong>Período:</strong> @item.InitialDate.Value.ToShortDateString() até @item.BrokerDate.Value.ToShortDateString()</li>
                </ul>

                <div class="texto-descricao">
                    <strong>Descrição:</strong> 
                    @item.Description
                </div>
        
                <div class="linha-btn" id="divButtons-@item.Index">
                    <a href="javascript:void(0);" class="btn-padrao" onclick="Approve('@item.Index','@item.RequestId','@item.ISINStock','@item.ISINSubscription', '@item.Company');"><span>aprovar</span></a>
                    <a href="javascript:void(0);" class="btn-secundario" onclick="Reprove('@item.Index','@item.RequestId','@item.ISINStock','@item.ISINSubscription', '@item.Company');"><span>reprovar</span></a>
                </div>

                <div class="sucesso" id="divMessage-@item.Index" style="display:none;"></div>

                <div class="navegacao">
                    @{if (!item.Index.Equals(1)) {
                        <a href="javascript:void(0);" class="lnk-anterior" onclick="Back(@item.Index);">anterior</a>
                    }}
                    @{if (!item.Index.Equals(lst.Count)){
                        <a href="javascript:void(0);" class="lnk-proximo" onclick="Next(@item.Index);">próximo</a>
                    }}
                </div>
            </div>
        }
    }
    else
    {
        <span>Erro...</span>
    }
    
    @Html.Hidden("hdfTotal", total)
    
}