﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts;

@model Subscription
<script src="@Url.Content("~/Scripts/Helpers/CommonDataHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.maxlength.js")" type="text/javascript"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Views/Subscription/SubscriptionRequest.js")'></script>
<h2>@((Model != null) ? "Editar" : "Cadastrar") subscrição</h2>

@{ var action = (Model == null) ? "SubscriptionRequest" : "SubscriptionRequestUpdate"; }

@using (Html.BeginForm(action, "Subscription", FormMethod.Post, new { @id = "frmSubscriptionRequest", @name = "frmSubscriptionRequest" }))
{ 
<div class="conteudo solicitar-subscricao">
    <div id="requestFeedbackError" class="erro" style="display: none;" tabindex="0">
        <ul></ul>
    </div>
    <div class="linha-frm">
        <label>Nome da Empresa</label>
        @if (Model == null) 
        {
            @Html.TextBox("txtCompany", null, new { @maxlength = 100 })
        }
        else
        {
            @Html.TextBox("txtCompany", Model.Company.ToString(), new { disabled = "disabled" })
            @Html.Hidden("hdfCompany", Model.Company.ToString())
        }
    </div>
    @if (Model != null)
    { @Html.Hidden("hdfEditRequestId", Model.RequestId) }
    <span class="quebrar"></span>
    
    <div class="linha-frm">
        <label>ISIN do Papel</label>
        @Html.TextBox("txtISINStock", (Model != null) ? Model.ISINStock : null, new { @maxlength = 12 })
    </div>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>ISIN da Subscrição</label>
        @Html.TextBox("txtISINSubscription", (Model != null) ? Model.ISINSubscription : null, new { @maxlength = 12 })
    </div>
    <span class="quebrar"></span>

        <table cellspacing="0" class="secundaria">
            <thead>
                <tr>
                    <th>Cronograma</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Início</td>
                    <td>@Html.TextBox("txtInitialDate", (Model != null) ? Model.InitialDate.HasValue ? Model.InitialDate.Value.ToShortDateString() : null : null)</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>Data "Com"</td>
                    <td>@Html.TextBox("txtCOMDate", (Model != null) ? Model.COMDate.HasValue ? Model.COMDate.Value.ToShortDateString() : null : null)</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>Corretora</td>
                    <td>@Html.TextBox("txtBrokerDate", (Model != null) ? Model.BrokerDate.HasValue ? Model.BrokerDate.Value.ToShortDateString() : null : null)</td>
                    <td>@Html.TextBox("txtBrokerHour", (Model != null) ? Model.BrokerHour.HasValue ? Model.BrokerHour.Value.ToShortTimeString() : null : null)</td>
                </tr>
                <tr>
                    <td>Bolsa</td>
                    <td>@Html.TextBox("txtStockExchangeDate", (Model != null) ? Model.StockExchangeDate.HasValue ? Model.StockExchangeDate.Value.ToShortDateString() : null : null)</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>Empresa</td>
                    <td>@Html.TextBox("txtCompanyDate", (Model != null) ? Model.CompanyDate.HasValue ? Model.CompanyDate.Value.ToShortDateString() : null : null)</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>% do direito</label>
        @Html.TextBox("txtRightPercentual", (Model != null) ? Model.RightPercentual.Value.ToString("N10") : null, new { @alt = "Percent" })
    </div>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Valor do direito</label>
        @Html.TextBox("txtRightValue", (Model != null) ? Model.RightValue.Value.ToString("N2") : null, new { @alt = "Value" })
    </div>
    <span class="quebrar"></span>
    @*
    <div class="linha-frm prospecto" style='@((Model != null) ? (Model.Prospect != null) ? "display:none" : "" : "")'>
        @if (Model == null)
        {
            <label>Prospecto</label>
            <input type="file" name="txtProspect" id="txtProspect" />
        }
    </div>
    @if (Model != null) {
        if (Model.Prospect != null)
        {
            @Html.ActionLink("Ver Prospecto", "ProspectView", "Subscription", new { @id=Model.RequestId }, new { });
        }
        <a href="javascript:;" id="uploadProspect">Cadastrar/Alterar Prospecto</a>
    }

    <span class="quebrar"></span>*@

    <div class="linha-frm">
        <label>Descrição</label>
        <textarea name="txtDescription" id="txtDescription">@((Model != null) ? Model.Description : null)</textarea>
    </div>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Assunto do e-mail de notificação</label>
        @Html.TextBox("txtSubjectMail", (Model != null) ? Model.SubjectMail : null, new { @maxlength = 100 })
    </div>
    <span class="quebrar"></span>

    <div class="linha-frm">
        <label>Conteúdo do e-mail de notificação</label>
        <textarea name="txtBodyMail" id="txtBodyMail">@((Model != null) ? Model.BodyMail : null)</textarea>
    </div>
    <span class="quebrar"></span>

    <div class="linha-btn">
        <a href="javascript:;" class="btn-padrao" id="btnSubmit"><span>@((Model != null) ? "Editar" : "Cadastrar") subscrição</span></a>       
    </div>
</div>
}
