﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model Subscription

@if (Model != null)
{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Views/Subscription/SubscriptionConfirmDelete.js")'></script>
    using (Html.BeginForm("SubscriptionDelete", "Subscription", null, FormMethod.Post, new { @id = "frmSubscriptionDelete", @name = "frmSubscriptionDelete" }))
    { 
        @Html.Hidden("hdfRequest", Model.RequestId)
        @Html.Hidden("hdfISINStock", Model.ISINStock)
        @Html.Hidden("hdfISINSubscription", Model.ISINSubscription)
        <div class="conteudo excluir-subscricao">
            <h2>Deseja realmente excluir essa subscrição?</h2>

            @{ string statusClass = Model.Status.Equals('P') ? "para-aprovar" : Model.Status.Equals('A') ? "aprovado" : Model.Status.Equals('S') ? "subscrevendo" : Model.Status.Equals('R') ? "reprovado" : "finalizado";}
            <h3>@Model.Company - <span class="@statusClass">@Model.DescStatus</span></h3>

            <ul class="detalhes">
                <li><strong>Inídio:</strong> @Model.InitialDate.Value.ToShortDateString()</li>
                <li><strong>Fim:</strong> @Model.CompanyDate.Value.ToShortDateString()</li>
            </ul>

            <div class="linha-btn">
                <a href="javascript:;" class="btn-padrao" id="btnDelete"><span>Excluir Subscrição</span></a>

                <a href="javascript:;" class="btn-secundario" id="btnCancel"><span>Não excluir</span></a>
            </div>
            @Html.Hidden("hdfCompanyName",  @Model.Company)
        </div>
    }
}
else 
{ 
    <div>Não há subscrição a excluir</div>
}
