﻿@{
    ViewBag.Title = "Extrato de Movimento de NDF Curva Contábil";
}

@{ ExtractNDFResponse bnr = Model; }

<script src="/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="/Scripts/jQuery/ui/jquery.ui.datepicker.js" type="text/javascript"></script>
<script src="/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js" type="text/javascript"></script>

<script type="text/javascript">

$(function() {

    $("#dataMesAno").mask('99/9999').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'mm/yy',
        onChangeMonthYear: function (year, month, inst) {
            $(this).val($.datepicker.formatDate('mm/yy', new Date(year, month - 1, 1)));
        },
        onClose: function (dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });

  
});

</script>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<form action="/Demonstrative/ExtractNDF" method="post" id="formCP">
    <div class="wrap-form table-note">
        <div @(bnr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="CpfCnpj">Cpf / Cnpj</label>
                <input type="number" name="CpfCnpj" id="CpfCnpj" autocomplete="off" value="@bnr.Cnpjcpf" />
            </div>
        </div>

            <div class="linha-frm">
                <label for="DtRefDe">Data Ref:</label>
                <input type="text" name="dtInicial" id="dataMesAno" autocomplete="off" value="" />
            </div>
            <div class="linha-frm-submit">
                <span class="btn-submit">
                    <input class="btn-input-submit" type="submit" value="Ok" />
                </span>
            </div>
            <div class="linha-frm ico-export">
                Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/ExtractNDFToFile/?isPdf=false">Excel</a>
            </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryPDF" class="ico-pdf" href="/Demonstrative/ExtractNDFToFilePDF">PDF</a>
        </div>
        </div>
</form>
<span class="quebrar"></span>
@{List<ExtractNDF> lbn = bnr.ExtratoNDF;}
<div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Operação</th>
                <th>Data Operação</th>
                <th>Data Vencto</th>
                <th>Vlr Base Moeda Estr</th>
                <th>Moeda Referência</th>
                <th>Moeda Cotada</th>
                <th>Cotação Vencto</th>
                <th>Cotação Termo</th>
                <th>Ajuste Bruto</th>
                <th>Impostos</th>
                <th>Ajuste Líquido</th>
                
            </tr>
        </thead>

        <tbody>

            @{if (lbn != null && lbn.Count() > 0)
                {

                    foreach (ExtractNDF b in lbn)
                    {

                        string vl_base_moeda_estr = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_base_moeda_estr);
                        string vl_cotacao = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_cotacao);
                        string vl_bruto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_bruto);
                        string vl_ir = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_ir);
                        string vl_liquido = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_liquido);

                        <tr>
                            <td>@b.tp_operacao</td>
                            <td>@b.dt_operacao</td>
                            <td>@b.dt_vencimento</td>
                            <td class="align-right @vl_base_moeda_estr">@b.vl_base_moeda_estr.ToString("N0")</td>
                            <td>@b.tp_moeda_ref</td>
                            <td>@b.tp_moeda_cot</td>
                            <td>@b.dc_criterio_termo</td>
                            <td class="align-right @vl_cotacao">@b.vl_cotacao.ToString("N0")</td>
                            <td class="align-right @vl_bruto">@b.vl_bruto.ToString("N0")</td>
                            <td class="align-right @vl_ir">@b.vl_ir.ToString("N0")</td>
                            <td class="align-right @vl_liquido">@b.vl_liquido.ToString("N0")</td>
                        </tr>

                    }
                }
                else
                {

                    <tr>
                        <td colspan="11">Não possui dados disponíveis para essa consulta</td>
                    </tr>   

                }
                
            }
        </tbody>
    </table>


</div>


