﻿@using QX3.Portal.Contracts.DataContracts;
@using System.Web.Mvc.Html;
@using System.Linq;
@using System.Web.Mvc.Html;
@model IEnumerable<ExtractFunction>

@{
    ViewBag.Title = "Relatório de Perfil por Cliente";
}

<script src="/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="/Scripts/jQuery/ui/jquery.ui.datepicker.js" type="text/javascript"></script>
<script src="/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {

        $("#dtInicial").datepicker();

        $("#dtFinal").datepicker();
    });

</script>


<form action="/Demonstrative/ExtractFunction" method="post" id="formCP">
    <div class="wrap-form table-extract">

        @*<div class="linha-frm">
                <label for="TpCodEmpresa">Cód. Empresa</label>
                <select  name="codemp" id="codemp">
                    <option value="1">BR PARTNERS BI S.A.</option>
                    <option value="30">BR PARTNERS C.T.V.M. S.A.</option>
                </select>

            </div>*@

        <div class="linha-frm">
            <label for="DtRefDe">Período:</label>
            <input type="text" name="dtInicial" id="dtInicial" autocomplete="off" value="@((HttpContext.Current.Request["dtInicial"]))" />
        </div>

        <div class="linha-frm">
            <label for="DtRefAte">Até:</label>
            <input type="text" name="dtFinal" id="dtFinal" autocomplete="off" value="@((HttpContext.Current.Request["dtFinal"]))" />
        </div>

        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>

        <div class="linha-frm ico-export">
            Exportar: <a target="_self" class="ico-xls" href="/Demonstrative/ExtractToExecel/?codemp=@((HttpContext.Current.Request["codemp"]))&dtInicial=@((HttpContext.Current.Request["dtInicial"]))&dtFinal=@((HttpContext.Current.Request["dtFinal"]))">Excel</a>
            <a target="_blank" class="ico-pdf" id="lnkHistoryPdf" href="/Demonstrative/ExportToPdf/?codemp=@((HttpContext.Current.Request["codemp"]))&dtInicial=@((HttpContext.Current.Request["dtInicial"]))&dtFinal=@((HttpContext.Current.Request["dtFinal"]))">PDF</a>
        </div>


    </div>
</form>
<span class="quebrar"></span>
<div>
    <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>DT. BASE</th>
                <th>DT. VCTO</th>
                <th>NR. OPER</th>
                <th>PARC</th>
                <th>CLIENTE</th>
                <th>TX. AP%AA</th>
                <th>VR. PC. BASE</th>
                <th>PAVLRPR</th>
                <th>MD</th>
                <th>SALDO NA DATA</th>
                <th>VALOR FINAL</th>
                <th>MORA</th>
                <th>MULTA</th>
                <th>IOF</th>
                <th>DESP/TAR</th>
                <th>SALDO DEV.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OPDTBASE</td>
                    <td>@item.PADTVCTO</td>
                    <td>@item.PANROPER</td>
                    <td>@item.OPQTDDPARC_PANRPARC</td>
                    <td>@item.CLNOMECLI</td>
                    <td>@item.PATXJRAP</td>
                    <td>@item.OPBASECLC</td>
                    <td>@item.PAVLRPR</td>
                    <td>@item.OPCODMD_MDSIMB</td>
                    <td>@item.SLDDATA</td>
                    <td>@item.VLRFINAL</td>
                    <td>@item.SLDMORA</td>
                    <td>@item.SLDMULTA</td>
                    <td>@item.SLDIOF</td>
                    <td>@item.SLDDESPTAR</td>
                    <td>@item.SLDDEV</td>
                </tr>
            }


            @if (@ViewBag.Initial == true)
            {
                <tr>
                    <td colspan="16">Faça uma nova busca!</td>
                </tr>
            }
            @if (Model.Count() == 0 && @ViewBag.Initial == null)
            {
                <tr>
                    <td colspan="16">Nenhum resultado foi encontrado!</td>
                </tr>
            }

        </tbody>
    </table>
</div>

