﻿@{
    ViewBag.Title = "Extrato de Movimento de SWP Curva Contábil";
}

@{ ExtractSWPResponse bnr = Model; }

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">

$(function() {

    $("#dataMesAno").mask('99/9999').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'mm/yy',
        onChangeMonthYear: function (year, month, inst) {
            $(this).val($.datepicker.formatDate('mm/yy', new Date(year, month - 1, 1)));
        },
        onClose: function (dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });


});

</script>

<form action="/Demonstrative/ExtractSWP" method="post" id="formCP">
    <div class="wrap-form table-note">
        <div @(bnr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="CpfCnpj">Cpf / Cnpj</label>
                <input type="number" name="CpfCnpj" id="CpfCnpj" autocomplete="off" value="@bnr.Cnpjcpf" />
            </div>
        </div>

            <div class="linha-frm">
                <label for="DtRefDe">Data Ref:</label>
                <input type="text" name="dtInicial" id="dataMesAno" autocomplete="off" value="" />
            </div>
            <div class="linha-frm-submit">
                <span class="btn-submit">
                    <input class="btn-input-submit" type="submit" value="Ok" />
                </span>
            </div>
            <div class="linha-frm ico-export">
                Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/ExtractSWPToFile/?isPdf=false">Excel</a>
            </div>
            <div class="linha-frm ico-export">
                Exportar: <a target="_self" id="lnkHistoryPDF" class="ico-pdf" href="/Demonstrative/ExtractSWPToFilePDF">PDF</a>
            </div>
        </div>
</form>
<span class="quebrar"></span>
@{List<ExtractSWP> lbn = bnr.ExtratoSWP;}
<div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Operação</th>
                <th>Data Operação</th>
                <th>Data Vencto</th>
                <th>Valor Inicial</th>
                <th>Indexador Banco</th>
                <th>Percentual Banco</th>
                <th>Taxa Banco</th>
                <th>Indexador Cliente</th>
                <th>Percentual Cliente</th>
                <th>Taxa Cliente</th>
                <th>Curva Banco</th>
                <th>Curva Cliente</th>
                <th>Ajuste Bruto</th>
                <th>Imposto</th>
                <th>Ajuste Líquido</th>
                
            </tr>
        </thead>

        <tbody>

            @{if (lbn != null && lbn.Count() > 0)
                {

                    foreach (ExtractSWP b in lbn)
                    {

                        string vl_base = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_base);
                        string vl_perc_index_data = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_perc_index_data);
                        string vl_taxa_dada = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_taxa_dada);
                        string vl_perc_index_tomado = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_perc_index_tomado);
                        string vl_taxa_tomado = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_taxa_tomado);
                        string vl_curva_dado = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_curva_dado);
                        string vl_curva_tomado = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_curva_tomado);
                        string vl_bruto = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_bruto);
                        string vl_ir = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_ir);
                        string vl_liquido = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(b.vl_liquido);

                        <tr>
                            <td>@b.tp_operacao</td>
                            <td>@b.dt_operacao</td>
                            <td>@b.dt_vencimento</td>
                            <td class="align-right @vl_base">@b.vl_base.ToString("N0")</td>
                            <td>@b.dc_index_dado</td>
                            <td class="align-right @vl_perc_index_data">@b.vl_perc_index_data.ToString("N0")</td>
                            <td class="align-right @vl_taxa_dada">@b.vl_taxa_dada.ToString("N0")</td>
                            <td>@b.dc_index_tomado</td>
                            <td class="align-right @vl_perc_index_tomado">@b.vl_perc_index_tomado.ToString("N0")</td>
                            <td class="align-right @vl_taxa_tomado">@b.vl_taxa_tomado.ToString("N0")</td>                           
                            <td class="align-right @vl_curva_dado">@b.vl_curva_dado.ToString("N0")</td>
                            <td class="align-right @vl_curva_tomado">@b.vl_curva_tomado.ToString("N0")</td>
                            <td class="align-right @vl_bruto">@b.vl_bruto.ToString("N0")</td>
                            <td class="align-right @vl_ir">@b.vl_ir.ToString("N0")</td>
                            <td class="align-right @vl_liquido">@b.vl_liquido.ToString("N0")</td>
                        </tr>

                    }
                }
                else
                {

                    <tr>
                        <td colspan="15">Não possui dados disponíveis para essa consulta</td>
                    </tr>   

                }
                
            }
        </tbody>
    </table>


</div>


