﻿@{
    ViewBag.Title = "Proventos";  
}
@{ ProceedsDemonstrativeResponse pdr = Model; }
<form action="/Demonstrative/Proceeds" method="post" id="formCP">
    <div class="wrap-form table-proceeds">
        <div @(pdr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="cdCliente">Cliente</label>
                <input type="text" name="cdCliente" id="cdCliente" autocomplete="off" value="@(pdr.CdBolsa > 0 ? pdr.CdBolsa.ToString() : "")" />
            </div>
        </div>
        <div class="linha-frm linha-frm-radio">
            <div class="radio">
                <input type="radio" id="rdProv1" autocomplete="off" name="rdProv" @(pdr.Tipo == "S" ? "checked=checked" : "") value="S" title="" />
                <label for="rdProv1">Proventos Provisionados</label>
            </div>
            <div class="radio">
                <input type="radio" id="rdProv2" autocomplete="off" name="rdProv" @(pdr.Tipo == "N" ? "checked=checked" : "")  value="N" title="" />
                <label for="rdProv2">Proventos Pagos</label>
            </div>
        </div>
        <div class="linha-frm">
            <label for="dtInicial">Período</label>
            <input type="text" name="dtInicial" id="dtInicial" autocomplete="off" value="@pdr.dtInicial.ToString("dd/MM/yyyy")" />
        </div>
        <div class="linha-frm">
            <label for="dtFinal">até</label>
            <input type="text" name="dtFinal" id="dtFinal" autocomplete="off" value="@pdr.dtFinal.ToString("dd/MM/yyyy")" />
        </div>
        <div class="linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" /></span>
        </div>
        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/ProceedsToFile/?isPdf=false">Excel</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>
</form>
<span class="quebrar"></span>

<div>
    @{ List<ProceedsDemonstrative> lpd = pdr.Proventos; }
    <table cellpadding="0" cellspacing="0" width="70%">
        <thead>
            <tr>
                <th colspan="7">Proventos</th>
            </tr>
            <tr class="style-th">
                <th>Pagamento</th>
                <th>Ativo</th>
                <th>Empresa</th>
                <th>Provento</th>
                <th>Valor Bruto R$</th>
                <th>% IR</th>
                <th>Valor Líquido R$</th>
            </tr>
        </thead>

        <tbody>
            @if (lpd.Count() > 0) {
                foreach (ProceedsDemonstrative pd in lpd) {
                <tr>
                    <td>@pd.Pagamento.ToString("dd/MM/yyyy")</td>
                    <td>@pd.Ativo</td>
                    <td>@pd.Empresa</td>
                    <td>@pd.Provento</td>
                    <td class="align-right">@pd.ValorBruto.ToString("N2")</td>
                    <td class="align-right">@pd.PercIr.ToString("N2")</td>
                    <td class="align-right">@pd.ValorLiquido.ToString("N2")</td>
                </tr>
                
                }
            }else{
                
                <tr>
                    <td colspan="7">Realize uma nova consulta!</td>
                </tr>
            }
        </tbody>
    </table>


</div>


@*<div>

    <table>
        <thead>
            <tr>
                <td colspan="6">Pagos em ações</td>
            </tr>
            <tr>
                <td>Pagamento</td>
                <td>Ativo</td>
                <td>Empresa</td>
                <td>Provento</td>
                <td>Quantidade</td>                
                <td>Valor R$</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>


</div>*@