﻿@{
    ViewBag.Title = "Resumo de Negociação";
}
@{ TradingSummaryResponse tsr = Model; }
<form action="/Demonstrative/TradingSummary" method="post" id="formCP">
    <div class="wrap-form table-trading">
        <div @(tsr.TipoUsuario == "I" ? "style=display:block;" : "style=display:none;")>
            <div class="linha-frm">
                <label for="cdCliente">Cliente</label>
                <input type="text" name="cdCliente" id="cdCliente" autocomplete="off" value="@(tsr.CdBolsa > 0 ? tsr.CdBolsa.ToString() : "")" />
            </div>
        </div>
        <div class="linha-frm">
            <label for="ativo">Ativo</label>
            <input type="text" name="ativo" class="ativo-upper" id="ativo" autocomplete="off" value="@tsr.Ativo.ToUpper()" />
        </div>
        <div class="linha-frm">
            <label for="mesAno">Mês</label>
            <input type="text" name="mesAno" id="mesAno" autocomplete="off" value="@tsr.Mes" />
        </div>
        <div class="linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" /></span>
        </div>

        <div class="linha-frm ico-export">
            Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/TradingSummaryToFile/?isPdf=false">Excel</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>

    </div>
</form>
@{List<TradingSummary> lts = tsr.ResumoNegociacao;}
<div>

    <span class="quebrar"></span>

    <table cellpadding="0" cellspacing="0" width="70%">
        <thead>
            <tr>
                <th>Data</th>
                <th>Quantidade Compra</th>
                <th>Quantidade Venda</th>
                <th>Preço</th>
                <th>Total Financeiro Compra</th>
                <th>Total Financeiro Venda</th>
                <th>Financeiro Bruto da Operação</th>
            </tr>
        </thead>

        <tbody>
            @{
                if (lts != null && lts.Count() > 0) {
                    foreach (TradingSummary ts in lts) {

                        string QtdCompra = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.QtdCompra);
                        string QtdVenda = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.QtdVenda);
                        string Preco = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.Preco);
                        string TotalFinCompra = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.TotalFinCompra);
                        string TotalFinVenda = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.TotalFinVenda);
                        string FinanceiroLiquido = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(ts.FinanceiroLiquido);
                        
                <tr>
                    <td>@ts.Data.ToString("dd/MM/yyyy")</td>
                    <td class="align-right @QtdCompra">@ts.QtdCompra.ToString("N0")</td>
                    <td class="align-right @QtdVenda">@ts.QtdVenda.ToString("N0")</td>
                    <td class="align-right @Preco">@ts.Preco.ToString("N2")</td>
                    <td class="align-right @TotalFinCompra">@ts.TotalFinCompra.ToString("N2")</td>
                    <td class="align-right @TotalFinVenda">@ts.TotalFinVenda.ToString("N2")</td>
                    <td class="align-right @FinanceiroLiquido">@ts.FinanceiroLiquido.ToString("N2")</td>
                </tr>
                
                    }
                }
                else {
                    
                <tr>
                    <td colspan="7">Realize uma nova consulta!</td>
                </tr>
                    
                }
            }
        </tbody>

        @{
            
            string TotalCompra = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Convert.ToDecimal(ViewBag.TotalCompra));
            string TotalVenda = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Convert.ToDecimal(ViewBag.TotalVenda));
            string TotalLiq = QX3.Portal.WebSite.Models.CommonHelper.GetValueColorClass(Convert.ToDecimal(ViewBag.TotalLiq));  
        
        }

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td class="align-right @TotalCompra">@ViewBag.TotalCompra</td>
                <td class="align-right @TotalVenda">@ViewBag.TotalVenda</td>
                <td class="align-right @TotalLiq">@ViewBag.TotalLiq</td>
            </tr>
        </tfoot>
    </table>


</div>
