﻿@{
    ViewBag.Title = "EditEmailModel";
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model MailModel

<script src="@Url.Content("~/Scripts/jQuery/jquery.form/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Mail/EditEmailModel.js")" type="text/javascript"></script>

@{ var func = (Funcionality)ViewBag.Funcionality; } 
<div class="conteudo alterar-modelo-email">
	<h2>Alterar modelo de e-mail - @func.FuncionalityName </h2>

	<div class="legenda-exemplo">
		<span>Para dados variáveis como data, nome, etc; use o formato abaixo.</span>

		<a href="javascript:void(0);">Ver exemplo</a>

		<div class="tooltip">
			<h3>Usando dados variáveis em email:</h3>
			<p>Se você escrever algo como:</p>
			<span>Olá, $Nome. Hoje é $Hoje e meu nome é $Assessor.</span>
			<p>O e-mail exibirá:</p>
			<span>Olá, José da Silva. Hoje é 10/10/2010 e meu nome é Rafael Sanchez.</span>
		</div>

	</div>

    @{ var tags = (List<TagModel>)ViewBag.TagModel; }

    @if (tags != null)
    { 
	    <table cellpadding="0" cellspacing="0" class="classificar">
		    <thead>
			    <tr>
				    <th>Variavel</th>
				    <th>O que vai exibir</th>
			    </tr>
		    </thead>
		    <tbody>
                @{int counter = 0;}
                @foreach (var t in tags) 
                { 
                    <tr class='@((counter % 2 != 0) ? "odd": "even")'>
				        <td>@t.TagName</td>
				        <td>@t.TagDescription</td>
			        </tr>
                }
		    </tbody>
	    </table>
    }
    
@using (Html.BeginForm("UpdateEmailModel", "Mail", FormMethod.Post, new { @id = "frmEmailModel", @name = "frmEmailModel" }))
 {
        <div id="requestFeedbackError" class="erro" style="display: none;" tabindex="0">
            <ul></ul>
        </div>
        @Html.Hidden("txtFuncId", func.FuncId)
		<div class="linha-frm">
			<label>Remetente</label>
            @Html.TextBox("txtReplyName", (Model != null) ? Model.ReplyName : null, new { @maxlength = 100 })	
		</div>
		<span class="quebrar"></span>
		<div class="linha-frm">
			<label>Email</label>
			@Html.TextBox("txtReplyMail", (Model != null) ? Model.ReplyMail : null, new { @maxlength = 100 })		
		</div>
		<span class="quebrar"></span>
		<div class="linha-frm">
			<label>Assunto</label>
			@Html.TextBox("txtSubject", (Model != null) ? Model.Subject : null, new { @maxlength = 150 })			
		</div>
		<span class="quebrar"></span>
		<div class="linha-frm">
			<label>Conteúdo</label>	
			<textarea cols="30" id='txtContent' name='txtContent' rows="50">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
            </textarea>
		</div>	
		<span class="quebrar"></span>
		<div class="linha-btn">
			<a href="javascript:void(0);" class="btn-padrao" id="btnSave"><span>Salvar modelo</span></a>
		</div>
 }

</div>