.form-style-6 input[type="text"],
.form-style-6 textarea {
    background: none;
}

.form-style-6 select {
    height: 26px;
    margin-top: 8px;
}

.form-style-6 input[type="date"] {
    height: 22px;
}

.table-td {
    text-align: center;
    word-wrap: break-word;
    border: 1px solid #eee;
}

.table-td-representation .{
    width:250px;
    
}

.form-style-6 input[type="text"]:hover,
.form-style-6 textarea:hover {
    background: none !important;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #25415a;
    height: 30px;
    border:0px;
    cursor:pointer;
}

.btn-element {
    cursor:pointer; 
    width: 120px;
}

.btn-cancel {
    background: #e1e1e1;
    color: black;
    border-radius: 4px;
    height: 30px;
    border:0px;
}

.btn-add {
    background: #e1e1e1;
    color: black;
    border-radius: 4px;
    height: 30px;
    border:0;
    cursor: pointer;
}

.label-error {
    color: red;
}

.div-error {
    margin-bottom: 10px;
}

.error {
    border: 1px solid red !important;
}

.div-clear {
    clear: both;
    float: left;
    width: 100%;
}

.text-width {
    width: 35%;
}

#conteudo {
    border: none;
    background: none;
    padding: 14px;
    display: block;
}

#left {
    float: left;
}

.image-cursor {
    cursor: pointer;
}

.image-upload > input {
    display: none;
}

.column {
    height: 75px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    padding: 4px;
}

.column1 {
    width: 400px;
}

.column2 {
    width: 100px;
}

.column3 {
    width: 170px;
}

.center-component {
    margin: 0 auto !important;
}

.fadeOut{
    opacity: 0;
    transition: 0.5s;
}

.hr-section {
    width: 1087px;
    height: 24px;
    background-color: #25425b;    
}

.section-text {
    line-height: 25px;
    color: #f6f7f7;
}

.form-style-center {
    display: table;
    width: 1100px;
    table-layout: fixed;
    margin: 0 auto;
}

.form-style-center-modal {
    width: 1140px;
}

.outros {
    display: none;
}

.brasil {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height:570px;
    overflow-y: scroll;
}

.modal-content-finish {
    overflow-y: hidden;
    overflow-x: hidden;
    width:700px;
}

.modal-footer-finish {
    width: 700px;
    padding: 20px;
    background-color: white;
    margin: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-footer {
    padding: 20px;
    background-color: white;
    width: 80%;
    margin: auto;
}

.modal-header {
    padding: 20px;
    background-color: #25415a;
    width: 80%;
    margin: auto;
    color: white;
    height:18px;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-footer-buttons {
    text-align:left;
    margin-left: 20px;
}

.modal-footer-buttons-finish modal-footer-buttons {
    text-align: inherit;
}

#representationTable td:nth-child(4) {
    display: none;
}

#representationTable td:nth-child(5) {
    display: none;
}

.hr-section-modal {
    width: 1125px;
}

.document-element {
    text-align: center;
    margin-bottom: 20px;
}

.image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0
}

table tbody tr td {
    border: 1px solid #eee;
}

.btn-remove{
    width:29px;
    height: 23px;
}

.element-center{
    text-align: center;
}

.btn-visualizar {
    background-image: url('../img/search.png');
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
}

.row-hidden{
    display: none;
}