/***************************************************************
 FILTRO FORMULARIO
***************************************************************/
.caixa-filtro{
    overflow: hidden;
}

input[type='text']:hover,
input[type='password']:hover,
textarea:hover,
input[type='text']:focus,
input[type='password']:focus,
textarea:focus{
    background-color: #f2f3f3!important;
}

/***************************************************************
 FILTRO PADRÃO
***************************************************************/
.filtro-padrao .conteudo .linha-frm.liquidacao .lista-opcoes-vertical input[type=checkbox]{
    margin-top: 0;
}
.filtro-padrao .conteudo .linha-frm.liquidacao .lista-opcoes-vertical label{
    margin-top: 2px;
}

.caixa-filtro.secundario .bloco ul.acoes li{
    float: left;
    margin-top: 4px;
}

/***************************************************************
 TABELAS
***************************************************************/
table thead tr th.unbind{
    width: auto!important;
}
.tabela-expandida{
    padding-bottom: 15px;
}
/***************************************************************
 MENUS
***************************************************************/
/****menu principal****/
#menu-principal .caixa{
    padding-bottom:0;
}
#menu-principal ul.caixa ul li{
    float:none;
}

/****filtro formulário****/
#conteudo h2{
    display:inline-block;
}


/***************************************************************
 LISTA DE RESULTADOS
***************************************************************/
/****linha de exportação****/
.ferramentas, .ferramentas span{
    height:30px!important;
}

/***************************************************************
 FORMULÁRIOS
***************************************************************/
.linha-frm.operador {width:95%;}
.linha-frm {
    margin-right: 10px;
}
.solicitar-correcao .linha-frm .rad {
    margin-right:3px;
}
.linha-frm div.radio label{
    margin-bottom: 0;
}
/*em modais*/
.MessageBox .conteudo.solicitar-correcao .linha-frm.descricao-erro ul.selectStyled{
    position: static!important;
}
.linha-frm.operador-responsavel, .linha-frm.perfil-afetado {
    clear: both;
    margin-right: 10px;
}
.linha-frm.operador-responsavel label {
    white-space: nowrap;
}
/* /fim-em modais*/

/***************************************  
 MODAL
***************************************/
.MessageBox h2 a.ico-editar{
    top: -4px;
}
.linha-frm.email {
    margin-left:0;
}
/*modal usuarios*/
.usuarios .popup.incluir{
    top:16px;
}
/* /fim-modal usuarios*/

/*modal liquidação de termo*/
.linha-frm.papel .selectStyled, .linha-frm.acao .selectStyled {
    position:static!important;
}
.linha-frm.acao {
    height:60px;
}
.linha-frm .input-papel {
    margin-top:9px;
}
.tabela-solicitar-termo tr td .selectStyled {
    margin:0!important;
    position:static!important;
}
.modal-situacao .linha-btn {
    clear:none;
}
/* /fim-modal liquidação de termo*/

/*modal solicitar transferência de garantias*/
.conteudo.solicitar-transferencia-garantias table.tabela-form.garantias tbody tr td.total label{
    margin-top: 7px;
}
/* /fim-modal solicitar transferência de garantias*/

/*modal solicitar correção*/
.conteudo.solicitar-correcao .linha-frm.descricao-erro label,
.conteudo.solicitar-correcao .linha-frm.data-compra-venda>label{
    width: 312px;
}
.conteudo.solicitar-correcao .linha-frm.data-compra-venda{
    float: none;
}
.conteudo.solicitar-correcao .lista-opcoes-vertical input,
.conteudo.solicitar-correcao .lista-opcoes-vertical label{
    display: inline-block;
}
/* /fim-modal solicitar correção*/

/*modal Incluir Posição*/
.conteudo.incluir-posicao .linha-btn{
    margin-bottom: 15px;
}
/* /fim-modal Incluir Posição*/

/*modal Solicitar direito de subscrição*/
.conteudo.solicitacao-direito-subscricao table.tabela-form tbody tr td label{
    margin-top: 6px;
}
/* /fim-modal Solicitar direito de subscrição*/

/***************************************************************
 GRAFICOS
***************************************************************/
/*Trasnferência de Custódia*/
.transferencia-custodia .lista-relatorios .relatorio .graficos{
    height: 110px;
}
.transferencia-custodia .lista-relatorios .relatorio{
    height: 172px;
}
/* /fim-Trasnferência de Custódia*/

/***************************************************************
 TELAS
***************************************************************/
.acoes .linha-frm label{
    margin-bottom: 5px;	
}
/*Solicitação de Direitos*/
#divRequestRightsSubscriptionHeader .etiqueta{
    float: none;
}
/* /fim-Solicitação de Direitos*/


/*Cadastro Status*/
table#tblStatusViewer tbody tr td span{
    float:left;
    margin-left: 18px;
}
/*Fim-Cadastro Status*/

/***************************************************************
 PLUGINS JQUERY
***************************************************************/
/****Tree View****/
ul.filetree li input[type='checkbox']{
    margin: -5px 5px 0 0!important;
}

/****Abas****/
.ui-tabs .ui-tabs-nav li a{
    position: static;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a{  
    padding-bottom: 5px;
}
.ui-tabs .ui-tabs-panel{
    position: static;
    top: 0;
}
/*cadastro*/
.client-registration .ui-tabs .ui-tabs-panel{
    margin-top: -15px;
}