﻿@{
    ViewBag.Title = "BrokerageRangeDetails";
    Layout = null;
}

@using QX3.Portal.Contracts.DataContracts
@model List<BrokerageBMF>
@if (Model != null)
{
<table cellspacing="0" cellpadding="0" class="secundaria" width="55%">
    <thead>
        <tr>
            <th>Vencimento (mês)</th>
            <th>Faixa de Contrato (R$)</th>
            <th>Normal</th>
            <th>Day Trade</th>
        </tr>
    </thead>
    <tbody>
           @foreach (var i in Model)
           { 
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td class="direita">@i.NormalOperationRate.Value.ToString("N2")</td>
                    <td class="direita">@i.DayTradeRate.Value.ToString("N2")</td>
                </tr>
           } 
    </tbody>
</table>
}