﻿<div class="filtro-padrao">
    <div id="BrokerageTransferFilter" class="topo">
        Filtrar por
    </div>
    <div id="BrokerageTransferFilterContent" class="conteudo" style="display: none;">
        @using (Html.BeginForm())
        {
            <div id="filterFeedbackError" class="erro" style="display: none;"></div>
            <span class="quebrar"></span>
            <div class="linha-frm">
                <label>Assessor</label>
                    @Html.TextBox("txtAssessors")
            </div>
            <div class="linha-frm">
                <label>Cliente</label>
                    @Html.TextBox("txtClients")
            </div>
            <div class="linha-frm conjugado">
                <label>Período</label>
                <div>
                    @Html.TextBox("txtStartDate", (string)ViewBag.TradingDate, new { @id = "txtStartDate", @maxlength = "10" })
                    @Html.TextBox("txtEndDate", (string)ViewBag.TradingDate, new { @id = "txtEndDate", @maxlength = "10" })
                </div>
            </div>
            <div class="linha-btn">
                <a href="javascript:;" class="btn-padrao" id="btnSearch"><span>listar relatório</span></a>
            </div>
            <span class="quebrar"></span>
        }
    </div>
</div>
