﻿<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>

<div class="filtro-padrao">
    <div class="topo" id="BrokerageRangeFilter">
		        Filtrar por
    </div>
	<div class="conteudo" id="BrokerageRangeContent" style="display:none;">
        <span class="quebrar"></span>
        <div id="filterFeedbackError" class="erro" style="display: none;"></div>
		    <div class="linha-frm">
			    <label>Assessor</label>
                @Html.TextBox("txtAssessorFilter")
		    </div>
		    <div class="linha-frm">
			    <label>Cliente</label>
                @Html.TextBox("txtClientFilter")
		    </div>
            <div class="linha-frm">
			    <label>Corretora de Repasse</label>
                @Html.TextBox("txtBrokerage")
		    </div>
            <div class="linha-frm">
			    <label>Atividade</label>
                <select id="ddlType" name="ddlType">
                    <option value="0">Todos</option>
                    <option value="1">Bovespa</option>
                    <option value="2">BM&F</option>
                </select>
		    </div>
            <div class="linha-frm">
			    <label>Mercado</label>
                <select id="ddlMarketType" name="ddlMarketType">
                    <option value="0">Todos</option>
                </select>
		    </div>
            @Html.Hidden("DisplayStart", 0)
		    <div class="linha-btn">
			    <a class="btn-padrao" href="javascript:;" id="lnkSubmitBrokerageRangeFilter"><span>Listar Clientes</span></a>
		    </div>
		    <span class="quebrar"></span>
	    </div>
  </div>