﻿@{
    ViewBag.Title = "BrokerageRangeList";
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model BrokerageRange      

@if (Model != null)
{     
<div class="caixa-cabecalho-lista" id="tableArea" style="width: 100%;">
    <div class="navegacao-tabela">
        <div class="navegacao">
            @if (ViewBag.HasAnterior)
            { <a id="lnkPreviousClientTop" class="lnk-anterior" href="javascript:;" rel="@ViewBag.AnteriorValue">Cliente Anterior</a> }
            @if (ViewBag.HasPosterior)
            { <a id="lnkNextClientTop" class="lnk-proximo" href="javascript:;" rel="@ViewBag.PosteriorValue">Próximo Cliente</a> }
        </div>
        @if (ViewBag.Counter != null)
        { <span id="lblClientCounterTop">@ViewBag.Counter</span> }
    </div>
    <span class="quebrar"></span>
    <div class="cabecalho-grid garantias">
        <div class="etiqueta">
            <h2 id="lblClientNameSpan">@Model.ClientCode - @Model.ClientName</h2>
            <span class="quebrar"></span>
            <div class="bloco">
                <span id="lblAssessor">@Model.AssessorName</span>
            </div>
        </div>
        <span class="quebrar"></span>
    </div>
    <span class="quebrar"></span>
    <div class="area-resultado" style="display: block;">
        @{
        var bovespa = (List<BrokerageBovespa>)Model.Bovespa;  
        }
        @if (bovespa != null && bovespa.Count > 0)
        {
            <table cellpadding="0" width="480px" cellspacing="0" border="0" id="tblBovespaList" class="classificar">
                <thead>
                    <tr class="primario">
                        <th colspan="3">Bovespa</th>
                    </tr>
                    <tr class="secundario">
                        <th>Mercado</th>
                        <th>Normal</th>
                        <th>Day Trade</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var i in bovespa)
                { 
                    <tr>
                        <td>@i.MarketType</td>
                        <td class="direita">@(i.NormalOperationRate.HasValue ? i.NormalOperationRate.Value.ToString("N2") : "-")</td>
                        <td class="direita">@(i.DayTradeRate.HasValue ? i.DayTradeRate.Value.ToString("N2") : "-")</td>
                    </tr>
                }
                </tbody>
            </table>
            <span class="quebrar"></span>
        }

        <div id="table-bmf-area">
            <table cellpadding="0" width="970px" cellspacing="0" border="0" id="tblBMFList" class="classificar">
                <thead>
                    <tr class="primario">
                        <th colspan="6">BM&F</th>
                    </tr>
                    <tr class="secundario">
                        <th>
                            Ativo
                        </th>
                        <th>
                            Contratos
                        </th>
                        <th>
                            Mercado
                        </th>
                        <th>
                            Normal
                        </th>
                        <th>
                            Day Trade
                        </th>
                        <th>&#160;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <span class="quebrar"></span>
</div>
}
else
{ 
    <div class="alerta">Nenhum cliente encontrado.</div>
}