﻿@{
    ViewBag.Title = "Proventos";
   
}
<script src="@Url.Content("~/Scripts/jQuery/dataTables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/meioMask/jquery.meio.mask.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/ui/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/MarketHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/ValidateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Helpers/DateHelper.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Proceeds/Index.js?new=" + DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
@using (Html.BeginForm())
{
    QX3.Portal.WebSite.Helper.AccessControlHelper acHelper = new QX3.Portal.WebSite.Helper.AccessControlHelper();
    <div class="ferramentas acoes assessores">
        @*<a id="btnEmail" class="btn-padrao" href="javascript:;"><span>enviar por e-mail</span></a>*@
        <div>
            Exportar: <a id="lnkProceedsExcel" class="ico-xls" href="javascript:;" onclick="Export(false);">
                Excel</a> <a class="ico-pdf" id="lnkProceedsPdf" href="javascript:;" onclick="Export(true);">PDF</a>
            @if (acHelper.HasFuncionalityPermission("Proceeds.Index", "btnLog"))
            {<a class="ico-hist" href="#" onclick="ViewHistory();return false;">Ver histórico</a>}</div>
    </div>
    @Html.Partial("ProceedsFilter")
    @Html.Partial("FeedbackError", new QX3.Portal.WebSite.Models.Error { Message = TempData["ErrorMessage"] == null ? string.Empty : TempData["ErrorMessage"].ToString(), DisplayMode = TempData["ErrorMessage"] != null ? "block" : "none" })
    <div id="emptyArea" class="sem-resultado" style="display: none;">
    </div>
    <div id="loadingArea" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="carregando consulta" />
    </div>
    <div class="area-resultado" id="tableArea" style="display: none;">
        <table id="proceedsList" cellpadding="0" cellspacing="0" width="100%" class="classificar">
            <thead>
                <tr>
                    <th>
                        <span>Papel</span>
                    </th>
                    <th>
                        ISIN
                    </th>
                    <th>
                        Cod.
                    </th>
                    <th>
                        Assessor
                    </th>
                    <th>
                        Cod. Cliente
                    </th>
                    <th>
                        Nome do Cliente
                    </th>
                    <th>
                        Provento
                    </th>
                    <th>
                        Qtde.
                    </th>
                    <th class="direita">
                        Valor Bruto
                    </th>
                    <th>
                        % IR
                    </th>
                    <th class="direita">
                        Valor IR
                    </th>
                    <th class="direita">
                        Valor Liq.
                    </th>
                    <th>
                        Data Pgto.
                    </th>
                    <th>
                        Carteira
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}