﻿@using QX3.Portal.Contracts.DataContracts
@model List<SelectListItem> 

<div class="filtro-padrao">
    <div id="proceedsFilter" class="topo">
        Filtrar por
    </div>
    <div id="proceedsFilterContent" class="conteudo" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
        <div id="filterFeedbackError" class="erro" style="display: none;">
            </div>
            <label>
                Assessores</label>
            @Html.TextBox("txtAssessors", "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Clientes</label>
            @Html.TextBox("txtClient", "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Empresa</label>
            @Html.TextBox("txtCompany", "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Papel</label>
            @Html.TextBox("txtStockCode", "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Provento</label>
            <select id="ddlProceeds">
                <option value="N" selected="selected">Provisionados</option>
                <option value="S">Rendimentos Pagos</option>
            </select>
        </div>
        <div class="linha-frm conjugado">
            <label>
                Pagamento</label>
            <div>
               @Html.TextBox("txtStartDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @id = "txtStartDate", @maxlength = "10" })
                @Html.TextBox("txtEndDate", DateTime.Now.AddMonths(1).ToString("dd/MM/yyyy"), new { @id = "txtEndDate", @maxlength = "10" })
            </div>
        </div>
        <div class="linha-btn">
            <a href="" class="btn-padrao" id="btnSearch"><span>listar proventos</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
