﻿@using QX3.Portal.Contracts.DataContracts;
@using QX3.Portal.WebSite.Models;
@using System.Web.Mvc.Html;
@using System.Linq;

@{
    ViewBag.Title = "Extrato Único";
}
@{ List<StatementClient> sc = Model;
    string orderBy = ViewBag.OrderBy;
    string name = ViewBag.Name;
    string cpfCnpj = ViewBag.CpfCnpj;
    string clientCode = ViewBag.ClientCode;
}

<style>

.loading-spiner img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.main-bg {
    background-color:rgba(255,255,255,0.9);
}
</style>

<script src="@Url.Content("~/Scripts/Views/Statement/Clients.js?v=8")" type="text/javascript"></script>

<div class="main-b" style="width:100%; height: 100%; position: fixed; z-index:1000000000000; display:none;" id="loadingArea">
    <div class="loading-spiner">
        <img src="../../img/ajax-loader.gif" />
    </div>
</div>

<form action="/Statement/Clients" method="post" id="formSC">

    <div id="loadingArea2" style="display: none; text-align: center;">
        <img src="../../img/preloadercinza.gif" alt="Processando..." />
    </div>

    <div class="wrap-form table-extract">
        <div class="linha-frm">
            <label for="cpfCnpj">CPF/CNPJ</label>
            <input type="text" name="cpfCnpj" id="cpfCnpj" autocomplete="off" value="@cpfCnpj" />
            <input type="hidden" id="hdnOrderBy" name="hdnOrderBy"/>
        </div>

        <div class="linha-frm">
            <label for="clientCode">Código Institucional</label>
            <input type="text" name="clientCode" id="clientCode" autocomplete="off" value="@clientCode" />
        </div>

        <div class="linha-frm">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" autocomplete="off" value="@name" />
        </div>

        <div class="linha-frm">
            <label for="statement">Envio automático</label>
            @Html.DropDownList("automaticSending", (List<SelectListItem>)ViewBag.SendingList, new { id = "automaticSending" })
        </div>

        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>
        
        <div class="linha-frm ico-export" style="float:right;">
            <a name="lnkSendStatements" href="javascript:;">Enviar extrato</a>
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>
</form>
<span class="quebrar"></span>

<div>
    <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>CPF/CNPJ</th>
                <th style="cursor:pointer" onclick="orderBy('code')" title="Ordenar">Código Institucional</th>
                <th style="cursor:pointer" onclick="orderBy('name')" title="Ordenar">Nome</th>
                <th>E-mail</th>
                <th>Envio automático</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{if (sc != null && sc.Count > 0)
                {
                    foreach (var m in sc)
                    {
                    <tr>
                        <td>@CommonHelper.FormatCpfCnpj(m.CpfCnpj)</td>
                        <td>
                            @if (m.ClientCode == 0)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @m.ClientCode
                            }
                        </td>
                        <td>@m.Name</td>
                        <td>@m.Email</td>
                        <td>@CommonHelper.FormatBoolean(m.AutomaticSending)</td>
                        <td>
                            <a name="lnkConfiguration" href="javascript:;" title="Configurar" id="@m.ClientId" class="ico-editar">Configurar</a>
                            <!-- a name="lnkConfiguration" href="javascript:;" id="@m.ClientId">Configurar</a --> / 
                            <a name="lnkFixedIncome" href="javascript:;" id="@m.CpfCnpj">Renda Fixa</a> / 
                            <a name="lnkNdf" href="javascript:;" id="@m.CpfCnpj">NDF</a> / 
                            <a name="lnkSwap" href="javascript:;" id="@m.CpfCnpj">Swap</a>
                            <!--  target="_blank" href="/Statement/FixedIncome?cpfCnpj=@m.CpfCnpj">Renda Fixa</a -->
                            <!-- a href="#open-modal" class="refazer" name="justificar" id="@(m.CpfCnpj)">Justificar Desenquadramento</a -->
                        </td>      
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Faça uma nova busca.</td>
                </tr>
            }
          }
        </tbody>
    </table>
</div>

<link href="~/css/modal.css" rel="stylesheet" />

<!-- div id="open-modal" class="modal-window">
    <div>
        <a href="#modal-close" id="modalClose" title="Close" class="modal-close">Fechar</a>
        <h1>Justificativa de desenquadramento</h1>
        <textarea rows="6" maxlength="2000" cols="50" id="textoMessage" style="width: 95%;"></textarea>
        <button id="subimeter" style="margin-left: 0 !important; margin-top: 10px !important; padding: 5px 25px !important;" class="btn-input-submit" type="button">Preencher questionário</button>
    </div>
</div -->
<script>

    function orderBy(type) {
        $('#hdnOrderBy').val(type);
        $('#formSC').submit();
    }

    /*
    $("a[name='justificar']").click(function (event) {
        data.clientId = event.target.id;
    });

    $("#subimeter").click(function () {

        data.message = $("textarea#textoMessage").val()

        $.ajax({
            url: "/Compliance/SaveJustification",
            type: 'GET',
            data: data,
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log("erro");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Erro ao salvar a Justificativa.");
            },
            success: function (res) {
                console.log(res);
                console.log("sucesso.");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Justificativa salva com sucesso.");
            }
        });
    });
    */


</script>