﻿@using QX3.Portal.Contracts.DataContracts
@using QX3.Portal.WebSite.Models;
@using System.Web.Mvc.Html;

@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Statement/Configuration.js?v=2")" type="text/javascript"></script>

@{  
    string title = "Configuração";
    StatementConfiguration sc = Model;
    List<SelectListItem> statementsList = (List<SelectListItem>)ViewBag.StatementsList;
}

<style>
    .linha-frm .lista-opcoes-vertical input[type='radio']:first-child, .linha-frm .lista-opcoes-vertical input[type='checkbox']:first-child {
    margin-right: 10px 0 0 10px !important;
}
</style>

<h2>@title</h2>
<div class="conteudo criar-usuario" id="frmConfiguration">
    <div id="feedbackError" class="erro" style="display: none;">
    </div>
    <div id="Step1">
            <div class="linha-frm">
                <label>
                    Enviar extrato mensal automático
                </label>
                <div class="radio">
                    @Html.RadioButton("rdbAutomaticSending", "true", sc.AutomaticSending == true ? true : false, new { @class = "rdbSendSuitability" })
                    <label>
                        Sim
                    </label>
                </div>
                <div class="radio">
                    @Html.RadioButton("rdbAutomaticSending", "false", sc.AutomaticSending == false ? true : false, new { @class = "rdbSendSuitability" })
                    <label>
                        Não
                    </label>
                </div>
                <input type="hidden" value="@sc.ClientId" id="hdnClientId" name="hdnClientId" />
            </div>
       <div class="linha-frm"style="margin-left: 50px !important;">
                <label>Extratos</label>
                <div class="lista-opcoes-vertical">
                    @foreach (var item in statementsList)
                    {
                        <input type="checkbox"
                               name="chkConfiguration"
                               id="chkConfiguration-@(item)"
                               value="@item.Value"
                               checked="@item.Selected" 
                               @(item.Value == "1" ? "style=margin-left:10px!important;" : string.Empty)
                         />
                        @item.Text <br />
                    } 

                    @*<input type="checkbox" class="chkConfiguration" value="1" id="chkRendaFixa" name="chkConfiguration" @(sc.StatementIDs.Contains(1) == true ? "checked='checked'" : string.Empty) style="margin-left: 10px !important;"/>Renda Fixa<br />
                    <input type="checkbox" class="chkConfiguration" value="2" id="chkNDF" name="chkConfiguration" @(sc.StatementIDs.Contains(2) == true ? "checked='checked'" : string.Empty) />NDF<br />
                    <input type="checkbox" class="chkConfiguration" value="3" id="chkSwap" name="chkConfiguration" @(sc.StatementIDs.Contains(3) == true ? "checked='checked'" : string.Empty)  />Swap<br />
                    <input type="checkbox" class="chkConfiguration" value="4" id="chkCCB" name="chkConfiguration" @(sc.StatementIDs.Contains(4) == true ? "checked='checked'" : string.Empty)  />CCB/Fiança<br />
                    <input type="checkbox" class="chkConfiguration" value="5" id="chkOpcoesFlexiveis" name="chkConfiguration" @(sc.StatementIDs.Contains(5) == true ? "checked='checked'" : string.Empty) />Opções Flexíveis<br />
                    <input type="checkbox" class="chkConfiguration" value="6" id="chkContaCliente" name="chkConfiguration" @(sc.StatementIDs.Contains(6) == true ? "checked='checked'" : string.Empty)  />Conta Cliente<br />
                    <input type="checkbox" class="chkConfiguration" value="7" id="chkMoedaEstrangeira" name="chkConfiguration" @(sc.StatementIDs.Contains(7) == true ? "checked='checked'" : string.Empty) />Moeda Estrangeira*@
                </div>
      </div>
        </div>
    <div class="linha-btn">
        <a href="javascript:void(0);" class="btn-padrao" id="lnkSave"><span>Salvar</span></a>
    </div>
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>


