﻿@using QX3.Portal.Contracts.DataContracts
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Statement/FixedIncomeSearch.js?v=1")" type="text/javascript"></script>

@{  
    string title = "Renda Fixa";
    string cpfCnpj = ViewBag.CpfCnpj;
}

<h2>@title</h2>
<div class="conteudo criar-usuario" id="frmFixedIncomeSearch">
    <div id="feedbackError" class="erro" style="display: none;">
    </div>
    <div id="Step1">
        <div class="linha-frm">
            <label for="txtStart">De:</label>
            <input type="text" name="txtStart" id="txtStart" autocomplete="off" value="" style="width: 100px;" />
            <input type="hidden" value="@cpfCnpj" id="hdnCpfCnpj" name="hdnCpfCnpj" />
        </div>
        <div class="linha-frm">
            <label for="txtEnd">Até:</label>
            <input type="text" name="txtEnd" id="txtEnd" autocomplete="off" value="" style="width: 100px;" />
        </div>
    </div>
    <div class="linha-btn">
        <a href="javascript:void(0);" class="btn-padrao" id="lnkSearch"><span>Buscar</span></a>
    </div>
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>


