﻿@using QX3.Portal.Contracts.DataContracts;
@using QX3.Portal.WebSite.Models;
@using System.Web.Mvc.Html;
@using System.Linq;

@{
    ViewBag.Title = "Extrato Único";
}
@{ List<StatementLog> sc = Model;
    string orderBy = ViewBag.OrderBy;
    string name = ViewBag.Name;
    string cpfCnpj = ViewBag.CpfCnpj;
    string clientCode = ViewBag.ClientCode;
}

<script src="@Url.Content("~/Scripts/Views/Statement/Log.js?v=1")" type="text/javascript"></script>

<form action="/Statement/Log" method="post" id="formSLog">
    <div class="wrap-form table-extract">
        <div class="linha-frm">
            <label for="cpfCnpj">CPF/CNPJ</label>
            <input type="text" name="cpfCnpj" id="cpfCnpj" autocomplete="off" value="@cpfCnpj" />
            <input type="hidden" id="hdnOrderBy" name="hdnOrderBy"/>
        </div>

        <div class="linha-frm">
            <label for="clientCode">Código Institucional</label>
            <input type="text" name="clientCode" id="clientCode" autocomplete="off" value="@clientCode" />
        </div>

        <div class="linha-frm">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" autocomplete="off" value="@name" />
        </div>

        <div class="linha-frm">
            <label for="ddlYear">Ano</label>
            @Html.DropDownList("year", (List<SelectListItem>)ViewBag.YearsList, new { id = "year" })
        </div>

        <div class="linha-frm">
            <label for="ddlMonth">Mês</label>
            @Html.DropDownList("month", (List<SelectListItem>)ViewBag.MonthsList, new { id = "month" })
        </div>

        <div class="linha-frm">
            <label for="statement">Extrato</label>
            @Html.DropDownList("statement", (List<SelectListItem>)ViewBag.StatementsList, new { id = "statement" })
        </div>

        <div class="linha-frm linha-frm-submit">
            <span class="btn-submit">
                <input class="btn-input-submit" type="submit" value="Ok" />
            </span>
        </div>
        
        <div class="linha-frm ico-export">
            @*Exportar: <a target="_self" id="lnkHistoryExcel" class="ico-xls" href="/Demonstrative/ExtractToFile/?isPdf=false">Excel</a>*@
            @*<a target="_self" class="ico-pdf" id="lnkHistoryPdf" href="/Other/ConsolidatedPositionToFile/?isPdf=true">PDF</a>*@
        </div>
    </div>
</form>
<span class="quebrar"></span>

<div>
    <table cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>CPF/CNPJ</th>
                <th style="cursor:pointer" onclick="orderBy('code')" title="Ordenar">Código Institucional</th>
                <th style="cursor:pointer" onclick="orderBy('name')" title="Ordenar">Nome</th>
                <th style="cursor:pointer" onclick="orderBy('year')" title="Ordenar">Ano</th>
                <th style="cursor:pointer" onclick="orderBy('month')" title="Ordenar">Mês</th>
                <th>Extrato</th>
                <th>Data de envio</th>
            </tr>
        </thead>
        <tbody>
            @{if (sc != null && sc.Count > 0)
                {
                    foreach (var m in sc)
                    {
                    <tr>
                        <td>@CommonHelper.FormatCpfCnpj(m.CpfCnpj.Value)</td>
                        <td>
                            @if (m.ClientCode == 0)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @m.ClientCode
                            }
                        </td>
                        <td>@m.Name</td>
                        <td>@m.Year.ToString()</td>
                        <td>@CommonHelper.GetMonthsName(m.Month)</td>
                        <td>@StatementHelper.GetStatements(m.StatementIDs)</td>   
                        <td>@m.SendDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Faça uma nova busca.</td>
                </tr>
            }
          }
        </tbody>
    </table>
</div>

<link href="~/css/modal.css" rel="stylesheet" />

<!-- div id="open-modal" class="modal-window">
    <div>
        <a href="#modal-close" id="modalClose" title="Close" class="modal-close">Fechar</a>
        <h1>Justificativa de desenquadramento</h1>
        <textarea rows="6" maxlength="2000" cols="50" id="textoMessage" style="width: 95%;"></textarea>
        <button id="subimeter" style="margin-left: 0 !important; margin-top: 10px !important; padding: 5px 25px !important;" class="btn-input-submit" type="button">Preencher questionário</button>
    </div>
</div -->
<script>

    function orderBy(type) {
        $('#hdnOrderBy').val(type);
        $('#formSLog').submit();
    }

    /*
    $("a[name='justificar']").click(function (event) {
        data.clientId = event.target.id;
    });

    $("#subimeter").click(function () {

        data.message = $("textarea#textoMessage").val()

        $.ajax({
            url: "/Compliance/SaveJustification",
            type: 'GET',
            data: data,
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log("erro");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Erro ao salvar a Justificativa.");
            },
            success: function (res) {
                console.log(res);
                console.log("sucesso.");
                $("textarea#textoMessage").val("");
                data.clientId = undefined;
                data.message = undefined;

                location.href = "#modal-close";

                alert("Justificativa salva com sucesso.");
            }
        });
    });
    */


</script>