﻿@using QX3.Portal.Contracts.DataContracts
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jQuery/ui/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/styleInputs/styleInputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQuery/jQuery.plugins.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Views/Statement/NdfSearch.js?v=1")" type="text/javascript"></script>

@{  
    string title = "NDF";
    string cpfCnpj = ViewBag.CpfCnpj;
}

<h2>@title</h2>
<div class="conteudo criar-usuario" id="frmNdfSearch">
    <div id="feedbackError" class="erro" style="display: none;">
    </div>
    <div id="Step1">
        <div class="linha-frm">
            <label for="ddlMonth">Mês:</label>
            <select id="ddlMonth" name="ddlMonth">
                <option value="" selected="selected">Selecione</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
            <input type="hidden" value="@cpfCnpj" id="hdnCpfCnpj" name="hdnCpfCnpj" />
        </div>
        <div class="linha-frm">
            <label for="ddlYear">Ano:</label>
            <select id="ddlYear" name="ddlYear">
                <option value="" selected="selected">Selecione</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            </select>
        </div>
        <div class="linha-frm">
            <label for="ddlType">Relatório:</label>
            <select id="ddlType" name="ddlType">
                <option value="" selected="selected">Selecione</option>
                <option value="0">Curva Contábil</option>
                <option value="1">Curva Mercado</option>
            </select>
        </div>
    </div>
    <div class="linha-btn">
        <a href="javascript:void(0);" class="btn-padrao" id="lnkSearch"><span>Buscar</span></a>
    </div>
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>


