﻿@using QX3.Portal.Contracts.DataContracts;
@using System.Web.Mvc.Html;
@using System.Linq;
@using QX3.Portal.WebSite.Models.Statement;
@using QX3.Portal.WebSite.Models;

@{
    ViewBag.Title = "Extrato Único";
    //Layout = null;
}

@model SwapDTO
@{ 
    List<SwapDetails> movements = Model.Movement;
    List<SwapDetails> openPositions = Model.OpenPosition;
    string name = Model.Name;
    string cpfCnpj = CommonHelper.FormatCpfCnpj(Model.CpfCnpj);
    int month = (int)Model.Month;
    int year = (int)Model.Year;
    string type = Model.Type;
}

<h3>Cliente: @name (@cpfCnpj) - De @CommonHelper.FormatFirstDayOfMonth(month, year) até @CommonHelper.FormatLastDayOfMonth(month, year)</h3>
<br />
<h2>Extrato de Movimentação de Swap Curva Mercado</h2>
<div class="ico-export" style="float:right;margin-top:-21px;margin-bottom:5px;">
    Exportar:
    <a target="_blank" class="ico-pdf" id="lnkHistoryPdf" href="/Statement/ExportSwapToPdf/?cpfCnpj=@cpfCnpj&month=@month.ToString()&year=@year.ToString()&type=@type">PDF</a>
</div>
<div>
    <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Movimentação</th>
                <th>Data Inicial</th>
                <th>Vencimento</th>
                <th>Valor Base</th>
                <th>Curva</th>
                <th>Valor MTM - Banco</th>
                <th>Valor MTM - Cliente</th>
                <th>Resultado</th>
            </tr>
        </thead>
        @{if (movements != null && movements.Count() > 0)
            {
                <tbody>
                    @foreach (SwapDetails item in movements)
                    {
                        string vl_baseClass = CommonHelper.GetValueColorClass(item.vl_base);
                        string vl_curva_dadoClass = CommonHelper.GetValueColorClass(item.vl_curva_dado);
                        string vl_curva_tomadoClass = CommonHelper.GetValueColorClass(item.vl_curva_tomado);
                        string vl_mtm_dadoClass = CommonHelper.GetValueColorClass(item.vl_mtm_dado);
                        string vl_mtm_tomadoClass = CommonHelper.GetValueColorClass(item.vl_mtm_tomado);
                        string vlr_resultado_mtmClass = CommonHelper.GetValueColorClass(item.vlr_resultado_mtm);

                        <tr>
                            <td>@item.tp_operacao</td>
                            <td>@item.dt_operacao.Replace(" 00:00:00", "")</td>
                            <td>@item.dt_vencimento.Replace(" 00:00:00", "")</td>
                            <td class="align-right @vl_baseClass">@item.vl_base.ToString("N2")</td>
                            <td class="align-right @vl_curva_dadoClass">@item.vl_curva_dado.ToString("N2")</td>
                            <td class="align-right @vl_mtm_dadoClass">@item.vl_mtm_dado.ToString("N2")</td>
                            <td class="align-right @vl_mtm_tomadoClass">@item.vl_mtm_tomado.ToString("N2")</td>
                            <td class="align-right @vlr_resultado_mtmClass">@item.vlr_resultado_mtm.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @{ 
                        decimal vl_baseSum = movements.Sum(x => x.vl_base);
                        decimal vl_curva_dadoSum = movements.Sum(x => x.vl_curva_dado);
                        decimal vl_mtm_dadoSum = movements.Sum(x => x.vl_mtm_dado);

                        string vl_baseSumClass = CommonHelper.GetValueColorClass(vl_baseSum);
                        string vl_curva_dadoSumClass = CommonHelper.GetValueColorClass(vl_curva_dadoSum);
                        string vl_mtm_dadoSumClass = CommonHelper.GetValueColorClass(vl_mtm_dadoSum);

                        <tr>
                            <td colspan="2"></td>
                            <td class="align-right">Total:</td>
                            <td class="align-right @vl_baseSumClass">@vl_baseSum.ToString("N2")</td>
                            <td class="align-right @vl_curva_dadoSumClass">@vl_curva_dadoSum.ToString("N2")</td>
                            <td class="align-right @vl_mtm_dadoSumClass">@vl_mtm_dadoSum.ToString("N2")</td>
                            <td colspan="2"></td>
                        </tr>
                     }
                </tfoot>
            }
            else
            {
                <tr>
                    <td colspan="8">Não há movimentações para este período.</td>
                </tr>
            }

        }
    </table>
    @*<h5 style="width:50%; text-align:justify; font-weight:normal;">
        * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
    </h5>*@
</div>
<br />
<br />
<h2>Posições em aberto</h2>
<div>
    <table class="tb-position" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="3">Banco</th>
                <th colspan="3">Cliente</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Operação</th>
                <th>Dt. Operação</th>
                <th>Dt. Vencto.</th>
                <th>Valor Inicial</th>
                <th>Indexador</th>
                <th>Percentual</th>
                <th>Taxa</th>
                <th>Indexador</th>
                <th>Percentual</th>
                <th>Taxa</th>
                <th>Valor MTM - Banco</th>
                <th>Valor MTM - Cliente</th>
                <th>Resultado</th>
            </tr>
        </thead>
        @{if (openPositions != null && openPositions.Count() > 0)
            {
                <tbody>
                    @foreach (SwapDetails item in openPositions)
                    {
                        string vl_baseClass = CommonHelper.GetValueColorClass(item.vl_base);
                        string vl_perc_index_dadoClass = CommonHelper.GetValueColorClass(item.vl_perc_index_dado);
                        string vl_taxa_dadoClass = CommonHelper.GetValueColorClass(item.vl_taxa_dado);
                        string vl_perc_index_tomadoClass = CommonHelper.GetValueColorClass(item.vl_perc_index_tomado);
                        string vl_taxa_tomadoClass = CommonHelper.GetValueColorClass(item.vl_taxa_tomado);
                        string vl_mtm_dadoClass = CommonHelper.GetValueColorClass(item.vl_mtm_dado);
                        string vl_mtm_tomadoClass = CommonHelper.GetValueColorClass(item.vl_mtm_tomado);
                        string vlr_resultado_mtmClass = CommonHelper.GetValueColorClass(item.vlr_resultado_mtm);

                        <tr>
                            <td>@item.tp_operacao</td>
                            <td>@item.dt_operacao.Replace(" 00:00:00", "")</td>
                            <td>@item.dt_vencimento.Replace(" 00:00:00", "")</td>
                            <td class="align-right @vl_baseClass">@item.vl_base.ToString("N2")</td>
                            <td>@item.dc_index_dado</td>
                            <td class="align-right @vl_perc_index_dadoClass">@item.vl_perc_index_dado.ToString("N2")</td>
                            <td class="align-right @vl_taxa_dadoClass">@item.vl_taxa_dado.ToString("N5")</td>
                            <td>@item.dc_index_tomado</td>
                            <td class="align-right @vl_perc_index_tomadoClass">@item.vl_perc_index_tomado.ToString("N2")</td>
                            <td class="align-right @vl_taxa_tomadoClass">@item.vl_taxa_tomado.ToString("N5")</td>
                            <td class="align-right @vl_mtm_dadoClass">@item.vl_mtm_dado.ToString("N2")</td>
                            <td class="align-right @vl_mtm_tomadoClass">@item.vl_mtm_tomado.ToString("N2")</td>
                            <td class="align-right @vlr_resultado_mtmClass">@item.vlr_resultado_mtm.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <tr>
                    <td colspan="13">Não há posições em aberto para este período.</td>
                </tr>
            }
        }
    </table>
    @*<h5 style="width:50%; text-align:justify; font-weight:normal;">
            * A valorização dos ativos é estimada utilizando-se o preço médio do último dia em que o ativo foi negociado ou o último preço de referência divulgado pela BMF&Bovespa e Entidades de Mercado de Balcão Organizado. Dessa forma a BR Partners C.T.V.M. S.A. está isenta de quaisquer responsabilidade relativas à real valorização dos ativos e por quaisquer ônus ou prejuízos que venham a ser suportados direta ou indiretamente pelo investidor em decorrência dos valores ou preços por ela divulgados de acordo com os critérios utilizados, bem como a aceitação, pelo investidor, desta valorização estimada pela BM&FBovespa.
        </h5>*@
</div>

<script>
    $('tr:odd').css('background', '#EEE');
</script>