﻿<div class="filtro-padrao">
    <div id="guaranteesFilter" class="topo">
        Filtrar por
    </div>
    @{
        string[] tempFilters = (string[])Session["Filters"];
    }
    <div id="guaranteesFilterContent" class="conteudo" style="display: none;">
        <span class="quebrar"></span>
        <div class="linha-frm">
            <label>
                Assessor</label>
            @Html.TextBox("txtAssessor", tempFilters != null ? tempFilters[0].ToString() : "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Cliente</label>
            @Html.TextBox("txtClient", tempFilters != null ? tempFilters[1].ToString() : "", new { @maxlength = 30 })
        </div>
        <div class="linha-frm">
            <label>
                Situação</label>
            @Html.DropDownList("ddlStatus", (SelectList)ViewBag.FilterStatus, "Todas as Solicitações", new { id = "ddlStatus" })
        </div>
        <div class="linha-frm conjugado">
            <label>
                Período de Solicitação</label>
            <div>
                @Html.TextBox("txtStartDate", tempFilters != null ? tempFilters[3].ToString() : "", new { @id = "txtStartDate", @maxlength = "10" })
                @Html.TextBox("txtEndDate", tempFilters != null ? tempFilters[4].ToString() : "", new { @id = "txtEndDate", @maxlength = "10" })
            </div>
        </div>
        <div class="linha-btn">
            <a href="" class="btn-padrao" id="btnSearch"><span>listar garantias</span></a>
        </div>
        <span class="quebrar"></span>
    </div>
</div>
