﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model List<String>
<h2>Confirmar efetuação de garantias</h2>
<div id="ConfirmArea" class="conteudo confirmar-efetuacao-garantias">
    <p>
        <strong>Deseja realmente efetuar as garantias selecionadas?</strong></p>
    @using (Html.BeginForm("RealizeGuarantees", "Risk", FormMethod.Post, new { @Id = "frmGuaranteeConfirmRealize" }))
    {
        @Html.Hidden("guaranteesIds", String.Join(";", Model));
        <div class="linha-btn" style="#margin-bottom:-15px;">
            <a type="button" class="btn-primario" href="#" name="btnRealize" id="btnRealize" title="efetuar socilitação"
                onclick="DoRealize();"><span>sim, efetuar solicitação</span></a>
            <a type="button" class="btn-secundario" href="javascript:;" name="btnCancel" onclick="Modal.Close();"
                id="btnCancel" title="não efetuar"><span>não efetuar</span></a>
        </div>
    }
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>