﻿@{
    Layout = null;
}
@using QX3.Portal.Contracts.DataContracts
@model QX3.Portal.WebSite.Models.GuaranteeListItem
<script src="@Url.Content("~/Scripts/Views/Risk/GuaranteeDelete.js")" type="text/javascript"></script>
<h2>
    Deseja realmente excluir essa solicitação?</h2>
<div id="ConfirmArea" class="conteudo">
    @using (Html.BeginForm("GuaranteeDelete", "Risk", FormMethod.Post, new { @Id = "frmConfirmGuaranteeDelete" }))
    {
        var id = Int32.Parse(Request["guaranteeId"]);
        var item = (from i in Model.Items where i.ID.Equals(id) select i).First();
        @Html.Hidden("hdfGuaranteeId", item.ID);
        <div>
            @(!item.IsWithdrawal ? "Depósito" : "Retirada")
            @item.Guarantee
            @(item.IsBovespa ? "Bovespa" : "BM&F")
            @item.RequestedValue.ToString("N2")
        </div>
        <div class="linha-btn">
            <a type="button" class="btn-primario" href="#" name="btnDelete" id="btnDelete" title="excluir socilitação">
                <span>sim, excluir solicitação</span> </a><a type="button" class="btn-secundario"
                    href="#" name="btnCancel" onclick="Modal.Close();" id="btnCancel" title="não excluir">
                    <span>não excluir</span> </a>
        </div>
    }
    <span class="quebrar"></span>
</div>
<span class="quebrar"></span>